workflow-get-dataset-preview.json
{
  "name": "Data Analyzer - Get Dataset Preview",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-dataset-preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "webhook-preview",
      "name": "Webhook - Get Dataset Preview",
      "webhookId": "get-dataset-preview-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM n8n_data.universal_datatable WHERE dataset_id = '{{ $json.body.datasetId }}' LIMIT {{ $json.body.limit || 5 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 300],
      "id": "get-preview-rows",
      "name": "Get Preview Rows",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const rows = $input.all().map(item => item.json); const columns = rows.length > 0 ? Object.keys(rows[0]).filter(k => k !== 'dataset_id' && k !== 'id') : []; return { status: 'ok', columns, rows: rows.map(r => { const filtered = {}; columns.forEach(c => filtered[c] = r[c]); return filtered; }) }; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 300],
      "id": "respond-preview",
      "name": "Respond with Preview"
    }
  ],
  "connections": {
    "Webhook - Get Dataset Preview": {
      "main": [[{ "node": "Get Preview Rows", "type": "main", "index": 0 }]]
    },
    "Get Preview Rows": {
      "main": [[{ "node": "Respond with Preview", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
