workflow-save-analysis.json
{
  "name": "Data Analyzer - Save Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "webhook-save",
      "name": "Webhook - Save Analysis"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO n8n_data.analysis_history (dataset_id, prompt, result, process_used, owner_email, ai_model, created_at) VALUES ('{{ $json.body.datasetId }}', '{{ $json.body.prompt.replace(/'/g, \"''\") }}', '{{ $json.body.result.replace(/'/g, \"''\") }}', '{{ ($json.body.processUsed || \"\").replace(/'/g, \"''\") }}', '{{ $json.body.email }}', '{{ $json.body.aiModel }}', NOW()) RETURNING id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 300],
      "id": "save-analysis",
      "name": "Save to Database",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', message: 'Analysis saved', id: $json.id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 300],
      "id": "respond-save",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "Webhook - Save Analysis": {
      "main": [[{ "node": "Save to Database", "type": "main", "index": 0 }]]
    },
    "Save to Database": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
