n8n-workflows/Data Analyzer - Update Summary.json
{"updatedAt":"2026-02-25T00:47:01.001Z","createdAt":"2026-02-14T05:51:43.470Z","id":"Eul6UvonObtUVAcX","name":"Data Analyzer - Update Summary","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"update-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-512,96],"id":"c25c44dc-e061-4b1d-91e0-2656fcb7dd72","name":"Webhook","webhookId":"update-summary"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"n8n_data","mode":"list"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"dataset_summary":"={{ $json.body.summary }}","dataset_id":"={{ $json.body.datasetId }}","dataset_desc":"={{ $json.body.dataset_desc }}","dataset_name":"={{ $json.body.dataset_name }}"},"matchingColumns":["dataset_id"],"schema":[{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataset_name","displayName":"dataset_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataset_summary","displayName":"dataset_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_count","displayName":"row_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_headers","displayName":"dataset_headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"dataset_header_types","displayName":"dataset_header_types","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_mapping","displayName":"column_mapping","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_dictionary","displayName":"column_dictionary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"owner_email","displayName":"owner_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"auth","displayName":"auth","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_desc","displayName":"dataset_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-256,96],"id":"ac21fd80-c62f-4576-844a-729b652ad8fb","name":"Update Summary","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Summary updated successfully' } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,0],"id":"80de192b-2c36-40ae-b920-549771fb9d91","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Summary update failed' } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,176],"id":"61b9503f-6b7a-4093-9d80-7e7b3d0a3783","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"Update Summary","type":"main","index":0}]]},"Update Summary":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa62659d-d29d-4fad-aef3-eea87f1a4438","activeVersionId":"aa62659d-d29d-4fad-aef3-eea87f1a4438","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T05:51:43.470Z","createdAt":"2026-02-14T05:51:43.470Z","role":"workflow:owner","workflowId":"Eul6UvonObtUVAcX","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-25T00:47:05.858Z","createdAt":"2026-02-25T00:47:01.002Z","versionId":"aa62659d-d29d-4fad-aef3-eea87f1a4438","workflowId":"Eul6UvonObtUVAcX","nodes":[{"parameters":{"httpMethod":"POST","path":"update-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-512,96],"id":"c25c44dc-e061-4b1d-91e0-2656fcb7dd72","name":"Webhook","webhookId":"update-summary"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"n8n_data","mode":"list"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"dataset_summary":"={{ $json.body.summary }}","dataset_id":"={{ $json.body.datasetId }}","dataset_desc":"={{ $json.body.dataset_desc }}","dataset_name":"={{ $json.body.dataset_name }}"},"matchingColumns":["dataset_id"],"schema":[{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataset_name","displayName":"dataset_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataset_summary","displayName":"dataset_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_count","displayName":"row_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_headers","displayName":"dataset_headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"dataset_header_types","displayName":"dataset_header_types","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_mapping","displayName":"column_mapping","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_dictionary","displayName":"column_dictionary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"owner_email","displayName":"owner_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"auth","displayName":"auth","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_desc","displayName":"dataset_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-256,96],"id":"ac21fd80-c62f-4576-844a-729b652ad8fb","name":"Update Summary","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Summary updated successfully' } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,0],"id":"80de192b-2c36-40ae-b920-549771fb9d91","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Summary update failed' } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,176],"id":"61b9503f-6b7a-4093-9d80-7e7b3d0a3783","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"Update Summary","type":"main","index":0}]]},"Update Summary":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version aa62659d","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-25T00:47:05.856Z","id":73,"workflowId":"Eul6UvonObtUVAcX","versionId":"aa62659d-d29d-4fad-aef3-eea87f1a4438","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}