n8n-workflows/Data Analyzer - Get Dataset Detail.json
{
  "updatedAt": "2026-03-07T05:45:22.312Z",
  "createdAt": "2026-02-06T03:18:20.459Z",
  "id": "eG29Iy4YXNRUzoju",
  "name": "Data Analyzer - Get Dataset Detail",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-dataset-detail",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "id": "webhook-get-detail",
      "name": "Webhook",
      "webhookId": "get-dataset-detail"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list"
        },
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $json.body.datasetId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        304
      ],
      "id": "postgres-get-detail",
      "name": "Get Dataset",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst mappingEntries = Object.entries(input.column_mapping || {});\nmappingEntries.sort((a, b) => a[0].localeCompare(b[0]));\nconst readableMapping = {};\nmappingEntries.forEach(([header, dbCol]) => {\n  readableMapping[header] = dbCol;\n});\nreturn {\n  id: input.dataset_id,\n  name: input.dataset_name,\n  summary: input.dataset_summary || '',\n  column_mapping: readableMapping,\n  dataset_desc: input.dataset_desc,\n  sample_questions: input.sample_questions,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        304
      ],
      "id": "code-transform",
      "name": "Transform Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1008,
        304
      ],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dataset": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4e65cf5d-5442-4a53-9416-1ad140c1a5a1",
  "activeVersionId": "4e65cf5d-5442-4a53-9416-1ad140c1a5a1",
  "versionCounter": 123,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-06T03:18:20.459Z",
      "createdAt": "2026-02-06T03:18:20.459Z",
      "role": "workflow:owner",
      "workflowId": "eG29Iy4YXNRUzoju",
      "projectId": "1Tt3UeBU40oNvF7P",
      "project": {
        "updatedAt": "2025-10-06T05:12:43.166Z",
        "createdAt": "2025-10-06T05:08:40.705Z",
        "id": "1Tt3UeBU40oNvF7P",
        "name": "EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "311513a6-4117-4a5c-89e5-28f958dbd390",
        "projectRelations": [
          {
            "updatedAt": "2025-10-06T05:08:40.705Z",
            "createdAt": "2025-10-06T05:08:40.705Z",
            "userId": "311513a6-4117-4a5c-89e5-28f958dbd390",
            "projectId": "1Tt3UeBU40oNvF7P",
            "user": {
              "updatedAt": "2026-03-11T04:00:47.117Z",
              "createdAt": "2025-10-06T05:08:32.753Z",
              "id": "311513a6-4117-4a5c-89e5-28f958dbd390",
              "email": "ed.e.lee@gmail.com",
              "firstName": "EUN",
              "lastName": "ed.e.lee@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-26T08:28:02.179Z",
                "personalization_survey_n8n_version": "2.1.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SxDwHc0lnbViX2QV",
                "userActivatedAt": 1759818413157,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767391940455
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-07T05:45:24.727Z",
    "createdAt": "2026-03-07T05:45:22.313Z",
    "versionId": "4e65cf5d-5442-4a53-9416-1ad140c1a5a1",
    "workflowId": "eG29Iy4YXNRUzoju",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "get-dataset-detail",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          256,
          304
        ],
        "id": "webhook-get-detail",
        "name": "Webhook",
        "webhookId": "get-dataset-detail"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "value": "n8n_data",
            "mode": "list"
          },
          "table": {
            "__rl": true,
            "value": "dataset_record_manager",
            "mode": "list"
          },
          "where": {
            "values": [
              {
                "column": "dataset_id",
                "value": "={{ $json.body.datasetId }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          512,
          304
        ],
        "id": "postgres-get-detail",
        "name": "Get Dataset",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst mappingEntries = Object.entries(input.column_mapping || {});\nmappingEntries.sort((a, b) => a[0].localeCompare(b[0]));\nconst readableMapping = {};\nmappingEntries.forEach(([header, dbCol]) => {\n  readableMapping[header] = dbCol;\n});\nreturn {\n  id: input.dataset_id,\n  name: input.dataset_name,\n  summary: input.dataset_summary || '',\n  column_mapping: readableMapping,\n  dataset_desc: input.dataset_desc,\n  sample_questions: input.sample_questions,\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          304
        ],
        "id": "code-transform",
        "name": "Transform Data"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1008,
          304
        ],
        "id": "respond-webhook",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get Dataset",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Dataset": {
        "main": [
          [
            {
              "node": "Transform Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transform Data": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version 4e65cf5d",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-07T05:45:24.724Z",
        "id": 564,
        "workflowId": "eG29Iy4YXNRUzoju",
        "versionId": "4e65cf5d-5442-4a53-9416-1ad140c1a5a1",
        "event": "activated",
        "userId": "311513a6-4117-4a5c-89e5-28f958dbd390"
      }
    ]
  }
}