n8n-workflows/Data Analyzer - Send Email.json
{"updatedAt":"2026-02-14T06:04:33.678Z","createdAt":"2026-02-14T06:04:30.958Z","id":"ruRrLtOOXrXmZI2J","name":"Data Analyzer - Send Email","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"sendTo":"={{ $('Webhook').item.json.body.emails.join(',') }}","subject":"={{ $('Webhook').item.json.body.subject }}","message":"={{ $('Webhook').item.json.body.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[208,0],"id":"3cb21e44-93be-4884-bfed-25054e2ccefb","name":"Send a message","webhookId":"99b4f3b2-1719-4ae9-8d4b-0eb1d0ee03fb","credentials":{"gmailOAuth2":{"id":"2TDW17CgF1ceOw84","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"dd27e36a-b5e5-4379-8cb6-231300ea0ead","name":"Respond to Webhook"},{"parameters":{"path":"send-email","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"1a977ce5-a33f-4f12-8070-670a5ccdea3d","name":"Webhook","webhookId":"1018b3b5-062a-4a3f-8190-07d4ffc04133"}],"connections":{"Send a message":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db8cb3a6-b459-4ec3-ab9a-0a48fbb44c2d","activeVersionId":"db8cb3a6-b459-4ec3-ab9a-0a48fbb44c2d","versionCounter":15,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T06:04:30.958Z","createdAt":"2026-02-14T06:04:30.958Z","role":"workflow:owner","workflowId":"ruRrLtOOXrXmZI2J","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-14T06:04:36.989Z","createdAt":"2026-02-14T06:04:33.679Z","versionId":"db8cb3a6-b459-4ec3-ab9a-0a48fbb44c2d","workflowId":"ruRrLtOOXrXmZI2J","nodes":[{"parameters":{"sendTo":"={{ $('Webhook').item.json.body.emails.join(',') }}","subject":"={{ $('Webhook').item.json.body.subject }}","message":"={{ $('Webhook').item.json.body.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[208,0],"id":"3cb21e44-93be-4884-bfed-25054e2ccefb","name":"Send a message","webhookId":"99b4f3b2-1719-4ae9-8d4b-0eb1d0ee03fb","credentials":{"gmailOAuth2":{"id":"2TDW17CgF1ceOw84","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"dd27e36a-b5e5-4379-8cb6-231300ea0ead","name":"Respond to Webhook"},{"parameters":{"path":"send-email","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"1a977ce5-a33f-4f12-8070-670a5ccdea3d","name":"Webhook","webhookId":"1018b3b5-062a-4a3f-8190-07d4ffc04133"}],"connections":{"Send a message":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version db8cb3a6","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-14T06:04:36.988Z","id":6,"workflowId":"ruRrLtOOXrXmZI2J","versionId":"db8cb3a6-b459-4ec3-ab9a-0a48fbb44c2d","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}