n8n-workflows/Data Analyzer - Analyze v1.01.json
{"updatedAt":"2026-03-18T16:21:09.991Z","createdAt":"2026-02-14T06:13:18.063Z","id":"lvdI45bSCHjkBgPh","name":"Data Analyzer - Analyze v1.01","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"analyze","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3136,656],"id":"abc9cc4b-c8ee-40dc-88c0-efec088fd5c1","name":"Webhook Trigger","webhookId":"f47d9207-d893-434b-bb52-2bcf59fa6e8b"},{"parameters":{"operation":"executeQuery","query":"=SELECT dataset_id, dataset_name, dataset_summary, dataset_desc, owner_email, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id = '{{ $json.body.datasetId }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2944,656],"id":"a74becc0-e5fb-4945-93f1-cf397a2d1d54","name":"Get Dataset","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"// Generate dynamic view query for the dataset\nconst datasetId = $input.first().json.dataset_id;\nconst mapping = $input.first().json.column_mapping;\n\n// 1. Build the SELECT clause with safe naming and fallback for empty headers\nconst selectClauses = Object.entries(mapping).map(([originalName, genericColumn]) => {\n    // Sanitize: trim whitespace and provide a fallback if the header is empty\n    const cleanName = (originalName && originalName.trim() !== \"\") \n        ? originalName.trim() \n        : `unnamed_${genericColumn}`;\n\n    // Wrap names in double quotes to handle spaces and special characters\n    return `${genericColumn} AS \"${cleanName}\"`;\n});\n\n\n// 2. Construct the \"DROP and CREATE\" statement\n// Using DROP VIEW IF EXISTS is the only way to handle changing column names \n// or counts without triggering a Postgres schema error.\nconst sql = `\nDROP VIEW IF EXISTS n8n_data.v_active_analysis;\n\nCREATE VIEW n8n_data.v_active_analysis AS \nSELECT \n    ${selectClauses.join(',\\n    ')}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '${datasetId}';\n`;\n\n\nreturn {\n  view_update_sql: sql,\n  dataset_id: datasetId,\n  dataset_name: $input.first().json.dataset_name,\n  dataset_summary: $input.first().json.dataset_summary,\n  dataset_desc: $input.first().json.dataset_desc\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,656],"id":"c1185081-ed25-4121-bfe0-ad5e6c861bf2","name":"Generate Dynamic View Query"},{"parameters":{"operation":"executeQuery","query":"{{ $json.view_update_sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2544,656],"id":"a8efaa18-0d12-4637-86a8-b293f09e6549","name":"Update Dynamic View","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"prompt","name":"prompt","value":"={{ $('Webhook Trigger').item.json.body.prompt }}","type":"string"},{"id":"dataset_id","name":"dataset_id","value":"={{ $('Get Dataset').item.json.dataset_id }}","type":"string"},{"id":"dataset_summary","name":"dataset_summary","value":"={{ $('Get Dataset').item.json.dataset_summary }}","type":"string"},{"id":"view_query","name":"view_query","value":"={{ $('Generate Dynamic View Query').item.json.view_update_sql }}","type":"string"},{"id":"session","name":"session","value":"={{ Date.now() + Math.floor(Math.random() * 1000) }}","type":"string"},{"id":"ai_model","name":"ai_model","value":"={{ $('Webhook Trigger').item.json.body.model }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2336,656],"id":"c920ccc8-6aa0-4f77-9d52-c68ab21ad313","name":"Set Prompt and ID"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=ROLE You are a Senior Data Analyst. Your goal is to answer user inquiries by querying the n8n_data.v_active_analysis table. You must present all data-heavy responses using Rich HTML and HTML Tables.\n\n\nDATA CONTEXT\n\nVIEW DEFINITION: {{ $json.view_query }}\n\nDATASET DESCRIPTION: {{ $json.dataset_desc }}\n\nDATASET SUMMARY: {{ $json.dataset_summary }}\n\nSTRICT SQL CONSTRUCTION RULES\n\nDouble Quotes: Always wrap column names (e.g., \"CFBU\", \"Year\").\n\nSingle Quotes: Always wrap values (e.g., 'Revenue').\n\nThe \"Apostrophe\" Rule: For values like Budget’, use the exact typographic character.\n\nNo Markdown in Tool Call: Send ONLY the raw SQL string to the tool.\n\nHTML OUTPUT SPECIFICATIONS Your final response MUST be valid HTML. Follow these styling rules:\n\nTables: Use <table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"> for any data comparison or list.\n\nHeaders: Use <th> with a light gray background (background-color: #f2f2f2;) for table headers.\n\nEmphasis: Use <strong> for key figures and <u> for category names.\n\nNo Markdown Tags: Do NOT use ```html or **bold**. Use only <b> or <strong> and raw HTML tags.\n\n\nOPERATIONAL WORKFLOW\n\nPrioritize accuracy & speed: This needs to be conversational. Try to focus on getting exactly what the user asked for and no more to speed up response generation. Where appropriate use SUM in the query rather than fetching all rows.\n\nAnalyze & Map: Identify columns and values from the context - use the DATASET DESCRIPTION AND DATASET SUMMARY to understand the data and how to build the most effective and speediest query.\n\nComplex Analysis: For Variance/Comparisons, run multiple queries and calculate manually. When matching or searching for a name / word, be case insensitive unless instructed otherwise.\n\nAsk for Clarification: If there is ambiguity that MUST BE clarified to answer the question. Ask the user with a list of options to choose (e.g. 1. Use field 'stage' to filter 2. Use field 'type' to filer) from. Limit the number of user inquiries to 2 at max.\n\nExecute: Pass raw SQL to the SQL Datastore.\n\nSynthesize HTML Response:\n\nStart with a brief, friendly sentence:\n- If presenting the reponse: <span><b>Here is the analysis for your request:</b></span>.\n- If presenting the user with a question: <span><b>Please clarify the following:</b></span>.\n\nPresent findings in a structured <table>.\n\nIf providing a summary, use <ul> and <li>.\n\nThen, assume a role of a HTML designer and use your best design skills to make the HTML output professional and beautiful. Only output HTML code without any extra comments or your plan or thinking.\n\nCRITICAL: Ensure all tags are properly closed to prevent rendering errors in the n8n Form. Execute tools one by one. Do not attempt to call multiple tools in a single turn. Wait for the observation of the first tool before calling the next.\n","maxIterations":50,"returnIntermediateSteps":"={{ $('Webhook Trigger').item.json.body?.returnSteps || false }}","passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2144,656],"id":"24020ad7-3e52-4e71-bc4f-91c73914705d","name":"AI Agent","alwaysOutputData":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Prompt and ID').item.json.dataset_id }}","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2048,896],"id":"a19b3f67-37fa-4fc9-84a3-0cd84802ca21","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-1904,880],"id":"9e8192a1-d089-44f9-adb3-2f72788aa03d","name":"Calculator"},{"parameters":{"jsCode":"// 1. Safely access input data from the current node\nconst inputData = $input.first();\nif (!inputData) return { status: 'error', message: 'No input received' };\n\nconst agentOutput = inputData.json;\n\n// 2. Access external node data\nconst webhookTrigger = $('Webhook Trigger').first()?.json?.body || {};\nconst datasetNode = $('Get Dataset').first()?.json || {};\n\n// 3. Target the AI Agent node specifically for intermediate steps\nconst agentNodeData = $('AI Agent').first()?.json || {};\nconst steps = agentNodeData.intermediateSteps;\n\n// 4. Process steps with Vector Store optimized formatting\nlet processUsed = 'No process steps recorded.';\n\nif (Array.isArray(steps) && steps.length > 0) {\n  processUsed = steps.map((step, index) => {\n    const tool = step.action?.tool || 'Internal Reasoning';\n    const toolInput = step.action?.toolInput ? JSON.stringify(step.action.toolInput) : 'N/A';\n    \n    // Clean up observation (handles objects/arrays/strings)\n    let observation = step.observation;\n    if (typeof observation === 'object') {\n      observation = JSON.stringify(observation, null, 2);\n    }\n\n    // Structured for RAG: Clear headers help the embedding model identify relationships\n    return `### STEP ${index + 1}\n[Tool Used]: ${tool}\n[Input]: ${toolInput}\n[Observation]: ${observation || 'No output recorded.'}`;\n  }).join('\\n\\n---\\n\\n');\n}\n\n// 5. Return the final structured object\nreturn {\n  status: 'ok',\n  result: agentOutput.output || 'No response generated',\n  processUsed: processUsed,\n  metadata: {\n    model: webhookTrigger.model || 'unknown',\n    datasetName: datasetNode.dataset_name || 'unknown',\n    stepCount: Array.isArray(steps) ? steps.length : 0\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,720],"id":"46cf3e84-0da7-4542-90de-5c342dcdc61a","name":"Format Response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-880,720],"id":"6255aec1-0af7-4623-9e31-7d65ef755a55","name":"Respond to Webhook"},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in universal_datatable.","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1760,880],"id":"7ba8cd3d-7a58-484e-a585-3d2a0f8e6f92","name":"SQL Datastore","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"This tool stores recommended intermediate steps and output rated highly by the user for the AI Agent to follow to more reliably respond to user inquiries.","qdrantCollection":{"__rl":true,"value":"data-analyzer-saved-analysis","mode":"list","cachedResultName":"data-analyzer-saved-analysis"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[-1600,880],"id":"85886a53-0130-4052-9630-2c9e1161319b","name":"Example Queries","credentials":{"qdrantApi":{"id":"5Yi0a6A147diDIkA","name":"QdrantApi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2d93de88-b8e5-4a42-ada7-730948cf4284","leftValue":"={{ $('Webhook Trigger').item.json.body.emailResponse }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1792,304],"id":"daf53d07-8c68-4493-a152-2002532dfb3b","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"options":{"systemMessage":"=Role: You are a UI Redesign Agent.\n1. Query the 'Report Template' tool using template_Id: {{ $('Webhook Trigger').item.json.body.templateId }} to fetch reference HTML code from Report Template tool and a Source HTML (provided in the user prompt). \nIf no reference HTML code is fetched, skip to the next step.\n\nObjective: Redesign the Source HTML so it is visually identical to the Reference HTML while retaining all original source data.\n\nInstructions:\n\nUse the CSS and structure of the Reference HTML as the master template.\n\nMap the data from the Source HTML into this template.\n\nIf the tool returns a reference, prioritize its styles (colors, fonts, borders) above all else.\n\nOutput the updated HTML into JSON with a key \"content\" but do not include any of the planning or thinking in answering the inquiry.\n\n2. Here's user provided subject: '{{ $('Webhook Trigger').item.json.body.emailSubject }}'. If empty, summarize the content of the HTML suitable as an email subject. Use the user provided subject, if not empty, or use the generated subject and output it into JSON with a key \"subject\". \n\nIMPORTANT: DO NOT OUTPUT THE PLAN, COMMENT OR EXPLANATION OF THE ACTION. JUST OUPT THE JSON WITH subject and HTML code."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1408,80],"id":"894ef760-152e-4f23-8e85-62ed262ba548","name":"AI Agent1"},{"parameters":{"sendTo":"={{ $('Webhook Trigger').item.json.body.email }}","subject":"={{ $json.output.subject }}","message":"={{ $json.output.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-1040,80],"id":"4f20ef7c-1c62-422d-a438-f95f7ca11950","name":"Send a message","webhookId":"99b4f3b2-1719-4ae9-8d4b-0eb1d0ee03fb","credentials":{"gmailOAuth2":{"id":"2TDW17CgF1ceOw84","name":"Gmail account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"subject\": \"Technical Analysis\",\n  \"content\": \"Multiple short positions were initiated based on technical patterns indicating overextended moves and impending pullbacks.\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1168,320],"id":"70f56bf2-3989-45e8-a95d-d5f113a48b23","name":"Structured Output Parser"},{"parameters":{"descriptionType":"manual","toolDescription":"Uses template_id to query and fetch report template HTML","operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"data-analyzer-report-templates","mode":"list","cachedResultName":"data-analyzer-report-templates"},"limit":1,"where":{"values":[{"column":"template_id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Use the template_id from the system prompt to fetch template.`, 'string') }}"}]},"options":{"outputColumns":["html"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1312,400],"id":"47ffd680-e756-474e-869f-cb447197d471","name":"Report Template","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-oss-20b","mode":"list","cachedResultName":"gpt-oss-20b"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1472,272],"id":"3403b0af-9d5f-475a-a71b-444a23891904","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1632,1072],"id":"c7c02046-ed03-4bc3-8a2e-442154a8e40d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-oss-20b","mode":"list","cachedResultName":"gpt-oss-20b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1136,496],"id":"fbb4d941-7117-48c6-a039-603f2418d698","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"={{ $('Webhook Trigger').item.json.body.model }}","mode":"id"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2208,896],"id":"5df5cab7-0831-4a1a-95e7-7b5bd3f97537","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSearXng","typeVersion":1,"position":[-1856,1008],"id":"05f65815-23dd-42d8-83a2-068a65ad7b7b","name":"SearXNG","credentials":{"searXngApi":{"id":"nrFsxTvR4yG3oo5j","name":"SearXNG account"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get Dataset","type":"main","index":0}]]},"Get Dataset":{"main":[[{"node":"Generate Dynamic View Query","type":"main","index":0}]]},"Generate Dynamic View Query":{"main":[[{"node":"Update Dynamic View","type":"main","index":0}]]},"Update Dynamic View":{"main":[[{"node":"Set Prompt and ID","type":"main","index":0}]]},"Set Prompt and ID":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0},{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SQL Datastore":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Example Queries":{"ai_tool":[[]]},"AI Agent1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Report Template":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Example Queries","type":"ai_embedding","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"SearXNG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":180},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57cfad75-444e-4b24-9f33-d28a33618c56","activeVersionId":"57cfad75-444e-4b24-9f33-d28a33618c56","versionCounter":277,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T06:13:18.063Z","createdAt":"2026-02-14T06:13:18.063Z","role":"workflow:owner","workflowId":"lvdI45bSCHjkBgPh","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-18T16:19:10.155Z","createdAt":"2026-03-18T16:19:06.860Z","versionId":"57cfad75-444e-4b24-9f33-d28a33618c56","workflowId":"lvdI45bSCHjkBgPh","nodes":[{"parameters":{"httpMethod":"POST","path":"analyze","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3136,656],"id":"abc9cc4b-c8ee-40dc-88c0-efec088fd5c1","name":"Webhook Trigger","webhookId":"f47d9207-d893-434b-bb52-2bcf59fa6e8b"},{"parameters":{"operation":"executeQuery","query":"=SELECT dataset_id, dataset_name, dataset_summary, dataset_desc, owner_email, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id = '{{ $json.body.datasetId }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2944,656],"id":"a74becc0-e5fb-4945-93f1-cf397a2d1d54","name":"Get Dataset","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"// Generate dynamic view query for the dataset\nconst datasetId = $input.first().json.dataset_id;\nconst mapping = $input.first().json.column_mapping;\n\n// 1. Build the SELECT clause with safe naming and fallback for empty headers\nconst selectClauses = Object.entries(mapping).map(([originalName, genericColumn]) => {\n    // Sanitize: trim whitespace and provide a fallback if the header is empty\n    const cleanName = (originalName && originalName.trim() !== \"\") \n        ? originalName.trim() \n        : `unnamed_${genericColumn}`;\n\n    // Wrap names in double quotes to handle spaces and special characters\n    return `${genericColumn} AS \"${cleanName}\"`;\n});\n\n\n// 2. Construct the \"DROP and CREATE\" statement\n// Using DROP VIEW IF EXISTS is the only way to handle changing column names \n// or counts without triggering a Postgres schema error.\nconst sql = `\nDROP VIEW IF EXISTS n8n_data.v_active_analysis;\n\nCREATE VIEW n8n_data.v_active_analysis AS \nSELECT \n    ${selectClauses.join(',\\n    ')}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '${datasetId}';\n`;\n\n\nreturn {\n  view_update_sql: sql,\n  dataset_id: datasetId,\n  dataset_name: $input.first().json.dataset_name,\n  dataset_summary: $input.first().json.dataset_summary,\n  dataset_desc: $input.first().json.dataset_desc\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,656],"id":"c1185081-ed25-4121-bfe0-ad5e6c861bf2","name":"Generate Dynamic View Query"},{"parameters":{"operation":"executeQuery","query":"{{ $json.view_update_sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2544,656],"id":"a8efaa18-0d12-4637-86a8-b293f09e6549","name":"Update Dynamic View","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"prompt","name":"prompt","value":"={{ $('Webhook Trigger').item.json.body.prompt }}","type":"string"},{"id":"dataset_id","name":"dataset_id","value":"={{ $('Get Dataset').item.json.dataset_id }}","type":"string"},{"id":"dataset_summary","name":"dataset_summary","value":"={{ $('Get Dataset').item.json.dataset_summary }}","type":"string"},{"id":"view_query","name":"view_query","value":"={{ $('Generate Dynamic View Query').item.json.view_update_sql }}","type":"string"},{"id":"session","name":"session","value":"={{ Date.now() + Math.floor(Math.random() * 1000) }}","type":"string"},{"id":"ai_model","name":"ai_model","value":"={{ $('Webhook Trigger').item.json.body.model }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2336,656],"id":"c920ccc8-6aa0-4f77-9d52-c68ab21ad313","name":"Set Prompt and ID"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=ROLE You are a Senior Data Analyst. Your goal is to answer user inquiries by querying the n8n_data.v_active_analysis table. You must present all data-heavy responses using Rich HTML and HTML Tables.\n\n\nDATA CONTEXT\n\nVIEW DEFINITION: {{ $json.view_query }}\n\nDATASET DESCRIPTION: {{ $json.dataset_desc }}\n\nDATASET SUMMARY: {{ $json.dataset_summary }}\n\nSTRICT SQL CONSTRUCTION RULES\n\nDouble Quotes: Always wrap column names (e.g., \"CFBU\", \"Year\").\n\nSingle Quotes: Always wrap values (e.g., 'Revenue').\n\nThe \"Apostrophe\" Rule: For values like Budget’, use the exact typographic character.\n\nNo Markdown in Tool Call: Send ONLY the raw SQL string to the tool.\n\nHTML OUTPUT SPECIFICATIONS Your final response MUST be valid HTML. Follow these styling rules:\n\nTables: Use <table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"> for any data comparison or list.\n\nHeaders: Use <th> with a light gray background (background-color: #f2f2f2;) for table headers.\n\nEmphasis: Use <strong> for key figures and <u> for category names.\n\nNo Markdown Tags: Do NOT use ```html or **bold**. Use only <b> or <strong> and raw HTML tags.\n\n\nOPERATIONAL WORKFLOW\n\nPrioritize accuracy & speed: This needs to be conversational. Try to focus on getting exactly what the user asked for and no more to speed up response generation. Where appropriate use SUM in the query rather than fetching all rows.\n\nAnalyze & Map: Identify columns and values from the context - use the DATASET DESCRIPTION AND DATASET SUMMARY to understand the data and how to build the most effective and speediest query.\n\nComplex Analysis: For Variance/Comparisons, run multiple queries and calculate manually. When matching or searching for a name / word, be case insensitive unless instructed otherwise.\n\nAsk for Clarification: If there is ambiguity that MUST BE clarified to answer the question. Ask the user with a list of options to choose (e.g. 1. Use field 'stage' to filter 2. Use field 'type' to filer) from. Limit the number of user inquiries to 2 at max.\n\nExecute: Pass raw SQL to the SQL Datastore.\n\nSynthesize HTML Response:\n\nStart with a brief, friendly sentence:\n- If presenting the reponse: <span><b>Here is the analysis for your request:</b></span>.\n- If presenting the user with a question: <span><b>Please clarify the following:</b></span>.\n\nPresent findings in a structured <table>.\n\nIf providing a summary, use <ul> and <li>.\n\nThen, assume a role of a HTML designer and use your best design skills to make the HTML output professional and beautiful. Only output HTML code without any extra comments or your plan or thinking.\n\nCRITICAL: Ensure all tags are properly closed to prevent rendering errors in the n8n Form. Execute tools one by one. Do not attempt to call multiple tools in a single turn. Wait for the observation of the first tool before calling the next.\n","maxIterations":50,"returnIntermediateSteps":"={{ $('Webhook Trigger').item.json.body?.returnSteps || false }}","passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2144,656],"id":"24020ad7-3e52-4e71-bc4f-91c73914705d","name":"AI Agent","alwaysOutputData":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Prompt and ID').item.json.dataset_id }}","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2048,896],"id":"a19b3f67-37fa-4fc9-84a3-0cd84802ca21","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-1904,880],"id":"9e8192a1-d089-44f9-adb3-2f72788aa03d","name":"Calculator"},{"parameters":{"jsCode":"// 1. Safely access input data from the current node\nconst inputData = $input.first();\nif (!inputData) return { status: 'error', message: 'No input received' };\n\nconst agentOutput = inputData.json;\n\n// 2. Access external node data\nconst webhookTrigger = $('Webhook Trigger').first()?.json?.body || {};\nconst datasetNode = $('Get Dataset').first()?.json || {};\n\n// 3. Target the AI Agent node specifically for intermediate steps\nconst agentNodeData = $('AI Agent').first()?.json || {};\nconst steps = agentNodeData.intermediateSteps;\n\n// 4. Process steps with Vector Store optimized formatting\nlet processUsed = 'No process steps recorded.';\n\nif (Array.isArray(steps) && steps.length > 0) {\n  processUsed = steps.map((step, index) => {\n    const tool = step.action?.tool || 'Internal Reasoning';\n    const toolInput = step.action?.toolInput ? JSON.stringify(step.action.toolInput) : 'N/A';\n    \n    // Clean up observation (handles objects/arrays/strings)\n    let observation = step.observation;\n    if (typeof observation === 'object') {\n      observation = JSON.stringify(observation, null, 2);\n    }\n\n    // Structured for RAG: Clear headers help the embedding model identify relationships\n    return `### STEP ${index + 1}\n[Tool Used]: ${tool}\n[Input]: ${toolInput}\n[Observation]: ${observation || 'No output recorded.'}`;\n  }).join('\\n\\n---\\n\\n');\n}\n\n// 5. Return the final structured object\nreturn {\n  status: 'ok',\n  result: agentOutput.output || 'No response generated',\n  processUsed: processUsed,\n  metadata: {\n    model: webhookTrigger.model || 'unknown',\n    datasetName: datasetNode.dataset_name || 'unknown',\n    stepCount: Array.isArray(steps) ? steps.length : 0\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,720],"id":"46cf3e84-0da7-4542-90de-5c342dcdc61a","name":"Format Response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-880,720],"id":"6255aec1-0af7-4623-9e31-7d65ef755a55","name":"Respond to Webhook"},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in universal_datatable.","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1760,880],"id":"7ba8cd3d-7a58-484e-a585-3d2a0f8e6f92","name":"SQL Datastore","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"This tool stores recommended intermediate steps and output rated highly by the user for the AI Agent to follow to more reliably respond to user inquiries.","qdrantCollection":{"__rl":true,"value":"data-analyzer-saved-analysis","mode":"list","cachedResultName":"data-analyzer-saved-analysis"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[-1600,880],"id":"85886a53-0130-4052-9630-2c9e1161319b","name":"Example Queries","credentials":{"qdrantApi":{"id":"5Yi0a6A147diDIkA","name":"QdrantApi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2d93de88-b8e5-4a42-ada7-730948cf4284","leftValue":"={{ $('Webhook Trigger').item.json.body.emailResponse }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1792,304],"id":"daf53d07-8c68-4493-a152-2002532dfb3b","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"options":{"systemMessage":"=Role: You are a UI Redesign Agent.\n1. Query the 'Report Template' tool using template_Id: {{ $('Webhook Trigger').item.json.body.templateId }} to fetch reference HTML code from Report Template tool and a Source HTML (provided in the user prompt). \nIf no reference HTML code is fetched, skip to the next step.\n\nObjective: Redesign the Source HTML so it is visually identical to the Reference HTML while retaining all original source data.\n\nInstructions:\n\nUse the CSS and structure of the Reference HTML as the master template.\n\nMap the data from the Source HTML into this template.\n\nIf the tool returns a reference, prioritize its styles (colors, fonts, borders) above all else.\n\nOutput the updated HTML into JSON with a key \"content\" but do not include any of the planning or thinking in answering the inquiry.\n\n2. Here's user provided subject: '{{ $('Webhook Trigger').item.json.body.emailSubject }}'. If empty, summarize the content of the HTML suitable as an email subject. Use the user provided subject, if not empty, or use the generated subject and output it into JSON with a key \"subject\". \n\nIMPORTANT: DO NOT OUTPUT THE PLAN, COMMENT OR EXPLANATION OF THE ACTION. JUST OUPT THE JSON WITH subject and HTML code."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1408,80],"id":"894ef760-152e-4f23-8e85-62ed262ba548","name":"AI Agent1"},{"parameters":{"sendTo":"={{ $('Webhook Trigger').item.json.body.email }}","subject":"={{ $json.output.subject }}","message":"={{ $json.output.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-1040,80],"id":"4f20ef7c-1c62-422d-a438-f95f7ca11950","name":"Send a message","webhookId":"99b4f3b2-1719-4ae9-8d4b-0eb1d0ee03fb","credentials":{"gmailOAuth2":{"id":"2TDW17CgF1ceOw84","name":"Gmail account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"subject\": \"Technical Analysis\",\n  \"content\": \"Multiple short positions were initiated based on technical patterns indicating overextended moves and impending pullbacks.\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1168,320],"id":"70f56bf2-3989-45e8-a95d-d5f113a48b23","name":"Structured Output Parser"},{"parameters":{"descriptionType":"manual","toolDescription":"Uses template_id to query and fetch report template HTML","operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"data-analyzer-report-templates","mode":"list","cachedResultName":"data-analyzer-report-templates"},"limit":1,"where":{"values":[{"column":"template_id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Use the template_id from the system prompt to fetch template.`, 'string') }}"}]},"options":{"outputColumns":["html"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1312,400],"id":"47ffd680-e756-474e-869f-cb447197d471","name":"Report Template","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-oss-20b","mode":"list","cachedResultName":"gpt-oss-20b"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1472,272],"id":"3403b0af-9d5f-475a-a71b-444a23891904","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1632,1072],"id":"c7c02046-ed03-4bc3-8a2e-442154a8e40d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-oss-20b","mode":"list","cachedResultName":"gpt-oss-20b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1136,496],"id":"fbb4d941-7117-48c6-a039-603f2418d698","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"={{ $('Webhook Trigger').item.json.body.model }}","mode":"id"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2208,896],"id":"5df5cab7-0831-4a1a-95e7-7b5bd3f97537","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSearXng","typeVersion":1,"position":[-1856,1008],"id":"05f65815-23dd-42d8-83a2-068a65ad7b7b","name":"SearXNG","credentials":{"searXngApi":{"id":"nrFsxTvR4yG3oo5j","name":"SearXNG account"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get Dataset","type":"main","index":0}]]},"Get Dataset":{"main":[[{"node":"Generate Dynamic View Query","type":"main","index":0}]]},"Generate Dynamic View Query":{"main":[[{"node":"Update Dynamic View","type":"main","index":0}]]},"Update Dynamic View":{"main":[[{"node":"Set Prompt and ID","type":"main","index":0}]]},"Set Prompt and ID":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0},{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SQL Datastore":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Example Queries":{"ai_tool":[[]]},"AI Agent1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Report Template":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Example Queries","type":"ai_embedding","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"SearXNG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"Ed Lee","name":"Version 57cfad75","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-18T16:19:10.153Z","id":250,"workflowId":"lvdI45bSCHjkBgPh","versionId":"57cfad75-444e-4b24-9f33-d28a33618c56","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}