n8n-workflows/Data Analyzer - Prompt Dialog.json
{
  "updatedAt": "2026-03-09T03:40:18.892Z",
  "createdAt": "2026-02-26T03:10:17.046Z",
  "id": "u3ygc487r8vlbnQMcy9JI",
  "name": "Data Analyzer - Prompt Dialog",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prompt-dialog",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e6b31fc1-4ec5-4dd7-898e-5ce2dffd7c37",
      "name": "Webhook",
      "webhookId": "pd-webhook-id-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => { const ids = $json.body.dataset_ids; if (!ids || !Array.isArray(ids) || ids.length === 0) { return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $json.body.email.replace(/'/g, \"''\") + \"' LIMIT 10\"; } return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id::text IN ('\" + ids.join(\"','\") + \"') LIMIT 10\"; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        0
      ],
      "id": "bfc97b2b-53a3-4c28-b2da-d679b35d8df8",
      "name": "Fetch Dataset Context",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datasets = $input.all().map(item => item.json);\nconst body = $('Webhook').first().json.body;\n\nconst datasetContext = datasets.map(d => {\n  let mapping = {};\n  try {\n    mapping = typeof d.column_mapping === 'string' ? JSON.parse(d.column_mapping) : (d.column_mapping || {});\n  } catch(e) {}\n  const cols = Object.keys(mapping).join(', ');\n  return '\"' + (d.dataset_name || 'Dataset') + '\"\\nDescription: ' + (d.dataset_desc || 'N/A') + '\\nColumns: ' + (cols || 'N/A');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    user_prompt: body.prompt,\n    dataset_context: datasetContext || 'No dataset information available.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "8292f451-66c9-4b46-a082-1ce0fe17efeb",
      "name": "Build Prompt Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User's report requirement:\n{{ $json.user_prompt }}\n\nAvailable datasets and their columns:\n{{ $json.dataset_context }}\n\nGenerate 3 to 5 targeted clarifying questions to help the user refine their report requirements.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a report requirements analyst. Your task is to generate up to 5 targeted clarifying questions that will enable a downstream agent to build a precise, unambiguous analysis plan from the user's prompt and the available dataset columns.\n\nInput you will receive:\n\nThe user's report prompt\nThe available dataset column names and sample values\nQUESTION RULES\nOnly ask a question if it is genuinely relevant to the prompt AND the required column exists in the dataset. Skip any rule that does not apply.\n\nPrioritize questions in this order — higher priority questions have more impact on plan accuracy:\n\nDATE RANGE: If a date/time column exists and the prompt implies a time scope, ask for the specific period to filter by.\nPRIMARY METRIC: If multiple numeric columns could serve as the main measure, ask which one to use.\nGROUPING: If the prompt implies a breakdown or \"by X\" analysis, confirm the grouping column.\nFILTERS: If categorical columns are relevant to the prompt's scope, ask what values to include or exclude.\nAGGREGATION METHOD: If the prompt implies summarizing numbers and the method is ambiguous, ask which function to apply (sum, average, count, min, max).\nRANKING: If the prompt uses words like \"top\", \"bottom\", \"best\", \"worst\", or \"most\", ask for the N count and sort direction.\nJOIN KEY: Only if multiple datasets are provided — name the most likely join columns and ask to confirm. If no obvious key exists, ask whether approximate name matching is acceptable.\nHINT FORMAT RULES\nEach question must include a hint array. The hints are the numbered answer choices the user will see and respond to by number.\n\nEach hint must be a concrete, specific option grounded in actual column names and/or realistic sample values from the dataset\nAlways make the last hint \"Other — I'll type my own answer\" to allow free-form responses\nKeep each hint to one short phrase or value — no full sentences\nIf fewer than 2 meaningful options exist for a question, do not include that question\nEDGE CASES\nIf the user's prompt is already fully specified (date range, metric, grouping, and filters are all explicit), return { \"questions\": [] }\nNever ask about a column that does not exist in the provided datasets\nNever ask redundant or overlapping questions\nOUTPUT FORMAT\nReturn ONLY valid JSON — no explanation, no preamble, no markdown fences.\n\nExample output:\n\n\n{\n  \"questions\": [\n    {\n      \"question\": \"Which time period should the report cover?\",\n      \"hint\": [\n        \"Last 30 days\",\n        \"Last 90 days\",\n        \"Year to date (Jan 1 – today)\",\n        \"Full last calendar year\",\n        \"Other — I'll type my own answer\"\n      ]\n    },\n    {\n      \"question\": \"Which metric should be used as the primary measure?\",\n      \"hint\": [\n        \"Revenue (total sale amount)\",\n        \"Units Sold (item count)\",\n        \"Gross Profit (revenue minus cost)\",\n        \"Other — I'll type my own answer\"\n      ]\n    }\n  ]\n}\nThe user will reply with a number (e.g. \"2\") to select that hint, or free text for \"Other\". Map their response positionally: reply \"1\" = first hint, \"2\" = second hint, and so on.",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        720,
        0
      ],
      "id": "0e560356-69c5-4b47-87c0-cff2b98858f7",
      "name": "Dialog AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        0
      ],
      "id": "ff486d79-dfcd-4ab3-9193-2df0ccc91cbb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "={{ $('Webhook').first().json.body.model || 'moonshotai/kimi-k2.5' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        304,
        480
      ],
      "id": "16a843c6-3eef-478f-8575-360e8b95692e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"questions\": [\n    {\n      \"id\": \"time_period\",\n      \"question\": \"What time period should this report cover?\",\n      \"hints\": [\n        { \"text\": \"last 12 months\" },\n        { \"text\": \"Q1 2025\" },\n        { \"text\": \"all available data\" }\n      ]\n    },\n    {\n      \"id\": \"grouping\",\n      \"question\": \"How should the results be broken down or grouped?\",\n      \"hints\": [\n        { \"text\": \"by product category\" },\n        { \"text\": \"by region\" },\n        { \"text\": \"by month\" }\n      ]\n    },\n    {\n      \"id\": \"primary_metrics\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\",\n      \"hints\": [\n        { \"text\": \"total revenue\" },\n        { \"text\": \"order count\" },\n        { \"text\": \"average order value\" }\n      ]\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        208
      ],
      "id": "6a9e2490-380b-4876-8cce-5d33d7fbd88f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "={{ $('Webhook').first().json.body.model || 'moonshotai/kimi-k2.5' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        864,
        448
      ],
      "id": "3dcd51c6-9cf3-49ef-9ead-abf2093fdf4b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Dataset Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dataset Context": {
      "main": [
        [
          {
            "node": "Build Prompt Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt Context": {
      "main": [
        [
          {
            "node": "Dialog AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dialog AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Dialog AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Dialog AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "09ebfeb1-a4df-4706-a1a5-ac6bfddb20a4",
  "activeVersionId": "09ebfeb1-a4df-4706-a1a5-ac6bfddb20a4",
  "versionCounter": 122,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-26T03:10:17.046Z",
      "createdAt": "2026-02-26T03:10:17.046Z",
      "role": "workflow:owner",
      "workflowId": "u3ygc487r8vlbnQMcy9JI",
      "projectId": "1Tt3UeBU40oNvF7P",
      "project": {
        "updatedAt": "2025-10-06T05:12:43.166Z",
        "createdAt": "2025-10-06T05:08:40.705Z",
        "id": "1Tt3UeBU40oNvF7P",
        "name": "EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "311513a6-4117-4a5c-89e5-28f958dbd390",
        "projectRelations": [
          {
            "updatedAt": "2025-10-06T05:08:40.705Z",
            "createdAt": "2025-10-06T05:08:40.705Z",
            "userId": "311513a6-4117-4a5c-89e5-28f958dbd390",
            "projectId": "1Tt3UeBU40oNvF7P",
            "user": {
              "updatedAt": "2026-03-11T04:00:47.117Z",
              "createdAt": "2025-10-06T05:08:32.753Z",
              "id": "311513a6-4117-4a5c-89e5-28f958dbd390",
              "email": "ed.e.lee@gmail.com",
              "firstName": "EUN",
              "lastName": "ed.e.lee@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-26T08:28:02.179Z",
                "personalization_survey_n8n_version": "2.1.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SxDwHc0lnbViX2QV",
                "userActivatedAt": 1759818413157,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767391940455
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-09T03:40:21.396Z",
    "createdAt": "2026-03-09T03:40:18.894Z",
    "versionId": "09ebfeb1-a4df-4706-a1a5-ac6bfddb20a4",
    "workflowId": "u3ygc487r8vlbnQMcy9JI",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "prompt-dialog",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "e6b31fc1-4ec5-4dd7-898e-5ce2dffd7c37",
        "name": "Webhook",
        "webhookId": "pd-webhook-id-001"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ (() => { const ids = $json.body.dataset_ids; if (!ids || !Array.isArray(ids) || ids.length === 0) { return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $json.body.email.replace(/'/g, \"''\") + \"' LIMIT 10\"; } return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id::text IN ('\" + ids.join(\"','\") + \"') LIMIT 10\"; })() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          240,
          0
        ],
        "id": "bfc97b2b-53a3-4c28-b2da-d679b35d8df8",
        "name": "Fetch Dataset Context",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const datasets = $input.all().map(item => item.json);\nconst body = $('Webhook').first().json.body;\n\nconst datasetContext = datasets.map(d => {\n  let mapping = {};\n  try {\n    mapping = typeof d.column_mapping === 'string' ? JSON.parse(d.column_mapping) : (d.column_mapping || {});\n  } catch(e) {}\n  const cols = Object.keys(mapping).join(', ');\n  return '\"' + (d.dataset_name || 'Dataset') + '\"\\nDescription: ' + (d.dataset_desc || 'N/A') + '\\nColumns: ' + (cols || 'N/A');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    user_prompt: body.prompt,\n    dataset_context: datasetContext || 'No dataset information available.'\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          0
        ],
        "id": "8292f451-66c9-4b46-a082-1ce0fe17efeb",
        "name": "Build Prompt Context"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User's report requirement:\n{{ $json.user_prompt }}\n\nAvailable datasets and their columns:\n{{ $json.dataset_context }}\n\nGenerate 3 to 5 targeted clarifying questions to help the user refine their report requirements.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are a report requirements analyst. Your task is to generate up to 5 targeted clarifying questions that will enable a downstream agent to build a precise, unambiguous analysis plan from the user's prompt and the available dataset columns.\n\nInput you will receive:\n\nThe user's report prompt\nThe available dataset column names and sample values\nQUESTION RULES\nOnly ask a question if it is genuinely relevant to the prompt AND the required column exists in the dataset. Skip any rule that does not apply.\n\nPrioritize questions in this order — higher priority questions have more impact on plan accuracy:\n\nDATE RANGE: If a date/time column exists and the prompt implies a time scope, ask for the specific period to filter by.\nPRIMARY METRIC: If multiple numeric columns could serve as the main measure, ask which one to use.\nGROUPING: If the prompt implies a breakdown or \"by X\" analysis, confirm the grouping column.\nFILTERS: If categorical columns are relevant to the prompt's scope, ask what values to include or exclude.\nAGGREGATION METHOD: If the prompt implies summarizing numbers and the method is ambiguous, ask which function to apply (sum, average, count, min, max).\nRANKING: If the prompt uses words like \"top\", \"bottom\", \"best\", \"worst\", or \"most\", ask for the N count and sort direction.\nJOIN KEY: Only if multiple datasets are provided — name the most likely join columns and ask to confirm. If no obvious key exists, ask whether approximate name matching is acceptable.\nHINT FORMAT RULES\nEach question must include a hint array. The hints are the numbered answer choices the user will see and respond to by number.\n\nEach hint must be a concrete, specific option grounded in actual column names and/or realistic sample values from the dataset\nAlways make the last hint \"Other — I'll type my own answer\" to allow free-form responses\nKeep each hint to one short phrase or value — no full sentences\nIf fewer than 2 meaningful options exist for a question, do not include that question\nEDGE CASES\nIf the user's prompt is already fully specified (date range, metric, grouping, and filters are all explicit), return { \"questions\": [] }\nNever ask about a column that does not exist in the provided datasets\nNever ask redundant or overlapping questions\nOUTPUT FORMAT\nReturn ONLY valid JSON — no explanation, no preamble, no markdown fences.\n\nExample output:\n\n\n{\n  \"questions\": [\n    {\n      \"question\": \"Which time period should the report cover?\",\n      \"hint\": [\n        \"Last 30 days\",\n        \"Last 90 days\",\n        \"Year to date (Jan 1 – today)\",\n        \"Full last calendar year\",\n        \"Other — I'll type my own answer\"\n      ]\n    },\n    {\n      \"question\": \"Which metric should be used as the primary measure?\",\n      \"hint\": [\n        \"Revenue (total sale amount)\",\n        \"Units Sold (item count)\",\n        \"Gross Profit (revenue minus cost)\",\n        \"Other — I'll type my own answer\"\n      ]\n    }\n  ]\n}\nThe user will reply with a number (e.g. \"2\") to select that hint, or free text for \"Other\". Map their response positionally: reply \"1\" = first hint, \"2\" = second hint, and so on.",
            "maxIterations": 1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          720,
          0
        ],
        "id": "0e560356-69c5-4b47-87c0-cff2b98858f7",
        "name": "Dialog AI Agent",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1120,
          0
        ],
        "id": "ff486d79-dfcd-4ab3-9193-2df0ccc91cbb",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "model": "={{ $('Webhook').first().json.body.model || 'moonshotai/kimi-k2.5' }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          304,
          480
        ],
        "id": "16a843c6-3eef-478f-8575-360e8b95692e",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "SScyp7rqdYRmN9lx",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"questions\": [\n    {\n      \"id\": \"time_period\",\n      \"question\": \"What time period should this report cover?\",\n      \"hints\": [\n        { \"text\": \"last 12 months\" },\n        { \"text\": \"Q1 2025\" },\n        { \"text\": \"all available data\" }\n      ]\n    },\n    {\n      \"id\": \"grouping\",\n      \"question\": \"How should the results be broken down or grouped?\",\n      \"hints\": [\n        { \"text\": \"by product category\" },\n        { \"text\": \"by region\" },\n        { \"text\": \"by month\" }\n      ]\n    },\n    {\n      \"id\": \"primary_metrics\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\",\n      \"hints\": [\n        { \"text\": \"total revenue\" },\n        { \"text\": \"order count\" },\n        { \"text\": \"average order value\" }\n      ]\n    }\n  ]\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          720,
          208
        ],
        "id": "6a9e2490-380b-4876-8cce-5d33d7fbd88f",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "model": "={{ $('Webhook').first().json.body.model || 'moonshotai/kimi-k2.5' }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          864,
          448
        ],
        "id": "3dcd51c6-9cf3-49ef-9ead-abf2093fdf4b",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "SScyp7rqdYRmN9lx",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Fetch Dataset Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Dataset Context": {
        "main": [
          [
            {
              "node": "Build Prompt Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt Context": {
        "main": [
          [
            {
              "node": "Dialog AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dialog AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Dialog AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Dialog AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version 09ebfeb1",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T03:40:21.394Z",
        "id": 567,
        "workflowId": "u3ygc487r8vlbnQMcy9JI",
        "versionId": "09ebfeb1-a4df-4706-a1a5-ac6bfddb20a4",
        "event": "activated",
        "userId": "311513a6-4117-4a5c-89e5-28f958dbd390"
      }
    ]
  }
}