n8n-workflows/Data Analyzer - Analyze.json
{"name":"Data Analyzer - Analyze","nodes":[{"parameters":{"httpMethod":"POST","path":"analyze","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"id":"webhook-trigger","name":"Webhook Trigger","webhookId":"f47d9207-d893-434b-bb52-2bcf59fa6e8b"},{"parameters":{"operation":"executeQuery","query":"=SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id = '{{ $json.body.datasetId }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,304],"id":"get-dataset","name":"Get Dataset","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"prompt","name":"prompt","value":"={{ $('Webhook Trigger').item.json.body.prompt }}","type":"string"},{"id":"dataset_id","name":"dataset_id","value":"={{ $('Get Dataset').item.json.dataset_id }}","type":"string"},{"id":"dataset_summary","name":"dataset_summary","value":"={{ $('Get Dataset').item.json.dataset_summary }}","type":"string"},{"id":"session","name":"session","value":"={{ Date.now() + Math.floor(Math.random() * 1000) }}","type":"string"},{"id":"ai_model","name":"ai_model","value":"={{ $('Webhook Trigger').item.json.body.model }}","type":"string"},{"id":"view_name","name":"view_name","value":"=n8n_data.v_ds_{{ $('Get Dataset').item.json.dataset_id.replace(/-/g, '_') }}","type":"string"},{"id":"dataset_desc","name":"dataset_desc","value":"={{ $('Get Dataset').item.json.dataset_desc }}","type":"string"},{"id":"column_names","name":"column_names","value":"={{ Object.keys($('Get Dataset').item.json.column_mapping).join(', ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,304],"id":"set-prompt","name":"Set Prompt and ID"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=ROLE You are a Senior Data Analyst. Your goal is to answer user inquiries by querying the {{ $json.view_name }} table. You must present all data-heavy responses using Rich HTML and HTML Tables.\n\n\nDATA CONTEXT\n\nVIEW: {{ $json.view_name }}\n(Pre-built view with original column names already aliased — query it directly, no WHERE clause needed)\n\nCOLUMNS: {{ $json.column_names }}\n\n\n\nDATASET DESCRIPTION: {{ $json.dataset_desc }}\n\nDATASET SUMMARY: {{ $json.dataset_summary }}\n\nSTRICT SQL CONSTRUCTION RULES\n\nDouble Quotes: Always wrap column names (e.g., \"CFBU\", \"Year\").\n\nSingle Quotes: Always wrap values (e.g., 'Revenue').\n\nThe \"Apostrophe\" Rule: For values like Budget’, use the exact typographic character.\n\nNo Markdown in Tool Call: Send ONLY the raw SQL string to the tool.\n\nHTML OUTPUT SPECIFICATIONS Your final response MUST be valid HTML. Follow these styling rules:\n\nTables: Use <table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"> for any data comparison or list.\n\nHeaders: Use <th> with a light gray background (background-color: #f2f2f2;) for table headers.\n\nEmphasis: Use <strong> for key figures and <u> for category names.\n\nNo Markdown Tags: Do NOT use ```html or **bold**. Use only <b> or <strong> and raw HTML tags.\n\n\nOPERATIONAL WORKFLOW\n\nPrioritize accuracy & speed: This needs to be conversational. Try to focus on getting exactly what the user asked for and no more to speed up response generation. Where appropriate use SUM in the query rather than fetching all rows.\n\nAnalyze & Map: Identify columns and values from the context.\n\nComplex Analysis: For Variance/Comparisons, run multiple queries and calculate manually.\n\nExecute: Pass raw SQL to the SQL Datastore.\n\nSynthesize HTML Response:\n\nStart with a brief, friendly sentence: <span><b>Here is the analysis for your request:</b></span>.\n\nPresent findings in a structured <table>.\n\nIf providing a summary, use <ul> and <li>.\n\nThen, assume a role of a HTML designer and use your best design skills to make the HTML output professional and beautiful. Only output HTML code without any extra comments or your plan or thinking.\n\nCRITICAL: Ensure all tags are properly closed to prevent rendering errors in the n8n Form. Execute tools one by one. Do not attempt to call multiple tools in a single turn. Wait for the observation of the first tool before calling the next.\n","maxIterations":30,"returnIntermediateSteps":"={{ $('Webhook Trigger').item.json.body?.returnSteps || false }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1200,304],"id":"ai-agent","name":"AI Agent","alwaysOutputData":true},{"parameters":{"model":"={{ $('Webhook Trigger').item.json.body.model }}","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1200,528],"id":"chat-model","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Prompt and ID').item.json.session }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1328,528],"id":"simple-memory","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1440,528],"id":"calculator","name":"Calculator"},{"parameters":{"jsCode":"// 1. Safely access input data from the current node\nconst inputData = $input.first();\nif (!inputData) return { status: 'error', message: 'No input received' };\n\nconst agentOutput = inputData.json;\n\n// 2. Access external node data\nconst webhookTrigger = $('Webhook Trigger').first()?.json?.body || {};\nconst datasetNode = $('Get Dataset').first()?.json || {};\n\n// 3. Target the AI Agent node specifically for intermediate steps\nconst agentNodeData = $('AI Agent').first()?.json || {};\nconst steps = agentNodeData.intermediateSteps;\n\n// 4. Process steps with Vector Store optimized formatting\nlet processUsed = 'No process steps recorded.';\n\nif (Array.isArray(steps) && steps.length > 0) {\n  processUsed = steps.map((step, index) => {\n    const tool = step.action?.tool || 'Internal Reasoning';\n    const toolInput = step.action?.toolInput ? JSON.stringify(step.action.toolInput) : 'N/A';\n    \n    // Clean up observation (handles objects/arrays/strings)\n    let observation = step.observation;\n    if (typeof observation === 'object') {\n      observation = JSON.stringify(observation, null, 2);\n    }\n\n    // Structured for RAG: Clear headers help the embedding model identify relationships\n    return `### STEP ${index + 1}\n[Tool Used]: ${tool}\n[Input]: ${toolInput}\n[Observation]: ${observation || 'No output recorded.'}`;\n  }).join('\\n\\n---\\n\\n');\n}\n\n// 5. Return the final structured object\nreturn {\n  status: 'ok',\n  result: agentOutput.output || 'No response generated',\n  processUsed: processUsed,\n  metadata: {\n    model: webhookTrigger.model || 'unknown',\n    datasetName: datasetNode.dataset_name || 'unknown',\n    stepCount: Array.isArray(steps) ? steps.length : 0\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,368],"id":"format-response","name":"Format Response"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2464,368],"id":"respond-webhook","name":"Respond to Webhook"},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query against the dataset view. The view name is given in the system message (e.g. n8n_data.v_ds_<id>). The view already has original column names — always wrap column names in double quotes. No WHERE clause needed.","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1584,528],"id":"cd819848-8031-40f7-a0ea-bb9cb3dfde13","name":"SQL Datastore","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"This tool stores recommended intermediate steps and output rated highly by the user for the AI Agent to follow to more reliably respond to user inquiries.","qdrantCollection":{"__rl":true,"value":"data-analyzer-saved-analysis","mode":"list","cachedResultName":"data-analyzer-saved-analysis"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[1744,528],"id":"a81672c0-4b47-4a38-a511-839d9ca67504","name":"Example Queries","credentials":{"qdrantApi":{"id":"zObCvzTEf6kFbsLP","name":"QdrantApi account"}}},{"parameters":{"options":{"dimensions":768}},"type":"n8n-nodes-gemini-embedding-plus.embeddingsGoogleGeminiPlus","typeVersion":1,"position":[1472,832],"id":"f0ffb855-a704-4963-93d6-66570a019488","name":"Embeddings Google Gemini Plus","credentials":{"googlePalmApi":{"id":"3F7PYtvjNAVhAYSs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2d93de88-b8e5-4a42-ada7-730948cf4284","leftValue":"={{ $('Webhook Trigger').item.json.body.emailResponse }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1552,-48],"id":"e4df0d44-e3ff-4a93-a559-d31a27c4f25d","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=Role: You are a UI Redesign Agent.\n1. Query the 'Report Template' tool using template_Id: {{ $('Webhook Trigger').item.json.body.templateId }} to fetch reference HTML code from Report Template tool and a Source HTML (provided in the user prompt). \nIf no reference HTML code is fetched, skip to the next step.\n\nObjective: Redesign the Source HTML so it is visually identical to the Reference HTML while retaining all original source data.\n\nInstructions:\n\nUse the CSS and structure of the Reference HTML as the master template.\n\nMap the data from the Source HTML into this template.\n\nIf the tool returns a reference, prioritize its styles (colors, fonts, borders) above all else.\n\nOutput the updated HTML into JSON with a key \"content\" but do not include any of the planning or thinking in answering the inquiry.\n\n2. Here's user provided subject: '{{ $('Webhook Trigger').item.json.body.emailSubject }}'. If empty, summarize the content of the HTML suitable as an email subject. Use the user provided subject, if not empty, or use the generated subject and output it into JSON with a key \"subject\". \n\nIMPORTANT: DO NOT OUTPUT THE PLAN, COMMENT OR EXPLANATION OF THE ACTION. JUST OUPT THE JSON WITH subject and HTML code."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1936,-272],"id":"80188edf-737f-45a6-b01a-ec965b914a45","name":"AI Agent1"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1840,-48],"id":"eaed745e-62a2-43d0-949f-15e1e59fa751","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"model":"deepseek/deepseek-v3.2","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1952,-48],"id":"a546eb8a-ff68-448a-842f-ca22d02322e9","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"sendTo":"={{ $('Webhook Trigger').item.json.body.email }}","subject":"={{ $json.output.subject }}","message":"={{ $json.output.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2432,-272],"id":"3068e157-1fa2-4bf9-ac64-4527633b405c","name":"Send a message","webhookId":"99b4f3b2-1719-4ae9-8d4b-0eb1d0ee03fb","credentials":{"gmailOAuth2":{"id":"TNOWPl9UgCcBg1hz","name":"Gmail account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"subject\": \"Technical Analysis\",\n  \"content\": \"Multiple short positions were initiated based on technical patterns indicating overextended moves and impending pullbacks.\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2176,-32],"id":"9bb13378-9822-408c-8e3d-45a30a0cc6de","name":"Structured Output Parser"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2176,160],"id":"b60f87ac-4c77-433a-9db9-2af43bca2b3e","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"model":"mxbai-embed-large:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1696,720],"id":"e8402200-772b-47f6-9763-4303dd52055d","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"5LaIovQtdd5x4fjU","name":"Ollama account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Uses template_id to query and fetch report template HTML","operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"data-analyzer-report-templates","mode":"list","cachedResultName":"data-analyzer-report-templates"},"limit":1,"where":{"values":[{"column":"template_id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Use the template_id from the system prompt to fetch template.`, 'string') }}"}]},"options":{"outputColumns":["html"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2032,176],"id":"7f139b5c-bfa5-48fc-ad00-7c2acd656298","name":"Report Template","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=ROLE You are a Senior Data Analyst. Your goal is to answer user inquiries by querying the n8n_data.v_active_analysis table. You must present all data-heavy responses using Rich HTML and HTML Tables.\n\nBefore building queries, use the Example Queries Tool to fetch and reference how past highly-rated queries were built and used to produce high quslity responses. Use {{ $json.dataset_id }} to against metadata `dataset_id` and {{ $workflow.id }} against metadata `workflow_id` to only look at embeddings that are relevant for this workflow and dataset.\nEvaluate the retrived embeddings relevance to the current user prompt and score it out of 10. \nIf this relevance score is over equal to or greater than 9, use the intermediate steps retrieved to run the query.\nIf between 6 and 8, reference the retrieved intermediate steps to build a reliable query.\nIf lower than 6, ignore.\nDO NOT DIRECTLY USE THE STORED RESPONSE RETRIEVED. ALWAYS RUN THE QUERY AGAINST THE DATASET TO RETRIEVE THE UP-TO-DATE RESULTS. \n\nDATABASE CONTEXT\n\nVIEW DEFINITION: {{ $json.view_query }}\n\nDATASET SUMMARY: {{ $json.dataset_summary }}\n\nSTRICT SQL CONSTRUCTION RULES\n\nDouble Quotes: Always wrap column names (e.g., \"CFBU\", \"Year\").\n\nSingle Quotes: Always wrap values (e.g., 'Revenue').\n\nThe \"Apostrophe\" Rule: For values like Budget’, use the exact typographic character.\n\nNo Markdown in Tool Call: Send ONLY the raw SQL string to the tool.\n\nHTML OUTPUT SPECIFICATIONS Your final response MUST be valid HTML. Follow these styling rules:\n\nTables: Use <table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"> for any data comparison or list.\n\nHeaders: Use <th> with a light gray background (background-color: #f2f2f2;) for table headers.\n\nEmphasis: Use <strong> for key figures and <u> for category names.\n\nNo Markdown Tags: Do NOT use ```html or **bold**. Use only <b> or <strong> and raw HTML tags.\n\n\nOPERATIONAL WORKFLOW\n\nAnalyze & Map: Identify columns and values from the context.\n\nComplex Analysis: For Variance/Comparisons, run multiple queries and calculate manually.\n\nExecute: Pass raw SQL to the SQL Datastore.\n\nSynthesize HTML Response:\n\nStart with a brief, friendly sentence: <span><b>Here is the analysis for your request:</b></span>.\n\nPresent findings in a structured <table>.\n\nIf providing a summary, use <ul> and <li>.\n\nCRITICAL: Ensure all tags are properly closed to prevent rendering errors in the n8n Form.\n","maxIterations":30,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1184,1120],"id":"900f45e6-161c-4b15-b45b-aae9b509852a","name":"AI Agent4","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.output }}","needsFallback":true,"options":{"systemMessage":"=You are an expert web designer. \nYou will take a look at the HTML input and check for any errors that might cause mis-formatted output displayed to the user. You will also use your best design skills to make the HTML output professional and beautiful. Only output HTML code without any extra comments or your plan or thinking."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2320,1136],"id":"6487e828-a6ae-4b47-96b2-bb8c98988872","name":"AI Agent2"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2224,1328],"id":"f569d928-ed6b-45f2-bb22-83a2988e8f5f","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"model":"deepseek/deepseek-chat","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2352,1328],"id":"69c21540-7542-4ef1-aaee-478722e24920","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}}],"pinData":{},"connections":{"Webhook Trigger":{"main":[[{"node":"Get Dataset","type":"main","index":0}]]},"Get Dataset":{"main":[[{"node":"Set Prompt and ID","type":"main","index":0}]]},"Set Prompt and ID":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0},{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SQL Datastore":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Example Queries":{"ai_tool":[[]]},"Embeddings Google Gemini Plus":{"ai_embedding":[[]]},"AI Agent1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":1}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Example Queries","type":"ai_embedding","index":0}]]},"Report Template":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":1}]]}},"active":true,"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"versionId":"292001f9-110f-49ef-9ddb-cef72bace1fe","meta":{"templateCredsSetupCompleted":true,"instanceId":"558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"},"id":"2lW38Eem6oVDUXp4rs-2Q","tags":[]}