n8n-workflows/Data Analyzer - Cleanup Temp Tables.json
{
  "name": "Data Analyzer - Cleanup Temp Tables",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 240],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tablename, pg_size_pretty(pg_total_relation_size('n8n_data.\"' || tablename || '\"')) AS size, (now() - (SELECT reltuples::bigint FROM pg_class WHERE relname = tablename LIMIT 1)::text::interval) IS NULL AS unknown_age FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_%_step_%' ORDER BY tablename",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 240],
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Find Temp Tables",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tables = $input.all().map(i => i.json);\n\nif (tables.length === 0) {\n  return [{ json: { found: 0, tables: [], summary: 'No orphaned temp tables found. Nothing to clean up.' } }];\n}\n\nconst list = tables.map(t => `  - ${t.tablename} (${t.size})`).join('\\n');\nreturn [{\n  json: {\n    found: tables.length,\n    tables: tables.map(t => t.tablename),\n    summary: `Found ${tables.length} orphaned temp table(s) to drop:\\n${list}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 240],
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Summarize Found"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$ DECLARE r RECORD; dropped INT := 0; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_%_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; dropped := dropped + 1; END LOOP; RAISE NOTICE 'Dropped % temp table(s)', dropped; END $$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 240],
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Drop All Temp Tables",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Summarize Found').first().json;\nconst dropped = summary.found;\n\nif (dropped === 0) {\n  return [{ json: { status: 'ok', message: summary.summary } }];\n}\n\nconst tableList = summary.tables.join(', ');\nreturn [{\n  json: {\n    status: 'ok',\n    message: `Successfully dropped ${dropped} orphaned temp table(s).`,\n    dropped_tables: summary.tables\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 240],
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Done"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Find Temp Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Temp Tables": {
      "main": [
        [
          {
            "node": "Summarize Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Found": {
      "main": [
        [
          {
            "node": "Drop All Temp Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop All Temp Tables": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
