n8n-workflows/Data Analyzer - List Datasets.json
{"updatedAt":"2026-02-14T06:42:03.555Z","createdAt":"2026-02-14T06:42:03.555Z","id":"JD1zMnPRMQGchO72","name":"Data Analyzer - List Datasets","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"list-datasets","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"4c7e7f24-ad15-4cec-98c0-b5620cd20d85","name":"Webhook - List Datasets","webhookId":"list-datasets-webhook"},{"parameters":{"operation":"executeQuery","query":"SELECT dataset_id as id, dataset_name as name FROM n8n_data.dataset_record_manager WHERE owner_email = '{{ $json.body.email }}' ORDER BY dataset_name","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[192,0],"id":"a6a685e2-2c5f-47ff-93fc-563a77d1936d","name":"Get Datasets","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', items: $input.all().map(item => item.json) } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,0],"id":"f73c68fb-b0b5-4e0b-9861-e370ebcc5fbf","name":"Respond with Datasets"}],"connections":{"Webhook - List Datasets":{"main":[[{"node":"Get Datasets","type":"main","index":0}]]},"Get Datasets":{"main":[[{"node":"Respond with Datasets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"afb2c848-f2a8-4174-aea3-bd15984ad998","activeVersionId":"afb2c848-f2a8-4174-aea3-bd15984ad998","versionCounter":12,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T06:42:03.555Z","createdAt":"2026-02-14T06:42:03.555Z","role":"workflow:owner","workflowId":"JD1zMnPRMQGchO72","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-14T06:42:06.686Z","createdAt":"2026-02-14T06:42:03.555Z","versionId":"afb2c848-f2a8-4174-aea3-bd15984ad998","workflowId":"JD1zMnPRMQGchO72","nodes":[{"parameters":{"httpMethod":"POST","path":"list-datasets","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"4c7e7f24-ad15-4cec-98c0-b5620cd20d85","name":"Webhook - List Datasets","webhookId":"list-datasets-webhook"},{"parameters":{"operation":"executeQuery","query":"SELECT dataset_id as id, dataset_name as name FROM n8n_data.dataset_record_manager WHERE owner_email = '{{ $json.body.email }}' ORDER BY dataset_name","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[192,0],"id":"a6a685e2-2c5f-47ff-93fc-563a77d1936d","name":"Get Datasets","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', items: $input.all().map(item => item.json) } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,0],"id":"f73c68fb-b0b5-4e0b-9861-e370ebcc5fbf","name":"Respond with Datasets"}],"connections":{"Webhook - List Datasets":{"main":[[{"node":"Get Datasets","type":"main","index":0}]]},"Get Datasets":{"main":[[{"node":"Respond with Datasets","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version afb2c848","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-14T06:42:06.685Z","id":12,"workflowId":"JD1zMnPRMQGchO72","versionId":"afb2c848-f2a8-4174-aea3-bd15984ad998","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}