n8n-workflows/Data Analyzer - List Datasets.json
{
  "updatedAt": "2026-02-06T02:54:54.988Z",
  "createdAt": "2026-02-05T06:25:57.820Z",
  "id": "IskB0GvdLpdoJ9Bz",
  "name": "Data Analyzer - List Datasets",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "list-datasets",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        -128
      ],
      "id": "1ccd9d92-3587-4be8-9885-5fed3e6a3ae5",
      "name": "Webhook - List Datasets",
      "webhookId": "list-datasets-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dataset_id as id, dataset_name as name FROM n8n_data.dataset_record_manager WHERE owner_email = '{{ $json.body.email }}' ORDER BY dataset_name",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -64,
        -128
      ],
      "id": "4d546775-c59e-456e-aa06-ffecd6361f3a",
      "name": "Get Datasets",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', items: $input.all().map(item => item.json) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        144,
        -128
      ],
      "id": "ebecdd28-47d7-475f-8785-c208a9f5d7e7",
      "name": "Respond with Datasets"
    }
  ],
  "connections": {
    "Webhook - List Datasets": {
      "main": [
        [
          {
            "node": "Get Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Datasets": {
      "main": [
        [
          {
            "node": "Respond with Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c98e5f0e-0e31-47b8-b215-71fc16e43bec",
  "activeVersionId": "c98e5f0e-0e31-47b8-b215-71fc16e43bec",
  "versionCounter": 117,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-05T06:25:57.820Z",
      "createdAt": "2026-02-05T06:25:57.820Z",
      "role": "workflow:owner",
      "workflowId": "IskB0GvdLpdoJ9Bz",
      "projectId": "1Tt3UeBU40oNvF7P",
      "project": {
        "updatedAt": "2025-10-06T05:12:43.166Z",
        "createdAt": "2025-10-06T05:08:40.705Z",
        "id": "1Tt3UeBU40oNvF7P",
        "name": "EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "311513a6-4117-4a5c-89e5-28f958dbd390",
        "projectRelations": [
          {
            "updatedAt": "2025-10-06T05:08:40.705Z",
            "createdAt": "2025-10-06T05:08:40.705Z",
            "userId": "311513a6-4117-4a5c-89e5-28f958dbd390",
            "projectId": "1Tt3UeBU40oNvF7P",
            "user": {
              "updatedAt": "2026-03-11T04:00:47.117Z",
              "createdAt": "2025-10-06T05:08:32.753Z",
              "id": "311513a6-4117-4a5c-89e5-28f958dbd390",
              "email": "ed.e.lee@gmail.com",
              "firstName": "EUN",
              "lastName": "ed.e.lee@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-26T08:28:02.179Z",
                "personalization_survey_n8n_version": "2.1.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SxDwHc0lnbViX2QV",
                "userActivatedAt": 1759818413157,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767391940455
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T00:08:01.919Z",
    "createdAt": "2026-02-06T00:07:56.791Z",
    "versionId": "c98e5f0e-0e31-47b8-b215-71fc16e43bec",
    "workflowId": "IskB0GvdLpdoJ9Bz",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "list-datasets",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -256,
          -128
        ],
        "id": "1ccd9d92-3587-4be8-9885-5fed3e6a3ae5",
        "name": "Webhook - List Datasets",
        "webhookId": "list-datasets-webhook"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT dataset_id as id, dataset_name as name FROM n8n_data.dataset_record_manager WHERE owner_email = '{{ $json.body.email }}' ORDER BY dataset_name",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -64,
          -128
        ],
        "id": "4d546775-c59e-456e-aa06-ffecd6361f3a",
        "name": "Get Datasets",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { status: 'ok', items: $input.all().map(item => item.json) } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          144,
          -128
        ],
        "id": "ebecdd28-47d7-475f-8785-c208a9f5d7e7",
        "name": "Respond with Datasets"
      }
    ],
    "connections": {
      "Webhook - List Datasets": {
        "main": [
          [
            {
              "node": "Get Datasets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Datasets": {
        "main": [
          [
            {
              "node": "Respond with Datasets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version c98e5f0e",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T00:08:01.916Z",
        "id": 258,
        "workflowId": "IskB0GvdLpdoJ9Bz",
        "versionId": "c98e5f0e-0e31-47b8-b215-71fc16e43bec",
        "event": "activated",
        "userId": "311513a6-4117-4a5c-89e5-28f958dbd390"
      }
    ]
  }
}