n8n-workflows/Data Analyzer - Upload Template API.json
{"updatedAt":"2026-02-25T19:27:18.885Z","createdAt":"2026-02-14T05:48:18.032Z","id":"KRbQY1uTRmXhRJrZ","name":"Data Analyzer - Upload Template API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-208,896],"id":"7a38c9f4-f200-4e86-981a-c46d5fb5ffd0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"upload-template","responseMode":"responseNode","options":{}},"name":"Webhook - Upload Template","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,-96],"webhookId":"upload-template-webhook","id":"d0eaac3d-ff83-470f-a80f-d0652cac53b6"},{"parameters":{"jsCode":"const rawOutput = $input.first().json.output;\nconst cleanHtml = rawOutput\n  .replace(/\\\\n/g, ' ')\n  .replace(/\\n/g, ' ')\n  .replace(/\\\\\"/g, '\"')\n  .replace(/```html|```/g, '')\n  .trim();\nreturn { html: cleanHtml };"},"name":"Clean HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-96],"id":"c8c1082c-82e7-4e09-a8de-07f3a53341ac"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO n8n_data.\"data-analyzer-report-templates\" (template_name, template_desc, owner_email, template_access, html) VALUES ('{{ $('Webhook - Upload Template').item.json.body.name }}', '{{ $('Webhook - Upload Template').item.json.body.description }}', '{{ $('Webhook - Upload Template').item.json.body.owner_email }}', '{{ $('Webhook - Upload Template').item.json.body.access }}', '{{ $json.html }}') RETURNING template_id","options":{}},"name":"Insert Template","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[800,-96],"id":"511fef00-5bc1-4d3c-9ebf-b675a246c3c9","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', data: { message: 'Template uploaded', template_id: $json.template_id } } }}","options":{}},"name":"Respond with Result","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1024,-96],"id":"2f58d4e3-65ef-4071-b1c9-a7ff434802c9"},{"parameters":{"jsCode":"const body = $('Webhook - Upload Template').item.json.body;\nconst fileData = body.file;\nconst fileName = body.fileName || 'upload.jpg';\n\nconst binaryData = Buffer.from(fileData, 'base64');\n\nreturn {\n  json: { fileName },\n  binary: {\n    data: await this.helpers.prepareBinaryData(binaryData, fileName)\n  }\n};"},"name":"Prepare Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-96],"id":"573a3a17-7e67-4fcd-a553-2e0ea3514817"},{"parameters":{"promptType":"=define","text":"Examine the attached image and generate a single-file HTML/CSS document that replicates it with 1:1 precision. Follow these strict styling rules:\n\nTypography: Use a clean, sans-serif font (like Arial or Helvetica). Ensure headers are uppercase with letter-spacing that matches the image.\n\nTable Structure: Use a semantic <table> with <thead>, <tbody>, and <tfoot>.\n\nColors: > * Identify the exact hex code for the dark blue/purple header background (e.g., #5e5e8c).\n\nUse the light grey/lavender background for \"Gross Profit,\" \"Operating Profit,\" and \"Profit before tax\" rows.\n\nUse the slightly darker shaded background for the \"Profit for the period\" final row.\n\nBorders: Implement the specific double-line bottom border for the final \"Profit for the period\" value and the single horizontal rules above sub-totals.\n\nAlignment: Financial values must be right-aligned with consistent padding. Negative values in parentheses must align perfectly with positive values.\n\nSpacing: Use cell-padding to match the airy vertical spacing of the rows in the image.","options":{"systemMessage":"Role: You are a Financial Data Visualization expert. Your goal is to convert datasets into professional, board-ready HTML tables that replicate specific corporate branding.\n\nStrict Output Rules:\n\nNo Markdown: Do not wrap your response in triple backticks (```html). Start your response directly with the first HTML tag.\n\nInline CSS Only: You must use style=\"...\" attributes on every tag to define formatting. Do not use <style> blocks or external classes.\n\nTable Structure: Use semantic <table>, <thead>, <tbody>, and <tfoot> tags.\n\nColor Palette:\n\nPrimary Header: Background #5e5e8c, Text #ffffff.\n\nSub-total/Highlight Rows: Background #e6e6f2, Font-weight bold.\n\nGrand Total Row: Background #d1d1e0, Font-weight bold, Bottom-border 4px double #333.\n\nAlignment & Typography:\n\nUse a clean sans-serif font (Arial, Helvetica).\n\nAll labels must be left-aligned.\n\nAll financial values must be right-aligned.\n\nFormat negative numbers in parentheses: (123,456).\n\nPadding: Use padding: 8px 12px; for all cells to ensure professional spacing.","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[336,-96],"id":"2e1f6a4c-53bc-4893-aa8e-a8c06874ef18","name":"AI Agent1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Webhook - Upload Template":{"main":[[{"node":"Prepare Binary","type":"main","index":0}]]},"Clean HTML":{"main":[[{"node":"Insert Template","type":"main","index":0}]]},"Insert Template":{"main":[[{"node":"Respond with Result","type":"main","index":0}]]},"Prepare Binary":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Clean HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e465b9fd-a20e-4ac2-a8c3-b8f5df79b0a0","activeVersionId":"e465b9fd-a20e-4ac2-a8c3-b8f5df79b0a0","versionCounter":68,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T05:48:18.032Z","createdAt":"2026-02-14T05:48:18.032Z","role":"workflow:owner","workflowId":"KRbQY1uTRmXhRJrZ","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-25T19:27:22.191Z","createdAt":"2026-02-25T19:27:18.886Z","versionId":"e465b9fd-a20e-4ac2-a8c3-b8f5df79b0a0","workflowId":"KRbQY1uTRmXhRJrZ","nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-208,896],"id":"7a38c9f4-f200-4e86-981a-c46d5fb5ffd0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"upload-template","responseMode":"responseNode","options":{}},"name":"Webhook - Upload Template","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,-96],"webhookId":"upload-template-webhook","id":"d0eaac3d-ff83-470f-a80f-d0652cac53b6"},{"parameters":{"jsCode":"const rawOutput = $input.first().json.output;\nconst cleanHtml = rawOutput\n  .replace(/\\\\n/g, ' ')\n  .replace(/\\n/g, ' ')\n  .replace(/\\\\\"/g, '\"')\n  .replace(/```html|```/g, '')\n  .trim();\nreturn { html: cleanHtml };"},"name":"Clean HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-96],"id":"c8c1082c-82e7-4e09-a8de-07f3a53341ac"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO n8n_data.\"data-analyzer-report-templates\" (template_name, template_desc, owner_email, template_access, html) VALUES ('{{ $('Webhook - Upload Template').item.json.body.name }}', '{{ $('Webhook - Upload Template').item.json.body.description }}', '{{ $('Webhook - Upload Template').item.json.body.owner_email }}', '{{ $('Webhook - Upload Template').item.json.body.access }}', '{{ $json.html }}') RETURNING template_id","options":{}},"name":"Insert Template","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[800,-96],"id":"511fef00-5bc1-4d3c-9ebf-b675a246c3c9","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', data: { message: 'Template uploaded', template_id: $json.template_id } } }}","options":{}},"name":"Respond with Result","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1024,-96],"id":"2f58d4e3-65ef-4071-b1c9-a7ff434802c9"},{"parameters":{"jsCode":"const body = $('Webhook - Upload Template').item.json.body;\nconst fileData = body.file;\nconst fileName = body.fileName || 'upload.jpg';\n\nconst binaryData = Buffer.from(fileData, 'base64');\n\nreturn {\n  json: { fileName },\n  binary: {\n    data: await this.helpers.prepareBinaryData(binaryData, fileName)\n  }\n};"},"name":"Prepare Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-96],"id":"573a3a17-7e67-4fcd-a553-2e0ea3514817"},{"parameters":{"promptType":"=define","text":"Examine the attached image and generate a single-file HTML/CSS document that replicates it with 1:1 precision. Follow these strict styling rules:\n\nTypography: Use a clean, sans-serif font (like Arial or Helvetica). Ensure headers are uppercase with letter-spacing that matches the image.\n\nTable Structure: Use a semantic <table> with <thead>, <tbody>, and <tfoot>.\n\nColors: > * Identify the exact hex code for the dark blue/purple header background (e.g., #5e5e8c).\n\nUse the light grey/lavender background for \"Gross Profit,\" \"Operating Profit,\" and \"Profit before tax\" rows.\n\nUse the slightly darker shaded background for the \"Profit for the period\" final row.\n\nBorders: Implement the specific double-line bottom border for the final \"Profit for the period\" value and the single horizontal rules above sub-totals.\n\nAlignment: Financial values must be right-aligned with consistent padding. Negative values in parentheses must align perfectly with positive values.\n\nSpacing: Use cell-padding to match the airy vertical spacing of the rows in the image.","options":{"systemMessage":"Role: You are a Financial Data Visualization expert. Your goal is to convert datasets into professional, board-ready HTML tables that replicate specific corporate branding.\n\nStrict Output Rules:\n\nNo Markdown: Do not wrap your response in triple backticks (```html). Start your response directly with the first HTML tag.\n\nInline CSS Only: You must use style=\"...\" attributes on every tag to define formatting. Do not use <style> blocks or external classes.\n\nTable Structure: Use semantic <table>, <thead>, <tbody>, and <tfoot> tags.\n\nColor Palette:\n\nPrimary Header: Background #5e5e8c, Text #ffffff.\n\nSub-total/Highlight Rows: Background #e6e6f2, Font-weight bold.\n\nGrand Total Row: Background #d1d1e0, Font-weight bold, Bottom-border 4px double #333.\n\nAlignment & Typography:\n\nUse a clean sans-serif font (Arial, Helvetica).\n\nAll labels must be left-aligned.\n\nAll financial values must be right-aligned.\n\nFormat negative numbers in parentheses: (123,456).\n\nPadding: Use padding: 8px 12px; for all cells to ensure professional spacing.","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[336,-96],"id":"2e1f6a4c-53bc-4893-aa8e-a8c06874ef18","name":"AI Agent1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Webhook - Upload Template":{"main":[[{"node":"Prepare Binary","type":"main","index":0}]]},"Clean HTML":{"main":[[{"node":"Insert Template","type":"main","index":0}]]},"Insert Template":{"main":[[{"node":"Respond with Result","type":"main","index":0}]]},"Prepare Binary":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Clean HTML","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version e465b9fd","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-25T19:27:22.190Z","id":79,"workflowId":"KRbQY1uTRmXhRJrZ","versionId":"e465b9fd-a20e-4ac2-a8c3-b8f5df79b0a0","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}