n8n-workflows/Data Analyzer - Check Report Progress.json
{
  "updatedAt": "2026-03-03T06:44:52.913Z",
  "createdAt": "2026-02-22T23:52:08.269Z",
  "id": "jfcc1mEc_mhD2Unl-3RRz",
  "name": "Data Analyzer - Check Report Progress",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-report-progress",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        528,
        -48
      ],
      "id": "daf265cd-632a-4c79-b7f4-c79318f91571",
      "name": "Webhook",
      "webhookId": "crp-webhook-id-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT step_number, purpose, dataset_id, status, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $json.body.report_id }}' ORDER BY step_number",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        752,
        -48
      ],
      "id": "c50076de-6e97-4b35-889b-d4e54889ecfd",
      "name": "Query Step Results",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nconst reportId = $('Webhook').first().json.body.report_id;\n\nfunction lastSentence(text) {\n  if (!text) return text;\n  const parts = text.split(/(?<=[.!?])\\s+/);\n  const last = parts.map(s => s.trim()).filter(Boolean).pop();\n  return last || text;\n}\n\n// Handle empty results\nif (rows.length === 0 || (rows.length === 1 && !rows[0].step_number && !rows[0].status)) {\n  return [{ json: { report_id: reportId, steps: [], final_report: null, status: 'starting' } }];\n}\n\n// step_number=0 rows are special: final_report or formatter error\nconst finalRow = rows.find(r => r.step_number === 0 && r.status === 'final_report');\nconst formatterErrorRow = rows.find(r => r.step_number === 0 && r.status === 'error');\n\n// Deduplicate step rows (step_number > 0) — retried steps produce multiple rows.\n// Prefer 'completed' status; among equal or non-completed, keep the last (most recently inserted).\nconst allStepRows = rows.filter(r => r.step_number > 0);\nconst stepMap = new Map();\nfor (const r of allStepRows) {\n  const existing = stepMap.get(r.step_number);\n  if (!existing || r.status === 'completed' || existing.status !== 'completed') {\n    stepMap.set(r.step_number, r);\n  }\n}\nconst stepRows = Array.from(stepMap.values()).sort((a, b) => a.step_number - b.step_number);\n\nconst steps = stepRows.map(r => ({\n  step_number: r.step_number,\n  purpose: r.purpose || '',\n  dataset_id: r.dataset_id || '',\n  status: r.status || 'pending',\n  step_result: r.status === 'error'\n    ? (r.step_result || 'Unknown error')\n    : r.status === 'completed' && r.step_result\n      ? lastSentence(r.step_result)\n      : undefined\n}));\n\n// Determine overall status.\n// Priority: final_report > formatter_error > in_progress\nlet status = 'in_progress';\nlet errorMessage = null;\nif (finalRow) {\n  status = 'completed';\n} else if (formatterErrorRow) {\n  status = 'error';\n  errorMessage = formatterErrorRow.step_result || 'Formatter failed';\n  const errorSteps = stepRows.filter(r => r.status === 'error');\n  if (errorSteps.length > 0) {\n    errorMessage += '\\n\\nStep errors: ' + errorSteps.map(r => 'Step ' + r.step_number + ': ' + (r.step_result || 'failed')).join('; ');\n  }\n}\n\nreturn [{\n  json: {\n    report_id: reportId,\n    steps,\n    final_report: finalRow ? finalRow.step_result : null,\n    status,\n    error_message: errorMessage\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -48
      ],
      "id": "3d6d0dfd-a1f1-4ac8-9a00-bbf80e7f69d8",
      "name": "Format Progress",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        -48
      ],
      "id": "08ee2853-a143-4003-bba5-ae12cf50aa68",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query Step Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Step Results": {
      "main": [
        [
          {
            "node": "Format Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Progress": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d17a2f0c-ad75-4ea4-b0ba-0015b92d1ff9",
  "activeVersionId": "d17a2f0c-ad75-4ea4-b0ba-0015b92d1ff9",
  "versionCounter": 96,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T23:52:08.269Z",
      "createdAt": "2026-02-22T23:52:08.269Z",
      "role": "workflow:owner",
      "workflowId": "jfcc1mEc_mhD2Unl-3RRz",
      "projectId": "1Tt3UeBU40oNvF7P",
      "project": {
        "updatedAt": "2025-10-06T05:12:43.166Z",
        "createdAt": "2025-10-06T05:08:40.705Z",
        "id": "1Tt3UeBU40oNvF7P",
        "name": "EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "311513a6-4117-4a5c-89e5-28f958dbd390",
        "projectRelations": [
          {
            "updatedAt": "2025-10-06T05:08:40.705Z",
            "createdAt": "2025-10-06T05:08:40.705Z",
            "userId": "311513a6-4117-4a5c-89e5-28f958dbd390",
            "projectId": "1Tt3UeBU40oNvF7P",
            "user": {
              "updatedAt": "2026-03-11T04:00:47.117Z",
              "createdAt": "2025-10-06T05:08:32.753Z",
              "id": "311513a6-4117-4a5c-89e5-28f958dbd390",
              "email": "ed.e.lee@gmail.com",
              "firstName": "EUN",
              "lastName": "ed.e.lee@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-26T08:28:02.179Z",
                "personalization_survey_n8n_version": "2.1.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SxDwHc0lnbViX2QV",
                "userActivatedAt": 1759818413157,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767391940455
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-03T06:44:55.508Z",
    "createdAt": "2026-03-03T06:44:52.915Z",
    "versionId": "d17a2f0c-ad75-4ea4-b0ba-0015b92d1ff9",
    "workflowId": "jfcc1mEc_mhD2Unl-3RRz",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "check-report-progress",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          528,
          -48
        ],
        "id": "daf265cd-632a-4c79-b7f4-c79318f91571",
        "name": "Webhook",
        "webhookId": "crp-webhook-id-001"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT step_number, purpose, dataset_id, status, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $json.body.report_id }}' ORDER BY step_number",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          752,
          -48
        ],
        "id": "c50076de-6e97-4b35-889b-d4e54889ecfd",
        "name": "Query Step Results",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(item => item.json);\nconst reportId = $('Webhook').first().json.body.report_id;\n\nfunction lastSentence(text) {\n  if (!text) return text;\n  const parts = text.split(/(?<=[.!?])\\s+/);\n  const last = parts.map(s => s.trim()).filter(Boolean).pop();\n  return last || text;\n}\n\n// Handle empty results\nif (rows.length === 0 || (rows.length === 1 && !rows[0].step_number && !rows[0].status)) {\n  return [{ json: { report_id: reportId, steps: [], final_report: null, status: 'starting' } }];\n}\n\n// step_number=0 rows are special: final_report or formatter error\nconst finalRow = rows.find(r => r.step_number === 0 && r.status === 'final_report');\nconst formatterErrorRow = rows.find(r => r.step_number === 0 && r.status === 'error');\n\n// Deduplicate step rows (step_number > 0) — retried steps produce multiple rows.\n// Prefer 'completed' status; among equal or non-completed, keep the last (most recently inserted).\nconst allStepRows = rows.filter(r => r.step_number > 0);\nconst stepMap = new Map();\nfor (const r of allStepRows) {\n  const existing = stepMap.get(r.step_number);\n  if (!existing || r.status === 'completed' || existing.status !== 'completed') {\n    stepMap.set(r.step_number, r);\n  }\n}\nconst stepRows = Array.from(stepMap.values()).sort((a, b) => a.step_number - b.step_number);\n\nconst steps = stepRows.map(r => ({\n  step_number: r.step_number,\n  purpose: r.purpose || '',\n  dataset_id: r.dataset_id || '',\n  status: r.status || 'pending',\n  step_result: r.status === 'error'\n    ? (r.step_result || 'Unknown error')\n    : r.status === 'completed' && r.step_result\n      ? lastSentence(r.step_result)\n      : undefined\n}));\n\n// Determine overall status.\n// Priority: final_report > formatter_error > in_progress\nlet status = 'in_progress';\nlet errorMessage = null;\nif (finalRow) {\n  status = 'completed';\n} else if (formatterErrorRow) {\n  status = 'error';\n  errorMessage = formatterErrorRow.step_result || 'Formatter failed';\n  const errorSteps = stepRows.filter(r => r.status === 'error');\n  if (errorSteps.length > 0) {\n    errorMessage += '\\n\\nStep errors: ' + errorSteps.map(r => 'Step ' + r.step_number + ': ' + (r.step_result || 'failed')).join('; ');\n  }\n}\n\nreturn [{\n  json: {\n    report_id: reportId,\n    steps,\n    final_report: finalRow ? finalRow.step_result : null,\n    status,\n    error_message: errorMessage\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          976,
          -48
        ],
        "id": "3d6d0dfd-a1f1-4ac8-9a00-bbf80e7f69d8",
        "name": "Format Progress",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1200,
          -48
        ],
        "id": "08ee2853-a143-4003-bba5-ae12cf50aa68",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Query Step Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Step Results": {
        "main": [
          [
            {
              "node": "Format Progress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Progress": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version d17a2f0c",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-03T06:44:55.505Z",
        "id": 543,
        "workflowId": "jfcc1mEc_mhD2Unl-3RRz",
        "versionId": "d17a2f0c-ad75-4ea4-b0ba-0015b92d1ff9",
        "event": "activated",
        "userId": "311513a6-4117-4a5c-89e5-28f958dbd390"
      }
    ]
  }
}