n8n-workflows/Data Analyzer - Delete Dataset API.json
{"updatedAt":"2026-03-09T03:58:51.633Z","createdAt":"2026-02-14T06:12:58.148Z","id":"9meAwRFQ3KVbekYZ","name":"Data Analyzer - Delete Dataset API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"delete-dataset","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-608,96],"id":"de194fdd-c9c6-490c-9cc0-450cbcdbd176","name":"Webhook","webhookId":"delete-dataset-webhook"},{"parameters":{"operation":"executeQuery","query":"SELECT dataset_id, dataset_name, owner_email FROM n8n_data.dataset_record_manager WHERE dataset_id = $1::uuid ","options":{"queryReplacement":"=$1\t{{ $json.body.datasetId }}\n$2\t{{ $json.body.email }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-400,96],"id":"34b88ef5-04f5-4ca0-b049-7b19efb9d0f9","name":"Verify Ownership","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-exists","leftValue":"={{ $json.dataset_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-208,96],"id":"011849a2-6ba3-40cd-9813-23e83f35c7fe","name":"Dataset Exists?"},{"parameters":{"method":"POST","url":"http://qdrant:6333/collections/optimal-ai-outputs/points/delete","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.dataset_id\",\n        \"match\": {\n          \"value\": \"{{ $('Verify Ownership').first().json.dataset_id }}\"\n        }\n      }\n    ]\n  }\n}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,0],"id":"25d63f30-77d0-428a-961e-7a8a34665375","name":"Delete Qdrant Points","continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_data.universal_datatable WHERE dataset_id = $1::uuid","options":{"queryReplacement":"=$1\t{{ $('Verify Ownership').first().json.dataset_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,144],"id":"f5160ed1-cbdd-4f55-860e-9a07f15c9b6a","name":"Delete Data","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_data.dataset_record_manager WHERE dataset_id = $1::uuid RETURNING dataset_name","options":{"queryReplacement":"=$1\t{{ $('Verify Ownership').first().json.dataset_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,144],"id":"213a4b04-51c5-48c3-b20c-1376d2ac63e6","name":"Delete Record","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: \"ok\", message: \"Dataset deleted successfully\", datasetName: $json.dataset_name } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,144],"id":"686fce28-ce07-4311-b6d2-f65ae8af3e86","name":"Respond Success"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: \"error\", message: \"Dataset not found or you don't have permission to delete it\" } }}","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,496],"id":"bdb8bfd6-beaa-48dd-b3c0-749382c3e5e9","name":"Respond Not Found"},{"parameters":{"operation":"executeQuery","query":"DROP VIEW IF EXISTS n8n_data.v_ds_{{ $input.first().json.dataset_id.replace(/-/g, '_') }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,336],"id":"f4f8d421-b353-4665-b337-ebc23a5bdeda","name":"Delete View","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Verify Ownership","type":"main","index":0}]]},"Verify Ownership":{"main":[[{"node":"Dataset Exists?","type":"main","index":0}]]},"Dataset Exists?":{"main":[[{"node":"Delete Qdrant Points","type":"main","index":0},{"node":"Delete Data","type":"main","index":0},{"node":"Delete View","type":"main","index":0}],[{"node":"Respond Not Found","type":"main","index":0}]]},"Delete Data":{"main":[[{"node":"Delete Record","type":"main","index":0}]]},"Delete Record":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb10f44d-bdd4-4be9-a120-e1801ddd256b","activeVersionId":"eb10f44d-bdd4-4be9-a120-e1801ddd256b","versionCounter":26,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T06:12:58.148Z","createdAt":"2026-02-14T06:12:58.148Z","role":"workflow:owner","workflowId":"9meAwRFQ3KVbekYZ","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-09T03:58:54.145Z","createdAt":"2026-03-09T03:58:51.635Z","versionId":"eb10f44d-bdd4-4be9-a120-e1801ddd256b","workflowId":"9meAwRFQ3KVbekYZ","nodes":[{"parameters":{"httpMethod":"POST","path":"delete-dataset","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-608,96],"id":"de194fdd-c9c6-490c-9cc0-450cbcdbd176","name":"Webhook","webhookId":"delete-dataset-webhook"},{"parameters":{"operation":"executeQuery","query":"SELECT dataset_id, dataset_name, owner_email FROM n8n_data.dataset_record_manager WHERE dataset_id = $1::uuid ","options":{"queryReplacement":"=$1\t{{ $json.body.datasetId }}\n$2\t{{ $json.body.email }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-400,96],"id":"34b88ef5-04f5-4ca0-b049-7b19efb9d0f9","name":"Verify Ownership","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-exists","leftValue":"={{ $json.dataset_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-208,96],"id":"011849a2-6ba3-40cd-9813-23e83f35c7fe","name":"Dataset Exists?"},{"parameters":{"method":"POST","url":"http://qdrant:6333/collections/optimal-ai-outputs/points/delete","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.dataset_id\",\n        \"match\": {\n          \"value\": \"{{ $('Verify Ownership').first().json.dataset_id }}\"\n        }\n      }\n    ]\n  }\n}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,0],"id":"25d63f30-77d0-428a-961e-7a8a34665375","name":"Delete Qdrant Points","continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_data.universal_datatable WHERE dataset_id = $1::uuid","options":{"queryReplacement":"=$1\t{{ $('Verify Ownership').first().json.dataset_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,144],"id":"f5160ed1-cbdd-4f55-860e-9a07f15c9b6a","name":"Delete Data","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_data.dataset_record_manager WHERE dataset_id = $1::uuid RETURNING dataset_name","options":{"queryReplacement":"=$1\t{{ $('Verify Ownership').first().json.dataset_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,144],"id":"213a4b04-51c5-48c3-b20c-1376d2ac63e6","name":"Delete Record","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: \"ok\", message: \"Dataset deleted successfully\", datasetName: $json.dataset_name } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,144],"id":"686fce28-ce07-4311-b6d2-f65ae8af3e86","name":"Respond Success"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: \"error\", message: \"Dataset not found or you don't have permission to delete it\" } }}","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,496],"id":"bdb8bfd6-beaa-48dd-b3c0-749382c3e5e9","name":"Respond Not Found"},{"parameters":{"operation":"executeQuery","query":"DROP VIEW IF EXISTS n8n_data.v_ds_{{ $input.first().json.dataset_id.replace(/-/g, '_') }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,336],"id":"f4f8d421-b353-4665-b337-ebc23a5bdeda","name":"Delete View","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Verify Ownership","type":"main","index":0}]]},"Verify Ownership":{"main":[[{"node":"Dataset Exists?","type":"main","index":0}]]},"Dataset Exists?":{"main":[[{"node":"Delete Qdrant Points","type":"main","index":0},{"node":"Delete Data","type":"main","index":0},{"node":"Delete View","type":"main","index":0}],[{"node":"Respond Not Found","type":"main","index":0}]]},"Delete Data":{"main":[[{"node":"Delete Record","type":"main","index":0}]]},"Delete Record":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version eb10f44d","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-09T03:58:54.143Z","id":189,"workflowId":"9meAwRFQ3KVbekYZ","versionId":"eb10f44d-bdd4-4be9-a120-e1801ddd256b","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}