n8n-workflows/Data_Analyzer_-_AI_DEV.json
{
  "updatedAt": "2026-02-25T15:26:43.073Z",
  "createdAt": "2026-02-25T15:26:04.238Z",
  "id": "edMQGpBw5cJ-5K-3T4TL4",
  "name": "Data Analyzer - AI DEV",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return { error: \"No data received.\" };\n\n// 1. Metadata Handling\nlet datasetName = \"Test\";\nlet datasetDesc = \"\";\nlet datasetEmail = \"\";\nlet datasetAuth = 0;\n\ntry {\n  const uploadNode = $('Upload Dataset CSV').first().json;\n  datasetName = uploadNode.dataset_name || datasetName;\n  datasetDesc = uploadNode.description || datasetDesc;\n  datasetEmail = uploadNode.email || datasetEmail;\n  datasetAuth = uploadNode.auth || datasetAuth;\n} catch (e) {}\n\n// 2. STRICTOR TYPE DETECTION\nfunction detectType(val) {\n  if (val === null || val === undefined || String(val).trim() === '') return 'null';\n  \n  const str = String(val).trim();\n  \n  // A. Financial Number Cleaning\n  const cleanNum = str.replace(/[$,]/g, '');\n  if (cleanNum !== \"\" && !isNaN(cleanNum)) {\n    // If it has a dot, a comma, or is very large, it's 'real'\n    if (str.includes('.') || str.includes(',') || Math.abs(parseFloat(cleanNum)) > 999999) {\n      return 'real';\n    }\n    return 'int';\n  }\n  \n  // B. Strict Date Regex (ISO format or MM/DD/YYYY)\n  // This prevents \"Budget 2025\" from matching.\n  const strictDate = /^\\d{4}-\\d{2}-\\d{2}$|^\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4}$/;\n  if (strictDate.test(str)) return 'date';\n\n  // C. Boolean\n  if (str.toLowerCase() === 'true' || str.toLowerCase() === 'false') return 'bool';\n  \n  return 'string';\n}\n\n// 3. TYPE UPGRADE LOGIC (Specific -> General)\n// If one row is 'int' and another is 'real', the column is 'real'.\n// If any row is 'string', the whole column must be 'string'.\nfunction getWinnerType(current, next) {\n  if (current === 'null' || !current) return next;\n  if (next === 'null') return current;\n  if (current === 'string' || next === 'string') return 'string';\n  if (current === 'real' || next === 'real') return 'real';\n  if (current === 'int' && next === 'int') return 'int';\n  if (current === 'date' && next === 'date') return 'date';\n  return 'string'; // Default to string on conflict\n}\n\n// 4. SCAN ALL ROWS FOR HEADERS AND TYPES\nconst columnTypes = {}; // { HeaderName: WinnerType }\n\nitems.forEach(item => {\n  for (const [key, value] of Object.entries(item.json)) {\n    const type = detectType(value);\n    columnTypes[key] = getWinnerType(columnTypes[key], type);\n  }\n});\n\n// 5. GENERATE FINAL MAPPING\nconst counters = { string: 1, real: 1, int: 1, date: 1, bool: 1 };\nconst mapping = {};\nconst dictionary = {};\n\n// Sort headers to maintain consistent order\nObject.keys(columnTypes).sort().forEach(header => {\n  let type = columnTypes[header];\n  if (type === 'null') type = 'string'; // Fallback for entirely empty columns\n  \n  const dbColumn = `${type}${counters[type]}`;\n  mapping[header] = dbColumn;\n  dictionary[dbColumn] = {\n    original_name: header,\n    data_type: type\n  };\n  counters[type]++;\n});\n\nreturn {\n  dataset_name: datasetName.replace(/'/g, \"''\"),\n  dataset_summary: datasetDesc.replace(/'/g, \"''\"),\n  column_mapping: mapping,\n  column_dictionary: dictionary,\n  total_row_count: items.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        576
      ],
      "id": "bba65649-e8a7-47c9-8bad-f209138a54b9",
      "name": "Mapping Logic"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get metadata once\nconst mapping = $(\"Mapping Logic\").first().json.column_mapping;\nconst datasetId = $(\"Insert Record Manager\").first().json.dataset_id;\n\n// 2. Get the actual CSV data\nconst allRows = $(\"Extract from CSV\").all();\n\n// 3. Batching Logic\nconst results = [];\nconst batchSize = 200;\n\nconst mapEntries = Object.entries(mapping); \nconst dbColumnNames = mapEntries.map(entry => entry[1]);\nconst csvHeaderKeys = mapEntries.map(entry => entry[0]);\n\n/**\n * NEW: Date Correction Logic\n * Standardizes common date strings to ISO format (YYYY-MM-DD)\n */\nconst standardizeDate = (val) => {\n    const d = new Date(val);\n    if (isNaN(d.getTime())) return null; // Invalid date\n    \n    // Returns YYYY-MM-DD\n    return d.toISOString().split('T')[0];\n};\n\n/**\n * UPDATED ESCAPE, SANITIZE & CORRECT LOGIC\n */\nconst prepareValue = (val, targetColumn) => {\n    // 1. Handle Nulls/Empty\n    if (val === null || val === undefined || String(val).trim() === '') return 'NULL';\n    \n    const stringVal = String(val).trim();\n    const colLower = targetColumn.toLowerCase();\n\n    // 2. Numeric Correction (int, real, float, amount, price)\n    const isNumericColumn = colLower.startsWith('int') || \n                            colLower.startsWith('real') || \n                            colLower.includes('amount') || \n                            colLower.includes('price');\n\n    if (isNumericColumn) {\n        const cleanNum = stringVal.replace(/[,\\s$]/g, '');\n        if (cleanNum === \"\" || isNaN(cleanNum)) return 'NULL';\n        return cleanNum;\n    }\n\n    // 3. Date Correction (date, created_at, received_at, etc.)\n    const isDateColumn = colLower.includes('date') || \n                         colLower.includes('_at') || \n                         colLower.includes('time');\n\n    if (isDateColumn) {\n        const correctedDate = standardizeDate(stringVal);\n        if (!correctedDate) return 'NULL'; // Prevent SQL crash on \"garbage\" dates\n        return `'${correctedDate}'`;\n    }\n\n    // 4. Standard string escaping\n    return `'${stringVal.replace(/'/g, \"''\")}'`;\n};\n\n// Define column list using the fixed order\n// Note: Using double quotes for identifiers is safer in PostgreSQL\nconst columns = [\"dataset_id\", \"row_index\", ...dbColumnNames].map(c => `\"${c}\"`);\n\nfor (let i = 0; i < allRows.length; i += batchSize) {\n    const chunk = allRows.slice(i, i + batchSize);\n    \n    const values = chunk.map((item, idx) => {\n        const row = item.json;\n        \n        const rowValues = [\n            `'${datasetId}'`,\n            i + idx + 1,\n            ...mapEntries.map(entry => {\n                const csvHeader = entry[0];\n                const dbColumn = entry[1];\n                return prepareValue(row[csvHeader], dbColumn);\n            })\n        ];\n        \n        return `(${rowValues.join(',')})`;\n    }).join(',');\n\n    results.push({\n        json: {\n            sql: `INSERT INTO n8n_data.universal_datatable (${columns.join(',')}) VALUES ${values};`\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        592
      ],
      "id": "4cb0ab58-0b9b-4f85-a305-bd45e4c84c1a",
      "name": "Data Transformer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_data.dataset_record_manager (\n    dataset_name, \n    dataset_summary, \n    dataset_headers, \n    dataset_header_types, \n    column_mapping, \n    column_dictionary, \n    row_count\n) VALUES (\n    $1::text, \n    $2::text, \n    $3::jsonb, \n    $4::jsonb, \n    $5::jsonb, \n    $6::jsonb, \n    $7::int\n) \nRETURNING dataset_id;",
        "options": {
          "queryReplacement": "=$1\t{{ $json.dataset_name }}\n$2\t{{ JSON.stringify($json.dataset_summary) }}\n$3\t{{ JSON.stringify($json.dataset_headers) }}\n$4  {{ JSON.stringify($json.dataset_header_types) }}\n$5\t{{ JSON.stringify($json.column_mapping) }}\n$6\t{{ JSON.stringify($json.column_dictionary) }}\n$7  {{ $json.total_row_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2672,
        592
      ],
      "id": "94987fd9-255b-489b-97bc-aa35b5988cd1",
      "name": "Insert Record Manager",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "dataset_name"
            },
            {
              "fieldToAggregate": "dataset_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        944
      ],
      "id": "3c52dc88-cd99-42a0-a74d-ebb40bfaef70",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=ROLE You are a Senior Data Analyst. Your goal is to answer user inquiries by querying the n8n_data.v_active_analysis table. You must present all data-heavy responses using Rich HTML and HTML Tables.\n\nBefore building queries, use the Example Queries Tool to fetch and reference how past highly-rated queries were built and used to produce high quslity responses. Use {{ $json.dataset_id }} to against metadata `dataset_id` and {{ $workflow.id }} against metadata `workflow_id` to only look at embeddings that are relevant for this workflow and dataset.\nEvaluate the retrived embeddings relevance to the current user prompt and score it out of 10. \nIf this relevance score is over equal to or greater than 9, use the intermediate steps retrieved to run the query.\nIf between 6 and 8, reference the retrieved intermediate steps to build a reliable query.\nIf lower than 6, ignore.\nDO NOT DIRECTLY USE THE STORED RESPONSE RETRIEVED. ALWAYS RUN THE QUERY AGAINST THE DATASET TO RETRIEVE THE UP-TO-DATE RESULTS. \n\nDATABASE CONTEXT\n\nVIEW DEFINITION: {{ $json.view_query }}\n\nDATASET SUMMARY: {{ $json.dataset_summary }}\n\nSTRICT SQL CONSTRUCTION RULES\n\nDouble Quotes: Always wrap column names (e.g., \"CFBU\", \"Year\").\n\nSingle Quotes: Always wrap values (e.g., 'Revenue').\n\nThe \"Apostrophe\" Rule: For values like Budget’, use the exact typographic character.\n\nNo Markdown in Tool Call: Send ONLY the raw SQL string to the tool.\n\nHTML OUTPUT SPECIFICATIONS Your final response MUST be valid HTML. Follow these styling rules:\n\nTables: Use <table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"> for any data comparison or list.\n\nHeaders: Use <th> with a light gray background (background-color: #f2f2f2;) for table headers.\n\nEmphasis: Use <strong> for key figures and <u> for category names.\n\nNo Markdown Tags: Do NOT use ```html or **bold**. Use only <b> or <strong> and raw HTML tags.\n\nYou MUST SHOW THE USER PROMPT before stating the response with a header: \"<b>User Prompt:</b><br>\". Put a \"<br>\" before the response for better readability\n\nOPERATIONAL WORKFLOW\n\nAnalyze & Map: Identify columns and values from the context.\n\nComplex Analysis: For Variance/Comparisons, run multiple queries and calculate manually.\n\nExecute: Pass raw SQL to the SQL Datastore.\n\nSynthesize HTML Response:\n\nStart with a brief, friendly sentence: <span><b>Here is the analysis for your request:</b></span>.\n\nPresent findings in a structured <table>.\n\nIf providing a summary, use <ul> and <li>.\n\nCRITICAL: Ensure all tags are properly closed to prevent rendering errors in the n8n Form.\n\nEXAMPLE HTML STRUCTURE\n\nHTML\n\n<p>Based on the 2025 data, here is the breakdown for <b>Revenue</b>:</p>\n<table border=\"1\" style=\"border-collapse: collapse; width: 100%; text-align: left;\">\n  <tr style=\"background-color: #f2f2f2;\">\n    <th>Metric</th>\n    <th>Type</th>\n    <th>Total Amount (CAD)</th>\n  </tr>\n  <tr>\n    <td>Revenue</td>\n    <td>Actual</td>\n    <td>$1,250,000</td>\n  </tr>\n</table>\n<p>Would you like to see the variance against the Budget?</p>",
          "maxIterations": 30,
          "returnIntermediateSteps": true,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        944
      ],
      "id": "2f86567c-c5ea-4a6a-8c5a-2d73e64b386a",
      "name": "AI Agent",
      "retryOnFail": false,
      "waitBetweenTries": 10,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in universal_datatable.",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2592,
        1200
      ],
      "id": "96d6ff3c-7a93-4d9b-bfbc-846691b8f9e4",
      "name": "SQL Datastore",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload CSV",
        "formDescription": "Upload CSV of dataset you want AI to analyze.",
        "formFields": {
          "values": [
            {
              "fieldName": "dataset_name",
              "fieldLabel": "Dataset Name"
            },
            {
              "fieldName": "description",
              "fieldLabel": "Description of the dataset",
              "fieldType": "textarea"
            },
            {
              "fieldName": "data",
              "fieldLabel": "Upload csv file here",
              "fieldType": "file",
              "acceptFileTypes": "csv",
              "requiredField": true
            },
            {
              "fieldName": "email",
              "fieldLabel": "Email",
              "defaultValue": "ed.e.lee@gmail.com"
            },
            {
              "fieldName": "auth",
              "fieldLabel": "Authorization Code",
              "fieldType": "number",
              "defaultValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        352,
        576
      ],
      "id": "4ac1392f-5833-4b20-bfc1-0bd4b8e7faa1",
      "name": "Upload Dataset CSV",
      "webhookId": "e3ee87ab-6ad6-4d36-ac3c-c62052aa3d08"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        560,
        576
      ],
      "id": "bda2cf19-4169-4541-9330-ab44dad40213",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3088,
        592
      ],
      "id": "e85f9c0c-138c-4d17-8928-54e27f3aa785",
      "name": "Insert into Universal_Datatable",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Completely remove the old version of the view\nDROP VIEW IF EXISTS n8n_data.v_active_analysis;\n\n-- 2. Create it fresh with the new column names\nCREATE VIEW n8n_data.v_active_analysis AS \nSELECT \n    {{ \n      Object.entries($node[\"Mapping Logic\"].json.column_mapping)\n      .map(([name, col]) => {\n        const safeName = (name && name.trim() !== \"\") ? name.trim() : `unnamed_${col}`;\n        return `${col} AS \"${safeName}\"`;\n      })\n      .join(', ') \n    }}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '{{ $node[\"Insert Record Manager\"].json.dataset_id }}';\n\n-- 3. Create per-dataset persistent view for plan execution\nCREATE OR REPLACE VIEW n8n_data.v_ds_{{ $node[\"Insert Record Manager\"].json.dataset_id.replace(/-/g, '_') }} AS\nSELECT\n    {{\n      Object.entries($node[\"Mapping Logic\"].json.column_mapping)\n      .map(([name, col]) => {\n        const safeName = (name && name.trim() !== \"\") ? name.trim() : `unnamed_${col}`;\n        return `${col} AS \"${safeName}\"`;\n      })\n      .join(', ')\n    }}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '{{ $node[\"Insert Record Manager\"].json.dataset_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3296,
        592
      ],
      "id": "bdb620c5-a1f8-42b5-a7fd-1468cc6b9653",
      "name": "Create View",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "where": {
          "values": [
            {
              "column": "owner_email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        944
      ],
      "id": "508c882f-4293-41dd-b916-d12c62d483f3",
      "name": "Get the Dataset Record",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options').first().json.my_options[0].id[$json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        944
      ],
      "id": "28ab91e5-ca18-4b47-b0c5-60077b0cbf78",
      "name": "Get the Dataset",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.view_update_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        944
      ],
      "id": "1d0a6bd6-ee99-4439-a4e8-dcc9c9f859ba",
      "name": "Update Dynamic View",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mapping = $json.column_mapping;\nconst datasetId = $json.dataset_id;\n\n// 1. Build the SELECT clause with safe naming and fallback for empty headers\nconst selectClauses = Object.entries(mapping).map(([originalName, genericColumn]) => {\n    // Sanitize: trim whitespace and provide a fallback if the header is empty\n    const cleanName = (originalName && originalName.trim() !== \"\") \n        ? originalName.trim() \n        : `unnamed_${genericColumn}`;\n\n    // Wrap names in double quotes to handle spaces and special characters\n    return `${genericColumn} AS \"${cleanName}\"`;\n});\n\n// 2. Construct the \"DROP and CREATE\" statement\n// Using DROP VIEW IF EXISTS is the only way to handle changing column names \n// or counts without triggering a Postgres schema error.\nconst sql = `\nDROP VIEW IF EXISTS n8n_data.v_active_analysis;\n\nCREATE VIEW n8n_data.v_active_analysis AS \nSELECT \n    ${selectClauses.join(',\\n    ')}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '${datasetId}';\n`;\n\nconst viewName = 'v_ds_' + datasetId.replace(/-/g, '_');\nconst perDatasetSql = `\\nCREATE OR REPLACE VIEW n8n_data.${viewName} AS \\nSELECT \\n    ${selectClauses.join(',\\n    ')}\\nFROM n8n_data.universal_datatable\\nWHERE dataset_id = '${datasetId}';`;\n\nreturn {\n    view_update_sql: sql + perDatasetSql\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        944
      ],
      "id": "2d4ddffa-0ff0-4bf0-808d-d333779f73a7",
      "name": "Generate Dynamic View Query"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<div>\n  <strong>Available Datasets:</strong>\n  <ol>\n    {{ \n      $('Set Options').first().json.my_options[0].label.map((label, index) => {\n        const id = $('Set Options').first().json.my_options[0].id[index];\n        return `<li>${label} (ID: ${id})</li>`;\n      }).join('') \n    }}\n  </ol>\n</div>"
            },
            {
              "fieldName": "dataset_no",
              "fieldLabel": "Dataset Name",
              "fieldType": "number",
              "defaultValue": "=1",
              "requiredField": true
            },
            {
              "fieldName": "prompt",
              "fieldLabel": "What is your question?",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 848px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1216,
        944
      ],
      "id": "8fbe9971-4234-4b27-a786-ccb9d639a2a7",
      "name": "Form - Get Prompt and Dataset ID",
      "webhookId": "e45f6343-2e2e-455d-8889-cf5eae15b470"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ede3863-4835-43ea-89a5-771f423d1ce4",
              "name": "prompt",
              "value": "={{ $('Form - Get Prompt and Dataset ID').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "4b3101a2-45ac-4e54-9833-e407e947077e",
              "name": "dataset_id",
              "value": "={{ $('Get the Dataset').item.json.dataset_id || $json.dataset_id }}",
              "type": "string"
            },
            {
              "id": "d013a617-cd94-4039-8426-3d753a4c797c",
              "name": "dataset_summary",
              "value": "={{ $('Get the Dataset').item.json.dataset_summary }}",
              "type": "string"
            },
            {
              "id": "13d8d37b-84a6-43db-af04-5be16eec7fa0",
              "name": "view_query",
              "value": "={{ $('Generate Dynamic View Query').item.json.view_update_sql }}",
              "type": "string"
            },
            {
              "id": "e2483e75-ee9e-412e-81fa-5ed33b734653",
              "name": "session",
              "value": "={{ $('Ask Form').item.json.session }}",
              "type": "string"
            },
            {
              "id": "8b1c8d15-a567-4c43-80b0-9946115a21bb",
              "name": "ai_model",
              "value": "={{ $('Ask Form').item.json.AI_model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        944
      ],
      "id": "62170003-6a83-4e0a-b6fd-3752e3f93a52",
      "name": "Set Prompt and ID"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2464,
        1200
      ],
      "id": "5cec9b13-373b-4afc-a1c4-d7d40946f014",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2768,
        1200
      ],
      "id": "9807f91a-861d-4c05-a432-6abbb12e1860",
      "name": "Calculator"
    },
    {
      "parameters": {
        "jsCode": "return {\n  my_options: $input.all().map(item => {\n    return {\n      label: item.json.dataset_name,\n      id: item.json.dataset_id  // What the database gets\n    };\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        944
      ],
      "id": "a08b6af7-bb89-4002-80b0-b780a76a80c0",
      "name": "Set Options"
    },
    {
      "parameters": {
        "model": "={{ $json.ai_model }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2304,
        1200
      ],
      "id": "dae16680-193e-4074-822f-4260498d177f",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "612f5618-8035-4326-9430-c402c8f64563",
              "leftValue": "={{ $('Mapping Logic').item.json.dataset_summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        576
      ],
      "id": "e9f77990-b991-4f34-8a04-10294913c72f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "\n// 1. Get all incoming items\n//const items = $('Extract from CSV').all();\nconst items = $('Extract from CSV').all();\n// 1. Get all incoming items\n// const items = $input.all();\nif (items.length === 0) return [];\n\n// 2. Data Cleaning & Shift Correction\nconst cleanedItems = items.map(item => {\n  const raw = item.json;\n  const values = Object.values(raw);\n  const headers = Object.keys(raw).filter(k => k !== \"\");\n\n  // DETECTION: If values outnumber headers, the data has shifted (likely due to a comma in a name)\n  if (values.length > headers.length) {\n    let corrected = {};\n    let valIdx = 0;\n\n    for (let hIdx = 0; hIdx < headers.length; hIdx++) {\n      // HEURISTIC: If we are at the second column (usually Last Name) and a shift is active, \n      // we merge the split values and \"pull\" the rest of the row back to the left.\n      if (hIdx === 1 && values.length > headers.length) {\n        corrected[headers[hIdx]] = `${values[valIdx]}, ${values[valIdx + 1]}`.trim();\n        valIdx += 2; // Move past the \"extra\" split column\n      } else {\n        corrected[headers[hIdx]] = values[valIdx];\n        valIdx++;\n      }\n    }\n    return { json: corrected };\n  }\n  return item;\n});\n\n// 3. Random Sampling (100 Rows)\nlet shuffled = [...cleanedItems];\nfor (let i = shuffled.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];\n}\n\n// 4. Return only the 100 sample rows\nreturn shuffled.slice(0, 100);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        320
      ],
      "id": "cea0ffbe-d5ef-4149-9c1b-444423330232",
      "name": "Sample Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following dataset as a single block to build a SQL Search Index:\n{{ JSON.stringify($input.all().map(i => i.json)) }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "ROLE You are a Senior Database Engineer and Metadata Architect. Your task is to analyze a 100-row data block and identify \"Filtering Columns\"—those that contain categories, types, or groupings suitable for SQL WHERE clauses.\n\nYOUR TASK\n\nCategorical Discovery: Scan the data for columns with a limited set of recurring values (Low Cardinality). These are your primary filtering targets.\n\nMapping Intent: For each identified column, define what business question it answers.\n\nExact Value Extraction: Extract the exact unique values found in the sample (including special characters, casing, and spaces) to ensure 100% match accuracy in SQL queries.\n\nIgnore Noise: Do not analyze unique identifiers (Names, IDs), numerical metrics (Amounts), or Date/Time stamps.\n\nOUTPUT FORMAT (Strictly Machine-Ready) Provide a structured entry for every identified \"Filtering Column.\" No conversational text or headers outside of this list:\n\n[Exact Column Header]\nBusiness Logic: [e.g., Defines the stage of the transaction]\n\nSQL Filter Values: [Value A], [Value B], [Value C]\n\nQuery Instruction: [e.g., Use this column when the user asks for \"Current Status\" or \"Progress\"]\n\nSyntax Note: [e.g., \"Contains curly apostrophe ’\" or \"Case-sensitive\"]\n\nShift Alert: [None] OR [Header is misleading; this column actually contains [True Category]]\n\nSTRICT OPERATIONAL RULES\n\nNo Explanation: Start the output immediately with the first column.\n\nCategorical Only: Only include columns that act as groups or types.\n\nPrecision: If the data shows Budget’, the output must show Budget’.\n\nDirect Output: This text will be saved directly to a database record; ensure it is clean and professional.",
          "maxIterations": 25,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1776,
        320
      ],
      "id": "47aebb48-ec64-4810-9f53-d15e5be884f7",
      "name": "AI Agent1",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1808,
        528
      ],
      "id": "afeda9ff-0273-421b-a028-abab00905193",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1664,
        528
      ],
      "id": "18c990a5-b31d-433f-a60d-95445084ab90",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dd72bc3-f879-40ff-90ec-022b886b850f",
              "name": "dataset_name",
              "value": "={{ $('Mapping Logic').item.json.dataset_name }}",
              "type": "string"
            },
            {
              "id": "28ccfc69-2846-420f-9ea2-3c27fcdbeb64",
              "name": "dataset_summary",
              "value": "={{ $('Edit Summary').item.json.edited_analysis }}",
              "type": "string"
            },
            {
              "id": "3fc4b8da-f531-4016-9a7a-d5740401dc34",
              "name": "dataset_headers",
              "value": "={{ $('Mapping Logic').item.json.dataset_headers }}",
              "type": "array"
            },
            {
              "id": "ac6d0454-e6d2-4243-b078-80e7eec975e9",
              "name": "dataset_header_types",
              "value": "={{ $('Mapping Logic').item.json.dataset_header_types }}",
              "type": "array"
            },
            {
              "id": "c780cfc7-a48d-4042-a86a-5bec93966c84",
              "name": "column_mapping",
              "value": "={{ $('Rehydrate into JSON').item.json.column_mapping }}",
              "type": "object"
            },
            {
              "id": "c9ee0eaf-53f3-4c4a-9ea2-a0b1b5880918",
              "name": "column_dictionary",
              "value": "={{ $('Mapping Logic').item.json.column_dictionary }}",
              "type": "object"
            },
            {
              "id": "b52ba07c-7f04-4704-9648-b5dc1a4e4710",
              "name": "total_row_count",
              "value": "={{ $('Mapping Logic').item.json.total_row_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        320
      ],
      "id": "95e20d95-016f-4a84-9695-cef9f1c39667",
      "name": "Set for Insertion"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "{{ $json.cleaned_html }}"
            },
            {
              "fieldName": "edited_analysis",
              "fieldLabel": "Summary from AI",
              "fieldType": "textarea",
              "defaultValue": "={{ $json.cleaned_md }}",
              "requiredField": true
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        2272,
        320
      ],
      "id": "a9bbe9d8-fcca-4124-b0fa-b169175ca8db",
      "name": "Edit Summary",
      "webhookId": "f0c567b1-22b9-46be-8f9a-977fe315d535"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw response\nlet rawText = $json.output || \"\"; \n\n// Initial cleanup: Remove markdown blocks and trim\nlet sanitizedText = rawText\n  .replace(/```[a-z]*\\n?/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Split into sections based on [Header]\nconst sections = sanitizedText.split(/(?=\\[[^\\]]+\\])/g);\n\nlet htmlRows = [];\nlet mdRows = [];\n\nsections.forEach(section => {\n  if (!section.trim()) return;\n\n  let lines = section.trim().split(/\\r?\\n/);\n  // Extract header and remove brackets\n  let header = lines.shift().replace(/[\\[\\]]/g, \"\").trim();\n\n  // --- Build HTML for this section ---\n  let sectionHtml = `<h3 style=\"color: #2c3e50; border-bottom: 1px solid #eee;\">${header}</h3><ul style=\"list-style: none; padding-left: 0;\">`;\n  \n  // --- Build Markdown for this section ---\n  let sectionMd = `### ${header}\\n`;\n\n  lines.forEach(line => {\n    if (line.includes(':')) {\n      let [key, ...valueParts] = line.split(':');\n      let keyTrimmed = key.trim();\n      let value = valueParts.join(':').trim().replace(/'/g, \"''\"); // SQL Escape\n\n      sectionHtml += `<li style=\"margin-bottom: 5px;\"><strong>${keyTrimmed}:</strong> ${value}</li>`;\n      sectionMd += `* **${keyTrimmed}:** ${value}\\n`;\n    } else if (line.trim()) {\n      let extra = line.trim().replace(/'/g, \"''\");\n      sectionHtml += `<li style=\"color: #666; font-style: italic;\">${extra}</li>`;\n      sectionMd += `* _${extra}_\\n`;\n    }\n  });\n\n  sectionHtml += `</ul>`;\n  htmlRows.push(sectionHtml);\n  mdRows.push(sectionMd);\n});\n\n// Final Assembly\nconst finalHtml = `<div style=\"font-family: sans-serif; max-width: 800px;\">${htmlRows.join('')}</div>`;\nconst finalMd = mdRows.join('\\n');\n\nreturn {\n  cleaned_html: finalHtml,\n  cleaned_md: finalMd\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        320
      ],
      "id": "8d49dd5f-70e8-4ec9-8bd6-ce1a3107b5ef",
      "name": "Clean Summary"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "dataset_name"
            },
            {
              "fieldToAggregate": "dataset_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        1280
      ],
      "id": "c2fba68c-5180-4c20-a32f-c21c862b97e9",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        1280
      ],
      "id": "6ae5270d-34c3-480d-aa23-e25467155fd4",
      "name": "Get the Dataset Record1",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<b>THIS WILL DELETE A DATASET</b>\n<div>\n  <strong>Available Datasets:</strong>\n  <ol>\n    {{ $('Set Options1').first().json.my_options[0].label.map(name => `<li>${name}</li>`).join('') }}\n  </ol>\n</div>"
            },
            {
              "fieldName": "dataset_no",
              "fieldLabel": "Dataset Name to DELETE",
              "fieldType": "number",
              "defaultValue": "=1",
              "requiredField": true
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1216,
        1280
      ],
      "id": "808059e7-66b7-4cf8-b285-489d9971bbc0",
      "name": "Form - Get Prompt and Dataset ID1",
      "webhookId": "a20d4864-db6e-473d-aae8-0f4077511973"
    },
    {
      "parameters": {
        "jsCode": "return {\n  my_options: $input.all().map(item => {\n    return {\n      label: item.json.dataset_name,\n      id: item.json.dataset_id  // What the database gets\n    };\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        1280
      ],
      "id": "041f562a-3cc7-4ac8-bb93-fe8d0004b46f",
      "name": "Set Options1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "dataset_name"
            },
            {
              "fieldToAggregate": "dataset_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        752,
        1680
      ],
      "id": "e5e49cac-be34-4642-b553-ae373af35e95",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        1680
      ],
      "id": "1aec0634-3816-4e0e-83cf-703a12f39c3e",
      "name": "Get the Dataset Record2",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options2').first().json.my_options[0].id[$json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        1680
      ],
      "id": "4b231f3b-0570-4132-8951-aecd60f41888",
      "name": "Get the Dataset3",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<b>THIS WILL UPDATE A DATASET SUMMARY</b>\n<div>\n  <strong>Available Datasets:</strong>\n  <ol>\n    {{ $('Set Options2').first().json.my_options[0].label.map(name => `<li>${name}</li>`).join('') }}\n  </ol>\n</div>"
            },
            {
              "fieldName": "dataset_no",
              "fieldLabel": "Dataset Name to UPDATE",
              "fieldType": "number",
              "defaultValue": "=1",
              "requiredField": true
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1200,
        1680
      ],
      "id": "0df609a6-5fbd-4791-9932-d968269d8160",
      "name": "Form - Get Prompt and Dataset ID2",
      "webhookId": "215c9bba-2c2c-4a18-b581-7b42934242ea"
    },
    {
      "parameters": {
        "jsCode": "return {\n  my_options: $input.all().map(item => {\n    return {\n      label: item.json.dataset_name,\n      id: item.json.dataset_id  // What the database gets\n    };\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1680
      ],
      "id": "b09984ca-46eb-43b3-8092-bd9a55645f6b",
      "name": "Set Options2"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldName": "update",
              "fieldLabel": "Update the summary?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "No"
                  },
                  {
                    "option": "Yes"
                  }
                ]
              }
            },
            {
              "fieldName": "dataset_summary",
              "fieldLabel": "Summary",
              "fieldType": "textarea",
              "defaultValue": "={{ $json.dataset_summary }}"
            },
            {
              "fieldType": "html",
              "html": "<br>\n<b>Column Mapping (cannot be edited)</b><br><br>\n{{ JSON.stringify($json.readable_mapping) }}\n\n"
            }
          ]
        },
        "options": {
          "buttonLabel": "Submit",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1840,
        1680
      ],
      "id": "52077a2c-e115-4def-aa92-9002245d976e",
      "name": "Form",
      "webhookId": "ca0e08b4-837a-4cc9-897b-2a8b170fdab0"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the data from the input\nconst input = $input.first().json;\n\n// 2. Transform the mapping into \"Header: Column\" format\nconst mappingEntries = Object.entries(input.column_mapping || {});\n\n// Sort alphabetically by the Original Header (the Key) for easy lookups\nmappingEntries.sort((a, b) => a[0].localeCompare(b[0]));\n\n// 3. Format as: \"Account Name: string3<br>\"\n// This ensures each entry is on its own line when viewed in a web context\nconst humanReadableMapping = mappingEntries\n    .map(([header, dbCol]) => `${header}: ${dbCol}<br>`)\n    .join('');\n\n// 4. Return the data with all original fields preserved\nreturn {\n    ...input,\n    readable_mapping: humanReadableMapping\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        1680
      ],
      "id": "d922577c-e5e0-4612-8af6-ca3ff2a815d8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee64c955-6944-4974-bf1b-c3b4048b4aaf",
              "leftValue": "={{ $json.update }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2048,
        1680
      ],
      "id": "b92d6e9c-5ee6-4bcb-aad0-4aa8fc0d7c68",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Code in JavaScript').item.json.dataset_id }}",
            "dataset_summary": "={{ $json.dataset_summary }}"
          },
          "matchingColumns": [
            "dataset_id"
          ],
          "schema": [
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dataset_name",
              "displayName": "dataset_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_summary",
              "displayName": "dataset_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_count",
              "displayName": "row_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_headers",
              "displayName": "dataset_headers",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_header_types",
              "displayName": "dataset_header_types",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "column_mapping",
              "displayName": "column_mapping",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "column_dictionary",
              "displayName": "column_dictionary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2288,
        1584
      ],
      "id": "a5d588f2-3984-4c52-9903-e7280728d915",
      "name": "Update Summary",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "UPDATE SUMMARY",
        "formDescription": "Data AI Analyzer ",
        "formFields": {
          "values": [
            {
              "fieldName": "session",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $now.toMillis() + Math.floor(Math.random() * 1000) }}"
            }
          ]
        },
        "options": {
          "buttonLabel": "Proceed to select a dataset to update",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        336,
        1680
      ],
      "id": "5b7c977c-1df5-4163-95e9-fb08deb9367b",
      "name": "Update Form",
      "webhookId": "e328b7ae-9872-48bf-a63b-5b31955d393c"
    },
    {
      "parameters": {
        "formTitle": "DELETE DATASET",
        "formDescription": "Data AI Analyzer ",
        "formFields": {
          "values": [
            {
              "fieldName": "session",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $now.toMillis() + Math.floor(Math.random() * 1000) }}"
            }
          ]
        },
        "options": {
          "buttonLabel": "Proceed to select a dataset to delete",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        352,
        1280
      ],
      "id": "41522575-3ea6-4a00-bd09-5d726ec69e04",
      "name": "Delete Form",
      "webhookId": "dce20104-c714-4ef4-8aa0-20f35dabe9a6"
    },
    {
      "parameters": {
        "formTitle": "Ask Your Data Questions",
        "formDescription": "Data AI Analyzer ",
        "formFields": {
          "values": [
            {
              "fieldName": "session",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $now.toMillis() + Math.floor(Math.random() * 1000) }}"
            },
            {
              "fieldName": "AI_model",
              "fieldLabel": "Choose the AI LLM model to use",
              "fieldType": "dropdown",
              "defaultValue": "x-ai/grok-4.1-fast",
              "fieldOptions": {
                "values": [
                  {
                    "option": "deepseek/deepseek-chat"
                  },
                  {
                    "option": "deepseek/deepseek-v3.2"
                  },
                  {
                    "option": "minimax/minimax-m2.1"
                  },
                  {
                    "option": "google/gemini-2.5-flash"
                  },
                  {
                    "option": "google/gemini-2.5-flash-lite"
                  },
                  {
                    "option": "x-ai/grok-4.1-fast"
                  },
                  {
                    "option": "openai/gpt-oss-120b"
                  },
                  {
                    "option": "local-ollama:qwen 14b"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "html",
              "html": "<ul style=\"font-family: sans-serif; line-height: 1.8;\">\n  <li><a href=\"https://n8n.ede-lee.ca/form/2429b866-603e-41a0-bf0f-d6348cb15903\" target=\"_blank\">Update Dataset</a></li>\n  <li><a href=\"https://n8n.ede-lee.ca/form/51161202-10aa-44e7-a723-a57e2154a4d9\" target=\"_blank\">Upload CSV</a></li>\n  <li><a href=\"https://n8n.ede-lee.ca/form/6eb5ccab-3431-41fd-a551-2821e7137dc7\" target=\"_blank\">Update Summary</a></li>\n  <li><a href=\"https://n8n.ede-lee.ca/form/c197be82-9396-43a6-8e65-cec4518a9f28\" target=\"_blank\">Delete Dataset</a></li>\n</ul>"
            },
            {
              "fieldName": "email",
              "fieldLabel": "Email",
              "defaultValue": "ed.e.lee@gmail.com"
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        352,
        944
      ],
      "id": "038a9d2c-82ed-4318-942e-af0207deafaa",
      "name": "Ask Form",
      "webhookId": "2192dd73-a211-4a03-83f5-6e278a835d3f"
    },
    {
      "parameters": {
        "content": "# Upload"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        544
      ],
      "typeVersion": 1,
      "id": "1acadb77-3e36-4f6b-bfd5-7aed88e84c3f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Ask",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        912
      ],
      "typeVersion": 1,
      "id": "54a23756-c3a0-4907-b1e8-0c682f363a38",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Delete",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1248
      ],
      "typeVersion": 1,
      "id": "718d7a32-9d64-43df-8a37-cf96eb388ad6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Update Summary",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1648
      ],
      "typeVersion": 1,
      "id": "1d77df19-d765-48cf-8733-7b316765453a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldName": "mapping",
              "fieldLabel": "JSON Mapping",
              "fieldType": "textarea",
              "defaultValue": "={{ JSON.stringify($json.column_mapping) }}"
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        976,
        576
      ],
      "id": "d9662a4b-e9f5-4575-b53d-b711ba802a66",
      "name": "Review Mapping",
      "webhookId": "8ae12fca-56f3-4596-8ec5-37199e06b484"
    },
    {
      "parameters": {
        "jsCode": "// 1. Capture the string from the previous Form node\nconst rawString = $('Review Mapping').first().json.mapping;\n\ntry {\n  // 2. Attempt to parse the string back into a JSON object\n  const cleanedJson = JSON.parse(rawString);\n\n  // 3. Return the parsed object so subsequent nodes can access keys directly\n  return {\n    column_mapping: cleanedJson\n  };\n} catch (error) {\n  // 4. Handle Syntax Errors (e.g., user deleted a bracket)\n  throw new Error(\"Invalid JSON format. Please check for missing commas or quotes: \" + error.message);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        576
      ],
      "id": "dc09cb79-0b82-4ed1-a00e-a6e3243d3c7c",
      "name": "Rehydrate into JSON"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "universal_datatable",
          "mode": "list",
          "cachedResultName": "universal_datatable"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options1').first().json.my_options[0].id[$json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        1312
      ],
      "id": "d6d09fc2-0027-4808-8d05-f9144a2d6179",
      "name": "Delete Data",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options1').first().json.my_options[0].id[$json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        1472
      ],
      "id": "e72ec92e-a615-4e3a-9607-fd730b9d23a7",
      "name": "Delete Record",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "dataset_name"
            },
            {
              "fieldToAggregate": "dataset_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        32
      ],
      "id": "a8385165-de21-4bdc-9949-d7a917de317f",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        32
      ],
      "id": "4f50a59b-1887-4a1b-af80-d58a3bab7bb9",
      "name": "Get the Dataset Record3",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<b>THIS WILL UPDATE A DATASET</b>\n<div>\n  <strong>Available Datasets:</strong>\n  <ol>\n    {{ $('Set Options3').first().json.my_options[0].label.map(name => `<li>${name}</li>`).join('') }}\n  </ol>\n</div>"
            },
            {
              "fieldName": "dataset_no",
              "fieldLabel": "Dataset Name to UPDATE",
              "fieldType": "number",
              "defaultValue": "=1",
              "requiredField": true
            },
            {
              "fieldName": "data",
              "fieldLabel": "Attach CSV File to Upload for Update",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".csv",
              "requiredField": true
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1216,
        32
      ],
      "id": "c667ff36-3495-49ee-b1ad-54eb87abafd8",
      "name": "Form - Get Prompt and Dataset ID3",
      "webhookId": "b198a7df-8601-419b-a3cb-2f0b19d7d9aa"
    },
    {
      "parameters": {
        "jsCode": "return {\n  my_options: $input.all().map(item => {\n    return {\n      label: item.json.dataset_name,\n      id: item.json.dataset_id  // What the database gets\n    };\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        32
      ],
      "id": "e4bccf10-3077-442f-bc54-9a307c7331e3",
      "name": "Set Options3"
    },
    {
      "parameters": {
        "content": "# Update Data",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "d58c5c6c-f77f-4d63-9401-8a0fb881dd3d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options3').first().json.my_options[0].id[$('Form - Get Prompt and Dataset ID3').item.json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        32
      ],
      "id": "181e39b8-ad6f-408c-82aa-7ffaafed78dd",
      "name": "Fetch Record to Update",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get metadata once\nconst mapping = $input.first().json.column_mapping;\nconst datasetId = $input.first().json.dataset_id;\n\n// 2. Get the actual CSV data\nconst allRows = $(\"Extract from Update File\").all();\n\n// 3. Batching Logic\nconst results = [];\nconst batchSize = 200;\n\nconst mapEntries = Object.entries(mapping); \nconst dbColumnNames = mapEntries.map(entry => entry[1]);\nconst csvHeaderKeys = mapEntries.map(entry => entry[0]);\n\n/**\n * NEW: Date Correction Logic\n * Standardizes common date strings to ISO format (YYYY-MM-DD)\n */\nconst standardizeDate = (val) => {\n    const d = new Date(val);\n    if (isNaN(d.getTime())) return null; // Invalid date\n    \n    // Returns YYYY-MM-DD\n    return d.toISOString().split('T')[0];\n};\n\n/**\n * UPDATED ESCAPE, SANITIZE & CORRECT LOGIC\n */\nconst prepareValue = (val, targetColumn) => {\n    // 1. Handle Nulls/Empty\n    if (val === null || val === undefined || String(val).trim() === '') return 'NULL';\n    \n    const stringVal = String(val).trim();\n    const colLower = targetColumn.toLowerCase();\n\n    // 2. Numeric Correction (int, real, float, amount, price)\n    const isNumericColumn = colLower.startsWith('int') || \n                            colLower.startsWith('real') || \n                            colLower.includes('amount') || \n                            colLower.includes('price');\n\n    if (isNumericColumn) {\n        const cleanNum = stringVal.replace(/[,\\s$]/g, '');\n        if (cleanNum === \"\" || isNaN(cleanNum)) return 'NULL';\n        return cleanNum;\n    }\n\n    // 3. Date Correction (date, created_at, received_at, etc.)\n    const isDateColumn = colLower.includes('date') || \n                         colLower.includes('_at') || \n                         colLower.includes('time');\n\n    if (isDateColumn) {\n        const correctedDate = standardizeDate(stringVal);\n        if (!correctedDate) return 'NULL'; // Prevent SQL crash on \"garbage\" dates\n        return `'${correctedDate}'`;\n    }\n\n    // 4. Standard string escaping\n    return `'${stringVal.replace(/'/g, \"''\")}'`;\n};\n\n// Define column list using the fixed order\n// Note: Using double quotes for identifiers is safer in PostgreSQL\nconst columns = [\"dataset_id\", \"row_index\", ...dbColumnNames].map(c => `\"${c}\"`);\n\nfor (let i = 0; i < allRows.length; i += batchSize) {\n    const chunk = allRows.slice(i, i + batchSize);\n    \n    const values = chunk.map((item, idx) => {\n        const row = item.json;\n        \n        const rowValues = [\n            `'${datasetId}'`,\n            i + idx + 1,\n            ...mapEntries.map(entry => {\n                const csvHeader = entry[0];\n                const dbColumn = entry[1];\n                return prepareValue(row[csvHeader], dbColumn);\n            })\n        ];\n        \n        return `(${rowValues.join(',')})`;\n    }).join(',');\n\n    results.push({\n        json: {\n            sql: `INSERT INTO n8n_data.universal_datatable (${columns.join(',')}) VALUES ${values};`\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        32
      ],
      "id": "7f0caf0e-e417-41b3-9c72-cabb9085770c",
      "name": "Data Transformer1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2192,
        32
      ],
      "id": "dbfc6030-ecbc-42f2-b314-dd4c59d7d35b",
      "name": "Insert into Universal_Datatable1",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        32
      ],
      "id": "b587b916-1494-4f77-b83f-6755e7fd53f9",
      "name": "Extract from Update File"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "{{ $('AI Agent').first().json.output }}\n\n"
            },
            {
              "fieldLabel": "prompt",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Great Answer - Store for Reference?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "dataset_id",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $('Set Prompt and ID').first().json.dataset_id }}"
            },
            {
              "fieldName": "dataset_summary",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $('Set Prompt and ID').first().json.dataset_summary }}"
            },
            {
              "fieldName": "view_query",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $('Set Prompt and ID').first().json.view_query }}"
            },
            {
              "fieldName": "session",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $('Set Prompt and ID').first().json.session }}"
            },
            {
              "fieldName": "ai_model",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $('Set Prompt and ID').first().json.ai_model }}"
            },
            {
              "fieldName": "intermediateSteps",
              "fieldType": "hiddenField",
              "fieldValue": "={{ \n$json.intermediateSteps.map(step => {\n  const toolName = step.action.tool;\n  const observation = step.observation;\n  // Dig into the messageLog to find the specific arguments used\n  const toolArgs = step.action.messageLog[0]?.kwargs?.tool_calls[0]?.args || step.action.toolInput;\n  \n  return `### TOOL: ${toolName}\n**THOUGHT/LOG:** ${step.action.log}\n**ARGUMENTS:** ${JSON.stringify(toolArgs)}\n**OBSERVATION:** ${observation}`;\n}).join('\\n\\n---\\n\\n') \n}}"
            },
            {
              "fieldName": "ai_output",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 848px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2784,
        928
      ],
      "id": "61d52ac4-a10e-4362-8899-aff7027268f6",
      "name": "Continue Form",
      "webhookId": "7b6ae456-4d27-4978-b088-3ca11abf4c3a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dcd925db-a69c-4d8f-ba9f-77c0a32ab297",
              "leftValue": "={{ $json['Great Answer'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3024,
        928
      ],
      "id": "7af2eae3-b360-429d-b0c7-0c3677b1f54a",
      "name": "Great Answer"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "universal_datatable",
          "mode": "list",
          "cachedResultName": "universal_datatable"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options3').first().json.my_options[0].id[$('Form - Get Prompt and Dataset ID3').item.json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1632,
        32
      ],
      "id": "969443a9-26f5-41bb-82c7-f1d36c0050da",
      "name": "Delete Selected Data",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "DELETE DATASET",
        "formDescription": "Data AI Analyzer ",
        "formFields": {
          "values": [
            {
              "fieldName": "session",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $now.toMillis() + Math.floor(Math.random() * 1000) }}"
            }
          ]
        },
        "options": {
          "buttonLabel": "Proceed to select a dataset to delete",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        352,
        32
      ],
      "id": "b87b2879-83b3-406d-be92-d9d6590428a3",
      "name": "Update Dataset",
      "webhookId": "798bea36-2dbc-466f-b3ce-1cabe7e8c8c2"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "optimal-ai-outputs",
          "mode": "list",
          "cachedResultName": "optimal-ai-outputs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        3328,
        912
      ],
      "id": "2a45ce46-e25f-4fed-aa5f-4e5c5b5cbbae",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "zObCvzTEf6kFbsLP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3296,
        1136
      ],
      "id": "d4e5c8c3-bcb6-4786-9d5a-8940a3a74c91",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "3F7PYtvjNAVhAYSs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Continue Form').item.json.ai_output + \"<br><br>\" + $('Continue Form').item.json.intermediateSteps }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "workflow_id",
                "value": "={{ $workflow.id }}"
              },
              {
                "name": "dataset_id",
                "value": "={{ $('Continue Form').item.json.dataset_id }}"
              },
              {
                "name": "ai_model",
                "value": "={{ $('Continue Form').item.json.ai_model }}"
              },
              {
                "name": "submitted_at",
                "value": "={{ $('Continue Form').item.json.submittedAt }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3488,
        1136
      ],
      "id": "5997f2dc-afb2-478b-9e7f-8229b9b16997",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool stores recommended intermediate steps and output rated highly by the user for the AI Agent to follow to more reliably respond to user inquiries.",
        "qdrantCollection": {
          "__rl": true,
          "value": "optimal-ai-outputs",
          "mode": "list",
          "cachedResultName": "optimal-ai-outputs"
        },
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2880,
        1360
      ],
      "id": "2dacd673-36ea-4f26-8291-54976c5b0e8f",
      "name": "Example Queries",
      "credentials": {
        "qdrantApi": {
          "id": "zObCvzTEf6kFbsLP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2832,
        1552
      ],
      "id": "63dee48d-f9df-48cd-abb1-ac73dd9ab9ed",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "3F7PYtvjNAVhAYSs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "topN": 2
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        3008,
        1552
      ],
      "id": "fd824256-6067-4223-9b16-f3be122473da",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "ABfOAVZbQRzhWVnY",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/optimal-ai-outputs/points/delete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.dataset_id\",\n        \"match\": {\n          \"value\": \"{{ $('Get the Dataset Record1').first().json.dataset_id }}\"\n        }\n      }\n    ]\n  },\n\n  \"with_payload\": true,\n  \"with_vector\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1552,
        1152
      ],
      "id": "b94f0afe-c0a3-4c9e-845e-46b6539bd22e",
      "name": "Delete Points"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/optimal-ai-outputs/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.dataset_id\",\n        \"match\": {\n          \"value\": \"6f6eb731-1009-4be0-a9b4-262df7ee355a\"\n        }\n      }\n    ]\n  },\n\n  \"with_payload\": true,\n  \"with_vector\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        1200
      ],
      "id": "ba8da2c1-0ea8-4c3c-a038-67e423f5440b",
      "name": "Get Points"
    }
  ],
  "connections": {
    "Mapping Logic": {
      "main": [
        [
          {
            "node": "Review Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Transformer": {
      "main": [
        [
          {
            "node": "Insert into Universal_Datatable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Record Manager": {
      "main": [
        [
          {
            "node": "Data Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Datastore": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload Dataset CSV": {
      "main": [
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Mapping Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Universal_Datatable": {
      "main": [
        [
          {
            "node": "Create View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset Record": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset": {
      "main": [
        [
          {
            "node": "Generate Dynamic View Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Dynamic View": {
      "main": [
        [
          {
            "node": "Set Prompt and ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dynamic View Query": {
      "main": [
        [
          {
            "node": "Update Dynamic View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Get Prompt and Dataset ID": {
      "main": [
        [
          {
            "node": "Get the Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Continue Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt and ID": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Options": {
      "main": [
        [
          {
            "node": "Form - Get Prompt and Dataset ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sample Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Data": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Clean Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set for Insertion": {
      "main": [
        [
          {
            "node": "Insert Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Summary": {
      "main": [
        [
          {
            "node": "Set for Insertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Summary": {
      "main": [
        [
          {
            "node": "Edit Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Set Options1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset Record1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Get Prompt and Dataset ID1": {
      "main": [
        [
          {
            "node": "Delete Points",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Options1": {
      "main": [
        [
          {
            "node": "Form - Get Prompt and Dataset ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Set Options2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset Record2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Get Prompt and Dataset ID2": {
      "main": [
        [
          {
            "node": "Get the Dataset3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Options2": {
      "main": [
        [
          {
            "node": "Form - Get Prompt and Dataset ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Form": {
      "main": [
        [
          {
            "node": "Get the Dataset Record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Form": {
      "main": [
        [
          {
            "node": "Get the Dataset Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Form": {
      "main": [
        [
          {
            "node": "Get the Dataset Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Mapping": {
      "main": [
        [
          {
            "node": "Rehydrate into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rehydrate into JSON": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Set Options3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset Record3": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Get Prompt and Dataset ID3": {
      "main": [
        [
          {
            "node": "Extract from Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Options3": {
      "main": [
        [
          {
            "node": "Form - Get Prompt and Dataset ID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Transformer1": {
      "main": [
        [
          {
            "node": "Insert into Universal_Datatable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Record to Update": {
      "main": [
        [
          {
            "node": "Data Transformer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Update File": {
      "main": [
        [
          {
            "node": "Delete Selected Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Form": {
      "main": [
        [
          {
            "node": "Great Answer",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Great Answer": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Selected Data": {
      "main": [
        [
          {
            "node": "Fetch Record to Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Dataset": {
      "main": [
        [
          {
            "node": "Get the Dataset Record3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Example Queries": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Example Queries",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Example Queries",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "aa0ec559-2420-4c3d-9cd1-145a6fc817a0",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-25T15:26:04.238Z",
      "createdAt": "2026-02-25T15:26:04.238Z",
      "role": "workflow:owner",
      "workflowId": "edMQGpBw5cJ-5K-3T4TL4",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": null,
  "tags": []
}