n8n-workflows/Data Analyzer - Upload Dataset API.json
{"updatedAt":"2026-03-09T02:48:05.461Z","createdAt":"2026-02-14T05:50:29.032Z","id":"tgKjDasZvFZqdkPg","name":"Data Analyzer - Upload Dataset API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1040,800],"id":"6ae46274-437b-4f1c-9a13-adecdf44ffb5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"upload-dataset","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1776,16],"id":"e7fb6679-7496-486b-84f2-8711ce5d23f4","name":"Webhook","webhookId":"upload-dataset-webhook"},{"parameters":{"jsCode":"var webhookData = $input.first().json.body;\nvar base64Data = webhookData.csvData;\nif (!base64Data) {\n  throw new Error(\"No csvData found in request\");\n}\n\nvar datasetName = webhookData.datasetName || \"Unnamed Dataset\";\nvar description = webhookData.description || \"\";\nvar email = webhookData.email || \"\";\n\nvar csvText = Buffer.from(base64Data, \"base64\").toString(\"utf-8\");\n\n// Strip BOM if present\nif (csvText.charCodeAt(0) === 0xFEFF) {\n  csvText = csvText.slice(1);\n}\n\n// --- MULTILINE-AWARE CSV PARSER ---\nfunction parseCSV(text) {\n  const rows = [];\n  let row = [];\n  let cell = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n    const next = text[i + 1];\n\n    if (char === '\"') {\n      if (inQuotes && next === '\"') {\n        cell += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      row.push(cell.trim());\n      cell = '';\n    } else if (!inQuotes && (char === '\\n' || char === '\\r')) {\n      if (char === '\\r' && next === '\\n') i++;\n      row.push(cell.trim());\n      if (row.some(v => v !== '')) {\n        rows.push(row);\n      }\n      row = [];\n      cell = '';\n    } else {\n      cell += char;\n    }\n  }\n\n  // Flush final row\n  if (cell || row.length) {\n    row.push(cell.trim());\n    if (row.some(v => v !== '')) {\n      rows.push(row);\n    }\n  }\n\n  return rows;\n}\n// ----------------------------------\n\nvar allRows = parseCSV(csvText);\n\nif (allRows.length < 2) {\n  throw new Error(\"CSV must have header and data rows\");\n}\n\nvar headers = allRows[0];\nvar rows = [];\n\nfor (var i = 1; i < allRows.length; i++) {\n  var values = allRows[i];\n  var row = {};\n  for (var j = 0; j < headers.length; j++) {\n    row[headers[j]] = values[j] !== undefined ? values[j] : \"\";\n  }\n  rows.push({ json: row });\n}\n\nif (rows.length === 0) {\n  throw new Error(\"No data rows found\");\n}\n\n$execution.customData.set(\"datasetName\", datasetName);\n$execution.customData.set(\"description\", description);\n$execution.customData.set(\"email\", email);\n\nreturn rows;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,16],"id":"58d83407-b6c5-4ce0-b75d-8aef8fc308d7","name":"Parse CSV"},{"parameters":{"jsCode":"var items = $input.all();\nif (items.length === 0) return { error: \"No data received.\" };\n\nvar datasetName = $execution.customData.get(\"datasetName\") || \"Test\";\nvar datasetDesc = $execution.customData.get(\"description\") || \"\";\nvar email = $execution.customData.get(\"email\") || \"\";\n\nfunction detectType(val) {\n  if (val === null || val === undefined || String(val).trim() === \"\") return \"null\";\n  var str = String(val).trim();\n\n  // 1. Enhanced Date Detection (Strict ISO, US Slanted, and Dash formats)\n  var strictDate = /^\\d{4}-\\d{2}-\\d{2}$|^\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4}$/;\n  // Also check if it's a valid date object string (like \"2023-10-27T10:00:00Z\")\n  if (strictDate.test(str) || !isNaN(Date.parse(str)) && isNaN(str)) {\n    return \"date\";\n  }\n\n  // 2. Boolean Detection\n  if (str.toLowerCase() === \"true\" || str.toLowerCase() === \"false\") return \"bool\";\n\n  // 3. Numeric Detection (Cleaned of currency/commas)\n  var cleanNum = str.replace(/[$,]/g, \"\");\n  if (cleanNum !== \"\" && !isNaN(cleanNum)) {\n    if (str.indexOf(\".\") !== -1 || Math.abs(parseFloat(cleanNum)) > 999999) {\n      return \"real\";\n    }\n    return \"int\";\n  }\n\n  return \"string\";\n}\n\nfunction getWinnerType(current, next) {\n  if (!current || current === \"null\") return next;\n  if (next === \"null\") return current;\n  \n  // Hierarchy: String kills everything. \n  // Dates should stay Dates unless mixed with text.\n  if (current === \"string\" || next === \"string\") return \"string\";\n  \n  // If we have mixed Date and Numbers, we usually default to String\n  if ((current === \"date\" && next !== \"date\") || (next === \"date\" && current !== \"date\")) {\n    return \"string\";\n  }\n\n  if (current === \"real\" || next === \"real\") return \"real\";\n  if (current === \"int\" && next === \"int\") return \"int\";\n  \n  return current;\n}\n\nvar columnTypes = {};\nitems.forEach(function(item) {\n  var entries = Object.entries(item.json);\n  for (var i = 0; i < entries.length; i++) {\n    var key = entries[i][0];\n    var value = entries[i][1];\n    var type = detectType(value);\n    columnTypes[key] = getWinnerType(columnTypes[key], type);\n  }\n});\n\nvar counters = { string: 1, real: 1, int: 1, date: 1, bool: 1 };\nvar mapping = {};\nvar dictionary = {};\n// Trim and deduplicate headers (trim before sort to group identical trimmed names)\nvar headers = [...new Set(Object.keys(columnTypes).map(k => k.trim()))].sort();\n// Rebuild columnTypes with trimmed keys\nvar trimmedColumnTypes = {};\nObject.keys(columnTypes).forEach(k => {\n  var tk = k.trim();\n  trimmedColumnTypes[tk] = getWinnerType(trimmedColumnTypes[tk], columnTypes[k]);\n});\ncolumnTypes = trimmedColumnTypes;\n\nfor (var i = 0; i < headers.length; i++) {\n  var header = headers[i].trim();\n  var type = columnTypes[header];\n  if (type === \"null\") type = \"string\";\n\n  // This creates column names like date1, date2, etc.\n  var dbColumn = type + counters[type];\n  mapping[header] = dbColumn;\n  dictionary[dbColumn] = { \n    original_name: header, \n    data_type: type \n  };\n  counters[type]++;\n}\n\nreturn {\n  dataset_name: datasetName,\n  dataset_summary: datasetDesc,\n  owner_email: email,\n  column_mapping: mapping,\n  column_dictionary: dictionary,\n  total_row_count: items.length\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,16],"id":"63292cbf-ed92-4bfa-a6b8-aae0a82521e3","name":"Mapping Logic"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-summary","leftValue":"={{ $json.dataset_summary }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1168,16],"id":"63c41dd5-5e94-4b49-b43e-292eb75dcd62","name":"If Summary Empty"},{"parameters":{"jsCode":"var items = $(\"Parse CSV\").all();\nif (items.length === 0) return [];\n\nvar shuffled = items.slice();\nfor (var i = shuffled.length - 1; i > 0; i--) {\n  var j = Math.floor(Math.random() * (i + 1));\n  var temp = shuffled[i];\n  shuffled[i] = shuffled[j];\n  shuffled[j] = temp;\n}\n\nreturn shuffled.slice(0, 300);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-80],"id":"1caf12a7-c2fa-4f51-8e1a-73fd6cdd4856","name":"Sample Data"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"dataset_name","value":"={{ $(\"Mapping Logic\").first().json.dataset_name }}","type":"string"},{"id":"a2","name":"dataset_summary","value":"={{ $json.cleaned_summary }}","type":"string"},{"id":"a6","name":"owner_email","value":"={{ $(\"Mapping Logic\").first().json.owner_email }}","type":"string"},{"id":"a3","name":"column_mapping","value":"={{ $(\"Mapping Logic\").first().json.column_mapping }}","type":"object"},{"id":"a4","name":"column_dictionary","value":"={{ $(\"Mapping Logic\").first().json.column_dictionary }}","type":"object"},{"id":"a5","name":"total_row_count","value":"={{ $(\"Mapping Logic\").first().json.total_row_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-96],"id":"da455d15-a576-4a27-a934-12a575aaaad1","name":"Set With AI Summary"},{"parameters":{"assignments":{"assignments":[{"id":"b1","name":"dataset_name","value":"={{ $(\"Mapping Logic\").first().json.dataset_name }}","type":"string"},{"id":"b2","name":"dataset_summary","value":"={{ $(\"Mapping Logic\").first().json.dataset_summary }}","type":"string"},{"id":"b6","name":"owner_email","value":"={{ $(\"Mapping Logic\").first().json.owner_email }}","type":"string"},{"id":"b3","name":"column_mapping","value":"={{ $(\"Mapping Logic\").first().json.column_mapping }}","type":"object"},{"id":"b4","name":"column_dictionary","value":"={{ $(\"Mapping Logic\").item.json.column_dictionary }}","type":"object"},{"id":"b5","name":"total_row_count","value":"={{ $(\"Mapping Logic\").first().json.total_row_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,112],"id":"f07e85a1-fada-4d42-86f8-7bd69fd50c82","name":"Set Without AI"},{"parameters":{"jsCode":"// 1. Get mapping and ID\nconst mappingNode = $(\"Mapping Logic\").first();\nconst managerNode = $(\"Insert Record Manager\").first();\n \nif (!mappingNode || !managerNode) {\n    throw new Error(\"Missing input from Mapping Logic or Insert Record Manager\");\n}\n\nconst mapping = mappingNode.json.column_mapping;\nconst datasetId = managerNode.json.dataset_id;\n\n// --- FIX IS HERE: Reference \"Parse CSV\" directly to get the data rows ---\nconst allRows = $(\"Parse CSV\").all(); \n\nconst results = [];\nconst batchSize = 100; // Smaller batches are safer for large SQL strings\nconst mapEntries = Object.entries(mapping);\nconst dbColumnNames = mapEntries.map(entry => entry[1]);\n\nfunction isDateColumn(colName) {\n    const lower = colName.toLowerCase();\n    return lower.includes(\"date\") || lower.includes(\"_at\") || lower.includes(\"time\");\n}\n\nfunction standardizeDate(val) {\n    const d = new Date(val);\n    return isNaN(d.getTime()) ? null : d.toISOString().split(\"T\")[0];\n}\n\nfunction prepareValue(val, targetColumn) {\n    if (val === null || val === undefined || String(val).trim() === \"\") return \"NULL\";\n    \n    let stringVal = String(val).trim();\n    const colLower = targetColumn.toLowerCase();\n    \n    // Numeric handling (strip currency symbols and commas)\n    if (colLower.startsWith(\"int\") || colLower.startsWith(\"real\") || colLower.startsWith(\"numeric\")) {\n        const cleanNum = stringVal.replace(/[,\\s$]/g, \"\");\n        if (cleanNum === \"\" || isNaN(cleanNum)) return \"NULL\";\n        return cleanNum;\n    }\n    \n    // Date handling\n    if (isDateColumn(targetColumn)) {\n        if (/^\\d+$/.test(stringVal) && parseInt(stringVal) > 9999) return \"NULL\";\n        const correctedDate = standardizeDate(stringVal);\n        return correctedDate ? `'${correctedDate}'` : \"NULL\";\n    }\n    \n    // String handling: Escape single quotes AND dollar signs\n    const escaped = stringVal\n        .replace(/'/g, \"''\")\n        .replace(/\\$/g, \"$$$$\"); \n        \n    return `'${escaped}'`;\n}\n\nconst columns = ['\"dataset_id\"', '\"row_index\"'].concat(dbColumnNames.map(c => `\"${c}\"`));\n\nfor (let i = 0; i < allRows.length; i += batchSize) {\n    const chunk = allRows.slice(i, i + batchSize);\n    const valuesList = chunk.map((item, idx) => {\n        const row = item.json;\n        // Ensure datasetId is wrapped in single quotes as it is a UUID/String\n        const rowValues = [`'${datasetId}'`, i + idx + 1]; \n        \n        mapEntries.forEach(entry => {\n            rowValues.push(prepareValue(row[entry[0]], entry[1]));\n        });\n        return `(${rowValues.join(\",\")})`;\n    });\n\n    results.push({ \n        json: { \n            sql: `INSERT INTO n8n_data.universal_datatable (${columns.join(\",\")}) VALUES ${valuesList.join(\",\")};` \n        } \n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,16],"id":"69ffce50-d959-48ae-9f0b-f879dbf44ab9","name":"Data Transformer"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,16],"id":"e68e3f97-f96c-4822-806e-fcb09edd9032","name":"Insert Data","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: \"ok\", datasetId: $(\"Insert Record Manager\").first().json.dataset_id, rowsInserted: $(\"Mapping Logic\").first().json.total_row_count, datasetName:$(\"Mapping Logic\").first().json.dataset_name } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1184,16],"id":"ecf74020-0813-4cf9-9708-4ff01b2805cd","name":"Respond to Webhook"},{"parameters":{"operation":"executeQuery","query":"=CREATE OR REPLACE VIEW n8n_data.v_ds_{{ $('Insert Record Manager').first().json.dataset_id.replace(/-/g, '_') }} AS\nSELECT\n    {{\n      Object.entries($('Mapping Logic').first().json.column_mapping)\n      .map(([name, col]) => {\n        const safeName = (name && name.trim() !== \"\") ? name.trim() : `unnamed_${col}`;\n        return `${col} AS \"${safeName}\"`;\n      })\n      .join(',\\n    ')\n    }}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '{{ $('Insert Record Manager').first().json.dataset_id }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,16],"id":"cd0f7c3b-8abe-4879-a397-d29581434a01","name":"Create View","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"kimi-k2.5","mode":"list","cachedResultName":"kimi-k2.5"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-784,800],"id":"f134a2f2-0119-451e-8b72-f29b5c4dfa07","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Analyze the following dataset as a single block to build a SQL Search Index:\n{{ JSON.stringify($input.all().map(i => i.json)) }}","needsFallback":true,"options":{"systemMessage":"ROLE\nYou are a Senior Database Engineer and Metadata Architect. Your objective is to analyze a 300-row sample of CSV data and generate a highly structured metadata map. This map will be used by a downstream AI to construct 100% accurate, high-performance SQL queries.\n\nYOUR TASK\nAnalyze the data and identify \"Filtering Columns.\" These are columns used in SQL WHERE, HAVING, or GROUP BY clauses.\n\nCategorical Discovery: Identify columns with low-to-medium cardinality (categories, statuses, regions, types). Extract the exact unique values.\n\nTemporal & Numeric Discovery: Identify date/time columns and numerical columns. Note their exact formatting (e.g., YYYY-MM-DD, presence of $ or , in numbers) so the SQL agent knows how to cast or parse them.\n\nSemantic Mapping: Infer the precise business logic of each column based on its header and values. Do not hallucinate; stick to what the data clearly represents.\n\nData Quality & Quirks: Detect if the column contains empty strings, NULL, N/A, or formatting quirks (e.g., case sensitivity, leading spaces).\n\nGranularity/Double-Counting: Identify rows that represent Subtotals, Totals, or Rollups (e.g., a \"Region\" column that contains the value \"All Regions\").\n\nSTRICT OUTPUT FORMAT\nYou must output strictly valid JSON. Do not include markdown formatting, conversational filler, or explanations. Start immediately with the JSON array [.\n\nUse this exact JSON schema:\n[\n  {\n    \"column_header\": \"Exact Column Name\",\n    \"data_type\": \"Categorical | Date | Numeric | Boolean\",\n    \"business_logic\": \"Brief, precise description of what this filters (e.g., Transaction lifecycle stage).\",\n    \"exact_values\": [\"Value A\", \"Value B\", \"Value C\"], \n    \"format_notes\": \"For Dates: format like MM/DD/YYYY. For Numerics: note currency symbols or commas. For Categories: note case sensitivity or special characters.\",\n    \"null_handling\": \"Note if empty strings, NULLs, or N/A are present.\",\n    \"aggregation_warning\": \"Include specific instructions if this column contains 'Total', 'Subtotal', or 'All' values that must be excluded in standard SUM() queries to avoid double-counting. Otherwise, output null.\"\n  }\n]\n\nCONSTRAINTS:\n\nIgnore purely unique identifiers (e.g., Transaction ID, Employee SSN, full names) UNLESS they are highly relevant for grouping (e.g., Manager ID).\n\nLimit exact_values to a maximum of 15 items. If there are more, list the top 10 and add \"...[High Cardinality]\".\n\nOutput ONLY the raw JSON array.","maxIterations":25,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-784,-144],"id":"d27ba215-2bfc-4111-9a1c-6ec31cd95e1b","name":"AI Agent","executeOnce":true},{"parameters":{"jsCode":"var rawText = $json.output || \"\";\n\n// 1. Strip any markdown formatting the AI might add (e.g., ```json ... ```)\nvar jsonString = rawText.replace(/```[a-z]*\\n?/g, \"\").replace(/```/g, \"\").trim();\n\nvar parsedData;\ntry {\n  // 2. Parse the pure JSON array\n  parsedData = JSON.parse(jsonString);\n} catch (e) {\n  // Safe fallback if the AI hallucinates bad JSON\n  return { cleaned_summary: \"Error parsing AI output: \" + e.message + \"\\n\\nRaw Output:\\n\" + rawText };\n}\n\nvar mdRows = [];\n\n// 3. Loop through the JSON objects and build your clean Markdown string\nparsedData.forEach(function(col) {\n  var sectionMd = \"### Column name:\" + col.column_header + \"\\n\";\n  \n  if (col.data_type) sectionMd += \"* **Data Type:** \" + col.data_type + \"\\n\";\n  if (col.business_logic) sectionMd += \"* **Business Logic:** \" + col.business_logic + \"\\n\";\n  \n  // Join the array of exact values with commas\n  if (col.exact_values && col.exact_values.length > 0) {\n    sectionMd += \"* **Exact Values:** \" + col.exact_values.join(\", \") + \"\\n\";\n  }\n  \n  if (col.format_notes) sectionMd += \"* **Format Notes:** \" + col.format_notes + \"\\n\";\n  if (col.null_handling) sectionMd += \"* **Null Handling:** \" + col.null_handling + \"\\n\";\n  if (col.aggregation_warning) sectionMd += \"* **Aggregation Warning:** \" + col.aggregation_warning + \"\\n\";\n  \n  mdRows.push(sectionMd);\n});\n\n// 4. Return the formatted markdown string to be passed to Postgres\nreturn { cleaned_summary: mdRows.join(\"\\n\\n\") };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,-176],"id":"be799900-51a6-4050-905e-46d08bcb7ba9","name":"Clean Summary"},{"parameters":{"promptType":"define","text":"=Description of the Dataset by User: {{ $('Webhook').first().json.body.dataset_desc }}\n\nDataset Summary: {{ $('Clean Summary').first().json.cleaned_summary }}\n","hasOutputParser":true,"options":{"systemMessage":"You are a data analyst who analyzes datasets based on the Description of the Dataset by User and Dataset Summary to come up with a set of 3 questions or queries that would be made by a real user who would use the dataset to answer real world business questions.\n\nEach question must consider:\n- The nature of the dataset -- the subject matter of the data (e.g. sales funnel, revenue, list of employees, etc.), type of data (e.g. time-based? monthly / annual / time stamped log or book of records, etc.)\n- Potential key takeaways (e.g. the number of deals in various deal stages?, total number of employees in different job level, total revenue, revenue variance year-over-year, total number of customers in the US, etc.)\n- Other potential insights to the user that the dataset could bring\n\nEach question must include:\n- Structured terms and language that provides clarity for AI to build an effective and accurate SQL query\n\n** IMPORTANT **\nDo not put SQL query directly in the question. \nBe brief and talk in layman's terms that anyone can understand. (like to a 12-year old)\nThe response should be a list of 3 sample questions in JSON format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[560,368],"id":"881112c4-aabe-466f-85e1-73b97fdc86c6","name":"AI Agent1"},{"parameters":{"jsonSchemaExample":"{\n  \"questions\": [\n    {\n      \"id\": \"1\",\n      \"question\": \"What time period should this report cover?\"\n    },\n    {\n      \"id\": \"1\",\n      \"question\": \"How should the results be broken down or grouped?\"\n    },\n    {\n      \"id\": \"3\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\"\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[720,624],"id":"b4031105-1513-418a-be10-44e0c9980c02","name":"Structured Output Parser"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"columns":{"mappingMode":"defineBelow","value":{"sample_questions":"={{ $json.output }}","dataset_id":"={{ $('Insert Record Manager').item.json.dataset_id }}"},"matchingColumns":["dataset_id"],"schema":[{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataset_name","displayName":"dataset_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dataset_summary","displayName":"dataset_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_count","displayName":"row_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_headers","displayName":"dataset_headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"dataset_header_types","displayName":"dataset_header_types","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_mapping","displayName":"column_mapping","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_dictionary","displayName":"column_dictionary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"owner_email","displayName":"owner_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"auth","displayName":"auth","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_desc","displayName":"dataset_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sample_questions","displayName":"sample_questions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,368],"id":"7d3745ea-9e11-4b0e-aa1b-7d393f215ebf","name":"Update rows in a table","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[496,640],"id":"3322a375-efa9-45a6-b879-9e2e9711ea53","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,1248],"id":"d7437866-6dc9-4ed3-b238-a7542fb72fc1","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"where":{"values":[{"column":"sample_questions","condition":"IS NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-400,1248],"id":"94972394-8e79-4e78-ac7f-2b429e69722d","name":"Select rows from a table","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,1248],"id":"3b4af311-3901-4866-bfd6-0cb5a6e22783","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=Description of the Dataset by User: {{ $('Loop Over Items').item.json.dataset_desc }}\n\nDataset Summary: {{  $('Loop Over Items').item.json.dataset_summary }}\n","hasOutputParser":true,"options":{"systemMessage":"You are a data analyst who analyzes datasets based on the Description of the Dataset by User and Dataset Summary to come up with a set of 5 questions or queries that would be made by a real user who would use the dataset to answer real world business questions.\n\nEach question must consider:\n- The nature of the dataset -- the subject matter of the data (e.g. sales funnel, revenue, list of employees, etc.), type of data (e.g. time-based? monthly / annual / time stamped log or book of records, etc.)\n- Potential key takeaways (e.g. the number of deals in various deal stages?, total number of employees in different job level, total revenue, revenue variance year-over-year, total number of customers in the US, etc.)\n- Other potential insights to the user that the dataset could bring\n\nEach question must include:\n- Structured terms and language that provides clarity for AI to build an effective and accurate SQL query\n\n** IMPORTANT **\nDo not put SQL query directly in the question. \nBe brief and talk in layman's terms that anyone can understand. (like to a 12-year old)\nThe response should be a list of 3 sample questions in JSON format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[320,1232],"id":"3914b09f-6de2-4aa7-813d-0659d7bc1506","name":"AI Agent2"},{"parameters":{"jsonSchemaExample":"{\n  \"questions\": [\n    {\n      \"id\": \"1\",\n      \"question\": \"What time period should this report cover?\"\n    },\n    {\n      \"id\": \"1\",\n      \"question\": \"How should the results be broken down or grouped?\"\n    },\n    {\n      \"id\": \"3\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[496,1440],"id":"78e5d9d0-0973-48e8-bf54-13222da6f95c","name":"Structured Output Parser1"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"columns":{"mappingMode":"defineBelow","value":{"row_count":0,"auth":0,"sample_questions":"={{ $json.output }}","dataset_id":"={{ $('Loop Over Items').item.json.dataset_id }}"},"matchingColumns":["dataset_id"],"schema":[{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataset_name","displayName":"dataset_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dataset_summary","displayName":"dataset_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_count","displayName":"row_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dataset_headers","displayName":"dataset_headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"dataset_header_types","displayName":"dataset_header_types","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"column_mapping","displayName":"column_mapping","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"column_dictionary","displayName":"column_dictionary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"owner_email","displayName":"owner_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"auth","displayName":"auth","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dataset_desc","displayName":"dataset_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sample_questions","displayName":"sample_questions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,1232],"id":"02ded11b-9a8b-49fb-9788-1da17f97bfe9","name":"Update rows in a table1","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"dataset_id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-192,1248],"id":"9caf1d87-7115-4266-9e67-cfbb5810ac51","name":"Split Out"},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5","mode":"list","cachedResultName":"claude-haiku-4-5"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[288,1520],"id":"87add65a-fe85-435e-9908-54aa3d8ef6f7","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[656,832],"id":"89dc28ec-6637-4935-9941-0aa4edfcc5de","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO n8n_data.dataset_record_manager (\n    dataset_name,\n    row_count,\n    dataset_summary,\n    column_mapping,\n    column_dictionary,\n    owner_email,\n    dataset_desc\n) VALUES ($1, $2, $3, $4::jsonb, $5::jsonb, $6, $7)\nRETURNING dataset_id","options":{"queryReplacement":"={{ [$json.dataset_name, $('Mapping Logic').item.json.total_row_count, $json.dataset_summary, JSON.stringify($('Mapping Logic').first().json.column_mapping), JSON.stringify($('Mapping Logic').first().json.column_dictionary), $json.owner_email, $('Webhook').first().json.body.dataset_desc] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[32,-176],"id":"f58ce745-49bb-487b-914a-9315f0ba1be0","name":"Insert Record Manager11","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"columns":{"mappingMode":"defineBelow","value":{"row_count":"={{ $json.total_row_count }}","dataset_name":"={{ $json.dataset_name }}","dataset_summary":"={{ $json.dataset_summary }}","column_mapping":"={{ JSON.stringify($('Mapping Logic').first().json.column_mapping) }}","column_dictionary":"={{ JSON.stringify($('Mapping Logic').first().json.column_dictionary) }}","owner_email":"={{ $json.owner_email }}","dataset_desc":"={{ $('Webhook').first().json.body.dataset_desc }}"},"matchingColumns":[],"schema":[{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dataset_name","displayName":"dataset_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dataset_summary","displayName":"dataset_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_count","displayName":"row_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dataset_headers","displayName":"dataset_headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"dataset_header_types","displayName":"dataset_header_types","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_mapping","displayName":"column_mapping","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"column_dictionary","displayName":"column_dictionary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"owner_email","displayName":"owner_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"auth","displayName":"auth","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_desc","displayName":"dataset_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sample_questions","displayName":"sample_questions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,16],"id":"e11a774b-add9-4550-a891-65c68898fa81","name":"Insert Record Manager","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Parse CSV","type":"main","index":0}]]},"Parse CSV":{"main":[[{"node":"Mapping Logic","type":"main","index":0}]]},"Mapping Logic":{"main":[[{"node":"If Summary Empty","type":"main","index":0}]]},"If Summary Empty":{"main":[[{"node":"Sample Data","type":"main","index":0}],[{"node":"Set Without AI","type":"main","index":0}]]},"Sample Data":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Set With AI Summary":{"main":[[{"node":"Insert Record Manager","type":"main","index":0}]]},"Set Without AI":{"main":[[{"node":"Insert Record Manager","type":"main","index":0}]]},"Data Transformer":{"main":[[{"node":"Insert Data","type":"main","index":0}]]},"Insert Data":{"main":[[{"node":"Create View","type":"main","index":0}]]},"Create View":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"AI Agent":{"main":[[{"node":"Clean Summary","type":"main","index":0}]]},"Clean Summary":{"main":[[{"node":"Set With AI Summary","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Update rows in a table1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"Update rows in a table1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Update rows in a table":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Insert Record Manager11":{"main":[[]]},"Insert Record Manager":{"main":[[{"node":"Data Transformer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69459798-63c6-49a5-81cf-b098b3258e9c","activeVersionId":"69459798-63c6-49a5-81cf-b098b3258e9c","versionCounter":312,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T05:50:29.032Z","createdAt":"2026-02-14T05:50:29.032Z","role":"workflow:owner","workflowId":"tgKjDasZvFZqdkPg","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-09T02:48:08.259Z","createdAt":"2026-03-09T02:48:05.463Z","versionId":"69459798-63c6-49a5-81cf-b098b3258e9c","workflowId":"tgKjDasZvFZqdkPg","nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1040,800],"id":"6ae46274-437b-4f1c-9a13-adecdf44ffb5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"upload-dataset","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1776,16],"id":"e7fb6679-7496-486b-84f2-8711ce5d23f4","name":"Webhook","webhookId":"upload-dataset-webhook"},{"parameters":{"jsCode":"var webhookData = $input.first().json.body;\nvar base64Data = webhookData.csvData;\nif (!base64Data) {\n  throw new Error(\"No csvData found in request\");\n}\n\nvar datasetName = webhookData.datasetName || \"Unnamed Dataset\";\nvar description = webhookData.description || \"\";\nvar email = webhookData.email || \"\";\n\nvar csvText = Buffer.from(base64Data, \"base64\").toString(\"utf-8\");\n\n// Strip BOM if present\nif (csvText.charCodeAt(0) === 0xFEFF) {\n  csvText = csvText.slice(1);\n}\n\n// --- MULTILINE-AWARE CSV PARSER ---\nfunction parseCSV(text) {\n  const rows = [];\n  let row = [];\n  let cell = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n    const next = text[i + 1];\n\n    if (char === '\"') {\n      if (inQuotes && next === '\"') {\n        cell += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      row.push(cell.trim());\n      cell = '';\n    } else if (!inQuotes && (char === '\\n' || char === '\\r')) {\n      if (char === '\\r' && next === '\\n') i++;\n      row.push(cell.trim());\n      if (row.some(v => v !== '')) {\n        rows.push(row);\n      }\n      row = [];\n      cell = '';\n    } else {\n      cell += char;\n    }\n  }\n\n  // Flush final row\n  if (cell || row.length) {\n    row.push(cell.trim());\n    if (row.some(v => v !== '')) {\n      rows.push(row);\n    }\n  }\n\n  return rows;\n}\n// ----------------------------------\n\nvar allRows = parseCSV(csvText);\n\nif (allRows.length < 2) {\n  throw new Error(\"CSV must have header and data rows\");\n}\n\nvar headers = allRows[0];\nvar rows = [];\n\nfor (var i = 1; i < allRows.length; i++) {\n  var values = allRows[i];\n  var row = {};\n  for (var j = 0; j < headers.length; j++) {\n    row[headers[j]] = values[j] !== undefined ? values[j] : \"\";\n  }\n  rows.push({ json: row });\n}\n\nif (rows.length === 0) {\n  throw new Error(\"No data rows found\");\n}\n\n$execution.customData.set(\"datasetName\", datasetName);\n$execution.customData.set(\"description\", description);\n$execution.customData.set(\"email\", email);\n\nreturn rows;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,16],"id":"58d83407-b6c5-4ce0-b75d-8aef8fc308d7","name":"Parse CSV"},{"parameters":{"jsCode":"var items = $input.all();\nif (items.length === 0) return { error: \"No data received.\" };\n\nvar datasetName = $execution.customData.get(\"datasetName\") || \"Test\";\nvar datasetDesc = $execution.customData.get(\"description\") || \"\";\nvar email = $execution.customData.get(\"email\") || \"\";\n\nfunction detectType(val) {\n  if (val === null || val === undefined || String(val).trim() === \"\") return \"null\";\n  var str = String(val).trim();\n\n  // 1. Enhanced Date Detection (Strict ISO, US Slanted, and Dash formats)\n  var strictDate = /^\\d{4}-\\d{2}-\\d{2}$|^\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4}$/;\n  // Also check if it's a valid date object string (like \"2023-10-27T10:00:00Z\")\n  if (strictDate.test(str) || !isNaN(Date.parse(str)) && isNaN(str)) {\n    return \"date\";\n  }\n\n  // 2. Boolean Detection\n  if (str.toLowerCase() === \"true\" || str.toLowerCase() === \"false\") return \"bool\";\n\n  // 3. Numeric Detection (Cleaned of currency/commas)\n  var cleanNum = str.replace(/[$,]/g, \"\");\n  if (cleanNum !== \"\" && !isNaN(cleanNum)) {\n    if (str.indexOf(\".\") !== -1 || Math.abs(parseFloat(cleanNum)) > 999999) {\n      return \"real\";\n    }\n    return \"int\";\n  }\n\n  return \"string\";\n}\n\nfunction getWinnerType(current, next) {\n  if (!current || current === \"null\") return next;\n  if (next === \"null\") return current;\n  \n  // Hierarchy: String kills everything. \n  // Dates should stay Dates unless mixed with text.\n  if (current === \"string\" || next === \"string\") return \"string\";\n  \n  // If we have mixed Date and Numbers, we usually default to String\n  if ((current === \"date\" && next !== \"date\") || (next === \"date\" && current !== \"date\")) {\n    return \"string\";\n  }\n\n  if (current === \"real\" || next === \"real\") return \"real\";\n  if (current === \"int\" && next === \"int\") return \"int\";\n  \n  return current;\n}\n\nvar columnTypes = {};\nitems.forEach(function(item) {\n  var entries = Object.entries(item.json);\n  for (var i = 0; i < entries.length; i++) {\n    var key = entries[i][0];\n    var value = entries[i][1];\n    var type = detectType(value);\n    columnTypes[key] = getWinnerType(columnTypes[key], type);\n  }\n});\n\nvar counters = { string: 1, real: 1, int: 1, date: 1, bool: 1 };\nvar mapping = {};\nvar dictionary = {};\n// Trim and deduplicate headers (trim before sort to group identical trimmed names)\nvar headers = [...new Set(Object.keys(columnTypes).map(k => k.trim()))].sort();\n// Rebuild columnTypes with trimmed keys\nvar trimmedColumnTypes = {};\nObject.keys(columnTypes).forEach(k => {\n  var tk = k.trim();\n  trimmedColumnTypes[tk] = getWinnerType(trimmedColumnTypes[tk], columnTypes[k]);\n});\ncolumnTypes = trimmedColumnTypes;\n\nfor (var i = 0; i < headers.length; i++) {\n  var header = headers[i].trim();\n  var type = columnTypes[header];\n  if (type === \"null\") type = \"string\";\n\n  // This creates column names like date1, date2, etc.\n  var dbColumn = type + counters[type];\n  mapping[header] = dbColumn;\n  dictionary[dbColumn] = { \n    original_name: header, \n    data_type: type \n  };\n  counters[type]++;\n}\n\nreturn {\n  dataset_name: datasetName,\n  dataset_summary: datasetDesc,\n  owner_email: email,\n  column_mapping: mapping,\n  column_dictionary: dictionary,\n  total_row_count: items.length\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,16],"id":"63292cbf-ed92-4bfa-a6b8-aae0a82521e3","name":"Mapping Logic"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-summary","leftValue":"={{ $json.dataset_summary }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1168,16],"id":"63c41dd5-5e94-4b49-b43e-292eb75dcd62","name":"If Summary Empty"},{"parameters":{"jsCode":"var items = $(\"Parse CSV\").all();\nif (items.length === 0) return [];\n\nvar shuffled = items.slice();\nfor (var i = shuffled.length - 1; i > 0; i--) {\n  var j = Math.floor(Math.random() * (i + 1));\n  var temp = shuffled[i];\n  shuffled[i] = shuffled[j];\n  shuffled[j] = temp;\n}\n\nreturn shuffled.slice(0, 300);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-80],"id":"1caf12a7-c2fa-4f51-8e1a-73fd6cdd4856","name":"Sample Data"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"dataset_name","value":"={{ $(\"Mapping Logic\").first().json.dataset_name }}","type":"string"},{"id":"a2","name":"dataset_summary","value":"={{ $json.cleaned_summary }}","type":"string"},{"id":"a6","name":"owner_email","value":"={{ $(\"Mapping Logic\").first().json.owner_email }}","type":"string"},{"id":"a3","name":"column_mapping","value":"={{ $(\"Mapping Logic\").first().json.column_mapping }}","type":"object"},{"id":"a4","name":"column_dictionary","value":"={{ $(\"Mapping Logic\").first().json.column_dictionary }}","type":"object"},{"id":"a5","name":"total_row_count","value":"={{ $(\"Mapping Logic\").first().json.total_row_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-96],"id":"da455d15-a576-4a27-a934-12a575aaaad1","name":"Set With AI Summary"},{"parameters":{"assignments":{"assignments":[{"id":"b1","name":"dataset_name","value":"={{ $(\"Mapping Logic\").first().json.dataset_name }}","type":"string"},{"id":"b2","name":"dataset_summary","value":"={{ $(\"Mapping Logic\").first().json.dataset_summary }}","type":"string"},{"id":"b6","name":"owner_email","value":"={{ $(\"Mapping Logic\").first().json.owner_email }}","type":"string"},{"id":"b3","name":"column_mapping","value":"={{ $(\"Mapping Logic\").first().json.column_mapping }}","type":"object"},{"id":"b4","name":"column_dictionary","value":"={{ $(\"Mapping Logic\").item.json.column_dictionary }}","type":"object"},{"id":"b5","name":"total_row_count","value":"={{ $(\"Mapping Logic\").first().json.total_row_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,112],"id":"f07e85a1-fada-4d42-86f8-7bd69fd50c82","name":"Set Without AI"},{"parameters":{"jsCode":"// 1. Get mapping and ID\nconst mappingNode = $(\"Mapping Logic\").first();\nconst managerNode = $(\"Insert Record Manager\").first();\n \nif (!mappingNode || !managerNode) {\n    throw new Error(\"Missing input from Mapping Logic or Insert Record Manager\");\n}\n\nconst mapping = mappingNode.json.column_mapping;\nconst datasetId = managerNode.json.dataset_id;\n\n// --- FIX IS HERE: Reference \"Parse CSV\" directly to get the data rows ---\nconst allRows = $(\"Parse CSV\").all(); \n\nconst results = [];\nconst batchSize = 100; // Smaller batches are safer for large SQL strings\nconst mapEntries = Object.entries(mapping);\nconst dbColumnNames = mapEntries.map(entry => entry[1]);\n\nfunction isDateColumn(colName) {\n    const lower = colName.toLowerCase();\n    return lower.includes(\"date\") || lower.includes(\"_at\") || lower.includes(\"time\");\n}\n\nfunction standardizeDate(val) {\n    const d = new Date(val);\n    return isNaN(d.getTime()) ? null : d.toISOString().split(\"T\")[0];\n}\n\nfunction prepareValue(val, targetColumn) {\n    if (val === null || val === undefined || String(val).trim() === \"\") return \"NULL\";\n    \n    let stringVal = String(val).trim();\n    const colLower = targetColumn.toLowerCase();\n    \n    // Numeric handling (strip currency symbols and commas)\n    if (colLower.startsWith(\"int\") || colLower.startsWith(\"real\") || colLower.startsWith(\"numeric\")) {\n        const cleanNum = stringVal.replace(/[,\\s$]/g, \"\");\n        if (cleanNum === \"\" || isNaN(cleanNum)) return \"NULL\";\n        return cleanNum;\n    }\n    \n    // Date handling\n    if (isDateColumn(targetColumn)) {\n        if (/^\\d+$/.test(stringVal) && parseInt(stringVal) > 9999) return \"NULL\";\n        const correctedDate = standardizeDate(stringVal);\n        return correctedDate ? `'${correctedDate}'` : \"NULL\";\n    }\n    \n    // String handling: Escape single quotes AND dollar signs\n    const escaped = stringVal\n        .replace(/'/g, \"''\")\n        .replace(/\\$/g, \"$$$$\"); \n        \n    return `'${escaped}'`;\n}\n\nconst columns = ['\"dataset_id\"', '\"row_index\"'].concat(dbColumnNames.map(c => `\"${c}\"`));\n\nfor (let i = 0; i < allRows.length; i += batchSize) {\n    const chunk = allRows.slice(i, i + batchSize);\n    const valuesList = chunk.map((item, idx) => {\n        const row = item.json;\n        // Ensure datasetId is wrapped in single quotes as it is a UUID/String\n        const rowValues = [`'${datasetId}'`, i + idx + 1]; \n        \n        mapEntries.forEach(entry => {\n            rowValues.push(prepareValue(row[entry[0]], entry[1]));\n        });\n        return `(${rowValues.join(\",\")})`;\n    });\n\n    results.push({ \n        json: { \n            sql: `INSERT INTO n8n_data.universal_datatable (${columns.join(\",\")}) VALUES ${valuesList.join(\",\")};` \n        } \n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,16],"id":"69ffce50-d959-48ae-9f0b-f879dbf44ab9","name":"Data Transformer"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,16],"id":"e68e3f97-f96c-4822-806e-fcb09edd9032","name":"Insert Data","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: \"ok\", datasetId: $(\"Insert Record Manager\").first().json.dataset_id, rowsInserted: $(\"Mapping Logic\").first().json.total_row_count, datasetName:$(\"Mapping Logic\").first().json.dataset_name } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1184,16],"id":"ecf74020-0813-4cf9-9708-4ff01b2805cd","name":"Respond to Webhook"},{"parameters":{"operation":"executeQuery","query":"=CREATE OR REPLACE VIEW n8n_data.v_ds_{{ $('Insert Record Manager').first().json.dataset_id.replace(/-/g, '_') }} AS\nSELECT\n    {{\n      Object.entries($('Mapping Logic').first().json.column_mapping)\n      .map(([name, col]) => {\n        const safeName = (name && name.trim() !== \"\") ? name.trim() : `unnamed_${col}`;\n        return `${col} AS \"${safeName}\"`;\n      })\n      .join(',\\n    ')\n    }}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '{{ $('Insert Record Manager').first().json.dataset_id }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,16],"id":"cd0f7c3b-8abe-4879-a397-d29581434a01","name":"Create View","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"kimi-k2.5","mode":"list","cachedResultName":"kimi-k2.5"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-784,800],"id":"f134a2f2-0119-451e-8b72-f29b5c4dfa07","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Analyze the following dataset as a single block to build a SQL Search Index:\n{{ JSON.stringify($input.all().map(i => i.json)) }}","needsFallback":true,"options":{"systemMessage":"ROLE\nYou are a Senior Database Engineer and Metadata Architect. Your objective is to analyze a 300-row sample of CSV data and generate a highly structured metadata map. This map will be used by a downstream AI to construct 100% accurate, high-performance SQL queries.\n\nYOUR TASK\nAnalyze the data and identify \"Filtering Columns.\" These are columns used in SQL WHERE, HAVING, or GROUP BY clauses.\n\nCategorical Discovery: Identify columns with low-to-medium cardinality (categories, statuses, regions, types). Extract the exact unique values.\n\nTemporal & Numeric Discovery: Identify date/time columns and numerical columns. Note their exact formatting (e.g., YYYY-MM-DD, presence of $ or , in numbers) so the SQL agent knows how to cast or parse them.\n\nSemantic Mapping: Infer the precise business logic of each column based on its header and values. Do not hallucinate; stick to what the data clearly represents.\n\nData Quality & Quirks: Detect if the column contains empty strings, NULL, N/A, or formatting quirks (e.g., case sensitivity, leading spaces).\n\nGranularity/Double-Counting: Identify rows that represent Subtotals, Totals, or Rollups (e.g., a \"Region\" column that contains the value \"All Regions\").\n\nSTRICT OUTPUT FORMAT\nYou must output strictly valid JSON. Do not include markdown formatting, conversational filler, or explanations. Start immediately with the JSON array [.\n\nUse this exact JSON schema:\n[\n  {\n    \"column_header\": \"Exact Column Name\",\n    \"data_type\": \"Categorical | Date | Numeric | Boolean\",\n    \"business_logic\": \"Brief, precise description of what this filters (e.g., Transaction lifecycle stage).\",\n    \"exact_values\": [\"Value A\", \"Value B\", \"Value C\"], \n    \"format_notes\": \"For Dates: format like MM/DD/YYYY. For Numerics: note currency symbols or commas. For Categories: note case sensitivity or special characters.\",\n    \"null_handling\": \"Note if empty strings, NULLs, or N/A are present.\",\n    \"aggregation_warning\": \"Include specific instructions if this column contains 'Total', 'Subtotal', or 'All' values that must be excluded in standard SUM() queries to avoid double-counting. Otherwise, output null.\"\n  }\n]\n\nCONSTRAINTS:\n\nIgnore purely unique identifiers (e.g., Transaction ID, Employee SSN, full names) UNLESS they are highly relevant for grouping (e.g., Manager ID).\n\nLimit exact_values to a maximum of 15 items. If there are more, list the top 10 and add \"...[High Cardinality]\".\n\nOutput ONLY the raw JSON array.","maxIterations":25,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-784,-144],"id":"d27ba215-2bfc-4111-9a1c-6ec31cd95e1b","name":"AI Agent","executeOnce":true},{"parameters":{"jsCode":"var rawText = $json.output || \"\";\n\n// 1. Strip any markdown formatting the AI might add (e.g., ```json ... ```)\nvar jsonString = rawText.replace(/```[a-z]*\\n?/g, \"\").replace(/```/g, \"\").trim();\n\nvar parsedData;\ntry {\n  // 2. Parse the pure JSON array\n  parsedData = JSON.parse(jsonString);\n} catch (e) {\n  // Safe fallback if the AI hallucinates bad JSON\n  return { cleaned_summary: \"Error parsing AI output: \" + e.message + \"\\n\\nRaw Output:\\n\" + rawText };\n}\n\nvar mdRows = [];\n\n// 3. Loop through the JSON objects and build your clean Markdown string\nparsedData.forEach(function(col) {\n  var sectionMd = \"### Column name:\" + col.column_header + \"\\n\";\n  \n  if (col.data_type) sectionMd += \"* **Data Type:** \" + col.data_type + \"\\n\";\n  if (col.business_logic) sectionMd += \"* **Business Logic:** \" + col.business_logic + \"\\n\";\n  \n  // Join the array of exact values with commas\n  if (col.exact_values && col.exact_values.length > 0) {\n    sectionMd += \"* **Exact Values:** \" + col.exact_values.join(\", \") + \"\\n\";\n  }\n  \n  if (col.format_notes) sectionMd += \"* **Format Notes:** \" + col.format_notes + \"\\n\";\n  if (col.null_handling) sectionMd += \"* **Null Handling:** \" + col.null_handling + \"\\n\";\n  if (col.aggregation_warning) sectionMd += \"* **Aggregation Warning:** \" + col.aggregation_warning + \"\\n\";\n  \n  mdRows.push(sectionMd);\n});\n\n// 4. Return the formatted markdown string to be passed to Postgres\nreturn { cleaned_summary: mdRows.join(\"\\n\\n\") };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,-176],"id":"be799900-51a6-4050-905e-46d08bcb7ba9","name":"Clean Summary"},{"parameters":{"promptType":"define","text":"=Description of the Dataset by User: {{ $('Webhook').first().json.body.dataset_desc }}\n\nDataset Summary: {{ $('Clean Summary').first().json.cleaned_summary }}\n","hasOutputParser":true,"options":{"systemMessage":"You are a data analyst who analyzes datasets based on the Description of the Dataset by User and Dataset Summary to come up with a set of 3 questions or queries that would be made by a real user who would use the dataset to answer real world business questions.\n\nEach question must consider:\n- The nature of the dataset -- the subject matter of the data (e.g. sales funnel, revenue, list of employees, etc.), type of data (e.g. time-based? monthly / annual / time stamped log or book of records, etc.)\n- Potential key takeaways (e.g. the number of deals in various deal stages?, total number of employees in different job level, total revenue, revenue variance year-over-year, total number of customers in the US, etc.)\n- Other potential insights to the user that the dataset could bring\n\nEach question must include:\n- Structured terms and language that provides clarity for AI to build an effective and accurate SQL query\n\n** IMPORTANT **\nDo not put SQL query directly in the question. \nBe brief and talk in layman's terms that anyone can understand. (like to a 12-year old)\nThe response should be a list of 3 sample questions in JSON format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[560,368],"id":"881112c4-aabe-466f-85e1-73b97fdc86c6","name":"AI Agent1"},{"parameters":{"jsonSchemaExample":"{\n  \"questions\": [\n    {\n      \"id\": \"1\",\n      \"question\": \"What time period should this report cover?\"\n    },\n    {\n      \"id\": \"1\",\n      \"question\": \"How should the results be broken down or grouped?\"\n    },\n    {\n      \"id\": \"3\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\"\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[720,624],"id":"b4031105-1513-418a-be10-44e0c9980c02","name":"Structured Output Parser"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"columns":{"mappingMode":"defineBelow","value":{"sample_questions":"={{ $json.output }}","dataset_id":"={{ $('Insert Record Manager').item.json.dataset_id }}"},"matchingColumns":["dataset_id"],"schema":[{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataset_name","displayName":"dataset_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dataset_summary","displayName":"dataset_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_count","displayName":"row_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_headers","displayName":"dataset_headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"dataset_header_types","displayName":"dataset_header_types","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_mapping","displayName":"column_mapping","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_dictionary","displayName":"column_dictionary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"owner_email","displayName":"owner_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"auth","displayName":"auth","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_desc","displayName":"dataset_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sample_questions","displayName":"sample_questions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,368],"id":"7d3745ea-9e11-4b0e-aa1b-7d393f215ebf","name":"Update rows in a table","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[496,640],"id":"3322a375-efa9-45a6-b879-9e2e9711ea53","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,1248],"id":"d7437866-6dc9-4ed3-b238-a7542fb72fc1","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"where":{"values":[{"column":"sample_questions","condition":"IS NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-400,1248],"id":"94972394-8e79-4e78-ac7f-2b429e69722d","name":"Select rows from a table","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,1248],"id":"3b4af311-3901-4866-bfd6-0cb5a6e22783","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=Description of the Dataset by User: {{ $('Loop Over Items').item.json.dataset_desc }}\n\nDataset Summary: {{  $('Loop Over Items').item.json.dataset_summary }}\n","hasOutputParser":true,"options":{"systemMessage":"You are a data analyst who analyzes datasets based on the Description of the Dataset by User and Dataset Summary to come up with a set of 5 questions or queries that would be made by a real user who would use the dataset to answer real world business questions.\n\nEach question must consider:\n- The nature of the dataset -- the subject matter of the data (e.g. sales funnel, revenue, list of employees, etc.), type of data (e.g. time-based? monthly / annual / time stamped log or book of records, etc.)\n- Potential key takeaways (e.g. the number of deals in various deal stages?, total number of employees in different job level, total revenue, revenue variance year-over-year, total number of customers in the US, etc.)\n- Other potential insights to the user that the dataset could bring\n\nEach question must include:\n- Structured terms and language that provides clarity for AI to build an effective and accurate SQL query\n\n** IMPORTANT **\nDo not put SQL query directly in the question. \nBe brief and talk in layman's terms that anyone can understand. (like to a 12-year old)\nThe response should be a list of 3 sample questions in JSON format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[320,1232],"id":"3914b09f-6de2-4aa7-813d-0659d7bc1506","name":"AI Agent2"},{"parameters":{"jsonSchemaExample":"{\n  \"questions\": [\n    {\n      \"id\": \"1\",\n      \"question\": \"What time period should this report cover?\"\n    },\n    {\n      \"id\": \"1\",\n      \"question\": \"How should the results be broken down or grouped?\"\n    },\n    {\n      \"id\": \"3\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[496,1440],"id":"78e5d9d0-0973-48e8-bf54-13222da6f95c","name":"Structured Output Parser1"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"columns":{"mappingMode":"defineBelow","value":{"row_count":0,"auth":0,"sample_questions":"={{ $json.output }}","dataset_id":"={{ $('Loop Over Items').item.json.dataset_id }}"},"matchingColumns":["dataset_id"],"schema":[{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataset_name","displayName":"dataset_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dataset_summary","displayName":"dataset_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_count","displayName":"row_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dataset_headers","displayName":"dataset_headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"dataset_header_types","displayName":"dataset_header_types","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"column_mapping","displayName":"column_mapping","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"column_dictionary","displayName":"column_dictionary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"owner_email","displayName":"owner_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"auth","displayName":"auth","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dataset_desc","displayName":"dataset_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sample_questions","displayName":"sample_questions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,1232],"id":"02ded11b-9a8b-49fb-9788-1da17f97bfe9","name":"Update rows in a table1","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"dataset_id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-192,1248],"id":"9caf1d87-7115-4266-9e67-cfbb5810ac51","name":"Split Out"},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5","mode":"list","cachedResultName":"claude-haiku-4-5"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[288,1520],"id":"87add65a-fe85-435e-9908-54aa3d8ef6f7","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[656,832],"id":"89dc28ec-6637-4935-9941-0aa4edfcc5de","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO n8n_data.dataset_record_manager (\n    dataset_name,\n    row_count,\n    dataset_summary,\n    column_mapping,\n    column_dictionary,\n    owner_email,\n    dataset_desc\n) VALUES ($1, $2, $3, $4::jsonb, $5::jsonb, $6, $7)\nRETURNING dataset_id","options":{"queryReplacement":"={{ [$json.dataset_name, $('Mapping Logic').item.json.total_row_count, $json.dataset_summary, JSON.stringify($('Mapping Logic').first().json.column_mapping), JSON.stringify($('Mapping Logic').first().json.column_dictionary), $json.owner_email, $('Webhook').first().json.body.dataset_desc] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[32,-176],"id":"f58ce745-49bb-487b-914a-9315f0ba1be0","name":"Insert Record Manager11","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"columns":{"mappingMode":"defineBelow","value":{"row_count":"={{ $json.total_row_count }}","dataset_name":"={{ $json.dataset_name }}","dataset_summary":"={{ $json.dataset_summary }}","column_mapping":"={{ JSON.stringify($('Mapping Logic').first().json.column_mapping) }}","column_dictionary":"={{ JSON.stringify($('Mapping Logic').first().json.column_dictionary) }}","owner_email":"={{ $json.owner_email }}","dataset_desc":"={{ $('Webhook').first().json.body.dataset_desc }}"},"matchingColumns":[],"schema":[{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dataset_name","displayName":"dataset_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dataset_summary","displayName":"dataset_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_count","displayName":"row_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dataset_headers","displayName":"dataset_headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"dataset_header_types","displayName":"dataset_header_types","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"column_mapping","displayName":"column_mapping","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"column_dictionary","displayName":"column_dictionary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"owner_email","displayName":"owner_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"auth","displayName":"auth","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_desc","displayName":"dataset_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sample_questions","displayName":"sample_questions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,16],"id":"e11a774b-add9-4550-a891-65c68898fa81","name":"Insert Record Manager","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Parse CSV","type":"main","index":0}]]},"Parse CSV":{"main":[[{"node":"Mapping Logic","type":"main","index":0}]]},"Mapping Logic":{"main":[[{"node":"If Summary Empty","type":"main","index":0}]]},"If Summary Empty":{"main":[[{"node":"Sample Data","type":"main","index":0}],[{"node":"Set Without AI","type":"main","index":0}]]},"Sample Data":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Set With AI Summary":{"main":[[{"node":"Insert Record Manager","type":"main","index":0}]]},"Set Without AI":{"main":[[{"node":"Insert Record Manager","type":"main","index":0}]]},"Data Transformer":{"main":[[{"node":"Insert Data","type":"main","index":0}]]},"Insert Data":{"main":[[{"node":"Create View","type":"main","index":0}]]},"Create View":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"AI Agent":{"main":[[{"node":"Clean Summary","type":"main","index":0}]]},"Clean Summary":{"main":[[{"node":"Set With AI Summary","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Update rows in a table1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"Update rows in a table1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Update rows in a table":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Insert Record Manager11":{"main":[[]]},"Insert Record Manager":{"main":[[{"node":"Data Transformer","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version 69459798","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-09T02:48:08.258Z","id":183,"workflowId":"tgKjDasZvFZqdkPg","versionId":"69459798-63c6-49a5-81cf-b098b3258e9c","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}