n8n-workflows/Data_Analyzer_-_Upload_Dataset.json
{
  "updatedAt": "2026-02-22T04:49:25.299Z",
  "createdAt": "2026-02-06T03:00:23.920Z",
  "id": "6Wr6mcErf3Nq9coWqiFPb",
  "name": "Data Analyzer - Upload Dataset",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return { error: \"No data received.\" };\n\n// 1. Metadata Handling\nlet datasetName = \"Test\";\nlet datasetDesc = \"\";\nlet datasetEmail = \"\";\nlet datasetAuth = 0;\n\ntry {\n  const uploadNode = $('Upload Dataset CSV').first().json;\n  datasetName = uploadNode.dataset_name || datasetName;\n  datasetDesc = uploadNode.description || datasetDesc;\n  datasetEmail = uploadNode.email || datasetEmail;\n  datasetAuth = uploadNode.auth || datasetAuth;\n} catch (e) {}\n\n// 2. STRICTOR TYPE DETECTION\nfunction detectType(val) {\n  if (val === null || val === undefined || String(val).trim() === '') return 'null';\n  \n  const str = String(val).trim();\n  \n  // A. Financial Number Cleaning\n  const cleanNum = str.replace(/[$,]/g, '');\n  if (cleanNum !== \"\" && !isNaN(cleanNum)) {\n    // If it has a dot, a comma, or is very large, it's 'real'\n    if (str.includes('.') || str.includes(',') || Math.abs(parseFloat(cleanNum)) > 999999) {\n      return 'real';\n    }\n    return 'int';\n  }\n  \n  // B. Strict Date Regex (ISO format or MM/DD/YYYY)\n  // This prevents \"Budget 2025\" from matching.\n  const strictDate = /^\\d{4}-\\d{2}-\\d{2}$|^\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4}$/;\n  if (strictDate.test(str)) return 'date';\n\n  // C. Boolean\n  if (str.toLowerCase() === 'true' || str.toLowerCase() === 'false') return 'bool';\n  \n  return 'string';\n}\n\n// 3. TYPE UPGRADE LOGIC (Specific -> General)\n// If one row is 'int' and another is 'real', the column is 'real'.\n// If any row is 'string', the whole column must be 'string'.\nfunction getWinnerType(current, next) {\n  if (current === 'null' || !current) return next;\n  if (next === 'null') return current;\n  if (current === 'string' || next === 'string') return 'string';\n  if (current === 'real' || next === 'real') return 'real';\n  if (current === 'int' && next === 'int') return 'int';\n  if (current === 'date' && next === 'date') return 'date';\n  return 'string'; // Default to string on conflict\n}\n\n// 4. SCAN ALL ROWS FOR HEADERS AND TYPES\nconst columnTypes = {}; // { HeaderName: WinnerType }\n\nitems.forEach(item => {\n  for (const [key, value] of Object.entries(item.json)) {\n    const type = detectType(value);\n    columnTypes[key] = getWinnerType(columnTypes[key], type);\n  }\n});\n\n// 5. GENERATE FINAL MAPPING\nconst counters = { string: 1, real: 1, int: 1, date: 1, bool: 1 };\nconst mapping = {};\nconst dictionary = {};\n\n// Sort headers to maintain consistent order\nObject.keys(columnTypes).sort().forEach(header => {\n  let type = columnTypes[header];\n  if (type === 'null') type = 'string'; // Fallback for entirely empty columns\n  \n  const dbColumn = `${type}${counters[type]}`;\n  mapping[header] = dbColumn;\n  dictionary[dbColumn] = {\n    original_name: header,\n    data_type: type\n  };\n  counters[type]++;\n});\n\nreturn {\n  dataset_name: datasetName.replace(/'/g, \"''\"),\n  dataset_summary: datasetDesc.replace(/'/g, \"''\"),\n  column_mapping: mapping,\n  column_dictionary: dictionary,\n  total_row_count: items.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        176
      ],
      "id": "79405cdc-975d-4983-963e-c09fdd25b6bd",
      "name": "Mapping Logic"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get metadata once\nconst mapping = $(\"Mapping Logic\").first().json.column_mapping;\nconst datasetId = $(\"Insert Record Manager\").first().json.dataset_id;\n\n// 2. Get the actual CSV data\nconst allRows = $(\"Extract from CSV\").all();\n\n// 3. Batching Logic\nconst results = [];\nconst batchSize = 200;\n\nconst mapEntries = Object.entries(mapping); \nconst dbColumnNames = mapEntries.map(entry => entry[1]);\nconst csvHeaderKeys = mapEntries.map(entry => entry[0]);\n\n/**\n * NEW: Date Correction Logic\n * Standardizes common date strings to ISO format (YYYY-MM-DD)\n */\nconst standardizeDate = (val) => {\n    const d = new Date(val);\n    if (isNaN(d.getTime())) return null; // Invalid date\n    \n    // Returns YYYY-MM-DD\n    return d.toISOString().split('T')[0];\n};\n\n/**\n * UPDATED ESCAPE, SANITIZE & CORRECT LOGIC\n */\nconst prepareValue = (val, targetColumn) => {\n    // 1. Handle Nulls/Empty\n    if (val === null || val === undefined || String(val).trim() === '') return 'NULL';\n    \n    const stringVal = String(val).trim();\n    const colLower = targetColumn.toLowerCase();\n\n    // 2. Numeric Correction (int, real, float, amount, price)\n    const isNumericColumn = colLower.startsWith('int') || \n                            colLower.startsWith('real') || \n                            colLower.includes('amount') || \n                            colLower.includes('price');\n\n    if (isNumericColumn) {\n        const cleanNum = stringVal.replace(/[,\\s$]/g, '');\n        if (cleanNum === \"\" || isNaN(cleanNum)) return 'NULL';\n        return cleanNum;\n    }\n\n    // 3. Date Correction (date, created_at, received_at, etc.)\n    const isDateColumn = colLower.includes('date') || \n                         colLower.includes('_at') || \n                         colLower.includes('time');\n\n    if (isDateColumn) {\n        const correctedDate = standardizeDate(stringVal);\n        if (!correctedDate) return 'NULL'; // Prevent SQL crash on \"garbage\" dates\n        return `'${correctedDate}'`;\n    }\n\n    // 4. Standard string escaping\n    return `'${stringVal.replace(/'/g, \"''\")}'`;\n};\n\n// Define column list using the fixed order\n// Note: Using double quotes for identifiers is safer in PostgreSQL\nconst columns = [\"dataset_id\", \"row_index\", ...dbColumnNames].map(c => `\"${c}\"`);\n\nfor (let i = 0; i < allRows.length; i += batchSize) {\n    const chunk = allRows.slice(i, i + batchSize);\n    \n    const values = chunk.map((item, idx) => {\n        const row = item.json;\n        \n        const rowValues = [\n            `'${datasetId}'`,\n            i + idx + 1,\n            ...mapEntries.map(entry => {\n                const csvHeader = entry[0];\n                const dbColumn = entry[1];\n                return prepareValue(row[csvHeader], dbColumn);\n            })\n        ];\n        \n        return `(${rowValues.join(',')})`;\n    }).join(',');\n\n    results.push({\n        json: {\n            sql: `INSERT INTO n8n_data.universal_datatable (${columns.join(',')}) VALUES ${values};`\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        192
      ],
      "id": "f9b0e124-9290-468f-a0c0-b2522e1137ca",
      "name": "Data Transformer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_data.dataset_record_manager (\n    dataset_name, \n    dataset_summary, \n    dataset_headers, \n    dataset_header_types, \n    column_mapping, \n    column_dictionary, \n    row_count\n) VALUES (\n    $1::text, \n    $2::text, \n    $3::jsonb, \n    $4::jsonb, \n    $5::jsonb, \n    $6::jsonb, \n    $7::int\n) \nRETURNING dataset_id;",
        "options": {
          "queryReplacement": "=$1\t{{ $json.dataset_name }}\n$2\t{{ JSON.stringify($json.dataset_summary) }}\n$3\t{{ JSON.stringify($json.dataset_headers) }}\n$4  {{ JSON.stringify($json.dataset_header_types) }}\n$5\t{{ JSON.stringify($json.column_mapping) }}\n$6\t{{ JSON.stringify($json.column_dictionary) }}\n$7  {{ $json.total_row_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        192
      ],
      "id": "d7915ef6-e6af-40c1-9b4c-ea78bc297a78",
      "name": "Insert Record Manager",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload CSV",
        "formDescription": "Upload CSV of dataset you want AI to analyze.",
        "formFields": {
          "values": [
            {
              "fieldName": "dataset_name",
              "fieldLabel": "Dataset Name"
            },
            {
              "fieldName": "description",
              "fieldLabel": "Description of the dataset",
              "fieldType": "textarea"
            },
            {
              "fieldName": "data",
              "fieldLabel": "Upload csv file here",
              "fieldType": "file",
              "acceptFileTypes": "csv",
              "requiredField": true
            },
            {
              "fieldName": "email",
              "fieldLabel": "Email",
              "defaultValue": "ed.e.lee@gmail.com"
            },
            {
              "fieldName": "auth",
              "fieldLabel": "Authorization Code",
              "fieldType": "number",
              "defaultValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1008,
        176
      ],
      "id": "950c1dad-319c-481d-8597-838b8115170b",
      "name": "Upload Dataset CSV",
      "webhookId": "ab8e1403-cd72-4172-9bcc-0a26fd5a96e7"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -800,
        176
      ],
      "id": "d100ed11-40fb-44b3-a0c6-8138fcd3effc",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        192
      ],
      "id": "b7a92624-452d-49f7-b7f9-cc73427c302b",
      "name": "Insert into Universal_Datatable",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Completely remove the old version of the view\nDROP VIEW IF EXISTS n8n_data.v_active_analysis;\n\n-- 2. Create it fresh with the new column names\nCREATE VIEW n8n_data.v_active_analysis AS \nSELECT \n    {{ \n      Object.entries($node[\"Mapping Logic\"].json.column_mapping)\n      .map(([name, col]) => {\n        const safeName = (name && name.trim() !== \"\") ? name.trim() : `unnamed_${col}`;\n        return `${col} AS \"${safeName}\"`;\n      })\n      .join(', ') \n    }}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '{{ $node[\"Insert Record Manager\"].json.dataset_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1936,
        192
      ],
      "id": "5efdc36e-42f8-418d-948c-a6e09aeb814b",
      "name": "Create View",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "612f5618-8035-4326-9430-c402c8f64563",
              "leftValue": "={{ $('Mapping Logic').item.json.dataset_summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        176
      ],
      "id": "568ab7eb-88a8-47ae-a707-3edc3440c9d1",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "\n// 1. Get all incoming items\n//const items = $('Extract from CSV').all();\nconst items = $('Extract from CSV').all();\n// 1. Get all incoming items\n// const items = $input.all();\nif (items.length === 0) return [];\n\n// 2. Data Cleaning & Shift Correction\nconst cleanedItems = items.map(item => {\n  const raw = item.json;\n  const values = Object.values(raw);\n  const headers = Object.keys(raw).filter(k => k !== \"\");\n\n  // DETECTION: If values outnumber headers, the data has shifted (likely due to a comma in a name)\n  if (values.length > headers.length) {\n    let corrected = {};\n    let valIdx = 0;\n\n    for (let hIdx = 0; hIdx < headers.length; hIdx++) {\n      // HEURISTIC: If we are at the second column (usually Last Name) and a shift is active, \n      // we merge the split values and \"pull\" the rest of the row back to the left.\n      if (hIdx === 1 && values.length > headers.length) {\n        corrected[headers[hIdx]] = `${values[valIdx]}, ${values[valIdx + 1]}`.trim();\n        valIdx += 2; // Move past the \"extra\" split column\n      } else {\n        corrected[headers[hIdx]] = values[valIdx];\n        valIdx++;\n      }\n    }\n    return { json: corrected };\n  }\n  return item;\n});\n\n// 3. Random Sampling (100 Rows)\nlet shuffled = [...cleanedItems];\nfor (let i = shuffled.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];\n}\n\n// 4. Return only the 100 sample rows\nreturn shuffled.slice(0, 100);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -80
      ],
      "id": "e05c60a0-54a1-4560-be55-8fb24c2b0063",
      "name": "Sample Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following dataset as a single block to build a SQL Search Index:\n{{ JSON.stringify($input.all().map(i => i.json)) }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "ROLE You are a Senior Database Engineer and Metadata Architect. Your task is to analyze a 100-row data block and identify \"Filtering Columns\"—those that contain categories, types, or groupings suitable for SQL WHERE clauses.\n\nYOUR TASK\n\nCategorical Discovery: Scan the data for columns with a limited set of recurring values (Low Cardinality). These are your primary filtering targets.\n\nMapping Intent: For each identified column, define what business question it answers.\n\nExact Value Extraction: Extract the exact unique values found in the sample (including special characters, casing, and spaces) to ensure 100% match accuracy in SQL queries.\n\nIgnore Noise: Do not analyze unique identifiers (Names, IDs), numerical metrics (Amounts), or Date/Time stamps.\n\nOUTPUT FORMAT (Strictly Machine-Ready) Provide a structured entry for every identified \"Filtering Column.\" No conversational text or headers outside of this list:\n\n[Exact Column Header]\nBusiness Logic: [e.g., Defines the stage of the transaction]\n\nSQL Filter Values: [Value A], [Value B], [Value C]\n\nQuery Instruction: [e.g., Use this column when the user asks for \"Current Status\" or \"Progress\"]\n\nSyntax Note: [e.g., \"Contains curly apostrophe ’\" or \"Case-sensitive\"]\n\nShift Alert: [None] OR [Header is misleading; this column actually contains [True Category]]\n\nSTRICT OPERATIONAL RULES\n\nNo Explanation: Start the output immediately with the first column.\n\nCategorical Only: Only include columns that act as groups or types.\n\nPrecision: If the data shows Budget’, the output must show Budget’.\n\nDirect Output: This text will be saved directly to a database record; ensure it is clean and professional.",
          "maxIterations": 25,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -80
      ],
      "id": "32875777-c05d-4c02-be71-60a114f65f22",
      "name": "AI Agent1",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        128
      ],
      "id": "82c7cbe9-4f9a-41d7-aca1-993cc493d07b",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        304,
        128
      ],
      "id": "7e775f4b-79bb-4c18-a0e4-219d05361d25",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dd72bc3-f879-40ff-90ec-022b886b850f",
              "name": "dataset_name",
              "value": "={{ $('Mapping Logic').item.json.dataset_name }}",
              "type": "string"
            },
            {
              "id": "28ccfc69-2846-420f-9ea2-3c27fcdbeb64",
              "name": "dataset_summary",
              "value": "={{ $('Edit Summary').item.json.edited_analysis }}",
              "type": "string"
            },
            {
              "id": "3fc4b8da-f531-4016-9a7a-d5740401dc34",
              "name": "dataset_headers",
              "value": "={{ $('Mapping Logic').item.json.dataset_headers }}",
              "type": "array"
            },
            {
              "id": "ac6d0454-e6d2-4243-b078-80e7eec975e9",
              "name": "dataset_header_types",
              "value": "={{ $('Mapping Logic').item.json.dataset_header_types }}",
              "type": "array"
            },
            {
              "id": "c780cfc7-a48d-4042-a86a-5bec93966c84",
              "name": "column_mapping",
              "value": "={{ $('Rehydrate into JSON').item.json.column_mapping }}",
              "type": "object"
            },
            {
              "id": "c9ee0eaf-53f3-4c4a-9ea2-a0b1b5880918",
              "name": "column_dictionary",
              "value": "={{ $('Mapping Logic').item.json.column_dictionary }}",
              "type": "object"
            },
            {
              "id": "b52ba07c-7f04-4704-9648-b5dc1a4e4710",
              "name": "total_row_count",
              "value": "={{ $('Mapping Logic').item.json.total_row_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -80
      ],
      "id": "8a6a2046-bef4-44dd-a3a0-5d00f94f5fba",
      "name": "Set for Insertion"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "{{ $json.cleaned_html }}"
            },
            {
              "fieldName": "edited_analysis",
              "fieldLabel": "Summary from AI",
              "fieldType": "textarea",
              "defaultValue": "={{ $json.cleaned_md }}",
              "requiredField": true
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        912,
        -80
      ],
      "id": "114daf33-deaf-4dc9-82bd-9699ad1b29d9",
      "name": "Edit Summary",
      "webhookId": "f0c567b1-22b9-46be-8f9a-977fe315d535"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw response\nlet rawText = $json.output || \"\"; \n\n// Initial cleanup: Remove markdown blocks and trim\nlet sanitizedText = rawText\n  .replace(/```[a-z]*\\n?/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Split into sections based on [Header]\nconst sections = sanitizedText.split(/(?=\\[[^\\]]+\\])/g);\n\nlet htmlRows = [];\nlet mdRows = [];\n\nsections.forEach(section => {\n  if (!section.trim()) return;\n\n  let lines = section.trim().split(/\\r?\\n/);\n  // Extract header and remove brackets\n  let header = lines.shift().replace(/[\\[\\]]/g, \"\").trim();\n\n  // --- Build HTML for this section ---\n  let sectionHtml = `<h3 style=\"color: #2c3e50; border-bottom: 1px solid #eee;\">${header}</h3><ul style=\"list-style: none; padding-left: 0;\">`;\n  \n  // --- Build Markdown for this section ---\n  let sectionMd = `### ${header}\\n`;\n\n  lines.forEach(line => {\n    if (line.includes(':')) {\n      let [key, ...valueParts] = line.split(':');\n      let keyTrimmed = key.trim();\n      let value = valueParts.join(':').trim().replace(/'/g, \"''\"); // SQL Escape\n\n      sectionHtml += `<li style=\"margin-bottom: 5px;\"><strong>${keyTrimmed}:</strong> ${value}</li>`;\n      sectionMd += `* **${keyTrimmed}:** ${value}\\n`;\n    } else if (line.trim()) {\n      let extra = line.trim().replace(/'/g, \"''\");\n      sectionHtml += `<li style=\"color: #666; font-style: italic;\">${extra}</li>`;\n      sectionMd += `* _${extra}_\\n`;\n    }\n  });\n\n  sectionHtml += `</ul>`;\n  htmlRows.push(sectionHtml);\n  mdRows.push(sectionMd);\n});\n\n// Final Assembly\nconst finalHtml = `<div style=\"font-family: sans-serif; max-width: 800px;\">${htmlRows.join('')}</div>`;\nconst finalMd = mdRows.join('\\n');\n\nreturn {\n  cleaned_html: finalHtml,\n  cleaned_md: finalMd\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -80
      ],
      "id": "3dc0b661-9ff2-4b1a-83df-9dc90bc6a89b",
      "name": "Clean Summary"
    },
    {
      "parameters": {
        "content": "# Upload"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        144
      ],
      "typeVersion": 1,
      "id": "8e1c790e-f253-4efe-ae65-f85a0c90adae",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldName": "mapping",
              "fieldLabel": "JSON Mapping",
              "fieldType": "textarea",
              "defaultValue": "={{ JSON.stringify($json.column_mapping) }}"
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        -384,
        176
      ],
      "id": "2ed88399-77ed-485b-ad52-35988611f37e",
      "name": "Review Mapping",
      "webhookId": "8ae12fca-56f3-4596-8ec5-37199e06b484"
    },
    {
      "parameters": {
        "jsCode": "// 1. Capture the string from the previous Form node\nconst rawString = $('Review Mapping').first().json.mapping;\n\ntry {\n  // 2. Attempt to parse the string back into a JSON object\n  const cleanedJson = JSON.parse(rawString);\n\n  // 3. Return the parsed object so subsequent nodes can access keys directly\n  return {\n    column_mapping: cleanedJson\n  };\n} catch (error) {\n  // 4. Handle Syntax Errors (e.g., user deleted a bracket)\n  throw new Error(\"Invalid JSON format. Please check for missing commas or quotes: \" + error.message);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        176
      ],
      "id": "c4607e8d-8a95-4c99-8750-a13e78db6be7",
      "name": "Rehydrate into JSON"
    }
  ],
  "connections": {
    "Mapping Logic": {
      "main": [
        [
          {
            "node": "Review Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Transformer": {
      "main": [
        [
          {
            "node": "Insert into Universal_Datatable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Record Manager": {
      "main": [
        [
          {
            "node": "Data Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Dataset CSV": {
      "main": [
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Mapping Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Universal_Datatable": {
      "main": [
        [
          {
            "node": "Create View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sample Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Data": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Clean Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set for Insertion": {
      "main": [
        [
          {
            "node": "Insert Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Summary": {
      "main": [
        [
          {
            "node": "Set for Insertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Summary": {
      "main": [
        [
          {
            "node": "Edit Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Mapping": {
      "main": [
        [
          {
            "node": "Rehydrate into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rehydrate into JSON": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e270d7e7-f848-468e-82e5-204926319d89",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T03:00:23.920Z",
      "createdAt": "2026-02-06T03:00:23.920Z",
      "role": "workflow:owner",
      "workflowId": "6Wr6mcErf3Nq9coWqiFPb",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-02-02T01:43:01.385Z",
      "createdAt": "2026-02-02T01:43:01.385Z",
      "id": "O5gBsgGfepw7ZCCU",
      "name": "AI-DEV"
    }
  ]
}