n8n-workflows/Data_Analyzer_-_Analyze_and_Return_JSON.json
{
  "updatedAt": "2026-02-22T04:49:54.580Z",
  "createdAt": "2026-02-21T21:46:58.816Z",
  "id": "WxJWkkbbdQTnK8zX",
  "name": "Data Analyzer - Analyze and Return JSON",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b42c5989-a5a7-4e31-84b2-d928fcdcb8ce",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        304
      ],
      "id": "0c58d9df-a771-4ffc-a55b-b45ef2889312",
      "name": "Webhook Trigger",
      "webhookId": "b42c5989-a5a7-4e31-84b2-d928fcdcb8ce"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT dataset_id, dataset_name, dataset_summary, owner_email, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id = '{{ $json.body.datasetId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        304
      ],
      "id": "3fb6af42-abf6-4bfc-9659-861ba9f15206",
      "name": "Get Dataset",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate dynamic view query for the dataset\nconst datasetId = $input.first().json.dataset_id;\nconst mapping = $input.first().json.column_mapping;\n\n// 1. Build the SELECT clause with safe naming and fallback for empty headers\nconst selectClauses = Object.entries(mapping).map(([originalName, genericColumn]) => {\n    // Sanitize: trim whitespace and provide a fallback if the header is empty\n    const cleanName = (originalName && originalName.trim() !== \"\") \n        ? originalName.trim() \n        : `unnamed_${genericColumn}`;\n\n    // Wrap names in double quotes to handle spaces and special characters\n    return `${genericColumn} AS \"${cleanName}\"`;\n});\n\n\n// 2. Construct the \"DROP and CREATE\" statement\n// Using DROP VIEW IF EXISTS is the only way to handle changing column names \n// or counts without triggering a Postgres schema error.\nconst sql = `\nDROP VIEW IF EXISTS n8n_data.v_active_analysis;\n\nCREATE VIEW n8n_data.v_active_analysis AS \nSELECT \n    ${selectClauses.join(',\\n    ')}\nFROM n8n_data.universal_datatable\nWHERE dataset_id = '${datasetId}';\n`;\n\n\nreturn {\n  view_update_sql: sql,\n  dataset_id: datasetId,\n  dataset_name: $input.first().json.dataset_name,\n  dataset_summary: $input.first().json.dataset_summary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ],
      "id": "7b541df6-2804-4734-887e-24cba0526ca2",
      "name": "Generate Dynamic View Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.view_update_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        304
      ],
      "id": "fa958305-454c-4a88-ad03-2c070b910175",
      "name": "Update Dynamic View",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "value": "={{ $('Webhook Trigger').item.json.body.prompt }}",
              "type": "string"
            },
            {
              "id": "dataset_id",
              "name": "dataset_id",
              "value": "={{ $('Get Dataset').item.json.dataset_id }}",
              "type": "string"
            },
            {
              "id": "dataset_summary",
              "name": "dataset_summary",
              "value": "={{ $('Get Dataset').item.json.dataset_summary }}",
              "type": "string"
            },
            {
              "id": "view_query",
              "name": "view_query",
              "value": "={{ $('Generate Dynamic View Query').item.json.view_update_sql }}",
              "type": "string"
            },
            {
              "id": "session",
              "name": "session",
              "value": "={{ Date.now() + Math.floor(Math.random() * 1000) }}",
              "type": "string"
            },
            {
              "id": "ai_model",
              "name": "ai_model",
              "value": "={{ $('Webhook Trigger').item.json.body.model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        304
      ],
      "id": "3db4a755-d458-4e0a-b8db-1a618bc3d1b8",
      "name": "Set Prompt and ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=ROLE You are a Senior Data Analyst. Your goal is to answer user inquiries by querying the n8n_data.v_active_analysis table. You must present all data-heavy responses using Rich HTML and HTML Tables.\n\nBefore building queries, use the Example Queries Tool to fetch and reference how past highly-rated queries were built and used to produce high quslity responses. Use {{ $json.dataset_id }} to against metadata `dataset_id` and {{ $workflow.id }} against metadata `workflow_id` to only look at embeddings that are relevant for this workflow and dataset.\nEvaluate the retrived embeddings relevance to the current user prompt and score it out of 10. \nIf this relevance score is over equal to or greater than 9, use the intermediate steps retrieved to run the query.\nIf between 6 and 8, reference the retrieved intermediate steps to build a reliable query.\nIf lower than 6, ignore.\nDO NOT DIRECTLY USE THE STORED RESPONSE RETRIEVED. ALWAYS RUN THE QUERY AGAINST THE DATASET TO RETRIEVE THE UP-TO-DATE RESULTS. \n\nDATABASE CONTEXT\n\nVIEW DEFINITION: {{ $json.view_query }}\n\nDATASET SUMMARY: {{ $json.dataset_summary }}\n\nSTRICT SQL CONSTRUCTION RULES\n\nDouble Quotes: Always wrap column names (e.g., \"CFBU\", \"Year\").\n\nSingle Quotes: Always wrap values (e.g., 'Revenue').\n\nThe \"Apostrophe\" Rule: For values like Budget’, use the exact typographic character.\n\nNo Markdown in Tool Call: Send ONLY the raw SQL string to the tool.\n\nHTML OUTPUT SPECIFICATIONS Your final response MUST be valid HTML. Follow these styling rules:\n\nTables: Use <table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"> for any data comparison or list.\n\nHeaders: Use <th> with a light gray background (background-color: #f2f2f2;) for table headers.\n\nEmphasis: Use <strong> for key figures and <u> for category names.\n\nNo Markdown Tags: Do NOT use ```html or **bold**. Use only <b> or <strong> and raw HTML tags.\n\n\nOPERATIONAL WORKFLOW\n\nAnalyze & Map: Identify columns and values from the context.\n\nComplex Analysis: For Variance/Comparisons, run multiple queries and calculate manually.\n\nExecute: Pass raw SQL to the SQL Datastore.\n\nSynthesize HTML Response:\n\nStart with a brief, friendly sentence: <span><b>Here is the analysis for your request:</b></span>.\n\nPresent findings in a structured <table>.\n\nIf providing a summary, use <ul> and <li>.\n\nThen, assume a role of a HTML designer and use your best design skills to make the HTML output professional and beautiful. Only output HTML code without any extra comments or your plan or thinking.\n\nCRITICAL: Ensure all tags are properly closed to prevent rendering errors in the n8n Form.\n",
          "maxIterations": 30,
          "returnIntermediateSteps": "={{ $('Webhook Trigger').item.json.body?.returnSteps || false }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1200,
        304
      ],
      "id": "c1937a83-f290-4236-817f-2867fb55d72f",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "={{ $('Webhook Trigger').item.json.body.model }}",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        528
      ],
      "id": "f0b23dc2-5765-423d-b92b-f687c6f42c41",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set Prompt and ID').item.json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1328,
        528
      ],
      "id": "b48f3e9a-c564-4669-80f4-546e323be92b",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1440,
        528
      ],
      "id": "77df30fc-de47-4f1a-995b-74513cdae40f",
      "name": "Calculator"
    },
    {
      "parameters": {
        "jsCode": "// 1. Safely access input data from the current node\nconst inputData = $input.first();\nif (!inputData) return { status: 'error', message: 'No input received' };\n\nconst agentOutput = inputData.json;\n\n// 2. Access external node data\nconst webhookTrigger = $('Webhook Trigger').first()?.json?.body || {};\nconst datasetNode = $('Get Dataset').first()?.json || {};\n\n// 3. Target the AI Agent node specifically for intermediate steps\nconst agentNodeData = $('AI Agent').first()?.json || {};\nconst steps = agentNodeData.intermediateSteps;\n\n// 4. Process steps with Vector Store optimized formatting\nlet processUsed = 'No process steps recorded.';\n\nif (Array.isArray(steps) && steps.length > 0) {\n  processUsed = steps.map((step, index) => {\n    const tool = step.action?.tool || 'Internal Reasoning';\n    const toolInput = step.action?.toolInput ? JSON.stringify(step.action.toolInput) : 'N/A';\n    \n    // Clean up observation (handles objects/arrays/strings)\n    let observation = step.observation;\n    if (typeof observation === 'object') {\n      observation = JSON.stringify(observation, null, 2);\n    }\n\n    // Structured for RAG: Clear headers help the embedding model identify relationships\n    return `### STEP ${index + 1}\n[Tool Used]: ${tool}\n[Input]: ${toolInput}\n[Observation]: ${observation || 'No output recorded.'}`;\n  }).join('\\n\\n---\\n\\n');\n}\n\n// 5. Return the final structured object\nreturn {\n  status: 'ok',\n  result: agentOutput.output || 'No response generated',\n  processUsed: processUsed,\n  metadata: {\n    model: webhookTrigger.model || 'unknown',\n    datasetName: datasetNode.dataset_name || 'unknown',\n    stepCount: Array.isArray(steps) ? steps.length : 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        304
      ],
      "id": "85ea8b69-ea52-47bb-95c8-07d5682b53a9",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2064,
        304
      ],
      "id": "72c21d68-4405-4269-802e-7804683ad406",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in universal_datatable.",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1584,
        528
      ],
      "id": "8483a897-760d-4f7d-a72f-12243d0d7ce8",
      "name": "SQL Datastore",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool stores recommended intermediate steps and output rated highly by the user for the AI Agent to follow to more reliably respond to user inquiries.",
        "qdrantCollection": {
          "__rl": true,
          "value": "data-analyzer-saved-analysis",
          "mode": "list",
          "cachedResultName": "data-analyzer-saved-analysis"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1744,
        528
      ],
      "id": "a46b8cf6-4588-4205-a147-cb285f36ae2a",
      "name": "Example Queries",
      "credentials": {
        "qdrantApi": {
          "id": "zObCvzTEf6kFbsLP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 768
        }
      },
      "type": "n8n-nodes-gemini-embedding-plus.embeddingsGoogleGeminiPlus",
      "typeVersion": 1,
      "position": [
        1472,
        832
      ],
      "id": "bf54440b-ccb8-4375-ba11-a6087d99acab",
      "name": "Embeddings Google Gemini Plus",
      "credentials": {
        "googlePalmApi": {
          "id": "3F7PYtvjNAVhAYSs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1696,
        720
      ],
      "id": "079124aa-dd9a-40c6-bca3-8ea932933742",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "5LaIovQtdd5x4fjU",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=ROLE You are a Senior Data Analyst. Your goal is to answer user inquiries by querying the n8n_data.v_active_analysis table. You must present all data-heavy responses using Rich HTML and HTML Tables.\n\nBefore building queries, use the Example Queries Tool to fetch and reference how past highly-rated queries were built and used to produce high quslity responses. Use {{ $json.dataset_id }} to against metadata `dataset_id` and {{ $workflow.id }} against metadata `workflow_id` to only look at embeddings that are relevant for this workflow and dataset.\nEvaluate the retrived embeddings relevance to the current user prompt and score it out of 10. \nIf this relevance score is over equal to or greater than 9, use the intermediate steps retrieved to run the query.\nIf between 6 and 8, reference the retrieved intermediate steps to build a reliable query.\nIf lower than 6, ignore.\nDO NOT DIRECTLY USE THE STORED RESPONSE RETRIEVED. ALWAYS RUN THE QUERY AGAINST THE DATASET TO RETRIEVE THE UP-TO-DATE RESULTS. \n\nDATABASE CONTEXT\n\nVIEW DEFINITION: {{ $json.view_query }}\n\nDATASET SUMMARY: {{ $json.dataset_summary }}\n\nSTRICT SQL CONSTRUCTION RULES\n\nDouble Quotes: Always wrap column names (e.g., \"CFBU\", \"Year\").\n\nSingle Quotes: Always wrap values (e.g., 'Revenue').\n\nThe \"Apostrophe\" Rule: For values like Budget’, use the exact typographic character.\n\nNo Markdown in Tool Call: Send ONLY the raw SQL string to the tool.\n\nHTML OUTPUT SPECIFICATIONS Your final response MUST be valid HTML. Follow these styling rules:\n\nTables: Use <table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"> for any data comparison or list.\n\nHeaders: Use <th> with a light gray background (background-color: #f2f2f2;) for table headers.\n\nEmphasis: Use <strong> for key figures and <u> for category names.\n\nNo Markdown Tags: Do NOT use ```html or **bold**. Use only <b> or <strong> and raw HTML tags.\n\n\nOPERATIONAL WORKFLOW\n\nAnalyze & Map: Identify columns and values from the context.\n\nComplex Analysis: For Variance/Comparisons, run multiple queries and calculate manually.\n\nExecute: Pass raw SQL to the SQL Datastore.\n\nSynthesize HTML Response:\n\nStart with a brief, friendly sentence: <span><b>Here is the analysis for your request:</b></span>.\n\nPresent findings in a structured <table>.\n\nIf providing a summary, use <ul> and <li>.\n\nCRITICAL: Ensure all tags are properly closed to prevent rendering errors in the n8n Form.\n",
          "maxIterations": 30,
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1184,
        1120
      ],
      "id": "9ad89f0d-2dd7-4ffd-aa37-2ff3c1871e08",
      "name": "AI Agent4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an expert web designer. \nYou will take a look at the HTML input and check for any errors that might cause mis-formatted output displayed to the user. You will also use your best design skills to make the HTML output professional and beautiful. Only output HTML code without any extra comments or your plan or thinking."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2320,
        1136
      ],
      "id": "dd1815cb-a326-4562-9bf8-5d64e819b8a1",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2224,
        1328
      ],
      "id": "56a5a954-a3c0-4fc6-862c-79623154e35c",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2352,
        1328
      ],
      "id": "76c6df5a-1955-419f-803d-214e4268a5f7",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dataset": {
      "main": [
        [
          {
            "node": "Generate Dynamic View Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dynamic View Query": {
      "main": [
        [
          {
            "node": "Update Dynamic View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Dynamic View": {
      "main": [
        [
          {
            "node": "Set Prompt and ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt and ID": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SQL Datastore": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Example Queries": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini Plus": {
      "ai_embedding": [
        []
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Example Queries",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2bff4c6d-9813-41ae-b14d-f3bd7b0b374e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-21T21:46:58.816Z",
      "createdAt": "2026-02-21T21:46:58.816Z",
      "role": "workflow:owner",
      "workflowId": "WxJWkkbbdQTnK8zX",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": null,
  "tags": []
}