n8n-workflows/Data_Analyzer_-_Update_Dateset_Summary.json
{
  "updatedAt": "2026-02-06T03:37:21.912Z",
  "createdAt": "2026-02-06T03:02:37.564Z",
  "id": "jXwE9pqPxutP2WwQFq073",
  "name": "Data Analyzer - Update Dateset Summary",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "dataset_name"
            },
            {
              "fieldToAggregate": "dataset_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1536,
        96
      ],
      "id": "809d263a-58ac-4d3b-938b-47bb652a16cd",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1744,
        96
      ],
      "id": "2f4c6399-02c6-44f4-bac3-8cb0b13d7049",
      "name": "Get the Dataset Record2",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options2').first().json.my_options[0].id[$json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        96
      ],
      "id": "75f23633-cc90-4157-9f69-674964b971b3",
      "name": "Get the Dataset3",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<b>THIS WILL UPDATE A DATASET SUMMARY</b>\n<div>\n  <strong>Available Datasets:</strong>\n  <ol>\n    {{ $('Set Options2').first().json.my_options[0].label.map(name => `<li>${name}</li>`).join('') }}\n  </ol>\n</div>"
            },
            {
              "fieldName": "dataset_no",
              "fieldLabel": "Dataset Name to UPDATE",
              "fieldType": "number",
              "defaultValue": "=1",
              "requiredField": true
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        -1088,
        96
      ],
      "id": "e84b031a-ce2c-43aa-986d-509fc9a0edb1",
      "name": "Form - Get Prompt and Dataset ID2",
      "webhookId": "215c9bba-2c2c-4a18-b581-7b42934242ea"
    },
    {
      "parameters": {
        "jsCode": "return {\n  my_options: $input.all().map(item => {\n    return {\n      label: item.json.dataset_name,\n      id: item.json.dataset_id  // What the database gets\n    };\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        96
      ],
      "id": "09395527-467a-4237-afaa-8e9faab21f4c",
      "name": "Set Options2"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldName": "update",
              "fieldLabel": "Update the summary?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "No"
                  },
                  {
                    "option": "Yes"
                  }
                ]
              }
            },
            {
              "fieldName": "dataset_summary",
              "fieldLabel": "Summary",
              "fieldType": "textarea",
              "defaultValue": "={{ $json.dataset_summary }}"
            },
            {
              "fieldType": "html",
              "html": "<br>\n<b>Column Mapping (cannot be edited)</b><br><br>\n{{ JSON.stringify($json.readable_mapping) }}\n\n"
            }
          ]
        },
        "options": {
          "buttonLabel": "Submit",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        -448,
        96
      ],
      "id": "69c6f37e-6f18-463c-bbaf-892fe255476b",
      "name": "Form",
      "webhookId": "ca0e08b4-837a-4cc9-897b-2a8b170fdab0"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the data from the input\nconst input = $input.first().json;\n\n// 2. Transform the mapping into \"Header: Column\" format\nconst mappingEntries = Object.entries(input.column_mapping || {});\n\n// Sort alphabetically by the Original Header (the Key) for easy lookups\nmappingEntries.sort((a, b) => a[0].localeCompare(b[0]));\n\n// 3. Format as: \"Account Name: string3<br>\"\n// This ensures each entry is on its own line when viewed in a web context\nconst humanReadableMapping = mappingEntries\n    .map(([header, dbCol]) => `${header}: ${dbCol}<br>`)\n    .join('');\n\n// 4. Return the data with all original fields preserved\nreturn {\n    ...input,\n    readable_mapping: humanReadableMapping\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        96
      ],
      "id": "211cd110-d1f7-4ecd-8474-31b1ac40a383",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee64c955-6944-4974-bf1b-c3b4048b4aaf",
              "leftValue": "={{ $json.update }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        96
      ],
      "id": "009d8df7-eaa7-4a49-8b92-d08abac115fd",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Code in JavaScript').item.json.dataset_id }}",
            "dataset_summary": "={{ $json.dataset_summary }}"
          },
          "matchingColumns": [
            "dataset_id"
          ],
          "schema": [
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dataset_name",
              "displayName": "dataset_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_summary",
              "displayName": "dataset_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_count",
              "displayName": "row_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_headers",
              "displayName": "dataset_headers",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_header_types",
              "displayName": "dataset_header_types",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "column_mapping",
              "displayName": "column_mapping",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "column_dictionary",
              "displayName": "column_dictionary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "4d9da35d-d33a-4888-b2f6-f63e0a854851",
      "name": "Update Summary",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "UPDATE SUMMARY",
        "formDescription": "Data AI Analyzer ",
        "formFields": {
          "values": [
            {
              "fieldName": "session",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $now.toMillis() + Math.floor(Math.random() * 1000) }}"
            }
          ]
        },
        "options": {
          "buttonLabel": "Proceed to select a dataset to update",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1952,
        96
      ],
      "id": "de72645b-9047-4e5f-8fb6-afba267eb3cf",
      "name": "Update Form",
      "webhookId": "f972a7d2-4221-442e-bb40-07461bbfbb9f"
    },
    {
      "parameters": {
        "content": "# Update Summary",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        64
      ],
      "typeVersion": 1,
      "id": "433860a9-9c29-42d9-9a2e-30da4fbf4206",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Set Options2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset Record2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Get Prompt and Dataset ID2": {
      "main": [
        [
          {
            "node": "Get the Dataset3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Options2": {
      "main": [
        [
          {
            "node": "Form - Get Prompt and Dataset ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Form": {
      "main": [
        [
          {
            "node": "Get the Dataset Record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cf994acd-08e1-4532-99a7-3cabb41b7e22",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T03:02:37.564Z",
      "createdAt": "2026-02-06T03:02:37.564Z",
      "role": "workflow:owner",
      "workflowId": "jXwE9pqPxutP2WwQFq073",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-02-02T01:43:01.385Z",
      "createdAt": "2026-02-02T01:43:01.385Z",
      "id": "O5gBsgGfepw7ZCCU",
      "name": "AI-DEV"
    }
  ]
}