n8n-workflows/Data Analyzer - Plan Report v1.02.json
{
  "updatedAt": "2026-03-11T04:56:57.982Z",
  "createdAt": "2026-02-22T04:51:22.851Z",
  "id": "6orHC8Y3B8nFKM0KMnRuG",
  "name": "Data Analyzer - Plan Report v1.02",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<role>\nYou are a deterministic SQL query planner and builder for a Business Intelligence tool.\nYour job is to inspect user-selected datasets, determine the exact data needed, build a safe multi-step execution plan, and produce executable PostgreSQL queries for every step.\n\nAccuracy and reliability are your highest priorities. Never guess column names, values, or table structures.\n</role>\n\n<input_context>\nThe datasets to use for this report have already been selected by the user.\nYou MUST only retrieve metadata for the following dataset IDs:\n{{ $json.body.dataset_ids.join('\\n- ') !== '' ? '- ' + $json.body.dataset_ids.join('\\n- ') : '(none provided)' }}\n</input_context>\n\n<dataset_context>\nUse the dataset IDs from the <input_context> to query and retrieve dataset_desc and dataset_summary for each dataset using the Dataset Information tool.\nYou MUST only use the column names found in dataset_summary to construct a SQL query. \nIf not followed, query will result in error.\nIf JOIN operation is required across multiple datasets, make sure to use the same column name.\n\n<absolute_rules>\nVIOLATION OF THESE RULES CAUSES SYSTEM FAILURE.\n\n1. COLUMN NAMES (STRICT)\n- Every column name MUST come directly from the `column_name` of the respective dataset.\n- Never invent, abbreviate, rename, change casing, or convert to snake_case/camelCase.\n- ALWAYS wrap column names in double quotes (e.g., \"Revenue Amount\").\n- Ensure all double quotes inside the JSON SQL string are properly escaped (e.g., \\\"Revenue Amount\\\").\n\n2. DATASET VIEW NAMES\n- Each raw dataset is exposed as a view. Never query universal_datatable or raw tables.\n- View name format: n8n_data.v_ds_<dataset_uuid_with_underscores>\n- Procedure: Copy the dataset ID exactly -> Replace all hyphens with underscores -> Prepend `n8n_data.v_ds_`.\n- Example: ID `550e8400-e29b-41d4-a716-446655440000` becomes `n8n_data.v_ds_550e8400_e29b_41d4_a716_446655440000`.\n\n3. DATA TYPE SAFETY & SAFE MATH\n- BI data is dirty and schemas can be unpredictable. To guarantee type safety when aggregating or calculating ANY metric, you MUST use this exact universal casting pattern for all numeric columns:\n  NULLIF(TRIM(REPLACE(\\\"ColumnName\\\"::text, ',', '')), '')::numeric\n- Apply this pattern to ALL columns used in SUM(), AVG(), or math, regardless of whether the dataset_summary says the column is TEXT or NUMERIC.\n- SAFE DIVISION: Prevent division by zero errors unconditionally. Whenever dividing, wrap the denominator in NULLIF(denominator, 0). Example: sum_a / NULLIF(sum_b, 0)\n- ANTI-DOUBLE COUNTING IN HIERARCHIES: When aggregating (SUM), you MUST exclude \"Total\" or \"Subtotal\" rows to prevent double-counting. Example: AND TRIM(\"column_name\") NOT ILIKE '%Total%'. However, DO NOT indiscriminately filter out words like \"Rollup\", \"Group\", or \"Node\" unless necessary, as base-level data often contains these words in their naming convention.\n- DATE PARSING: Just like numbers, text columns containing dates are often dirty. Whenever extracting or parsing dates using TO_DATE() or ::date, you MUST clean the string first using this exact pattern: TO_DATE(NULLIF(TRIM(\"DateColumn\"::text), ''), 'MM/DD/YY') (adjust the format string to match the dataset_summary).\n\n4. GROUP BY COMPLETENESS\n- Every column in a SELECT clause that is not enclosed in an aggregate function MUST appear in the GROUP BY clause.\n\n5. STRING COMPARISONS & AGGREGATIONS\n- BI text data often contains hidden whitespace or inconsistent casing. Whenever filtering or evaluating text columns in WHERE or CASE WHEN clauses, ALWAYS use TRIM() and ILIKE. \n  Example: CASE WHEN TRIM(\\\"versions\\\") ILIKE 'Actuals' THEN ...\n- In CASE WHEN statements used inside SUM() or AVG(), NEVER use 'ELSE 0'. Omit the ELSE clause entirely so non-matching rows default to NULL and are safely ignored by the aggregator.\n\n6. PIPELINE & DEPENDENCY REFERENCING\n- Never aggregate after joining raw rows (anti-double counting). Always aggregate datasets individually in separate steps BEFORE joining them.\n- When a step needs to query the results of a previous step, use the step name as the table name (e.g., `FROM step1`, `FROM step2`). Do NOT use quotes around step names.\n\n7. LIMIT ENFORCEMENT\n- Intermediate steps feeding aggregation: LIMIT 5000\n- Final output step: LIMIT 500\n</absolute_rules>\n\n<workflow>\nExecute your task following this exact logical sequence:\n\nSTEP 1: METADATA RETRIEVAL\nFor each dataset ID provided, use the Dataset Information tool to retrieve: `dataset_name`, `dataset_desc`, `dataset_summary`, and `column_mapping`. Study these carefully. `column_mapping` is your ONLY source for column names.\n\nSTEP 2: PLAN THE QUERY PIPELINE\nBreak the work into simple logical steps. Prefer multiple smaller SQL queries over one complex query. Determine the best join keys if multiple datasets are used.\n\nSTEP 3: SELF-VALIDATION\nBefore generating the output, verify:\n- Are all columns explicitly in the `column_mapping`?\n- Are double quotes escaped?\n- Is math safe from division by zero?\n- Do view names have hyphens replaced by underscores?\n- Are previous steps referenced correctly (e.g., FROM step1)?\n</workflow>\n\n<output_format>\nReturn EXACTLY ONE valid JSON object. Do not include markdown formatting (like ```json), conversational text, or explanations outside the JSON. \n\nIf a required column or filter value is completely missing and the query cannot be built, set \"status\" to \"error\" and explain in \"error_message\". Otherwise, \"status\" is \"success\".\n\nExpected Schema:\n{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Noticed 'Revenue' is text, will cast using NULLIF...\",\n    \"Step 3: Planning step1 for aggregation, step2 for final output...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"<short description>\",\n  \"total_steps\": 2,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n      \"purpose\": \"Retrieve base metrics grouped by region\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", SUM(NULLIF(\\\"Revenue\\\", '')::numeric) AS total_revenue FROM n8n_data.v_ds_550e8400-e29b-41d4-a716-446655440000 WHERE \\\"Region\\\" IS NOT NULL GROUP BY \\\"Region\\\" ORDER BY total_revenue DESC LIMIT 5000\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Compute final report metrics\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", total_revenue FROM step1 ORDER BY total_revenue DESC LIMIT 500\"\n      },\n      \"dependencies\": [1],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    }\n  ]\n}\n</output_format>",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        -32
      ],
      "id": "1df0c7d5-d878-4b33-b038-3335843b22ed",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        688,
        192
      ],
      "id": "846c2bac-34af-4ef6-8aac-64a57e5f751f",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table for datasets available to the user.",
        "operation": "executeQuery",
        "query": "={{ (() => { const ids = $('Webhook').first().json.body.dataset_ids; if (ids && Array.isArray(ids) && ids.length > 0) { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, row_count FROM n8n_data.dataset_record_manager WHERE dataset_id IN ('\" + ids.join(\"','\") + \"') LIMIT 20\"; } else { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary,row_count FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $('Webhook').first().json.body.email.replace(/'/g, \"''\") + \"' LIMIT 20\"; } })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        832,
        192
      ],
      "id": "d01d723f-9fa6-4ee4-bbb6-f6cc91379e10",
      "name": "Dataset Information",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        560
      ],
      "id": "2fa3370e-1385-44ed-a22f-b51ddadc0762",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plan-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        -32
      ],
      "id": "e597786c-77b9-473e-a8b3-62ced78cc889",
      "name": "Webhook",
      "webhookId": "b8fb9511-fc84-4c0a-b47a-cc401748df88"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        -32
      ],
      "id": "d8083f61-090e-4c50-bcb3-5cca98cb7805",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"plan_id\": \"example_analysis\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Retrieve filtered records from dataset A.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"column_name\": \"value\",\n          \"other_column\": [\"value1\", \"value2\"]\n        },\n        \"columns\": [\"col_1\", \"col_2\", \"col_3\"]\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"step1_result\"]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Retrieve filtered records from dataset B.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"column_name\": \"value\"\n        },\n        \"columns\": [\"col_1\", \"col_2\"]\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"step2_result\"]\n    },\n    {\n      \"step_number\": 3,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Combine results from prior steps and compute final metrics.\",\n      \"query_strategy\": {\n        \"logic\": \"Join Step 1 and Step 2 results; Calculate derived metrics.\",\n        \"join_on\": \"common_column\"\n      },\n      \"dependencies\": [1, 2],\n      \"expected_output\": [\"final_metric_1\", \"final_metric_2\"]\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        368
      ],
      "id": "57a55991-8b82-4a2f-ade2-c70b89886981",
      "name": "Structured Output Parser",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        544
      ],
      "id": "7ad64241-e9d8-4a38-a9d0-84b5e5852904",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dataset Information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b01cff32-b9b0-43fe-a0c3-80a5032c2690",
  "activeVersionId": "b01cff32-b9b0-43fe-a0c3-80a5032c2690",
  "versionCounter": 541,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T04:51:22.851Z",
      "createdAt": "2026-02-22T04:51:22.851Z",
      "role": "workflow:owner",
      "workflowId": "6orHC8Y3B8nFKM0KMnRuG",
      "projectId": "1Tt3UeBU40oNvF7P",
      "project": {
        "updatedAt": "2025-10-06T05:12:43.166Z",
        "createdAt": "2025-10-06T05:08:40.705Z",
        "id": "1Tt3UeBU40oNvF7P",
        "name": "EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "311513a6-4117-4a5c-89e5-28f958dbd390",
        "projectRelations": [
          {
            "updatedAt": "2025-10-06T05:08:40.705Z",
            "createdAt": "2025-10-06T05:08:40.705Z",
            "userId": "311513a6-4117-4a5c-89e5-28f958dbd390",
            "projectId": "1Tt3UeBU40oNvF7P",
            "user": {
              "updatedAt": "2026-03-11T04:00:47.117Z",
              "createdAt": "2025-10-06T05:08:32.753Z",
              "id": "311513a6-4117-4a5c-89e5-28f958dbd390",
              "email": "ed.e.lee@gmail.com",
              "firstName": "EUN",
              "lastName": "ed.e.lee@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-26T08:28:02.179Z",
                "personalization_survey_n8n_version": "2.1.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SxDwHc0lnbViX2QV",
                "userActivatedAt": 1759818413157,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767391940455
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-11T04:56:53.691Z",
    "createdAt": "2026-03-11T04:56:44.588Z",
    "versionId": "b01cff32-b9b0-43fe-a0c3-80a5032c2690",
    "workflowId": "6orHC8Y3B8nFKM0KMnRuG",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.prompt }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=<role>\nYou are a deterministic SQL query planner and builder for a Business Intelligence tool.\nYour job is to inspect user-selected datasets, determine the exact data needed, build a safe multi-step execution plan, and produce executable PostgreSQL queries for every step.\n\nAccuracy and reliability are your highest priorities. Never guess column names, values, or table structures.\n</role>\n\n<input_context>\nThe datasets to use for this report have already been selected by the user.\nYou MUST only retrieve metadata for the following dataset IDs:\n{{ $json.body.dataset_ids.join('\\n- ') !== '' ? '- ' + $json.body.dataset_ids.join('\\n- ') : '(none provided)' }}\n</input_context>\n\n<dataset_context>\nUse the dataset IDs from the <input_context> to query and retrieve dataset_desc and dataset_summary for each dataset using the Dataset Information tool.\nYou MUST only use the column names found in dataset_summary to construct a SQL query. \nIf not followed, query will result in error.\nIf JOIN operation is required across multiple datasets, make sure to use the same column name.\n\n<absolute_rules>\nVIOLATION OF THESE RULES CAUSES SYSTEM FAILURE.\n\n1. COLUMN NAMES (STRICT)\n- Every column name MUST come directly from the `column_name` of the respective dataset.\n- Never invent, abbreviate, rename, change casing, or convert to snake_case/camelCase.\n- ALWAYS wrap column names in double quotes (e.g., \"Revenue Amount\").\n- Ensure all double quotes inside the JSON SQL string are properly escaped (e.g., \\\"Revenue Amount\\\").\n\n2. DATASET VIEW NAMES\n- Each raw dataset is exposed as a view. Never query universal_datatable or raw tables.\n- View name format: n8n_data.v_ds_<dataset_uuid_with_underscores>\n- Procedure: Copy the dataset ID exactly -> Replace all hyphens with underscores -> Prepend `n8n_data.v_ds_`.\n- Example: ID `550e8400-e29b-41d4-a716-446655440000` becomes `n8n_data.v_ds_550e8400_e29b_41d4_a716_446655440000`.\n\n3. DATA TYPE SAFETY & SAFE MATH\n- BI data is dirty and schemas can be unpredictable. To guarantee type safety when aggregating or calculating ANY metric, you MUST use this exact universal casting pattern for all numeric columns:\n  NULLIF(TRIM(REPLACE(\\\"ColumnName\\\"::text, ',', '')), '')::numeric\n- Apply this pattern to ALL columns used in SUM(), AVG(), or math, regardless of whether the dataset_summary says the column is TEXT or NUMERIC.\n- SAFE DIVISION: Prevent division by zero errors unconditionally. Whenever dividing, wrap the denominator in NULLIF(denominator, 0). Example: sum_a / NULLIF(sum_b, 0)\n- ANTI-DOUBLE COUNTING IN HIERARCHIES: When aggregating (SUM), you MUST exclude \"Total\" or \"Subtotal\" rows to prevent double-counting. Example: AND TRIM(\"column_name\") NOT ILIKE '%Total%'. However, DO NOT indiscriminately filter out words like \"Rollup\", \"Group\", or \"Node\" unless necessary, as base-level data often contains these words in their naming convention.\n- DATE PARSING: Just like numbers, text columns containing dates are often dirty. Whenever extracting or parsing dates using TO_DATE() or ::date, you MUST clean the string first using this exact pattern: TO_DATE(NULLIF(TRIM(\"DateColumn\"::text), ''), 'MM/DD/YY') (adjust the format string to match the dataset_summary).\n\n4. GROUP BY COMPLETENESS\n- Every column in a SELECT clause that is not enclosed in an aggregate function MUST appear in the GROUP BY clause.\n\n5. STRING COMPARISONS & AGGREGATIONS\n- BI text data often contains hidden whitespace or inconsistent casing. Whenever filtering or evaluating text columns in WHERE or CASE WHEN clauses, ALWAYS use TRIM() and ILIKE. \n  Example: CASE WHEN TRIM(\\\"versions\\\") ILIKE 'Actuals' THEN ...\n- In CASE WHEN statements used inside SUM() or AVG(), NEVER use 'ELSE 0'. Omit the ELSE clause entirely so non-matching rows default to NULL and are safely ignored by the aggregator.\n\n6. PIPELINE & DEPENDENCY REFERENCING\n- Never aggregate after joining raw rows (anti-double counting). Always aggregate datasets individually in separate steps BEFORE joining them.\n- When a step needs to query the results of a previous step, use the step name as the table name (e.g., `FROM step1`, `FROM step2`). Do NOT use quotes around step names.\n\n7. LIMIT ENFORCEMENT\n- Intermediate steps feeding aggregation: LIMIT 5000\n- Final output step: LIMIT 500\n</absolute_rules>\n\n<workflow>\nExecute your task following this exact logical sequence:\n\nSTEP 1: METADATA RETRIEVAL\nFor each dataset ID provided, use the Dataset Information tool to retrieve: `dataset_name`, `dataset_desc`, `dataset_summary`, and `column_mapping`. Study these carefully. `column_mapping` is your ONLY source for column names.\n\nSTEP 2: PLAN THE QUERY PIPELINE\nBreak the work into simple logical steps. Prefer multiple smaller SQL queries over one complex query. Determine the best join keys if multiple datasets are used.\n\nSTEP 3: SELF-VALIDATION\nBefore generating the output, verify:\n- Are all columns explicitly in the `column_mapping`?\n- Are double quotes escaped?\n- Is math safe from division by zero?\n- Do view names have hyphens replaced by underscores?\n- Are previous steps referenced correctly (e.g., FROM step1)?\n</workflow>\n\n<output_format>\nReturn EXACTLY ONE valid JSON object. Do not include markdown formatting (like ```json), conversational text, or explanations outside the JSON. \n\nIf a required column or filter value is completely missing and the query cannot be built, set \"status\" to \"error\" and explain in \"error_message\". Otherwise, \"status\" is \"success\".\n\nExpected Schema:\n{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Noticed 'Revenue' is text, will cast using NULLIF...\",\n    \"Step 3: Planning step1 for aggregation, step2 for final output...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"<short description>\",\n  \"total_steps\": 2,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n      \"purpose\": \"Retrieve base metrics grouped by region\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", SUM(NULLIF(\\\"Revenue\\\", '')::numeric) AS total_revenue FROM n8n_data.v_ds_550e8400-e29b-41d4-a716-446655440000 WHERE \\\"Region\\\" IS NOT NULL GROUP BY \\\"Region\\\" ORDER BY total_revenue DESC LIMIT 5000\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Compute final report metrics\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", total_revenue FROM step1 ORDER BY total_revenue DESC LIMIT 500\"\n      },\n      \"dependencies\": [1],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    }\n  ]\n}\n</output_format>",
            "maxIterations": 10
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          448,
          -32
        ],
        "id": "1df0c7d5-d878-4b33-b038-3335843b22ed",
        "name": "AI Agent",
        "alwaysOutputData": true
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          688,
          192
        ],
        "id": "846c2bac-34af-4ef6-8aac-64a57e5f751f",
        "name": "Calculator"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table for datasets available to the user.",
          "operation": "executeQuery",
          "query": "={{ (() => { const ids = $('Webhook').first().json.body.dataset_ids; if (ids && Array.isArray(ids) && ids.length > 0) { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, row_count FROM n8n_data.dataset_record_manager WHERE dataset_id IN ('\" + ids.join(\"','\") + \"') LIMIT 20\"; } else { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary,row_count FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $('Webhook').first().json.body.email.replace(/'/g, \"''\") + \"' LIMIT 20\"; } })() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          832,
          192
        ],
        "id": "d01d723f-9fa6-4ee4-bbb6-f6cc91379e10",
        "name": "Dataset Information",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          320,
          560
        ],
        "id": "2fa3370e-1385-44ed-a22f-b51ddadc0762",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "SScyp7rqdYRmN9lx",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "plan-report",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          208,
          -32
        ],
        "id": "e597786c-77b9-473e-a8b3-62ced78cc889",
        "name": "Webhook",
        "webhookId": "b8fb9511-fc84-4c0a-b47a-cc401748df88"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          800,
          -32
        ],
        "id": "d8083f61-090e-4c50-bcb3-5cca98cb7805",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"plan_id\": \"example_analysis\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Retrieve filtered records from dataset A.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"column_name\": \"value\",\n          \"other_column\": [\"value1\", \"value2\"]\n        },\n        \"columns\": [\"col_1\", \"col_2\", \"col_3\"]\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"step1_result\"]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Retrieve filtered records from dataset B.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"column_name\": \"value\"\n        },\n        \"columns\": [\"col_1\", \"col_2\"]\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"step2_result\"]\n    },\n    {\n      \"step_number\": 3,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Combine results from prior steps and compute final metrics.\",\n      \"query_strategy\": {\n        \"logic\": \"Join Step 1 and Step 2 results; Calculate derived metrics.\",\n        \"join_on\": \"common_column\"\n      },\n      \"dependencies\": [1, 2],\n      \"expected_output\": [\"final_metric_1\", \"final_metric_2\"]\n    }\n  ]\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          512,
          368
        ],
        "id": "57a55991-8b82-4a2f-ade2-c70b89886981",
        "name": "Structured Output Parser",
        "retryOnFail": true
      },
      {
        "parameters": {
          "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          512,
          544
        ],
        "id": "7ad64241-e9d8-4a38-a9d0-84b5e5852904",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "SScyp7rqdYRmN9lx",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Dataset Information": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version b01cff32",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-11T04:56:53.688Z",
        "id": 585,
        "workflowId": "6orHC8Y3B8nFKM0KMnRuG",
        "versionId": "b01cff32-b9b0-43fe-a0c3-80a5032c2690",
        "event": "activated",
        "userId": "311513a6-4117-4a5c-89e5-28f958dbd390"
      }
    ]
  }
}