n8n-workflows/Data Analyzer - Plan Report.json
{
  "name": "Data Analyzer - Plan Report",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ROLE You are an expert business intelligence report analyst. Your goal is to review datasets belonging to the user and based on the user's prompt / requirement, come up with a plan to use the right datasets to create a report that meets the user requirements / answer questions.\nThis will usually involve using one or more datasets and creating a multi-step plan to query and source the right information from datasets with relevant data.\nIn order to do this, use the `Dataset Information` tool to retrieve the datasets that belong to the user and use the dataset_desc (user provided description of the dataset usually about the nature of data contained and when to use it) and dataset_summary (AI-generated summary of the fields and values to help build SQL queries).\nMake sure to review all datasets retrieved before making a plan. \nMake sure to use the latest data if more than one dataset are determined as appropriate data source.\nMake sure to define the data points required to arrive at the desired final data / answer and define intermediate input data required.\nFrom the intermediate data required, derive which dataset needs to be used (specify dataset_id so AI will know which dataset to use later) and a high-level query strategy.\n**IMPORTANT: Make sure each immediate step is small and simple enough to prevent LLM model from erroring due to excessive input file size or too large of a token size. Once all the intermediate steps and the how the inputs will be used to arrive at meeting the user request are determined, present the plan for user review and execution using the below methodology:\nPLAN OUTPUT STRUCTURE\nYour final response must be a single JSON object. This JSON will be used to drive an automated loop in n8n. Every step must be self-contained and specify which dataset is being targeted.\n\nJSON Requirements:\n\nplan_id: A unique identifier for this specific analysis.\n\ntotal_steps: The integer count of steps required.\n\nsteps: An array of objects, each containing:\n\nstep_number: (Integer) The sequence of the operation.\n\ndataset_id: (String) The UUID or unique ID of the dataset to query.\n\npurpose: (String) A brief explanation of what this step achieves.\n\nquery_strategy: (Object) Must contain filters (key-value pairs of what to include/exclude) and columns (the specific fields to return).\n\ndependencies: (Array) List the step_number of any previous steps whose output is required for this step. Use [] if none.\n\nexpected_output: (Array) The specific metrics or dimensions this step will produce for the final report.\n\nEXAMPLE JSON OUTPUT:\n{\n  \"plan_id\": \"budget_vs_pipeline_2026\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"dataset_id\": \"e396c47a-41c1-4bcc-a624-ce9bcf36a99b\",\n      \"purpose\": \"Retrieve 2025 Monthly Revenue Budget targets.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"Versions\": \"Budget 2025\",\n          \"Accounts\": \"Income\",\n          \"Level_Exclude\": \"Total\"\n        },\n        \"columns\": [\"Month\", \"Amount\", \"Account_Name\"]\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"2025_monthly_budget_target\"]\n    },\n    {\n      \"step_number\": 2,\n      \"dataset_id\": \"deedbd5f-32c1-4428-a59b-89cf37a478d7\",\n      \"purpose\": \"Query 2026 Pipeline for SIT 1 and SIT 2 stage deals.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"Stage\": [\"SIT 1\", \"SIT 2\"],\n          \"Close_Date_Year\": \"2026\"\n        },\n        \"columns\": [\"Opportunity_Name\", \"Amount_AACV\", \"Close_Date\", \"Stage\"]\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"2026_pipeline_deals_sit1_sit2\"]\n    },\n    {\n      \"step_number\": 3,\n      \"dataset_id\": \"N/A - Aggregation Step\",\n      \"purpose\": \"Aggregate pipeline by month and compare against Step 1 budget targets.\",\n      \"query_strategy\": {\n        \"logic\": \"Sum Step 2 Amount_AACV by Month; Join with Step 1 Monthly Amount; Calculate Coverage Ratio.\",\n        \"join_on\": \"Month\"\n      },\n      \"dependencies\": [1, 2],\n      \"expected_output\": [\"Monthly_Pipeline_Total\", \"Budget_Target\", \"Coverage_Ratio\"]\n    }\n  ]\n}",
          "maxIterations": 30
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        0
      ],
      "id": "71c7eafe-85cf-4538-ae23-4db4361ab2e6",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        688,
        224
      ],
      "id": "ca362f37-0a8b-47a8-b983-5651593c0e49",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table for datasets available to the user.",
        "operation": "executeQuery",
        "query": "={{ (() => { const ids = $('Webhook').first().json.body.dataset_ids; if (ids && Array.isArray(ids) && ids.length > 0) { return \"SELECT * FROM n8n_data.dataset_record_manager WHERE dataset_id IN ('\" + ids.join(\"','\") + \"') LIMIT 20\"; } else { return \"SELECT * FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $('Webhook').first().json.body.email.replace(/'/g, \"''\") + \"' LIMIT 20\"; } })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        832,
        224
      ],
      "id": "eb2a5f61-f77e-4ffd-bfcf-bdda09e2afcc",
      "name": "Dataset Information",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        208
      ],
      "id": "afe8169f-b30f-4826-a2a7-ced79092a788",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plan-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "c29ced29-5d63-41dc-81dd-a077fb3bea8c",
      "name": "Webhook",
      "webhookId": "b8fb9511-fc84-4c0a-b47a-cc401748df88"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ],
      "id": "988bc1e4-bbc7-412b-b1b8-5e7233bdc8c7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"plan_id\": \"budget_vs_pipeline_2026\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"dataset_id\": \"e396c47a-41c1-4bcc-a624-ce9bcf36a99b\",\n      \"purpose\": \"Retrieve 2025 Monthly Revenue Budget targets.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"Versions\": \"Budget 2025\",\n          \"Accounts\": \"Income\",\n          \"Level_Exclude\": \"Total\"\n        },\n        \"columns\": [\"Month\", \"Amount\", \"Account_Name\"]\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"2025_monthly_budget_target\"]\n    },\n    {\n      \"step_number\": 2,\n      \"dataset_id\": \"deedbd5f-32c1-4428-a59b-89cf37a478d7\",\n      \"purpose\": \"Query 2026 Pipeline for SIT 1 and SIT 2 stage deals.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"Stage\": [\"SIT 1\", \"SIT 2\"],\n          \"Close_Date_Year\": \"2026\"\n        },\n        \"columns\": [\"Opportunity_Name\", \"Amount_AACV\", \"Close_Date\", \"Stage\"]\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"2026_pipeline_deals_sit1_sit2\"]\n    },\n    {\n      \"step_number\": 3,\n      \"dataset_id\": \"N/A - Aggregation Step\",\n      \"purpose\": \"Aggregate pipeline by month and compare against Step 1 budget targets.\",\n      \"query_strategy\": {\n        \"logic\": \"Sum Step 2 Amount_AACV by Month; Join with Step 1 Monthly Amount; Calculate Coverage Ratio.\",\n        \"join_on\": \"Month\"\n      },\n      \"dependencies\": [1, 2],\n      \"expected_output\": [\"Monthly_Pipeline_Total\", \"Budget_Target\", \"Coverage_Ratio\"]\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        400
      ],
      "id": "d8996b2c-55bd-4807-8b62-0fd7217c079a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        576
      ],
      "id": "2756766b-c9fe-4ddb-b4f1-c2c9a9d51918",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dataset Information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c13464b3-0c80-403a-9681-bdb113038ad3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "6orHC8Y3B8nFKM0KMnRuG",
  "tags": []
}