n8n-workflows/Data Analyzer - Get Dataset Preview.json
{
  "updatedAt": "2026-02-24T03:28:56.069Z",
  "createdAt": "2026-02-21T08:01:11.509Z",
  "id": "zfqh9mX9tfs1WCdhwXJht",
  "name": "Data Analyzer - Get Dataset Preview",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-dataset-preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        -112
      ],
      "id": "1d1cf2ca-e034-46c0-b402-cf1a2238a304",
      "name": "Webhook - Get Dataset Preview",
      "webhookId": "get-dataset-preview-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM n8n_data.universal_datatable WHERE dataset_id = '{{ $json.body.datasetId }}' ORDER BY RANDOM() LIMIT {{ $json.body.limit || 20 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        320,
        -112
      ],
      "id": "c61c3fb2-c893-4968-a73f-8ad78f96d047",
      "name": "Get Preview Rows",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const rows = $input.all().map(item => item.json); const columns = rows.length > 0 ? Object.keys(rows[0]).filter(k => k !== 'dataset_id' && k !== 'id') : []; return { status: 'ok', columns, rows: rows.map(r => { const filtered = {}; columns.forEach(c => filtered[c] = r[c]); return filtered; }) }; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        512,
        -112
      ],
      "id": "dd687f26-06fe-40e0-a1f8-feeba557dd06",
      "name": "Respond with Preview"
    }
  ],
  "connections": {
    "Webhook - Get Dataset Preview": {
      "main": [
        [
          {
            "node": "Get Preview Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Preview Rows": {
      "main": [
        [
          {
            "node": "Respond with Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "583c7ce9-05d1-41ca-a6d4-3eab537ba5e1",
  "activeVersionId": "583c7ce9-05d1-41ca-a6d4-3eab537ba5e1",
  "versionCounter": 91,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-21T08:01:11.509Z",
      "createdAt": "2026-02-21T08:01:11.509Z",
      "role": "workflow:owner",
      "workflowId": "zfqh9mX9tfs1WCdhwXJht",
      "projectId": "1Tt3UeBU40oNvF7P",
      "project": {
        "updatedAt": "2025-10-06T05:12:43.166Z",
        "createdAt": "2025-10-06T05:08:40.705Z",
        "id": "1Tt3UeBU40oNvF7P",
        "name": "EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "311513a6-4117-4a5c-89e5-28f958dbd390",
        "projectRelations": [
          {
            "updatedAt": "2025-10-06T05:08:40.705Z",
            "createdAt": "2025-10-06T05:08:40.705Z",
            "userId": "311513a6-4117-4a5c-89e5-28f958dbd390",
            "projectId": "1Tt3UeBU40oNvF7P",
            "user": {
              "updatedAt": "2026-03-11T04:00:47.117Z",
              "createdAt": "2025-10-06T05:08:32.753Z",
              "id": "311513a6-4117-4a5c-89e5-28f958dbd390",
              "email": "ed.e.lee@gmail.com",
              "firstName": "EUN",
              "lastName": "ed.e.lee@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-26T08:28:02.179Z",
                "personalization_survey_n8n_version": "2.1.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SxDwHc0lnbViX2QV",
                "userActivatedAt": 1759818413157,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767391940455
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-24T03:29:00.445Z",
    "createdAt": "2026-02-24T03:28:56.071Z",
    "versionId": "583c7ce9-05d1-41ca-a6d4-3eab537ba5e1",
    "workflowId": "zfqh9mX9tfs1WCdhwXJht",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "get-dataset-preview",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          112,
          -112
        ],
        "id": "1d1cf2ca-e034-46c0-b402-cf1a2238a304",
        "name": "Webhook - Get Dataset Preview",
        "webhookId": "get-dataset-preview-webhook"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT * FROM n8n_data.universal_datatable WHERE dataset_id = '{{ $json.body.datasetId }}' ORDER BY RANDOM() LIMIT {{ $json.body.limit || 20 }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          320,
          -112
        ],
        "id": "c61c3fb2-c893-4968-a73f-8ad78f96d047",
        "name": "Get Preview Rows",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ (() => { const rows = $input.all().map(item => item.json); const columns = rows.length > 0 ? Object.keys(rows[0]).filter(k => k !== 'dataset_id' && k !== 'id') : []; return { status: 'ok', columns, rows: rows.map(r => { const filtered = {}; columns.forEach(c => filtered[c] = r[c]); return filtered; }) }; })() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          512,
          -112
        ],
        "id": "dd687f26-06fe-40e0-a1f8-feeba557dd06",
        "name": "Respond with Preview"
      }
    ],
    "connections": {
      "Webhook - Get Dataset Preview": {
        "main": [
          [
            {
              "node": "Get Preview Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Preview Rows": {
        "main": [
          [
            {
              "node": "Respond with Preview",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version 583c7ce9",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-24T03:29:00.441Z",
        "id": 467,
        "workflowId": "zfqh9mX9tfs1WCdhwXJht",
        "versionId": "583c7ce9-05d1-41ca-a6d4-3eab537ba5e1",
        "event": "activated",
        "userId": "311513a6-4117-4a5c-89e5-28f958dbd390"
      }
    ]
  }
}