n8n-workflows/Data Analyzer - Check Report Progress.json
{
    "updatedAt": "2026-03-19T05:20:55.029Z",
    "createdAt": "2026-02-23T06:25:15.146Z",
    "id": "jZubmUXII4TlhMli",
    "name": "Data Analyzer - Check Report Progress",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "check-report-progress",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "id": "6cba4bb3-14c6-4661-87b3-0fa39f285642",
            "name": "Webhook",
            "webhookId": "crp-webhook-id-001"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT step_number, purpose, dataset_id, status, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $json.body.report_id }}' ORDER BY step_number",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                224,
                0
            ],
            "id": "63da7a0a-4127-45f4-b011-afcf354ced01",
            "name": "Query Step Results",
            "credentials": {
                "postgres": {
                    "id": "A7zRb9obSaMEyNKs",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const rows = $input.all().map(item => item.json);\nconst reportId = $('Webhook').first().json.body.report_id;\n\nfunction lastSentence(text) {\n  if (!text) return text;\n  const parts = text.split(/(?<=[.!?])\\s+/);\n  const last = parts.map(s => s.trim()).filter(Boolean).pop();\n  return last || text;\n}\n\n// Handle empty results\nif (rows.length === 0 || (rows.length === 1 && !rows[0].step_number && !rows[0].status)) {\n  return [{ json: { report_id: reportId, steps: [], final_report: null, status: 'starting' } }];\n}\n\n// step_number=0 rows are special: final_report or formatter error\nconst finalRow = rows.find(r => r.step_number === 0 && r.status === 'final_report');\nconst formatterErrorRow = rows.find(r => r.step_number === 0 && r.status === 'error');\n\n// Deduplicate step rows (step_number > 0) \u2014 retried steps produce multiple rows.\n// Prefer 'completed' status; among equal or non-completed, keep the last (most recently inserted).\nconst allStepRows = rows.filter(r => r.step_number > 0);\nconst stepMap = new Map();\nfor (const r of allStepRows) {\n  const existing = stepMap.get(r.step_number);\n  if (!existing || r.status === 'completed' || existing.status !== 'completed') {\n    stepMap.set(r.step_number, r);\n  }\n}\nconst stepRows = Array.from(stepMap.values()).sort((a, b) => a.step_number - b.step_number);\n\nconst steps = stepRows.map(r => ({\n  step_number: r.step_number,\n  purpose: r.purpose || '',\n  dataset_id: r.dataset_id || '',\n  status: r.status || 'pending',\n  step_result: r.status === 'error'\n    ? (r.step_result || 'Unknown error')\n    : r.status === 'completed' && r.step_result\n      ? (r.step_result.includes('<!--LIST_CSV:') ? r.step_result : lastSentence(r.step_result))\n      : undefined\n}));\n\n// Determine overall status.\n// Priority: final_report > formatter_error > in_progress\nlet status = 'in_progress';\nlet errorMessage = null;\nif (finalRow) {\n  status = 'completed';\n} else if (formatterErrorRow) {\n  status = 'error';\n  errorMessage = formatterErrorRow.step_result || 'Formatter failed';\n  const errorSteps = stepRows.filter(r => r.status === 'error');\n  if (errorSteps.length > 0) {\n    errorMessage += '\\n\\nStep errors: ' + errorSteps.map(r => 'Step ' + r.step_number + ': ' + (r.step_result || 'failed')).join('; ');\n  }\n}\n\nreturn [{\n  json: {\n    report_id: reportId,\n    steps,\n    final_report: finalRow ? finalRow.step_result : null,\n    status,\n    error_message: errorMessage\n  }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                448,
                0
            ],
            "id": "9b0aa759-cda2-400d-8b75-d290f446dc73",
            "name": "Format Progress",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                672,
                0
            ],
            "id": "fed4754f-03c7-4c76-81ca-8ed8a4b506d6",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Query Step Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Step Results": {
            "main": [
                [
                    {
                        "node": "Format Progress",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Progress": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "ac033fe6-65aa-44af-8ab1-157cae1f344b",
    "activeVersionId": "ac033fe6-65aa-44af-8ab1-157cae1f344b",
    "versionCounter": 16,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-23T06:25:15.146Z",
            "createdAt": "2026-02-23T06:25:15.146Z",
            "role": "workflow:owner",
            "workflowId": "jZubmUXII4TlhMli",
            "projectId": "lEyuIAFtVcDPu5Ul",
            "project": {
                "updatedAt": "2026-02-13T05:12:31.304Z",
                "createdAt": "2026-02-13T05:04:45.101Z",
                "id": "lEyuIAFtVcDPu5Ul",
                "name": "Ed Lee <ed.e.lee@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "565e7321-1777-4096-87d7-1379bc7abb04",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-13T05:04:45.101Z",
                        "createdAt": "2026-02-13T05:04:45.101Z",
                        "userId": "565e7321-1777-4096-87d7-1379bc7abb04",
                        "projectId": "lEyuIAFtVcDPu5Ul",
                        "user": {
                            "updatedAt": "2026-03-19T04:00:37.754Z",
                            "createdAt": "2026-02-13T05:04:44.713Z",
                            "id": "565e7321-1777-4096-87d7-1379bc7abb04",
                            "email": "ed.e.lee@gmail.com",
                            "firstName": "Ed",
                            "lastName": "Lee",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-13T05:12:34.636Z",
                                "personalization_survey_n8n_version": "2.7.4"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "rjbgy73deGsgpaXn",
                                "userActivatedAt": 1771053281944,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1772675456397
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-03-19",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-19T05:20:55.032Z",
        "createdAt": "2026-03-19T05:20:55.032Z",
        "versionId": "ac033fe6-65aa-44af-8ab1-157cae1f344b",
        "workflowId": "jZubmUXII4TlhMli",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "check-report-progress",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    0
                ],
                "id": "6cba4bb3-14c6-4661-87b3-0fa39f285642",
                "name": "Webhook",
                "webhookId": "crp-webhook-id-001"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "=SELECT step_number, purpose, dataset_id, status, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $json.body.report_id }}' ORDER BY step_number",
                    "options": {}
                },
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    224,
                    0
                ],
                "id": "63da7a0a-4127-45f4-b011-afcf354ced01",
                "name": "Query Step Results",
                "credentials": {
                    "postgres": {
                        "id": "A7zRb9obSaMEyNKs",
                        "name": "Postgres account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const rows = $input.all().map(item => item.json);\nconst reportId = $('Webhook').first().json.body.report_id;\n\nfunction lastSentence(text) {\n  if (!text) return text;\n  const parts = text.split(/(?<=[.!?])\\s+/);\n  const last = parts.map(s => s.trim()).filter(Boolean).pop();\n  return last || text;\n}\n\n// Handle empty results\nif (rows.length === 0 || (rows.length === 1 && !rows[0].step_number && !rows[0].status)) {\n  return [{ json: { report_id: reportId, steps: [], final_report: null, status: 'starting' } }];\n}\n\n// step_number=0 rows are special: final_report or formatter error\nconst finalRow = rows.find(r => r.step_number === 0 && r.status === 'final_report');\nconst formatterErrorRow = rows.find(r => r.step_number === 0 && r.status === 'error');\n\n// Deduplicate step rows (step_number > 0) \u2014 retried steps produce multiple rows.\n// Prefer 'completed' status; among equal or non-completed, keep the last (most recently inserted).\nconst allStepRows = rows.filter(r => r.step_number > 0);\nconst stepMap = new Map();\nfor (const r of allStepRows) {\n  const existing = stepMap.get(r.step_number);\n  if (!existing || r.status === 'completed' || existing.status !== 'completed') {\n    stepMap.set(r.step_number, r);\n  }\n}\nconst stepRows = Array.from(stepMap.values()).sort((a, b) => a.step_number - b.step_number);\n\nconst steps = stepRows.map(r => ({\n  step_number: r.step_number,\n  purpose: r.purpose || '',\n  dataset_id: r.dataset_id || '',\n  status: r.status || 'pending',\n  step_result: r.status === 'error'\n    ? (r.step_result || 'Unknown error')\n    : r.status === 'completed' && r.step_result\n      ? (r.step_result.includes('<!--LIST_CSV:') ? r.step_result : lastSentence(r.step_result))\n      : undefined\n}));\n\n// Determine overall status.\n// Priority: final_report > formatter_error > in_progress\nlet status = 'in_progress';\nlet errorMessage = null;\nif (finalRow) {\n  status = 'completed';\n} else if (formatterErrorRow) {\n  status = 'error';\n  errorMessage = formatterErrorRow.step_result || 'Formatter failed';\n  const errorSteps = stepRows.filter(r => r.status === 'error');\n  if (errorSteps.length > 0) {\n    errorMessage += '\\n\\nStep errors: ' + errorSteps.map(r => 'Step ' + r.step_number + ': ' + (r.step_result || 'failed')).join('; ');\n  }\n}\n\nreturn [{\n  json: {\n    report_id: reportId,\n    steps,\n    final_report: finalRow ? finalRow.step_result : null,\n    status,\n    error_message: errorMessage\n  }\n}];\n"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    448,
                    0
                ],
                "id": "9b0aa759-cda2-400d-8b75-d290f446dc73",
                "name": "Format Progress",
                "alwaysOutputData": true
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify($json) }}",
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.5,
                "position": [
                    672,
                    0
                ],
                "id": "fed4754f-03c7-4c76-81ca-8ed8a4b506d6",
                "name": "Respond to Webhook"
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Query Step Results",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Query Step Results": {
                "main": [
                    [
                        {
                            "node": "Format Progress",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Progress": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Ed Lee",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-19T05:20:55.092Z",
                "id": 273,
                "workflowId": "jZubmUXII4TlhMli",
                "versionId": "ac033fe6-65aa-44af-8ab1-157cae1f344b",
                "event": "activated",
                "userId": "565e7321-1777-4096-87d7-1379bc7abb04"
            }
        ]
    }
}
