n8n-workflows/Data Analyzer - Delete Template.json
{
  "updatedAt": "2026-02-10T23:59:53.248Z",
  "createdAt": "2026-02-10T22:39:48.898Z",
  "id": "I1wxpJ997wScZfPR",
  "name": "Data Analyzer - Delete Template",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delete-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Delete Template",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        -128
      ],
      "webhookId": "delete-template-webhook",
      "id": "9812ad50-a7de-4304-b02e-bc78fefb9e52"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_data.\"data-analyzer-report-templates\" WHERE template_id = '{{ $json.body.templateId }}' AND owner_email = '{{ $json.body.email }}' RETURNING template_id",
        "options": {}
      },
      "name": "Delete Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -64,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      },
      "id": "1d757e13-4fab-4f54-981a-e64c734e6de6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', data: { message: 'Template deleted' } } }}",
        "options": {}
      },
      "name": "Respond with Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        144,
        -128
      ],
      "id": "2d24ed79-3f3b-4600-906f-ba540f158e31"
    }
  ],
  "connections": {
    "Webhook - Delete Template": {
      "main": [
        [
          {
            "node": "Delete Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Template": {
      "main": [
        [
          {
            "node": "Respond with Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "6453be19-b660-4463-9ed8-1a1ece7d1d69",
  "activeVersionId": "6453be19-b660-4463-9ed8-1a1ece7d1d69",
  "versionCounter": 92,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-10T22:39:48.898Z",
      "createdAt": "2026-02-10T22:39:48.898Z",
      "role": "workflow:owner",
      "workflowId": "I1wxpJ997wScZfPR",
      "projectId": "1Tt3UeBU40oNvF7P",
      "project": {
        "updatedAt": "2025-10-06T05:12:43.166Z",
        "createdAt": "2025-10-06T05:08:40.705Z",
        "id": "1Tt3UeBU40oNvF7P",
        "name": "EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "311513a6-4117-4a5c-89e5-28f958dbd390",
        "projectRelations": [
          {
            "updatedAt": "2025-10-06T05:08:40.705Z",
            "createdAt": "2025-10-06T05:08:40.705Z",
            "userId": "311513a6-4117-4a5c-89e5-28f958dbd390",
            "projectId": "1Tt3UeBU40oNvF7P",
            "user": {
              "updatedAt": "2026-03-11T04:00:47.117Z",
              "createdAt": "2025-10-06T05:08:32.753Z",
              "id": "311513a6-4117-4a5c-89e5-28f958dbd390",
              "email": "ed.e.lee@gmail.com",
              "firstName": "EUN",
              "lastName": "ed.e.lee@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-26T08:28:02.179Z",
                "personalization_survey_n8n_version": "2.1.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SxDwHc0lnbViX2QV",
                "userActivatedAt": 1759818413157,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767391940455
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-10T22:39:48.907Z",
    "createdAt": "2026-02-10T22:39:48.907Z",
    "versionId": "6453be19-b660-4463-9ed8-1a1ece7d1d69",
    "workflowId": "I1wxpJ997wScZfPR",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "delete-template",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Webhook - Delete Template",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -256,
          -128
        ],
        "webhookId": "delete-template-webhook",
        "id": "9812ad50-a7de-4304-b02e-bc78fefb9e52"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM n8n_data.\"data-analyzer-report-templates\" WHERE template_id = '{{ $json.body.templateId }}' AND owner_email = '{{ $json.body.email }}' RETURNING template_id",
          "options": {}
        },
        "name": "Delete Template",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -64,
          -128
        ],
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        },
        "id": "1d757e13-4fab-4f54-981a-e64c734e6de6"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { status: 'ok', data: { message: 'Template deleted' } } }}",
          "options": {}
        },
        "name": "Respond with Result",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          144,
          -128
        ],
        "id": "2d24ed79-3f3b-4600-906f-ba540f158e31"
      }
    ],
    "connections": {
      "Webhook - Delete Template": {
        "main": [
          [
            {
              "node": "Delete Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Template": {
        "main": [
          [
            {
              "node": "Respond with Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-10T22:40:01.014Z",
        "id": 360,
        "workflowId": "I1wxpJ997wScZfPR",
        "versionId": "6453be19-b660-4463-9ed8-1a1ece7d1d69",
        "event": "activated",
        "userId": "311513a6-4117-4a5c-89e5-28f958dbd390"
      }
    ]
  }
}