n8n-workflows/Data Analyzer - List Templates.json
{"updatedAt":"2026-02-14T06:12:20.678Z","createdAt":"2026-02-14T06:12:20.678Z","id":"rjbgy73deGsgpaXn","name":"Data Analyzer - List Templates","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"list-templates","responseMode":"responseNode","options":{}},"name":"Webhook - List Templates","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"list-templates-webhook","id":"8ac3cdb0-efdb-4f5f-b410-a3f9680167d7"},{"parameters":{"operation":"executeQuery","query":"SELECT template_id, template_name AS title, template_desc AS description, html AS html_content, owner_email, CASE WHEN template_access = 'public' THEN true ELSE false END AS is_public FROM n8n_data.\"data-analyzer-report-templates\" WHERE template_access = 'public' OR owner_email = '{{ $json.body.email }}' ORDER BY template_name","options":{}},"name":"Get Templates","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[192,0],"id":"e097a38b-7610-48a4-b3e1-da1b0c880b65","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', data: $input.all().map(item => item.json) } }}","options":{}},"name":"Respond with Templates","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,0],"id":"8470fcdb-2176-456d-bce5-5c0dcef0627f"}],"connections":{"Webhook - List Templates":{"main":[[{"node":"Get Templates","type":"main","index":0}]]},"Get Templates":{"main":[[{"node":"Respond with Templates","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b431ee04-c41f-464c-af9c-30da16ed6a82","activeVersionId":"b431ee04-c41f-464c-af9c-30da16ed6a82","versionCounter":14,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T06:12:20.678Z","createdAt":"2026-02-14T06:12:20.678Z","role":"workflow:owner","workflowId":"rjbgy73deGsgpaXn","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-14T06:12:25.074Z","createdAt":"2026-02-14T06:12:20.678Z","versionId":"b431ee04-c41f-464c-af9c-30da16ed6a82","workflowId":"rjbgy73deGsgpaXn","nodes":[{"parameters":{"httpMethod":"POST","path":"list-templates","responseMode":"responseNode","options":{}},"name":"Webhook - List Templates","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"list-templates-webhook","id":"8ac3cdb0-efdb-4f5f-b410-a3f9680167d7"},{"parameters":{"operation":"executeQuery","query":"SELECT template_id, template_name AS title, template_desc AS description, html AS html_content, owner_email, CASE WHEN template_access = 'public' THEN true ELSE false END AS is_public FROM n8n_data.\"data-analyzer-report-templates\" WHERE template_access = 'public' OR owner_email = '{{ $json.body.email }}' ORDER BY template_name","options":{}},"name":"Get Templates","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[192,0],"id":"e097a38b-7610-48a4-b3e1-da1b0c880b65","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', data: $input.all().map(item => item.json) } }}","options":{}},"name":"Respond with Templates","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,0],"id":"8470fcdb-2176-456d-bce5-5c0dcef0627f"}],"connections":{"Webhook - List Templates":{"main":[[{"node":"Get Templates","type":"main","index":0}]]},"Get Templates":{"main":[[{"node":"Respond with Templates","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version b431ee04","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-14T06:12:25.073Z","id":8,"workflowId":"rjbgy73deGsgpaXn","versionId":"b431ee04-c41f-464c-af9c-30da16ed6a82","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}