n8n-workflows/Data Analyzer - Save Analysis.json
{"updatedAt":"2026-02-15T02:13:09.063Z","createdAt":"2026-02-14T06:04:49.739Z","id":"7xVr9mYbneqtUWCf","name":"Data Analyzer - Save Analysis","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"save-analysis","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,0],"id":"b8e51e5d-d670-41d1-8454-ca13a1209597","name":"Webhook - Save Analysis","webhookId":"873fa2b5-70f7-4d9d-9b3d-dc330ee01a0a"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Analysis saved', id: $json.id } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[528,0],"id":"7c899640-6e8f-48f4-9499-c0c15f75c6a3","name":"Respond Success"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"data-analyzer-saved-analysis","mode":"list","cachedResultName":"data-analyzer-saved-analysis"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[208,0],"id":"13a2912f-8679-465c-a636-12898a5cb422","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"5Yi0a6A147diDIkA","name":"QdrantApi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.body.conversation.first().prompt + \"<br><br>\" + $json.body.conversation.first().processUsed }}","options":{"metadata":{"metadataValues":[{"name":"dataset_id","value":"={{ $json.body.datasetId }}"},{"name":"ai_model","value":"={{ $json.body.aiModel }}"},{"name":"submitted_at","value":"={{ $now }}"},{"name":"prompt","value":"={{ $json.body.conversation.first().prompt }}"},{"name":"processUsed","value":"={{ $json.body.conversation.first().processUsed }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[336,224],"id":"55529c0f-3b46-46ef-92c1-748e66b79682","name":"Default Data Loader","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Analysis failed to save', id: $json.id } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[544,208],"id":"59f6765c-c3b5-4308-b2eb-2537d734e841","name":"Respond Success1"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[192,192],"id":"ae09611f-9269-44b7-83de-db3b9e90ca5d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}}],"connections":{"Webhook - Save Analysis":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]],"main":[[{"node":"Respond Success1","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"13bc4156-acbb-4841-bfe9-eae2c9a037c5","activeVersionId":"46069af5-5e92-4337-9672-5e727d80464f","versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T06:04:49.739Z","createdAt":"2026-02-14T06:04:49.739Z","role":"workflow:owner","workflowId":"7xVr9mYbneqtUWCf","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-14T06:10:10.066Z","createdAt":"2026-02-14T06:10:07.088Z","versionId":"46069af5-5e92-4337-9672-5e727d80464f","workflowId":"7xVr9mYbneqtUWCf","nodes":[{"parameters":{"httpMethod":"POST","path":"save-analysis","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b8e51e5d-d670-41d1-8454-ca13a1209597","name":"Webhook - Save Analysis","webhookId":"873fa2b5-70f7-4d9d-9b3d-dc330ee01a0a"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Analysis saved', id: $json.id } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[528,0],"id":"7c899640-6e8f-48f4-9499-c0c15f75c6a3","name":"Respond Success"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"data-analyzer-saved-analysis","mode":"list","cachedResultName":"data-analyzer-saved-analysis"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[208,0],"id":"13a2912f-8679-465c-a636-12898a5cb422","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"5Yi0a6A147diDIkA","name":"QdrantApi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.body.conversation.first().prompt + \"<br><br>\" + $json.body.conversation.first().processUsed }}","options":{"metadata":{"metadataValues":[{"name":"dataset_id","value":"={{ $json.body.datasetId }}"},{"name":"ai_model","value":"={{ $json.body.aiModel }}"},{"name":"submitted_at","value":"={{ $now }}"},{"name":"prompt","value":"={{ $json.body.conversation.first().prompt }}"},{"name":"processUsed","value":"={{ $json.body.conversation.first().processUsed }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[336,224],"id":"55529c0f-3b46-46ef-92c1-748e66b79682","name":"Default Data Loader","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Analysis failed to save', id: $json.id } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[544,208],"id":"59f6765c-c3b5-4308-b2eb-2537d734e841","name":"Respond Success1"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[192,192],"id":"ae09611f-9269-44b7-83de-db3b9e90ca5d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}}],"connections":{"Webhook - Save Analysis":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]],"main":[[{"node":"Respond Success1","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"authors":"Ed Lee","name":"Version 46069af5","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-14T06:10:10.065Z","id":7,"workflowId":"7xVr9mYbneqtUWCf","versionId":"46069af5-5e92-4337-9672-5e727d80464f","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}