n8n-workflows/Data_Analyzer_-_Cleanup_Temp_Tables.json
{
  "updatedAt": "2026-03-15T03:42:01.982Z",
  "createdAt": "2026-03-11T20:16:19.167Z",
  "id": "uUMx7QegqioKdJOA",
  "name": "Data Analyzer - Cleanup Temp Tables",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tablename, pg_size_pretty(pg_total_relation_size('n8n_data.\"' || tablename || '\"')) AS size, (now() - (SELECT reltuples::bigint FROM pg_class WHERE relname = tablename LIMIT 1)::text::interval) IS NULL AS unknown_age FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_%_step_%' ORDER BY tablename",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        240
      ],
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Find Temp Tables",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tables = $input.all().map(i => i.json);\n\nif (tables.length === 0) {\n  return [{ json: { found: 0, tables: [], summary: 'No orphaned temp tables found. Nothing to clean up.' } }];\n}\n\nconst list = tables.map(t => `  - ${t.tablename} (${t.size})`).join('\\n');\nreturn [{\n  json: {\n    found: tables.length,\n    tables: tables.map(t => t.tablename),\n    summary: `Found ${tables.length} orphaned temp table(s) to drop:\\n${list}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        240
      ],
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Summarize Found"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$ DECLARE r RECORD; dropped INT := 0; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_%_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; dropped := dropped + 1; END LOOP; RAISE NOTICE 'Dropped % temp table(s)', dropped; END $$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        912,
        240
      ],
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Drop All Temp Tables",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Summarize Found').first().json;\nconst dropped = summary.found;\n\nif (dropped === 0) {\n  return [{ json: { status: 'ok', message: summary.summary } }];\n}\n\nconst tableList = summary.tables.join(', ');\nreturn [{\n  json: {\n    status: 'ok',\n    message: `Successfully dropped ${dropped} orphaned temp table(s).`,\n    dropped_tables: summary.tables\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        240
      ],
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Done"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        240
      ],
      "id": "7bbabaea-11f9-423a-aede-1334b634c426",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Find Temp Tables": {
      "main": [
        [
          {
            "node": "Summarize Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Found": {
      "main": [
        [
          {
            "node": "Drop All Temp Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop All Temp Tables": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find Temp Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "6308488d-9f43-4c7e-912d-87ecffef2706",
  "activeVersionId": "6308488d-9f43-4c7e-912d-87ecffef2706",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-11T20:17:26.112Z",
      "createdAt": "2026-03-11T20:17:26.112Z",
      "role": "workflow:owner",
      "workflowId": "uUMx7QegqioKdJOA",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-15T03:42:04.718Z",
    "createdAt": "2026-03-15T03:42:01.983Z",
    "versionId": "6308488d-9f43-4c7e-912d-87ecffef2706",
    "workflowId": "uUMx7QegqioKdJOA",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT tablename, pg_size_pretty(pg_total_relation_size('n8n_data.\"' || tablename || '\"')) AS size, (now() - (SELECT reltuples::bigint FROM pg_class WHERE relname = tablename LIMIT 1)::text::interval) IS NULL AS unknown_age FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_%_step_%' ORDER BY tablename",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          464,
          240
        ],
        "id": "a1b2c3d4-0002-0002-0002-000000000002",
        "name": "Find Temp Tables",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const tables = $input.all().map(i => i.json);\n\nif (tables.length === 0) {\n  return [{ json: { found: 0, tables: [], summary: 'No orphaned temp tables found. Nothing to clean up.' } }];\n}\n\nconst list = tables.map(t => `  - ${t.tablename} (${t.size})`).join('\\n');\nreturn [{\n  json: {\n    found: tables.length,\n    tables: tables.map(t => t.tablename),\n    summary: `Found ${tables.length} orphaned temp table(s) to drop:\\n${list}`\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          240
        ],
        "id": "a1b2c3d4-0003-0003-0003-000000000003",
        "name": "Summarize Found"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DO $$ DECLARE r RECORD; dropped INT := 0; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_%_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; dropped := dropped + 1; END LOOP; RAISE NOTICE 'Dropped % temp table(s)', dropped; END $$;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          912,
          240
        ],
        "id": "a1b2c3d4-0004-0004-0004-000000000004",
        "name": "Drop All Temp Tables",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const summary = $('Summarize Found').first().json;\nconst dropped = summary.found;\n\nif (dropped === 0) {\n  return [{ json: { status: 'ok', message: summary.summary } }];\n}\n\nconst tableList = summary.tables.join(', ');\nreturn [{\n  json: {\n    status: 'ok',\n    message: `Successfully dropped ${dropped} orphaned temp table(s).`,\n    dropped_tables: summary.tables\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          240
        ],
        "id": "a1b2c3d4-0005-0005-0005-000000000005",
        "name": "Done"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 2
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          224,
          240
        ],
        "id": "7bbabaea-11f9-423a-aede-1334b634c426",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "Find Temp Tables": {
        "main": [
          [
            {
              "node": "Summarize Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize Found": {
        "main": [
          [
            {
              "node": "Drop All Temp Tables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drop All Temp Tables": {
        "main": [
          [
            {
              "node": "Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Find Temp Tables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version 6308488d",
    "description": "",
    "autosaved": true
  },
  "tags": []
}