n8n-workflows/Data Analyzer - Plan Report v1.03.json
{
    "updatedAt": "2026-03-19T04:11:20.919Z",
    "createdAt": "2026-02-23T03:51:15.239Z",
    "id": "yrOGj9mIhO41JgbX",
    "name": "Data Analyzer - Plan Report v1.03",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "={{ $('Webhook').item.json.body.model || 'gpt-5-mini'}}",
                    "mode": "id"
                },
                "responsesApiEnabled": false,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -128,
                576
            ],
            "id": "568ed8c7-7659-4425-a2b9-bf4b27a729f0",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "ayhC2xZ3iWv4ZkDW",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-5-mini"
                },
                "responsesApiEnabled": false,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                176,
                544
            ],
            "id": "4d34130c-3c5f-4dd6-963c-ca6098816fcc",
            "name": "OpenAI Chat Model1",
            "credentials": {
                "openAiApi": {
                    "id": "ayhC2xZ3iWv4ZkDW",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.prompt }}",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "=<role>\nYou are a deterministic SQL query planner and builder for a Business Intelligence tool.\nYour job is to inspect user-selected datasets, determine the exact data needed, build a safe multi-step execution plan, and produce executable PostgreSQL queries for every step in order to produce the data / analysis / answer from the user prompt.\n\nThe user may have multiple requirements that require multple queries and analysis. Make sure to divide the plan into multiple parts and steps to gather all the data required to fulfil user request in the prompt fully.\n\nAccuracy and reliability are your highest priorities. Never guess column names, values, or table structures.\n</role>\n\n<input_context>\nThe datasets to use for this report have already been selected by the user.\nYou MUST only retrieve metadata for the following dataset IDs:\n{{ $json.body.dataset_ids.join('\\n- ') !== '' ? '- ' + $json.body.dataset_ids.join('\\n- ') : '(none provided)' }}\n</input_context>\n\n<dataset_context>\nUse the dataset IDs from the <input_context> to query and retrieve dataset_desc and dataset_summary for each dataset using the Dataset Information tool.\nYou MUST only use the column names found in dataset_summary to construct a SQL query. \nIf not followed, query will result in error.\nIf JOIN operation is required across multiple datasets, make sure to use the same column name.\n\n<absolute_rules>\nVIOLATION OF THESE RULES CAUSES SYSTEM FAILURE.\n\n1. COLUMN NAMES (STRICT)\n- Every column name MUST come directly from the `column_name` of the respective dataset.\n- Never invent, abbreviate, rename, change casing, or convert to snake_case/camelCase.\n- ALWAYS wrap column names in double quotes (e.g., \"Revenue Amount\").\n- Ensure all double quotes inside the JSON SQL string are properly escaped (e.g., \\\"Revenue Amount\\\").\n\n2. DATASET VIEW NAMES\n- Each raw dataset is exposed as a view. Never query universal_datatable or raw tables.\n- View name format: n8n_data.v_ds_<dataset_uuid_with_underscores>\n- Procedure: Copy the dataset ID exactly -> Replace all hyphens with underscores -> Prepend `n8n_data.v_ds_`.\n- Example: ID `550e8400-e29b-41d4-a716-446655440000` becomes `n8n_data.v_ds_550e8400_e29b_41d4_a716_446655440000`.\n\n3. DATA TYPE SAFETY & SAFE MATH\n- BI data is dirty and schemas can be unpredictable. To guarantee type safety when aggregating or calculating ANY metric, you MUST use this exact universal casting pattern for all numeric columns:\n  NULLIF(TRIM(REPLACE(\\\"ColumnName\\\"::text, ',', '')), '')::numeric\n- Apply this pattern to ALL columns used in SUM(), AVG(), or math, regardless of whether the dataset_summary says the column is TEXT or NUMERIC.\n- SAFE DIVISION: Prevent division by zero errors unconditionally. Whenever dividing, wrap the denominator in NULLIF(denominator, 0). Example: sum_a / NULLIF(sum_b, 0)\n- ANTI-DOUBLE COUNTING IN HIERARCHIES: When aggregating (SUM), you MUST exclude \"Total\" or \"Subtotal\" rows to prevent double-counting. Example: AND TRIM(\"column_name\") NOT ILIKE '%Total%'. However, DO NOT indiscriminately filter out words like \"Rollup\", \"Group\", or \"Node\" unless necessary, as base-level data often contains these words in their naming convention.\n- DATE PARSING: Just like numbers, text columns containing dates are often dirty. Whenever extracting or parsing dates using TO_DATE() or ::date, you MUST clean the string first using this exact pattern: TO_DATE(NULLIF(TRIM(\"DateColumn\"::text), ''), 'MM/DD/YY') (adjust the format string to match the dataset_summary).\n\n4. GROUP BY COMPLETENESS\n- Every column in a SELECT clause that is not enclosed in an aggregate function MUST appear in the GROUP BY clause.\n\n5. STRING COMPARISONS & AGGREGATIONS\n- BI text data often contains hidden whitespace or inconsistent casing. Whenever filtering or evaluating text columns in WHERE or CASE WHEN clauses, ALWAYS use TRIM() and ILIKE. \n  Example: CASE WHEN TRIM(\\\"versions\\\") ILIKE 'Actuals' THEN ...\n- In CASE WHEN statements used inside SUM() or AVG(), NEVER use 'ELSE 0'. Omit the ELSE clause entirely so non-matching rows default to NULL and are safely ignored by the aggregator.\n\n6. PIPELINE & DEPENDENCY REFERENCING\n- Never aggregate after joining raw rows (anti-double counting). Always aggregate datasets individually in separate steps BEFORE joining them.\n- When a step needs to query the results of a previous step, use the step name as the table name (e.g., `FROM step1`, `FROM step2`). Do NOT use quotes around step names.\n\n7. LIMIT ENFORCEMENT\n- Intermediate steps feeding aggregation: LIMIT 5000\n- Final output step (step_type \"query\" or \"aggregate\"): LIMIT 500\n- Full list steps (step_type \"list\"): NO LIMIT \u2014 omit the LIMIT clause entirely from the SQL\n</absolute_rules>\n\n<workflow>\nExecute your task following this exact logical sequence:\n\nSTEP 1: METADATA RETRIEVAL\nFor each dataset ID provided, use the Dataset Information tool to retrieve: `dataset_name`, `dataset_desc`, `dataset_summary`, and `column_mapping`. Study these carefully. `column_mapping` is your ONLY source for column names.\n\nSTEP 2: PLAN THE QUERY PIPELINE\nBreak the work into simple logical steps. Prefer multiple smaller SQL queries over one complex query. Determine the best join keys if multiple datasets are used.\n- If the user requests a \"full list\", \"all records\", \"complete list\", or \"every record\", set step_type to \"list\" for that step and omit LIMIT from the SQL entirely.\n\nSTEP 3: SELF-VALIDATION\nBefore generating the output, verify:\n- Are all columns explicitly in the `column_mapping`?\n- Are double quotes escaped?\n- Is math safe from division by zero?\n- Do view names have hyphens replaced by underscores?\n- Are previous steps referenced correctly (e.g., FROM step1)?\n</workflow>\n\n<output_format>\nReturn EXACTLY ONE valid JSON object. Do not include markdown formatting (like ```json), conversational text, or explanations outside the JSON. \n\nIf a required column or filter value is completely missing and the query cannot be built, set \"status\" to \"error\" and explain in \"error_message\". Otherwise, \"status\" is \"success\".\n\nThe \"step_type\" field accepts three values: \"query\" (standard query with LIMIT 500), \"list\" (full result set, NO LIMIT), or \"aggregate\" (uses previous step results).\n\nExpected Schema:\n{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Noticed 'Revenue' is text, will cast using NULLIF...\",\n    \"Step 3: Planning step1 for aggregation, step2 for final output...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"<short description>\",\n  \"total_steps\": 2,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\"\n      \"dataset_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n      \"purpose\": \"Retrieve base metrics grouped by region\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", SUM(NULLIF(\\\"Revenue\\\", '')::numeric) AS total_revenue FROM n8n_data.v_ds_550e8400-e29b-41d4-a716-446655440000 WHERE \\\"Region\\\" IS NOT NULL GROUP BY \\\"Region\\\" ORDER BY total_revenue DESC LIMIT 5000\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Compute final report metrics\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", total_revenue FROM step1 ORDER BY total_revenue DESC LIMIT 500\"\n      },\n      \"dependencies\": [1],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    }\n  ]\n}\n</output_format>",
                    "maxIterations": 10
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -16,
                -304
            ],
            "id": "bc397728-77fa-4dd9-9b91-f6d9cebc48cc",
            "name": "AI Agent",
            "alwaysOutputData": true
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.toolCalculator",
            "typeVersion": 1,
            "position": [
                224,
                -80
            ],
            "id": "12232a13-c586-4c67-b4ec-ce454eec7c29",
            "name": "Calculator"
        },
        {
            "parameters": {
                "descriptionType": "manual",
                "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table for datasets available to the user.",
                "operation": "executeQuery",
                "query": "={{ (() => { const ids = $('Webhook').first().json.body.dataset_ids; if (ids && Array.isArray(ids) && ids.length > 0) { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping, row_count FROM n8n_data.dataset_record_manager WHERE dataset_id IN ('\" + ids.join(\"','\") + \"') LIMIT 20\"; } else { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping, row_count FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $('Webhook').first().json.body.email.replace(/'/g, \"''\") + \"' LIMIT 20\"; } })() }}",
                "options": {}
            },
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.6,
            "position": [
                368,
                -80
            ],
            "id": "bc5f9a28-f195-4e0a-a94a-ed39cb33df21",
            "name": "Dataset Information",
            "credentials": {
                "postgres": {
                    "id": "A7zRb9obSaMEyNKs",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "plan-report",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -256,
                -304
            ],
            "id": "f326be96-d557-482c-b9c6-5b7048d2125a",
            "name": "Webhook",
            "webhookId": "b8fb9511-fc84-4c0a-b47a-cc401748df88"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                336,
                -304
            ],
            "id": "0c3a439c-9793-488b-a7f5-ac69add5b8e4",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "jsonSchemaExample": "{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Planned query pipeline with fuzzy match join...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"example_analysis\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Retrieve filtered records from dataset A.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"column_name\": \"value\",\n          \"other_column\": [\n            \"value1\",\n            \"value2\"\n          ]\n        },\n        \"columns\": [\n          \"col_1\",\n          \"col_2\",\n          \"col_3\"\n        ],\n        \"logic\": \"Filter rows and aggregate by column.\",\n        \"join_on\": \"\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\n        \"step1_result\"\n      ]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Combine results from prior steps and compute final metrics.\",\n      \"query_strategy\": {\n        \"filters\": {},\n        \"columns\": [],\n        \"logic\": \"Join Step 1 and Step 2 results; calculate derived metrics.\",\n        \"join_on\": \"common_column\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [\n        1\n      ],\n      \"expected_output\": [\n        \"final_metric_1\",\n        \"final_metric_2\"\n      ]\n    },\n    {\n      \"step_number\": 3,\n      \"step_type\": \"list\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Return full list of all matched records without row limit.\",\n      \"query_strategy\": {\n        \"filters\": {},\n        \"columns\": [],\n        \"logic\": \"SELECT all matching rows joining step results with no LIMIT.\",\n        \"join_on\": \"\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [\n        1,\n        2\n      ],\n      \"expected_output\": [\n        \"col_1\",\n        \"col_2\"\n      ]\n    }\n  ]\n}",
                "autoFix": true
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                48,
                96
            ],
            "id": "61a2104b-7a76-408b-9afe-d332f7488fa4",
            "name": "Structured Output Parser",
            "retryOnFail": true
        }
    ],
    "connections": {
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Structured Output Parser",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculator": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Dataset Information": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false,
        "timeSavedMode": "fixed",
        "callerPolicy": "workflowsFromSameOwner",
        "executionTimeout": 240
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "ad0fa620-9f58-4580-92be-280a2bee9007",
    "activeVersionId": "ad0fa620-9f58-4580-92be-280a2bee9007",
    "versionCounter": 363,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-23T03:51:15.239Z",
            "createdAt": "2026-02-23T03:51:15.239Z",
            "role": "workflow:owner",
            "workflowId": "yrOGj9mIhO41JgbX",
            "projectId": "lEyuIAFtVcDPu5Ul",
            "project": {
                "updatedAt": "2026-02-13T05:12:31.304Z",
                "createdAt": "2026-02-13T05:04:45.101Z",
                "id": "lEyuIAFtVcDPu5Ul",
                "name": "Ed Lee <ed.e.lee@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "565e7321-1777-4096-87d7-1379bc7abb04",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-13T05:04:45.101Z",
                        "createdAt": "2026-02-13T05:04:45.101Z",
                        "userId": "565e7321-1777-4096-87d7-1379bc7abb04",
                        "projectId": "lEyuIAFtVcDPu5Ul",
                        "user": {
                            "updatedAt": "2026-03-19T04:00:37.754Z",
                            "createdAt": "2026-02-13T05:04:44.713Z",
                            "id": "565e7321-1777-4096-87d7-1379bc7abb04",
                            "email": "ed.e.lee@gmail.com",
                            "firstName": "Ed",
                            "lastName": "Lee",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-13T05:12:34.636Z",
                                "personalization_survey_n8n_version": "2.7.4"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "rjbgy73deGsgpaXn",
                                "userActivatedAt": 1771053281944,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1772675456397
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-03-19",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-19T04:11:20.921Z",
        "createdAt": "2026-03-19T04:11:20.921Z",
        "versionId": "ad0fa620-9f58-4580-92be-280a2bee9007",
        "workflowId": "yrOGj9mIhO41JgbX",
        "nodes": [
            {
                "parameters": {
                    "model": {
                        "__rl": true,
                        "value": "={{ $('Webhook').item.json.body.model || 'gpt-5-mini'}}",
                        "mode": "id"
                    },
                    "responsesApiEnabled": false,
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                "typeVersion": 1.3,
                "position": [
                    -128,
                    576
                ],
                "id": "568ed8c7-7659-4425-a2b9-bf4b27a729f0",
                "name": "OpenAI Chat Model",
                "credentials": {
                    "openAiApi": {
                        "id": "ayhC2xZ3iWv4ZkDW",
                        "name": "OpenAi account"
                    }
                }
            },
            {
                "parameters": {
                    "model": {
                        "__rl": true,
                        "mode": "list",
                        "value": "gpt-5-mini"
                    },
                    "responsesApiEnabled": false,
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                "typeVersion": 1.3,
                "position": [
                    176,
                    544
                ],
                "id": "4d34130c-3c5f-4dd6-963c-ca6098816fcc",
                "name": "OpenAI Chat Model1",
                "credentials": {
                    "openAiApi": {
                        "id": "ayhC2xZ3iWv4ZkDW",
                        "name": "OpenAi account"
                    }
                }
            },
            {
                "parameters": {
                    "promptType": "define",
                    "text": "={{ $json.body.prompt }}",
                    "hasOutputParser": true,
                    "options": {
                        "systemMessage": "=<role>\nYou are a deterministic SQL query planner and builder for a Business Intelligence tool.\nYour job is to inspect user-selected datasets, determine the exact data needed, build a safe multi-step execution plan, and produce executable PostgreSQL queries for every step in order to produce the data / analysis / answer from the user prompt.\n\nThe user may have multiple requirements that require multple queries and analysis. Make sure to divide the plan into multiple parts and steps to gather all the data required to fulfil user request in the prompt fully.\n\nAccuracy and reliability are your highest priorities. Never guess column names, values, or table structures.\n</role>\n\n<input_context>\nThe datasets to use for this report have already been selected by the user.\nYou MUST only retrieve metadata for the following dataset IDs:\n{{ $json.body.dataset_ids.join('\\n- ') !== '' ? '- ' + $json.body.dataset_ids.join('\\n- ') : '(none provided)' }}\n</input_context>\n\n<dataset_context>\nUse the dataset IDs from the <input_context> to query and retrieve dataset_desc and dataset_summary for each dataset using the Dataset Information tool.\nYou MUST only use the column names found in dataset_summary to construct a SQL query. \nIf not followed, query will result in error.\nIf JOIN operation is required across multiple datasets, make sure to use the same column name.\n\n<absolute_rules>\nVIOLATION OF THESE RULES CAUSES SYSTEM FAILURE.\n\n1. COLUMN NAMES (STRICT)\n- Every column name MUST come directly from the `column_name` of the respective dataset.\n- Never invent, abbreviate, rename, change casing, or convert to snake_case/camelCase.\n- ALWAYS wrap column names in double quotes (e.g., \"Revenue Amount\").\n- Ensure all double quotes inside the JSON SQL string are properly escaped (e.g., \\\"Revenue Amount\\\").\n\n2. DATASET VIEW NAMES\n- Each raw dataset is exposed as a view. Never query universal_datatable or raw tables.\n- View name format: n8n_data.v_ds_<dataset_uuid_with_underscores>\n- Procedure: Copy the dataset ID exactly -> Replace all hyphens with underscores -> Prepend `n8n_data.v_ds_`.\n- Example: ID `550e8400-e29b-41d4-a716-446655440000` becomes `n8n_data.v_ds_550e8400_e29b_41d4_a716_446655440000`.\n\n3. DATA TYPE SAFETY & SAFE MATH\n- BI data is dirty and schemas can be unpredictable. To guarantee type safety when aggregating or calculating ANY metric, you MUST use this exact universal casting pattern for all numeric columns:\n  NULLIF(TRIM(REPLACE(\\\"ColumnName\\\"::text, ',', '')), '')::numeric\n- Apply this pattern to ALL columns used in SUM(), AVG(), or math, regardless of whether the dataset_summary says the column is TEXT or NUMERIC.\n- SAFE DIVISION: Prevent division by zero errors unconditionally. Whenever dividing, wrap the denominator in NULLIF(denominator, 0). Example: sum_a / NULLIF(sum_b, 0)\n- ANTI-DOUBLE COUNTING IN HIERARCHIES: When aggregating (SUM), you MUST exclude \"Total\" or \"Subtotal\" rows to prevent double-counting. Example: AND TRIM(\"column_name\") NOT ILIKE '%Total%'. However, DO NOT indiscriminately filter out words like \"Rollup\", \"Group\", or \"Node\" unless necessary, as base-level data often contains these words in their naming convention.\n- DATE PARSING: Just like numbers, text columns containing dates are often dirty. Whenever extracting or parsing dates using TO_DATE() or ::date, you MUST clean the string first using this exact pattern: TO_DATE(NULLIF(TRIM(\"DateColumn\"::text), ''), 'MM/DD/YY') (adjust the format string to match the dataset_summary).\n\n4. GROUP BY COMPLETENESS\n- Every column in a SELECT clause that is not enclosed in an aggregate function MUST appear in the GROUP BY clause.\n\n5. STRING COMPARISONS & AGGREGATIONS\n- BI text data often contains hidden whitespace or inconsistent casing. Whenever filtering or evaluating text columns in WHERE or CASE WHEN clauses, ALWAYS use TRIM() and ILIKE. \n  Example: CASE WHEN TRIM(\\\"versions\\\") ILIKE 'Actuals' THEN ...\n- In CASE WHEN statements used inside SUM() or AVG(), NEVER use 'ELSE 0'. Omit the ELSE clause entirely so non-matching rows default to NULL and are safely ignored by the aggregator.\n\n6. PIPELINE & DEPENDENCY REFERENCING\n- Never aggregate after joining raw rows (anti-double counting). Always aggregate datasets individually in separate steps BEFORE joining them.\n- When a step needs to query the results of a previous step, use the step name as the table name (e.g., `FROM step1`, `FROM step2`). Do NOT use quotes around step names.\n\n7. LIMIT ENFORCEMENT\n- Intermediate steps feeding aggregation: LIMIT 5000\n- Final output step (step_type \"query\" or \"aggregate\"): LIMIT 500\n- Full list steps (step_type \"list\"): NO LIMIT \u2014 omit the LIMIT clause entirely from the SQL\n</absolute_rules>\n\n<workflow>\nExecute your task following this exact logical sequence:\n\nSTEP 1: METADATA RETRIEVAL\nFor each dataset ID provided, use the Dataset Information tool to retrieve: `dataset_name`, `dataset_desc`, `dataset_summary`, and `column_mapping`. Study these carefully. `column_mapping` is your ONLY source for column names.\n\nSTEP 2: PLAN THE QUERY PIPELINE\nBreak the work into simple logical steps. Prefer multiple smaller SQL queries over one complex query. Determine the best join keys if multiple datasets are used.\n- If the user requests a \"full list\", \"all records\", \"complete list\", or \"every record\", set step_type to \"list\" for that step and omit LIMIT from the SQL entirely.\n\nSTEP 3: SELF-VALIDATION\nBefore generating the output, verify:\n- Are all columns explicitly in the `column_mapping`?\n- Are double quotes escaped?\n- Is math safe from division by zero?\n- Do view names have hyphens replaced by underscores?\n- Are previous steps referenced correctly (e.g., FROM step1)?\n</workflow>\n\n<output_format>\nReturn EXACTLY ONE valid JSON object. Do not include markdown formatting (like ```json), conversational text, or explanations outside the JSON. \n\nIf a required column or filter value is completely missing and the query cannot be built, set \"status\" to \"error\" and explain in \"error_message\". Otherwise, \"status\" is \"success\".\n\nThe \"step_type\" field accepts three values: \"query\" (standard query with LIMIT 500), \"list\" (full result set, NO LIMIT), or \"aggregate\" (uses previous step results).\n\nExpected Schema:\n{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Noticed 'Revenue' is text, will cast using NULLIF...\",\n    \"Step 3: Planning step1 for aggregation, step2 for final output...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"<short description>\",\n  \"total_steps\": 2,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\"\n      \"dataset_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n      \"purpose\": \"Retrieve base metrics grouped by region\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", SUM(NULLIF(\\\"Revenue\\\", '')::numeric) AS total_revenue FROM n8n_data.v_ds_550e8400-e29b-41d4-a716-446655440000 WHERE \\\"Region\\\" IS NOT NULL GROUP BY \\\"Region\\\" ORDER BY total_revenue DESC LIMIT 5000\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Compute final report metrics\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", total_revenue FROM step1 ORDER BY total_revenue DESC LIMIT 500\"\n      },\n      \"dependencies\": [1],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    }\n  ]\n}\n</output_format>",
                        "maxIterations": 10
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 1.7,
                "position": [
                    -16,
                    -304
                ],
                "id": "bc397728-77fa-4dd9-9b91-f6d9cebc48cc",
                "name": "AI Agent",
                "alwaysOutputData": true
            },
            {
                "parameters": {},
                "type": "@n8n/n8n-nodes-langchain.toolCalculator",
                "typeVersion": 1,
                "position": [
                    224,
                    -80
                ],
                "id": "12232a13-c586-4c67-b4ec-ce454eec7c29",
                "name": "Calculator"
            },
            {
                "parameters": {
                    "descriptionType": "manual",
                    "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table for datasets available to the user.",
                    "operation": "executeQuery",
                    "query": "={{ (() => { const ids = $('Webhook').first().json.body.dataset_ids; if (ids && Array.isArray(ids) && ids.length > 0) { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping, row_count FROM n8n_data.dataset_record_manager WHERE dataset_id IN ('\" + ids.join(\"','\") + \"') LIMIT 20\"; } else { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping, row_count FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $('Webhook').first().json.body.email.replace(/'/g, \"''\") + \"' LIMIT 20\"; } })() }}",
                    "options": {}
                },
                "type": "n8n-nodes-base.postgresTool",
                "typeVersion": 2.6,
                "position": [
                    368,
                    -80
                ],
                "id": "bc5f9a28-f195-4e0a-a94a-ed39cb33df21",
                "name": "Dataset Information",
                "credentials": {
                    "postgres": {
                        "id": "A7zRb9obSaMEyNKs",
                        "name": "Postgres account"
                    }
                }
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "plan-report",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    -256,
                    -304
                ],
                "id": "f326be96-d557-482c-b9c6-5b7048d2125a",
                "name": "Webhook",
                "webhookId": "b8fb9511-fc84-4c0a-b47a-cc401748df88"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.5,
                "position": [
                    336,
                    -304
                ],
                "id": "0c3a439c-9793-488b-a7f5-ac69add5b8e4",
                "name": "Respond to Webhook"
            },
            {
                "parameters": {
                    "jsonSchemaExample": "{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Planned query pipeline with fuzzy match join...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"example_analysis\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Retrieve filtered records from dataset A.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"column_name\": \"value\",\n          \"other_column\": [\n            \"value1\",\n            \"value2\"\n          ]\n        },\n        \"columns\": [\n          \"col_1\",\n          \"col_2\",\n          \"col_3\"\n        ],\n        \"logic\": \"Filter rows and aggregate by column.\",\n        \"join_on\": \"\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\n        \"step1_result\"\n      ]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Combine results from prior steps and compute final metrics.\",\n      \"query_strategy\": {\n        \"filters\": {},\n        \"columns\": [],\n        \"logic\": \"Join Step 1 and Step 2 results; calculate derived metrics.\",\n        \"join_on\": \"common_column\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [\n        1\n      ],\n      \"expected_output\": [\n        \"final_metric_1\",\n        \"final_metric_2\"\n      ]\n    },\n    {\n      \"step_number\": 3,\n      \"step_type\": \"list\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Return full list of all matched records without row limit.\",\n      \"query_strategy\": {\n        \"filters\": {},\n        \"columns\": [],\n        \"logic\": \"SELECT all matching rows joining step results with no LIMIT.\",\n        \"join_on\": \"\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [\n        1,\n        2\n      ],\n      \"expected_output\": [\n        \"col_1\",\n        \"col_2\"\n      ]\n    }\n  ]\n}",
                    "autoFix": true
                },
                "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
                "typeVersion": 1.3,
                "position": [
                    48,
                    96
                ],
                "id": "61a2104b-7a76-408b-9afe-d332f7488fa4",
                "name": "Structured Output Parser",
                "retryOnFail": true
            }
        ],
        "connections": {
            "OpenAI Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Chat Model1": {
                "ai_languageModel": [
                    [
                        {
                            "node": "Structured Output Parser",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Agent": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Calculator": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Dataset Information": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Structured Output Parser": {
                "ai_outputParser": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_outputParser",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Ed Lee",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-19T04:11:20.961Z",
                "id": 265,
                "workflowId": "yrOGj9mIhO41JgbX",
                "versionId": "ad0fa620-9f58-4580-92be-280a2bee9007",
                "event": "activated",
                "userId": "565e7321-1777-4096-87d7-1379bc7abb04"
            }
        ]
    }
}
