n8n-workflows/Data Analyzer - Execute Plan v2.05.json
{
  "updatedAt": "2026-03-19T19:47:21.608Z",
  "createdAt": "2026-02-23T03:53:36.555Z",
  "id": "rS9WfdjFmtsEgnxO",
  "name": "Data Analyzer - Execute Plan v2.05",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "c412450b-9904-4ebd-99d0-4fc278d54d12",
      "name": "Step",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1056,
        48
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Webhook').item.json.body.model || 'gpt-5-mini' }}"
        },
        "options": {},
        "responsesApiEnabled": false
      },
      "credentials": {
        "openAiApi": {
          "id": "ayhC2xZ3iWv4ZkDW",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "25e797f8-a670-45bf-93f9-143673217694",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        288,
        -1392
      ],
      "webhookId": "ep-webhook-id-001",
      "parameters": {
        "path": "execute-plan",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2.1
    },
    {
      "id": "b46de923-2bf9-47ac-9d49-fcd315de3f03",
      "name": "Parse Plan & Generate Report ID",
      "type": "n8n-nodes-base.code",
      "position": [
        496,
        -1392
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nlet plan;\ntry {\n  plan = typeof body.plan === 'string' ? JSON.parse(body.plan) : body.plan;\n} catch (e) {\n  throw new Error('Invalid plan JSON: ' + e.message);\n}\n\nconst report_id = body.report_id || ('rpt_' + Date.now() + '_' + Math.random().toString(36).substring(2, 8));\n\nconst items = plan.steps.map(step => ({\n  json: {\n    report_id,\n    plan_id: plan.plan_id || '',\n    email: body.email,\n    model: body.model || 'moonshotai/kimi-k2.5',\n    total_steps: plan.total_steps || plan.steps.length,\n    templateId: body.templateId || '',\n    steps_only: body.steps_only === true,\n    step: step\n  }\n}));\n\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "cfd5ea63-95a9-4ff4-bcd3-1787d7d6ea17",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        720,
        -1616
      ],
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ report_id: $input.first().json.report_id, total_steps: $input.first().json.total_steps, status: 'started' }) }}"
      },
      "typeVersion": 1.5
    },
    {
      "id": "f48f7076-e541-4d76-9a78-9bc05d178755",
      "name": "Loop Over Steps",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        720,
        -1392
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "c03cd16a-16e0-4562-9dd7-63d0cfd1c891",
      "name": "Mark Step Started",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1072,
        -1392
      ],
      "parameters": {
        "query": "=WITH upsert AS (UPDATE n8n_data.report_step_results SET status = 'started', step_result = '', plan_id = '{{ $json.plan_id }}', purpose = '{{ $json.step.purpose.replace(/'/g, \"''\") }}', dataset_id = '{{ $json.step.dataset_id }}' WHERE report_id = '{{ $json.report_id }}' AND step_number = {{ $json.step.step_number }} RETURNING 1) INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) SELECT '{{ $json.report_id }}', '{{ $json.plan_id }}', {{ $json.step.step_number }}, '{{ $json.step.purpose.replace(/'/g, \"''\") }}', '{{ $json.step.dataset_id }}', '', 'started' WHERE NOT EXISTS (SELECT 1 FROM upsert)",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "7508c057-faa3-4fe9-b5ef-16697b8171a7",
      "name": "Step AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "onError": "continueErrorOutput",
      "position": [
        1392,
        -1392
      ],
      "parameters": {
        "text": "=Execute the following analysis step.\n\nREPORT ID: {{ $('Parse Plan & Generate Report ID').item.json.report_id }}\nSTEP: {{ $('Loop Over Steps').item.json.step.step_number }} of {{ $('Parse Plan & Generate Report ID').item.json.total_steps }}\nPURPOSE: {{ $('Loop Over Steps').item.json.step.purpose }}\nDATASET ID: {{ $('Loop Over Steps').item.json.step.dataset_id }}\n\nVIEW: {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.v_ds_' + $('Loop Over Steps').item.json.step.dataset_id.replace(/-/g, '_') : 'N/A \u2014 aggregate step' }}\n(Pre-built view with original column names \u2014 query directly, no WHERE clause needed)\nTEMP TABLE (aggregate result for this step): {{ 'n8n_data.\"tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number + '\"' }}\n\nDEPENDENCY TEMP TABLES: {{ (function() { var step = $('Loop Over Steps').item.json; var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_'); var deps = step.step.dependencies || []; if (deps.length > 0) { return deps.map(function(d) { return 'n8n_data.\"tmp_' + reportId + '_step_' + d + '\"'; }).join(', '); } var tables = []; for (var i = 1; i < step.step.step_number; i++) { tables.push('n8n_data.\"tmp_' + reportId + '_step_' + i + '\"'); } return tables.length > 0 ? tables.join(', ') : 'None'; })() }}\n\nDEPENDENCY TEMP TABLE COLUMNS:\n{{ $json.dep_column_info || 'None' }}\n\n\nCOLUMN TYPES:\n{{ (() => { try { const raw = $('Fetch Column Mapping For Step').item.json.column_mapping; const mapping = typeof raw === 'string' ? JSON.parse(raw) : (raw || {}); const typeMap = { real: 'numeric', string: 'text', int: 'integer', date: 'date', bool: 'boolean' }; return Object.entries(mapping).map(([name, col]) => '\"' + name + '\" (' + (typeMap[col.replace(/\\d+$/, '')] || 'text') + ')').join(', ') || '(aggregate step \u2014 no columns)'; } catch(e) { return '(types unavailable)'; } })() }}\n\nQUERY: {{ $('Loop Over Steps').item.json.step.query_strategy.logic || 'standard query' }}\n\nDEPENDENCIES: {{ $('Loop Over Steps').item.json.step.dependencies.join(', ') || 'None' }}\nEXPECTED OUTPUT: {{ $('Loop Over Steps').item.json.step.expected_output.join(', ') }}\n\nRULES:\n1. SQL SAFETY CHECK (MANDATORY): If a SQL query is found in QUERY, you MUST validate and rewrite it to enforce these safety rules before passing it to the Query Dataset Tool:\n   - Universal Numeric Cast: Any column being summed, averaged, or cast to numeric MUST use the exact format: NULLIF(TRIM(REPLACE(\"ColumnName\"::text, ',', '')), '')::numeric\n   - Universal Date Cast: Any date extraction MUST use: TO_DATE(NULLIF(TRIM(\"ColumnName\"::text), ''), 'MM/DD/YY') (Adjust format as needed).\n   - Safe Division: Every division operation MUST wrap the denominator in NULLIF(denominator, 0).\n   - String Matching: Replace all strict '=' string comparisons with TRIM(\"ColumnName\") ILIKE 'value'.\n   - Anti-Double Counting: Ensure aggregations exclude totals using: TRIM(\"levels\") NOT ILIKE '%Total%'.\n\n2. Query step (dataset_id present): The TEMP TABLE is pre-computed with this step's results \u2014 it already contains aggregated columns as defined in the plan. Call Query Step Tables with `SELECT * FROM <temp_table> LIMIT 500` to retrieve the data for formatting. Do not re-aggregate. This is your only tool call.\n\n3. Aggregate step WITH dependencies (DEPENDENCY TEMP TABLES listed above): The TEMP TABLE is pre-computed with this step's aggregate results. Call Query Step Tables with `SELECT * FROM <temp_table> LIMIT 500` to retrieve the data for formatting. The DEPENDENCY TEMP TABLES also contain pre-computed results \u2014 their columns match each dependency step's expected_output. This is your only tool call.\n\n4. Aggregate step WITHOUT dependencies: call Read Previous Step Results for text summaries. This is your only tool call.\n\n5. ERROR HANDLING: If the Query Dataset Tool returns a PostgreSQL syntax error, read the error message carefully. Identify if it was caused by dirty data (whitespace, uncast text, division by zero), apply the appropriate fix from Rule 1, and retry the tool call ONE more time.\n\n6. After the ONE tool call returns successfully, immediately write your structured output and stop. Do not include suggested next steps or explain analysis process/method. Do not call any more tools.",
        "options": {
          "maxIterations": 20,
          "systemMessage": "- For query steps: use Query Step Tables (not Query Dataset) to run SQL against the pre-materialized TEMP TABLE listed in the prompt. Apply your filters and aggregations there.\n- For aggregate steps with dependencies: use Query Step Tables with JOIN SQL across DEPENDENCY TEMP TABLES. Exact column names for each dep table are listed under DEPENDENCY TEMP TABLE COLUMNS \u2014 use them precisely. You have the actual row data \u2014 do not substitute Read Previous Step Results.\n- For list steps (step_type = \"list\" with dependencies): A TEMP TABLE may contain a pre-computed join. Call Query Step Tables with SELECT * FROM <temp_table> LIMIT 5 first. If it does not exist or is empty, inspect the DEPENDENCY TEMP TABLE COLUMNS section to see what columns each dep table actually has. If the dep columns do not match what the step SQL expects (e.g. the SQL references revenue_2025 but dep table only has revenue_2024), look for other prior step tmp tables by checking SELECT * FROM tmp_..._step_N LIMIT 5 for N from (step_number-1) down to 1 until you find the right data. Use the actual column names you discover, not the ones in the plan SQL. Goal: produce a markdown table with the EXPECTED OUTPUT columns from the prompt header.\n- If a temp table is unavailable or empty, fall back to Query Dataset using the VIEW name shown in the prompt.\nYou are a data analyst executing one step of a multi-step report plan.\n\n- For aggregate steps (no dataset_id): use Read Previous Step Results only \u2014 do not run SQL.\n- After the tool returns data, your NEXT response must be your final written analysis \u2014 not another tool call.\n- Return concise structured analysis with key findings and data tables.\n- Use Calculator Tool if simple calculations are required\n- PostgreSQL type rules: (1) NEVER apply TRIM() to integer/bigint columns \u2014 it causes 'function pg_catalog.btrim(bigint) does not exist'. Check COLUMN TYPES before using TRIM(). (2) NEVER compare integer/bigint columns with '' \u2014 use IS NOT NULL, not != '' or <> ''. (3) date columns do NOT support substr() \u2014 use EXTRACT(YEAR FROM col), DATE_PART('year', col), TO_CHAR(col, 'YYYY'), or cast first with col::text. Numeric columns cannot be compared with quoted strings \u2014 omit quotes for numbers."
        },
        "promptType": "define"
      },
      "typeVersion": 1.7,
      "alwaysOutputData": true
    },
    {
      "id": "2f3cdcde-8776-40ed-a3fb-cd459049bd47",
      "name": "Read Previous Step Results",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        1808,
        -912
      ],
      "parameters": {
        "query": "=SELECT step_number, purpose, step_result \nFROM n8n_data.report_step_results \nWHERE report_id = '{{ $('Parse Plan & Generate Report ID').item.json.report_id }}' \n{{ $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") ? \" AND step_number = \" + $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") : \"\" }} \nORDER BY step_number",
        "options": {},
        "operation": "executeQuery",
        "descriptionType": "manual",
        "toolDescription": "Read results from previously completed steps of this report. Use this when the current step has dependencies on earlier steps."
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "1f72ad8b-2096-46f7-bcb3-6cecc75ff46e",
      "name": "Save Step Result",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2304,
        -1408
      ],
      "parameters": {
        "query": "=UPDATE n8n_data.report_step_results\nSET step_result = $STEP_VAL${{ $json.output != null ? $json.output : ($json.error != null ? String($json.error) : 'No output generated') }}$STEP_VAL$,\n    status = '{{ ($json.output != null && String($json.output).trim().length > 0 && !$json.error) ? \"completed\" : \"error\" }}'\nWHERE report_id = '{{ $(\"Loop Over Steps\").item.json.report_id }}'\nAND step_number = {{ $(\"Loop Over Steps\").item.json.step.step_number }}",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "962199e5-a54a-442e-89a7-cce62df1a8c6",
      "name": "Save Step Error",
      "type": "n8n-nodes-base.postgres",
      "position": [
        3088,
        -768
      ],
      "parameters": {
        "query": "=UPDATE n8n_data.report_step_results SET step_result = '{{ ($json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)) : \"Step failed\").replace(/'/g, \"''\") }}', status = 'error' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "125f6f0a-a574-4a0d-87f9-ec69065ccbc7",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        1728,
        -1200
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "728fbc60-5f87-401c-b5fd-18792d318503",
      "name": "Query Dataset",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        1520,
        -912
      ],
      "parameters": {
        "query": "{{ $fromAI('sql_query') }}",
        "options": {},
        "operation": "executeQuery",
        "descriptionType": "manual",
        "toolDescription": "Query the dataset view for this step. Use SQL to query the view name given in the prompt (e.g. n8n_data.v_ds_<id>). The view already has original column names and is pre-filtered \u2014 no WHERE clause needed. Use SQL aggregations (SUM, COUNT, GROUP BY) to compute totals \u2014 do not fetch raw rows for manual calculation. PostgreSQL type rules: date columns do not support substr() \u2014 use EXTRACT(YEAR FROM col) or TO_CHAR(col, 'YYYY') instead. Cast dates to text with col::text if string operations are needed."
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "4c1ffca9-31d0-4b31-9bf0-7edcb580b3fc",
      "name": "Fetch Column Mapping For Step",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1232,
        -1392
      ],
      "parameters": {
        "query": "=SELECT COALESCE(\n  (SELECT column_mapping::text FROM n8n_data.dataset_record_manager\n   WHERE dataset_id::text = '{{ $('Loop Over Steps').item.json.step.dataset_id }}'\n   LIMIT 1),\n  '{}'\n) AS column_mapping",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "1b08bee8-4cd0-4d0b-b9ef-f9afc7e350bc",
      "name": "SearXNG",
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "position": [
        1648,
        -928
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "searXngApi": {
          "id": "nrFsxTvR4yG3oo5j",
          "name": "SearXNG account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "2c9127f9-8dcb-4306-86e5-87f5684e2754",
      "name": "Route Step Type",
      "type": "n8n-nodes-base.if",
      "position": [
        1008,
        -1824
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "route-cond-001",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !!$('Loop Over Steps').item.json.step.dataset_id }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "5741ff91-2808-4345-bf39-ddc38a76df19",
      "name": "Drop Step Table",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1744,
        -1840
      ],
      "parameters": {
        "query": "=DROP TABLE IF EXISTS n8n_data.\"tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}\"",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "04886132-d25e-4566-8a0d-a751a3693e63",
      "name": "Create Step Table",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        1952,
        -1840
      ],
      "parameters": {
        "query": "={{ (function() {\n  var step = $('Loop Over Steps').item.json.step;\n  var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_');\n  var sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || 'SELECT 1';\n  sql = sql.replace(/\\bstep(\\d+)\\b/gi, function(m, n) {\n    return 'n8n_data.\"tmp_' + reportId + '_step_' + n + '\"';\n  });\n  sql = sql.trim().replace(/;+\\s*$/g, '');\n  // Fix invalid empty-string comparisons that fail on integer/bigint columns\n  // e.g.: \"customer_id\" <> '' \u2192 \"customer_id\" IS NOT NULL\n  sql = sql.replace(/\"([^\"]+)\"\\s*(?:!=|<>)\\s*''/g, '\"$1\" IS NOT NULL');\n  sql = sql.replace(/\"([^\"]+)\"\\s*=\\s*''/g, '\"$1\" IS NULL');\n  // Fix TRIM(\"col\") <> '' on integer columns\n  sql = sql.replace(/TRIM\\(\"([^\"]+)\"\\)\\s*(?:!=|<>)\\s*''/gi, '\"$1\" IS NOT NULL');\n  sql = sql.replace(/TRIM\\(\"([^\"]+)\"\\)\\s*=\\s*''/gi, '\"$1\" IS NULL');\n  var tableName = 'n8n_data.\"tmp_' + reportId + '_step_' + step.step_number + '\"';\n  return 'CREATE TABLE ' + tableName + ' AS ' + sql;\n})() }}",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "1df31c2d-beea-40a3-9722-5565d75625f8",
      "name": "Store raw_table_name",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2272,
        -1856
      ],
      "parameters": {
        "query": "=UPDATE n8n_data.report_step_results SET raw_table_name = 'tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "6c2db293-2074-493b-afa9-e40729e36b82",
      "name": "Query Step Tables",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        2048,
        -832
      ],
      "parameters": {
        "query": "={{ $fromAI('sql_query', 'A valid PostgreSQL SELECT against n8n_data temp tables for this report') }}",
        "options": {},
        "operation": "executeQuery",
        "descriptionType": "manual",
        "toolDescription": "Run SQL against pre-materialized step result tables for this report. Each query step has a table named n8n_data.\"tmp_<safe_report_id>_step_<N>\". Use for filtering, aggregating, or JOINing data across steps. Standard PostgreSQL SELECT only \u2014 no DDL. Apply GROUP BY/aggregations rather than SELECT *."
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "196210bf-6109-4248-b04e-faf48fe46bc2",
      "name": "Fetch Dep Column Info",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        1184,
        -1616
      ],
      "parameters": {
        "query": "=SELECT COALESCE(string_agg('n8n_data.\"' || table_name || '\": ' || columns, E'\\n' ORDER BY table_name), 'None') AS dep_column_info FROM (SELECT table_name, string_agg(column_name || ' (' || data_type || ')', ', ' ORDER BY ordinal_position) AS columns FROM information_schema.columns WHERE table_schema = 'n8n_data' AND table_name IN ({{ (function() { var step = $('Loop Over Steps').item.json.step; var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_'); var deps = step.dependencies || []; if (deps.length > 0) { return \"'\" + deps.map(function(d) { return 'tmp_' + reportId + '_step_' + d; }).join(\"', '\") + \"'\"; } var sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || ''; var matches = sql.match(/\\bstep(\\d+)\\b/gi) || []; var stepNums = []; matches.forEach(function(m) { var n = parseInt(m.replace(/^step/i, '')); if (stepNums.indexOf(n) === -1) stepNums.push(n); }); if (stepNums.length > 0) { return \"'\" + stepNums.map(function(n) { return 'tmp_' + reportId + '_step_' + n; }).join(\"', '\") + \"'\"; } return \"'__none__'\"; })() }}) GROUP BY table_name) t",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "4f07177e-c593-46b2-9ded-af673643b1fa",
      "name": "Consolidate Dep Info",
      "type": "n8n-nodes-base.code",
      "position": [
        1360,
        -1616
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length > 0 && items[0].json && items[0].json.dep_column_info !== undefined) {\n  return [{ json: { dep_column_info: items[0].json.dep_column_info || 'None' } }];\n}\nconst rows = items.filter(item => item.json && item.json.table_name);\nconst depColumnInfo = rows.length > 0\n  ? rows.map(r => 'n8n_data.\"' + r.json.table_name + '\": ' + r.json.columns).join('\\n')\n  : 'None';\nreturn [{ json: { dep_column_info: depColumnInfo } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "is-list-step-001",
      "name": "Is List Step?",
      "type": "n8n-nodes-base.if",
      "position": [
        1328,
        -1840
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "list-cond-001",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $('Loop Over Steps').item.json.step.step_type === 'list' && (function() { var sql = (($('Loop Over Steps').item.json.step.query_strategy && ($('Loop Over Steps').item.json.step.query_strategy.sql || $('Loop Over Steps').item.json.step.query_strategy.logic)) || '').toLowerCase(); for (var i = 1; i <= 9; i++) { if (sql.indexOf('step' + i) !== -1) return false; } return true; })() }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "execute-direct-sql-001",
      "name": "Execute Direct SQL",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        1808,
        -2048
      ],
      "parameters": {
        "query": "={{ (function() { var step = $('Loop Over Steps').item.json.step; var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_'); var sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || 'SELECT 1'; sql = sql.replace(/\\bstep(\\d+)\\b/gi, function(m, n) { return 'n8n_data.\"tmp_' + reportId + '_step_' + n + '\"'; }); sql = sql.trim().replace(/;+\\s*$/g, ''); var hasLimit = /\\bLIMIT\\s+\\d+/i.test(sql); if (!hasLimit) { sql = 'SELECT * FROM (' + sql + ') AS _list_query LIMIT 50000'; } return sql;})() }}",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "format-list-result-001",
      "name": "Format List Result",
      "type": "n8n-nodes-base.code",
      "position": [
        2032,
        -2048
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Check for node execution errors (from onError: continueRegularOutput on Execute Direct SQL)\nif (items.length > 0 && items[0].json.error) {\n  const err = items[0].json.error;\n  let errMsg;\n  if (typeof err === 'string') {\n    errMsg = err;\n  } else {\n    // Capture actual PostgreSQL error (cause.message) plus query info\n    const causeMsg = (err.cause && err.cause.message) || null;\n    const mainMsg = err.message || null;\n    const desc = typeof err.description === 'string' ? err.description : null;\n    if (causeMsg && mainMsg && causeMsg !== mainMsg) {\n      // Both present: show DB error + query context\n      errMsg = causeMsg + ' | Query: ' + mainMsg.slice(0, 300);\n    } else {\n      errMsg = causeMsg || mainMsg || desc || JSON.stringify(err).slice(0, 400);\n    }\n  }\n  return [{ json: { output: null, error: 'List step SQL failed: ' + errMsg }, pairedItem: { item: 0 } }];\n}\n\nif (!items || items.length === 0) {\n  return [{ json: { output: 'No results returned.' }, pairedItem: { item: 0 } }];\n}\n\nconst rows = items.map(i => i.json);\nconst headers = Object.keys(rows[0]);\n\n// Build 10-row preview as markdown table\nconst headerRow = '| ' + headers.join(' | ') + ' |';\nconst separator = '| ' + headers.map(() => '---').join(' | ') + ' |';\nconst previewRows = rows.slice(0, 10).map(row =>\n  '| ' + headers.map(h => {\n    const val = row[h];\n    return val === null || val === undefined ? '' : String(val).replace(/\\|/g, '\\\\|');\n  }).join(' | ') + ' |'\n);\nconst preview = [headerRow, separator, ...previewRows].join('\\n');\nconst previewNote = rows.length > 10\n  ? `\\n_Showing 10 of ${rows.length} rows \u2014 full data available as download_`\n  : '';\n\n// Build full CSV\nconst escapeCSV = v => {\n  const s = String(v ?? '');\n  if (s.includes(',') || s.includes('\"') || s.includes('\\n') || s.includes('\\r')) {\n    return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n  }\n  return s;\n};\nconst csvLines = [\n  headers.map(escapeCSV).join(','),\n  ...rows.map(row => headers.map(h => escapeCSV(row[h])).join(','))\n];\nconst csvData = csvLines.join('\\n');\nconst csvB64 = Buffer.from(csvData).toString('base64');\n\nconst output = `**Full List (${rows.length} rows)**\\n\\n${preview}${previewNote}\\n<!--LIST_CSV:${csvB64}-->`;\n\nreturn [{ json: { output }, pairedItem: items.map((_, i) => ({ item: i })) }];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "3fe59188-7ccb-4a6a-9fc8-37266c74aaa8",
      "name": "Drop Aggregate Step Table",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        1600,
        -1616
      ],
      "parameters": {
        "query": "=DROP TABLE IF EXISTS n8n_data.\"tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}\"",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "dc3e1e3a-d09b-499f-98c1-eed1fb005ade",
      "name": "Create Aggregate Step Table",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        1840,
        -1616
      ],
      "parameters": {
        "query": "={{ (function() {\n  var step = $('Loop Over Steps').item.json.step;\n  var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_');\n  var sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || 'SELECT 1';\n  sql = sql.replace(/\\bstep(\\d+)\\b/gi, function(m, n) {\n    return 'n8n_data.\"tmp_' + reportId + '_step_' + n + '\"';\n  });\n  sql = sql.trim().replace(/;+\\s*$/g, '');\n  // Fix invalid empty-string comparisons that fail on integer/bigint columns\n  // e.g.: \"customer_id\" <> '' \u2192 \"customer_id\" IS NOT NULL\n  sql = sql.replace(/\"([^\"]+)\"\\s*(?:!=|<>)\\s*''/g, '\"$1\" IS NOT NULL');\n  sql = sql.replace(/\"([^\"]+)\"\\s*=\\s*''/g, '\"$1\" IS NULL');\n  // Fix TRIM(\"col\") <> '' on integer columns\n  sql = sql.replace(/TRIM\\(\"([^\"]+)\"\\)\\s*(?:!=|<>)\\s*''/gi, '\"$1\" IS NOT NULL');\n  sql = sql.replace(/TRIM\\(\"([^\"]+)\"\\)\\s*=\\s*''/gi, '\"$1\" IS NULL');\n  var tableName = 'n8n_data.\"tmp_' + reportId + '_step_' + step.step_number + '\"';\n  return 'CREATE TABLE ' + tableName + ' AS ' + sql;\n})() }}",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "route-list-vs-agg-001",
      "name": "Route List vs Aggregate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        -1840
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "list-vs-agg-cond-001",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $('Loop Over Steps').item.json.step.step_type === 'list' }}",
              "rightValue": true
            }
          ]
        }
      }
    },
    {
      "id": "fix-join-sql-agent-001",
      "name": "Fix Join SQL",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1840,
        -2240
      ],
      "parameters": {
        "text": "=You are a SQL expert. Inspect the actual table schemas and rewrite the join SQL to be type-safe.\n\nREPORT ID: {{ $('Parse Plan & Generate Report ID').item.json.report_id }}\nSTEP: {{ $('Loop Over Steps').item.json.step.step_number }}\nPURPOSE: {{ $('Loop Over Steps').item.json.step.purpose }}\n\nDEPENDENCY TABLES:\n{{ (function() {\n  var step = $('Loop Over Steps').item.json.step;\n  var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_');\n  var deps = step.dependencies || [];\n  return deps.map(function(d) {\n    return 'step' + d + ' \u2192 n8n_data.\"tmp_' + reportId + '_step_' + d + '\"';\n  }).join('\\n') || 'None';\n})() }}\n\nKNOWN COLUMN INFO (pre-fetched):\n{{ $json.dep_column_info || 'None' }}\n\nORIGINAL JOIN SQL (with tmp table names substituted \u2014 may have type errors):\n{{ (function() {\n  var step = $('Loop Over Steps').item.json.step;\n  var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_');\n  var sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || '';\n  sql = sql.replace(/\\bstep(\\d+)\\b/gi, function(m, n) {\n    return 'n8n_data.\"tmp_' + reportId + '_step_' + n + '\"';\n  });\n  sql = sql.trim().replace(/;+\\s*$/g, '');\n  var hasLimit = /\\bLIMIT\\s+\\d+/i.test(sql);\n  if (!hasLimit) { sql = 'SELECT * FROM (' + sql + ') AS _q LIMIT 50000'; }\n  return sql || 'No SQL provided';\n})() }}\n\nEXPECTED OUTPUT COLUMNS: {{ $('Loop Over Steps').item.json.step.expected_output.join(', ') }}\n\nSTEPS:\n1. For EACH dependency table listed above, call Inspect Table Schema to get exact column names and data types.\n2. Fix ALL type errors in the original SQL:\n   - TRIM() on a non-text/varchar column \u2192 add ::text cast: TRIM(\"col\"::text)\n   - WHERE col <> '' or col != '' on integer/bigint/numeric \u2192 change to col IS NOT NULL\n   - WHERE col = '' on integer/bigint/numeric \u2192 change to col IS NULL\n   - Numeric aggregations on text columns \u2192 wrap: NULLIF(TRIM(REPLACE(\"col\"::text, ',', '')), '')::numeric\n   - Use COALESCE for nullable JOIN columns\n3. If a dependency table does NOT exist in information_schema (step failed), produce a SELECT that returns empty rows with the correct column names using: SELECT NULL::text AS col1, NULL::numeric AS col2 WHERE false\n4. Output ONLY the final corrected SQL query \u2014 no explanation, no markdown, no backticks. Just the raw SQL starting with SELECT.",
        "options": {
          "systemMessage": "You are a PostgreSQL expert. Your ONLY job is to output a corrected SQL query \u2014 nothing else. No explanation. No markdown. No backticks. Just the raw SQL. Always inspect actual table schemas first to fix type errors, especially TRIM() on non-text columns."
        }
      }
    },
    {
      "id": "fix-join-sql-model-001",
      "name": "Fix Join SQL Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1840,
        -2480
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Webhook').item.json.body.model || 'gpt-5-mini' }}"
        },
        "options": {},
        "responsesApiEnabled": false
      },
      "credentials": {
        "openAiApi": {
          "id": "ayhC2xZ3iWv4ZkDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "inspect-schema-tool-001",
      "name": "Inspect Table Schema",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        1600,
        -2480
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $fromAI('query', 'A SELECT from information_schema.columns. Pattern: SELECT column_name, data_type FROM information_schema.columns WHERE table_schema = \\'n8n_data\\' AND table_name = \\'tmp_REPORTID_step_N\\' ORDER BY ordinal_position') }}",
        "options": {},
        "descriptionType": "manual",
        "toolDescription": "Check the exact column names and data types of a tmp table before running a JOIN. Query information_schema.columns with table_schema='n8n_data' and table_name='tmp_<safe_report_id>_step_N'. Use this BEFORE executing join SQL to verify column names and detect type mismatches."
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "execute-fixed-sql-001",
      "name": "Execute Fixed SQL",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "typeVersion": 2.6,
      "position": [
        2300,
        -2240
      ],
      "parameters": {
        "query": "={{ (function() {\n  var sql = ($json.output || '').trim()\n    .replace(/^```(?:sql)?\\s*/i, '')\n    .replace(/\\s*```$/, '')\n    .trim();\n  if (!sql || sql.toUpperCase().indexOf('SELECT') !== 0) {\n    var step = $('Loop Over Steps').item.json.step;\n    var cols = (step.expected_output || ['result']).map(function(c) { return 'NULL AS \"' + c + '\"'; }).join(', ');\n    return 'SELECT ' + cols + ' WHERE false';\n  }\n  return sql;\n})() }}",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Step": {
      "ai_languageModel": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Plan & Generate Report ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan & Generate Report ID": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Steps": {
      "main": [
        [],
        [
          {
            "node": "Mark Step Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step Started": {
      "main": [
        [
          {
            "node": "Fetch Column Mapping For Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step AI Agent": {
      "main": [
        [
          {
            "node": "Save Step Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Step Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Previous Step Results": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Step Result": {
      "main": [
        [
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Step Error": {
      "main": [
        [
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Dataset": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Column Mapping For Step": {
      "main": [
        [
          {
            "node": "Is List Step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Route Step Type": {
      "main": [
        [
          {
            "node": "Drop Step Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Dep Column Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Step Table": {
      "main": [
        [
          {
            "node": "Create Step Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Step Table": {
      "main": [
        [
          {
            "node": "Store raw_table_name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store raw_table_name": {
      "main": [
        [
          {
            "node": "Step AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Step Tables": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dep Column Info": {
      "main": [
        [
          {
            "node": "Consolidate Dep Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Dep Info": {
      "main": [
        [
          {
            "node": "Route List vs Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is List Step?": {
      "main": [
        [
          {
            "node": "Execute Direct SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Step Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Direct SQL": {
      "main": [
        [
          {
            "node": "Format List Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Result": {
      "main": [
        [
          {
            "node": "Save Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Aggregate Step Table": {
      "main": [
        [
          {
            "node": "Create Aggregate Step Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Aggregate Step Table": {
      "main": [
        [
          {
            "node": "Step AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route List vs Aggregate": {
      "main": [
        [
          {
            "node": "Fix Join SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drop Aggregate Step Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Join SQL": {
      "main": [
        [
          {
            "node": "Execute Fixed SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Join SQL Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fix Join SQL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Inspect Table Schema": {
      "ai_tool": [
        [
          {
            "node": "Fix Join SQL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Fixed SQL": {
      "main": [
        [
          {
            "node": "Format List Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4bfd087f-564f-47f1-9bbc-a62a5e783031",
  "activeVersionId": "dbdb3097-2414-4f19-8177-5d1bba641577",
  "versionCounter": 562,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-23T03:53:36.555Z",
      "createdAt": "2026-02-23T03:53:36.555Z",
      "role": "workflow:owner",
      "workflowId": "rS9WfdjFmtsEgnxO",
      "projectId": "lEyuIAFtVcDPu5Ul",
      "project": {
        "updatedAt": "2026-02-13T05:12:31.304Z",
        "createdAt": "2026-02-13T05:04:45.101Z",
        "id": "lEyuIAFtVcDPu5Ul",
        "name": "Ed Lee <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "565e7321-1777-4096-87d7-1379bc7abb04",
        "projectRelations": [
          {
            "updatedAt": "2026-02-13T05:04:45.101Z",
            "createdAt": "2026-02-13T05:04:45.101Z",
            "userId": "565e7321-1777-4096-87d7-1379bc7abb04",
            "projectId": "lEyuIAFtVcDPu5Ul",
            "user": {
              "updatedAt": "2026-03-19T20:34:49.007Z",
              "createdAt": "2026-02-13T05:04:44.713Z",
              "id": "565e7321-1777-4096-87d7-1379bc7abb04",
              "email": "ed.e.lee@gmail.com",
              "firstName": "Ed",
              "lastName": "Lee",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-13T05:12:34.636Z",
                "personalization_survey_n8n_version": "2.7.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "rjbgy73deGsgpaXn",
                "userActivatedAt": 1771053281944,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772675456397
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T17:26:48.238Z",
    "createdAt": "2026-03-19T17:26:48.238Z",
    "versionId": "dbdb3097-2414-4f19-8177-5d1bba641577",
    "workflowId": "rS9WfdjFmtsEgnxO",
    "nodes": [
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.model || 'gpt-5-mini' }}",
            "mode": "id"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1056,
          48
        ],
        "id": "c412450b-9904-4ebd-99d0-4fc278d54d12",
        "name": "Step",
        "credentials": {
          "openAiApi": {
            "id": "ayhC2xZ3iWv4ZkDW",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "execute-plan",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          288,
          -1392
        ],
        "id": "25e797f8-a670-45bf-93f9-143673217694",
        "name": "Webhook",
        "webhookId": "ep-webhook-id-001"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\nlet plan;\ntry {\n  plan = typeof body.plan === 'string' ? JSON.parse(body.plan) : body.plan;\n} catch (e) {\n  throw new Error('Invalid plan JSON: ' + e.message);\n}\n\nconst report_id = body.report_id || ('rpt_' + Date.now() + '_' + Math.random().toString(36).substring(2, 8));\n\nconst items = plan.steps.map(step => ({\n  json: {\n    report_id,\n    plan_id: plan.plan_id || '',\n    email: body.email,\n    model: body.model || 'moonshotai/kimi-k2.5',\n    total_steps: plan.total_steps || plan.steps.length,\n    templateId: body.templateId || '',\n    steps_only: body.steps_only === true,\n    step: step\n  }\n}));\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          -1392
        ],
        "id": "b46de923-2bf9-47ac-9d49-fcd315de3f03",
        "name": "Parse Plan & Generate Report ID"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ report_id: $input.first().json.report_id, total_steps: $input.first().json.total_steps, status: 'started' }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          720,
          -1616
        ],
        "id": "cfd5ea63-95a9-4ff4-bcd3-1787d7d6ea17",
        "name": "Respond Immediately"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          720,
          -1392
        ],
        "id": "f48f7076-e541-4d76-9a78-9bc05d178755",
        "name": "Loop Over Steps"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=WITH upsert AS (UPDATE n8n_data.report_step_results SET status = 'started', step_result = '', plan_id = '{{ $json.plan_id }}', purpose = '{{ $json.step.purpose.replace(/'/g, \"''\") }}', dataset_id = '{{ $json.step.dataset_id }}' WHERE report_id = '{{ $json.report_id }}' AND step_number = {{ $json.step.step_number }} RETURNING 1) INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) SELECT '{{ $json.report_id }}', '{{ $json.plan_id }}', {{ $json.step.step_number }}, '{{ $json.step.purpose.replace(/'/g, \"''\") }}', '{{ $json.step.dataset_id }}', '', 'started' WHERE NOT EXISTS (SELECT 1 FROM upsert)",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1072,
          -1392
        ],
        "id": "c03cd16a-16e0-4562-9dd7-63d0cfd1c891",
        "name": "Mark Step Started",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Execute the following analysis step.\n\nREPORT ID: {{ $('Parse Plan & Generate Report ID').item.json.report_id }}\nSTEP: {{ $('Loop Over Steps').item.json.step.step_number }} of {{ $('Parse Plan & Generate Report ID').item.json.total_steps }}\nPURPOSE: {{ $('Loop Over Steps').item.json.step.purpose }}\nDATASET ID: {{ $('Loop Over Steps').item.json.step.dataset_id }}\n\nVIEW: {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.v_ds_' + $('Loop Over Steps').item.json.step.dataset_id.replace(/-/g, '_') : 'N/A \u2014 aggregate step' }}\n(Pre-built view with original column names \u2014 query directly, no WHERE clause needed)\nTEMP TABLE (pre-materialized for this step): {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.\"tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number + '\"' : 'N/A \u2014 aggregate step' }}\n\nDEPENDENCY TEMP TABLES: {{ $('Loop Over Steps').item.json.step.dependencies && $('Loop Over Steps').item.json.step.dependencies.length > 0 ? $('Loop Over Steps').item.json.step.dependencies.map(d => 'n8n_data.\"tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + d + '\"').join(', ') : 'None' }}\n\nDEPENDENCY TEMP TABLE COLUMNS:\n{{ $json.dep_column_info || 'None' }}\n\n\nCOLUMN TYPES:\n{{ (() => { try { const raw = $('Fetch Column Mapping For Step').item.json.column_mapping; const mapping = typeof raw === 'string' ? JSON.parse(raw) : (raw || {}); const typeMap = { real: 'numeric', string: 'text', int: 'integer', date: 'date', bool: 'boolean' }; return Object.entries(mapping).map(([name, col]) => '\"' + name + '\" (' + (typeMap[col.replace(/\\d+$/, '')] || 'text') + ')').join(', ') || '(aggregate step \u2014 no columns)'; } catch(e) { return '(types unavailable)'; } })() }}\n\nQUERY: {{ $('Loop Over Steps').item.json.step.query_strategy.logic || 'standard query' }}\n\nDEPENDENCIES: {{ $('Loop Over Steps').item.json.step.dependencies.join(', ') || 'None' }}\nEXPECTED OUTPUT: {{ $('Loop Over Steps').item.json.step.expected_output.join(', ') }}\n\nRULES:\n1. SQL SAFETY CHECK (MANDATORY): If a SQL query is found in QUERY, you MUST validate and rewrite it to enforce these safety rules before passing it to the Query Dataset Tool:\n   - Universal Numeric Cast: Any column being summed, averaged, or cast to numeric MUST use the exact format: NULLIF(TRIM(REPLACE(\"ColumnName\"::text, ',', '')), '')::numeric\n   - Universal Date Cast: Any date extraction MUST use: TO_DATE(NULLIF(TRIM(\"ColumnName\"::text), ''), 'MM/DD/YY') (Adjust format as needed).\n   - Safe Division: Every division operation MUST wrap the denominator in NULLIF(denominator, 0).\n   - String Matching: Replace all strict '=' string comparisons with TRIM(\"ColumnName\") ILIKE 'value'.\n   - Anti-Double Counting: Ensure aggregations exclude totals using: TRIM(\"levels\") NOT ILIKE '%Total%'.\n\n2. Query step (dataset_id present): The TEMP TABLE is pre-computed with this step's results \u2014 it already contains aggregated columns as defined in the plan. Call Query Step Tables with `SELECT * FROM <temp_table> LIMIT 500` to retrieve the data for formatting. Do not re-aggregate. This is your only tool call.\n\n3. Aggregate step WITH dependencies (DEPENDENCY TEMP TABLES listed above): The TEMP TABLE is pre-computed with this step's aggregate results. Call Query Step Tables with `SELECT * FROM <temp_table> LIMIT 500` to retrieve the data for formatting. The DEPENDENCY TEMP TABLES also contain pre-computed results \u2014 their columns match each dependency step's expected_output. This is your only tool call.\n\n4. Aggregate step WITHOUT dependencies: call Read Previous Step Results for text summaries. This is your only tool call.\n\n5. ERROR HANDLING: If the Query Dataset Tool returns a PostgreSQL syntax error, read the error message carefully. Identify if it was caused by dirty data (whitespace, uncast text, division by zero), apply the appropriate fix from Rule 1, and retry the tool call ONE more time.\n\n6. After the ONE tool call returns successfully, immediately write your structured output and stop. Do not include suggested next steps or explain analysis process/method. Do not call any more tools.",
          "options": {
            "systemMessage": "- For query steps: use Query Step Tables (not Query Dataset) to run SQL against the pre-materialized TEMP TABLE listed in the prompt. Apply your filters and aggregations there.\n- For aggregate steps with dependencies: use Query Step Tables with JOIN SQL across DEPENDENCY TEMP TABLES. Exact column names for each dep table are listed under DEPENDENCY TEMP TABLE COLUMNS \u2014 use them precisely. You have the actual row data \u2014 do not substitute Read Previous Step Results.\n- If a temp table is unavailable or empty, fall back to Query Dataset using the VIEW name shown in the prompt.\nYou are a data analyst executing one step of a multi-step report plan.\n\n- For aggregate steps (no dataset_id): use Read Previous Step Results only \u2014 do not run SQL.\n- After the tool returns data, your NEXT response must be your final written analysis \u2014 not another tool call.\n- Return concise structured analysis with key findings and data tables.\n- Use Calculator Tool if simple calculations are required\n- PostgreSQL type rules: date columns do NOT support substr() \u2014 use EXTRACT(YEAR FROM col), DATE_PART('year', col), TO_CHAR(col, 'YYYY'), or cast first with col::text. Numeric columns cannot be compared with quoted strings \u2014 omit quotes for numbers.",
            "maxIterations": 20
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1392,
          -1392
        ],
        "id": "7508c057-faa3-4fe9-b5ef-16697b8171a7",
        "name": "Step AI Agent",
        "alwaysOutputData": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Read results from previously completed steps of this report. Use this when the current step has dependencies on earlier steps.",
          "operation": "executeQuery",
          "query": "=SELECT step_number, purpose, step_result \nFROM n8n_data.report_step_results \nWHERE report_id = '{{ $('Parse Plan & Generate Report ID').item.json.report_id }}' \n{{ $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") ? \" AND step_number = \" + $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") : \"\" }} \nORDER BY step_number",
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          1808,
          -912
        ],
        "id": "2f3cdcde-8776-40ed-a3fb-cd459049bd47",
        "name": "Read Previous Step Results",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE n8n_data.report_step_results\nSET step_result = $STEP_VAL${{ $json.output != null ? $json.output : ($json.error != null ? String($json.error) : 'No output generated') }}$STEP_VAL$,\n    status = '{{ ($json.output != null && String($json.output).trim().length > 0 && !$json.error) ? \"completed\" : \"error\" }}'\nWHERE report_id = '{{ $(\"Loop Over Steps\").item.json.report_id }}'\nAND step_number = {{ $(\"Loop Over Steps\").item.json.step.step_number }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2304,
          -1408
        ],
        "id": "1f72ad8b-2096-46f7-bcb3-6cecc75ff46e",
        "name": "Save Step Result",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE n8n_data.report_step_results SET step_result = '{{ ($json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)) : \"Step failed\").replace(/'/g, \"''\") }}', status = 'error' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3088,
          -768
        ],
        "id": "962199e5-a54a-442e-89a7-cce62df1a8c6",
        "name": "Save Step Error",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          1728,
          -1200
        ],
        "id": "125f6f0a-a574-4a0d-87f9-ec69065ccbc7",
        "name": "Calculator"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Query the dataset view for this step. Use SQL to query the view name given in the prompt (e.g. n8n_data.v_ds_<id>). The view already has original column names and is pre-filtered \u2014 no WHERE clause needed. Use SQL aggregations (SUM, COUNT, GROUP BY) to compute totals \u2014 do not fetch raw rows for manual calculation. PostgreSQL type rules: date columns do not support substr() \u2014 use EXTRACT(YEAR FROM col) or TO_CHAR(col, 'YYYY') instead. Cast dates to text with col::text if string operations are needed.",
          "operation": "executeQuery",
          "query": "{{ $fromAI('sql_query') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          1520,
          -912
        ],
        "id": "728fbc60-5f87-401c-b5fd-18792d318503",
        "name": "Query Dataset",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT COALESCE(\n  (SELECT column_mapping::text FROM n8n_data.dataset_record_manager\n   WHERE dataset_id::text = '{{ $('Loop Over Steps').item.json.step.dataset_id }}'\n   LIMIT 1),\n  '{}'\n) AS column_mapping",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1232,
          -1392
        ],
        "id": "4c1ffca9-31d0-4b31-9bf0-7edcb580b3fc",
        "name": "Fetch Column Mapping For Step",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.toolSearXng",
        "typeVersion": 1,
        "position": [
          1648,
          -928
        ],
        "id": "1b08bee8-4cd0-4d0b-b9ef-f9afc7e350bc",
        "name": "SearXNG",
        "credentials": {
          "searXngApi": {
            "id": "nrFsxTvR4yG3oo5j",
            "name": "SearXNG account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "route-cond-001",
                "leftValue": "={{ !!$('Loop Over Steps').item.json.step.dataset_id }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Route Step Type",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1008,
          -1824
        ],
        "id": "2c9127f9-8dcb-4306-86e5-87f5684e2754"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=DROP TABLE IF EXISTS n8n_data.\"tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}\"",
          "options": {}
        },
        "name": "Drop Step Table",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1744,
          -1840
        ],
        "id": "5741ff91-2808-4345-bf39-ddc38a76df19",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ (function() { var step = $('Loop Over Steps').item.json.step; var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_'); var sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || 'SELECT 1'; sql = sql.replace(/\\bstep(\\d+)\\b/gi, function(m, n) {   return 'n8n_data.\"tmp_' + reportId + '_step_' + n + '\"'; }); sql = sql.trim().replace(/;+\\s*$/g, ''); var tableName = 'n8n_data.\"tmp_' + reportId + '_step_' + step.step_number + '\"'; return 'CREATE TABLE ' + tableName + ' AS ' + sql; })() }}",
          "options": {}
        },
        "name": "Create Step Table",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1952,
          -1840
        ],
        "id": "04886132-d25e-4566-8a0d-a751a3693e63",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE n8n_data.report_step_results SET raw_table_name = 'tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}",
          "options": {}
        },
        "name": "Store raw_table_name",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2272,
          -1856
        ],
        "id": "1df31c2d-beea-40a3-9722-5565d75625f8",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Run SQL against pre-materialized step result tables for this report. Each query step has a table named n8n_data.\"tmp_<safe_report_id>_step_<N>\". Use for filtering, aggregating, or JOINing data across steps. Standard PostgreSQL SELECT only \u2014 no DDL. Apply GROUP BY/aggregations rather than SELECT *.",
          "operation": "executeQuery",
          "query": "={{ $fromAI('sql_query', 'A valid PostgreSQL SELECT against n8n_data temp tables for this report') }}",
          "options": {}
        },
        "name": "Query Step Tables",
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          2048,
          -832
        ],
        "id": "6c2db293-2074-493b-afa9-e40729e36b82",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT COALESCE(string_agg('n8n_data.\"' || table_name || '\": ' || columns, E'\\n' ORDER BY table_name), 'None') AS dep_column_info FROM (SELECT table_name, string_agg(column_name || ' (' || data_type || ')', ', ' ORDER BY ordinal_position) AS columns FROM information_schema.columns WHERE table_schema = 'n8n_data' AND table_name IN ({{ $('Loop Over Steps').item.json.step.dependencies && $('Loop Over Steps').item.json.step.dependencies.length > 0 ? \"'\" + $('Loop Over Steps').item.json.step.dependencies.map(d => 'tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + d).join(\"', '\") + \"'\" : \"'__none__'\" }}) GROUP BY table_name) t",
          "options": {}
        },
        "name": "Fetch Dep Column Info",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1184,
          -1616
        ],
        "id": "196210bf-6109-4248-b04e-faf48fe46bc2",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nif (items.length > 0 && items[0].json && items[0].json.dep_column_info !== undefined) {\n  return [{ json: { dep_column_info: items[0].json.dep_column_info || 'None' } }];\n}\nconst rows = items.filter(item => item.json && item.json.table_name);\nconst depColumnInfo = rows.length > 0\n  ? rows.map(r => 'n8n_data.\"' + r.json.table_name + '\": ' + r.json.columns).join('\\n')\n  : 'None';\nreturn [{ json: { dep_column_info: depColumnInfo } }];"
        },
        "name": "Consolidate Dep Info",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          -1616
        ],
        "id": "4f07177e-c593-46b2-9ded-af673643b1fa"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "list-cond-001",
                "leftValue": "={{ $('Loop Over Steps').item.json.step.step_type }}",
                "rightValue": "list",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "is-list-step-001",
        "name": "Is List Step?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1328,
          -1840
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ (function() { var step = $('Loop Over Steps').item.json.step; var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_'); var sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || 'SELECT 1'; sql = sql.replace(/\\bstep(\\d+)\\b/gi, function(m, n) { return 'n8n_data.\"tmp_' + reportId + '_step_' + n + '\"'; }); sql = sql.trim().replace(/;+\\s*$/g, ''); var hasLimit = /\\bLIMIT\\s+\\d+/i.test(sql); if (!hasLimit) { sql = 'SELECT * FROM (' + sql + ') AS _list_query LIMIT 50000'; } return sql;})() }}",
          "options": {}
        },
        "id": "execute-direct-sql-001",
        "name": "Execute Direct SQL",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1808,
          -2048
        ],
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n// Check for node execution errors (from onError: continueRegularOutput on Execute Direct SQL)\nif (items.length > 0 && items[0].json.error) {\n  const err = items[0].json.error;\n  let errMsg;\n  if (typeof err === 'string') {\n    errMsg = err;\n  } else {\n    // n8n NodeOperationError structure: try cause.message, then message, then description\n    errMsg = (err.cause && err.cause.message)\n          || err.message\n          || (typeof err.description === 'string' ? err.description.slice(0, 400) : null)\n          || JSON.stringify(err).slice(0, 400);\n  }\n  return [{ json: { output: null, error: 'List step SQL failed: ' + errMsg }, pairedItem: { item: 0 } }];\n}\n\nif (!items || items.length === 0) {\n  return [{ json: { output: 'No results returned.' }, pairedItem: { item: 0 } }];\n}\n\nconst rows = items.map(i => i.json);\nconst headers = Object.keys(rows[0]);\n\n// Build 10-row preview as markdown table\nconst headerRow = '| ' + headers.join(' | ') + ' |';\nconst separator = '| ' + headers.map(() => '---').join(' | ') + ' |';\nconst previewRows = rows.slice(0, 10).map(row =>\n  '| ' + headers.map(h => {\n    const val = row[h];\n    return val === null || val === undefined ? '' : String(val).replace(/\\|/g, '\\\\|');\n  }).join(' | ') + ' |'\n);\nconst preview = [headerRow, separator, ...previewRows].join('\\n');\nconst previewNote = rows.length > 10\n  ? `\\n_Showing 10 of ${rows.length} rows \u2014 full data available as download_`\n  : '';\n\n// Build full CSV\nconst escapeCSV = v => {\n  const s = String(v ?? '');\n  if (s.includes(',') || s.includes('\"') || s.includes('\\n') || s.includes('\\r')) {\n    return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n  }\n  return s;\n};\nconst csvLines = [\n  headers.map(escapeCSV).join(','),\n  ...rows.map(row => headers.map(h => escapeCSV(row[h])).join(','))\n];\nconst csvData = csvLines.join('\\n');\nconst csvB64 = Buffer.from(csvData).toString('base64');\n\nconst output = `**Full List (${rows.length} rows)**\\n\\n${preview}${previewNote}\\n<!--LIST_CSV:${csvB64}-->`;\n\nreturn [{ json: { output }, pairedItem: items.map((_, i) => ({ item: i })) }];\n"
        },
        "id": "format-list-result-001",
        "name": "Format List Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          -2048
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=DROP TABLE IF EXISTS n8n_data.\"tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}\"",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1600,
          -1616
        ],
        "id": "3fe59188-7ccb-4a6a-9fc8-37266c74aaa8",
        "name": "Drop Aggregate Step Table",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ (function() { var step = $('Loop Over Steps').item.json.step; var reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_'); var sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || 'SELECT 1'; sql = sql.replace(/\\bstep(\\d+)\\b/gi, function(m, n) {   return 'n8n_data.\"tmp_' + reportId + '_step_' + n + '\"'; }); sql = sql.trim().replace(/;+\\s*$/g, ''); var tableName = 'n8n_data.\"tmp_' + reportId + '_step_' + step.step_number + '\"'; return 'CREATE TABLE ' + tableName + ' AS ' + sql; })() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1840,
          -1616
        ],
        "id": "dc3e1e3a-d09b-499f-98c1-eed1fb005ade",
        "name": "Create Aggregate Step Table",
        "credentials": {
          "postgres": {
            "id": "A7zRb9obSaMEyNKs",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Step": {
        "ai_languageModel": [
          [
            {
              "node": "Step AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Plan & Generate Report ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Plan & Generate Report ID": {
        "main": [
          [
            {
              "node": "Respond Immediately",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Over Steps",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Steps": {
        "main": [
          [],
          [
            {
              "node": "Mark Step Started",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Step Started": {
        "main": [
          [
            {
              "node": "Fetch Column Mapping For Step",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step AI Agent": {
        "main": [
          [
            {
              "node": "Save Step Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Save Step Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Previous Step Results": {
        "ai_tool": [
          [
            {
              "node": "Step AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Save Step Result": {
        "main": [
          [
            {
              "node": "Loop Over Steps",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Step Error": {
        "main": [
          [
            {
              "node": "Loop Over Steps",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "Step AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Query Dataset": {
        "ai_tool": [
          [
            {
              "node": "Step AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Column Mapping For Step": {
        "main": [
          [
            {
              "node": "Is List Step?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SearXNG": {
        "ai_tool": [
          [
            {
              "node": "Step AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Route Step Type": {
        "main": [
          [
            {
              "node": "Drop Step Table",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Dep Column Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drop Step Table": {
        "main": [
          [
            {
              "node": "Create Step Table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Step Table": {
        "main": [
          [
            {
              "node": "Store raw_table_name",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Step AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store raw_table_name": {
        "main": [
          [
            {
              "node": "Step AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Step Tables": {
        "ai_tool": [
          [
            {
              "node": "Step AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Dep Column Info": {
        "main": [
          [
            {
              "node": "Consolidate Dep Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidate Dep Info": {
        "main": [
          [
            {
              "node": "Drop Aggregate Step Table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is List Step?": {
        "main": [
          [
            {
              "node": "Execute Direct SQL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Route Step Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Direct SQL": {
        "main": [
          [
            {
              "node": "Format List Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format List Result": {
        "main": [
          [
            {
              "node": "Save Step Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drop Aggregate Step Table": {
        "main": [
          [
            {
              "node": "Create Aggregate Step Table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Aggregate Step Table": {
        "main": [
          [
            {
              "node": "Step AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ed Lee",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T17:26:48.302Z",
        "id": 287,
        "workflowId": "rS9WfdjFmtsEgnxO",
        "versionId": "dbdb3097-2414-4f19-8177-5d1bba641577",
        "event": "activated",
        "userId": "565e7321-1777-4096-87d7-1379bc7abb04"
      }
    ]
  }
}