n8n-workflows/Data_Analyzer_-_Send_Email.json
{
  "updatedAt": "2026-02-08T05:53:26.611Z",
  "createdAt": "2026-02-08T05:08:04.963Z",
  "id": "3b0zFiRzTTOHukIDrYgnB",
  "name": "Data Analyzer - Send Email",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.emails.join(',') }}",
        "subject": "={{ $('Webhook').item.json.body.subject }}",
        "message": "={{ $('Webhook').item.json.body.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ],
      "id": "2e2e7108-1ab3-494e-9800-47c7c88c9098",
      "name": "Send a message",
      "webhookId": "99b4f3b2-1719-4ae9-8d4b-0eb1d0ee03fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "TNOWPl9UgCcBg1hz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        0
      ],
      "id": "90ed9397-2bdb-404f-8344-2fe141a5b5a1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        0
      ],
      "id": "895e022d-6957-40ec-9e90-ec91062daa8c",
      "name": "Webhook",
      "webhookId": "1018b3b5-062a-4a3f-8190-07d4ffc04133"
    }
  ],
  "connections": {
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "af1fd378-cd16-40c6-b56a-72c23826c5ff",
  "activeVersionId": "af1fd378-cd16-40c6-b56a-72c23826c5ff",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-08T05:08:04.963Z",
      "createdAt": "2026-02-08T05:08:04.963Z",
      "role": "workflow:owner",
      "workflowId": "3b0zFiRzTTOHukIDrYgnB",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-08T05:53:28.632Z",
    "createdAt": "2026-02-08T05:53:26.612Z",
    "versionId": "af1fd378-cd16-40c6-b56a-72c23826c5ff",
    "workflowId": "3b0zFiRzTTOHukIDrYgnB",
    "nodes": [
      {
        "parameters": {
          "sendTo": "={{ $('Webhook').item.json.body.emails.join(',') }}",
          "subject": "={{ $('Webhook').item.json.body.subject }}",
          "message": "={{ $('Webhook').item.json.body.content }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          272,
          0
        ],
        "id": "2e2e7108-1ab3-494e-9800-47c7c88c9098",
        "name": "Send a message",
        "webhookId": "99b4f3b2-1719-4ae9-8d4b-0eb1d0ee03fb",
        "credentials": {
          "gmailOAuth2": {
            "id": "TNOWPl9UgCcBg1hz",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          480,
          0
        ],
        "id": "90ed9397-2bdb-404f-8344-2fe141a5b5a1",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "path": "send-email",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          64,
          0
        ],
        "id": "895e022d-6957-40ec-9e90-ec91062daa8c",
        "name": "Webhook",
        "webhookId": "1018b3b5-062a-4a3f-8190-07d4ffc04133"
      }
    ],
    "connections": {
      "Send a message": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version af1fd378",
    "description": "",
    "autosaved": true
  },
  "tags": []
}