n8n-workflows/Data_Analyzer_-_Upload_Template.json
{
  "updatedAt": "2026-02-11T00:42:13.111Z",
  "createdAt": "2026-02-09T04:48:47.364Z",
  "id": "rJ0YOnWH-0H1WxIUFiQJp",
  "name": "Data Analyzer - Upload Template",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload pdf or jpg",
        "formDescription": "Upload pdf or jpg you want to use as a report template",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file"
            },
            {
              "fieldLabel": "name"
            },
            {
              "fieldLabel": "description"
            },
            {
              "fieldLabel": "owner_email"
            },
            {
              "fieldLabel": "access"
            },
            {
              "fieldLabel": "template_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        32,
        -128
      ],
      "id": "9c7a7ce8-6017-4b52-a681-356db804ab9b",
      "name": "On form submission",
      "webhookId": "cd963bc1-9190-4cd5-86c6-83e76ed7321a"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "{{ $json.html }}"
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 1048px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        896,
        -144
      ],
      "id": "ae6657a2-1c18-419a-a8f4-4957e3355ceb",
      "name": "Form",
      "webhookId": "e9cda7ed-13ba-4939-bfcd-6113e765f83f"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "Examine the attached image and generate a single-file HTML/CSS document that replicates it with 1:1 precision. Follow these strict styling rules:\n\nTypography: Use a clean, sans-serif font (like Arial or Helvetica). Ensure headers are uppercase with letter-spacing that matches the image.\n\nTable Structure: Use a semantic <table> with <thead>, <tbody>, and <tfoot>.\n\nColors: > * Identify the exact hex code for the dark blue/purple header background (e.g., #5e5e8c).\n\nUse the light grey/lavender background for \"Gross Profit,\" \"Operating Profit,\" and \"Profit before tax\" rows.\n\nUse the slightly darker shaded background for the \"Profit for the period\" final row.\n\nBorders: Implement the specific double-line bottom border for the final \"Profit for the period\" value and the single horizontal rules above sub-totals.\n\nAlignment: Financial values must be right-aligned with consistent padding. Negative values in parentheses must align perfectly with positive values.\n\nSpacing: Use cell-padding to match the airy vertical spacing of the rows in the image.",
        "options": {
          "systemMessage": "Role: You are a Financial Data Visualization expert. Your goal is to convert datasets into professional, board-ready HTML tables that replicate specific corporate branding.\n\nStrict Output Rules:\n\nNo Markdown: Do not wrap your response in triple backticks (```html). Start your response directly with the first HTML tag.\n\nInline CSS Only: You must use style=\"...\" attributes on every tag to define formatting. Do not use <style> blocks or external classes.\n\nTable Structure: Use semantic <table>, <thead>, <tbody>, and <tfoot> tags.\n\nColor Palette:\n\nPrimary Header: Background #5e5e8c, Text #ffffff.\n\nSub-total/Highlight Rows: Background #e6e6f2, Font-weight bold.\n\nGrand Total Row: Background #d1d1e0, Font-weight bold, Bottom-border 4px double #333.\n\nAlignment & Typography:\n\nUse a clean sans-serif font (Arial, Helvetica).\n\nAll labels must be left-aligned.\n\nAll financial values must be right-aligned.\n\nFormat negative numbers in parentheses: (123,456).\n\nPadding: Use padding: 8px 12px; for all cells to ensure professional spacing.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ac4be262-d58d-460c-8211-8abef26b0624",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2.5",
        "options": {
          "responseFormat": "text",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "5eef426b-ee35-43d0-91e2-2c088a09e347",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This node force-cleans the AI output for n8n rendering\nconst rawOutput = $input.first().json.output; // Ensure this matches your AI output key\n\nconst cleanHtml = rawOutput\n  .replace(/\\\\n/g, ' ')       // Replaces literal '\\n' with a space\n  .replace(/\\n/g, ' ')        // Replaces actual newlines with a space\n  .replace(/\\\\\"/g, '\"')       // Fixes escaped quotes if they exist\n  .replace(/```html|```/g, '') // Removes markdown wrappers\n  .trim();\n\nreturn { html: cleanHtml };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ],
      "id": "d98be7e0-055a-436f-afa5-24d57324cd34",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "data-analyzer-report-templates",
          "mode": "list",
          "cachedResultName": "data-analyzer-report-templates"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "template_name": "={{ $('Webhook').body.name }}",
            "template_desc": "={{ $('Webhook').body.description }}",
            "owner_email": "={{ $('Webhook').body.owner_email }}",
            "template_access": "={{ $('Webhook').body.access }}",
            "html": "={{ $json.html }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_id",
              "displayName": "template_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "template_desc",
              "displayName": "template_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "owner_email",
              "displayName": "owner_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "template_access",
              "displayName": "template_access",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "html",
              "displayName": "html",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        0
      ],
      "id": "8382c844-16a6-44d1-bf8e-adb3aa105912",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-tempate",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        0
      ],
      "id": "c1fa1875-d6a8-4c5b-9afe-ba936195202a",
      "name": "Webhook",
      "webhookId": "0343f43b-9175-41a9-9d87-75140e885b27"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "933b9265-daae-4fc1-8ab2-2903b02007fd",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-09T04:48:47.364Z",
      "createdAt": "2026-02-09T04:48:47.364Z",
      "role": "workflow:owner",
      "workflowId": "rJ0YOnWH-0H1WxIUFiQJp",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": null,
  "tags": []
}