n8n-workflows/Data Analyzer - Delete Dataset.json
{
  "updatedAt": "2026-02-22T04:49:16.019Z",
  "createdAt": "2026-02-06T03:03:12.516Z",
  "id": "sqVG2SPHsyxbDO-jie1ck",
  "name": "Data Analyzer - Delete Dataset",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "dataset_name"
            },
            {
              "fieldToAggregate": "dataset_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -784,
        128
      ],
      "id": "8177afc9-ace3-49dd-9bcd-cd988e4db68d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -992,
        128
      ],
      "id": "3e3f56c1-42fb-4335-98fc-7d3dedd9316d",
      "name": "Get the Dataset Record1",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<b>THIS WILL DELETE A DATASET</b>\n<div>\n  <strong>Available Datasets:</strong>\n  <ol>\n    {{ $('Set Options1').first().json.my_options[0].label.map(name => `<li>${name}</li>`).join('') }}\n  </ol>\n</div>"
            },
            {
              "fieldName": "dataset_no",
              "fieldLabel": "Dataset Name to DELETE",
              "fieldType": "number",
              "defaultValue": "=1",
              "requiredField": true
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        -336,
        128
      ],
      "id": "867f0c90-e815-4353-8f49-4d0ec522d5f8",
      "name": "Form - Get Prompt and Dataset ID1",
      "webhookId": "a20d4864-db6e-473d-aae8-0f4077511973"
    },
    {
      "parameters": {
        "jsCode": "return {\n  my_options: $input.all().map(item => {\n    return {\n      label: item.json.dataset_name,\n      id: item.json.dataset_id  // What the database gets\n    };\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        128
      ],
      "id": "8ecc394e-de75-4cb3-9eee-464b3165aa8e",
      "name": "Set Options1"
    },
    {
      "parameters": {
        "formTitle": "DELETE DATASET",
        "formDescription": "Data AI Analyzer ",
        "formFields": {
          "values": [
            {
              "fieldName": "session",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $now.toMillis() + Math.floor(Math.random() * 1000) }}"
            }
          ]
        },
        "options": {
          "buttonLabel": "Proceed to select a dataset to delete",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 648px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1200,
        128
      ],
      "id": "deff6061-0508-41ee-a296-536ccb65f4af",
      "name": "Delete Form",
      "webhookId": "9e6e756a-73ea-4022-a984-309aaf812683"
    },
    {
      "parameters": {
        "content": "# Delete",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1552,
        96
      ],
      "typeVersion": 1,
      "id": "adcabbb1-a21f-4246-98c5-7c48e9eb9b18",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "universal_datatable",
          "mode": "list",
          "cachedResultName": "universal_datatable"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options1').first().json.my_options[0].id[$json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        160
      ],
      "id": "2e38cbcb-a27c-4a52-8d4c-1803ca8c4818",
      "name": "Delete Data",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set Options1').first().json.my_options[0].id[$json.dataset_no-1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        320
      ],
      "id": "4706ca32-96a8-4c5f-9a6b-536c1f8f2f34",
      "name": "Delete Record",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/optimal-ai-outputs/points/delete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.dataset_id\",\n        \"match\": {\n          \"value\": \"{{ $('Get the Dataset Record1').first().json.dataset_id }}\"\n        }\n      }\n    ]\n  },\n\n  \"with_payload\": true,\n  \"with_vector\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "04b2a437-f48e-46ba-84f7-da9aab13039a",
      "name": "Delete Points"
    }
  ],
  "connections": {
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Set Options1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Dataset Record1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Get Prompt and Dataset ID1": {
      "main": [
        [
          {
            "node": "Delete Points",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Options1": {
      "main": [
        [
          {
            "node": "Form - Get Prompt and Dataset ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Form": {
      "main": [
        [
          {
            "node": "Get the Dataset Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9c22e0e2-b8df-44e4-9b29-0dcc88fe5bed",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T03:03:12.516Z",
      "createdAt": "2026-02-06T03:03:12.516Z",
      "role": "workflow:owner",
      "workflowId": "sqVG2SPHsyxbDO-jie1ck",
      "projectId": "1Tt3UeBU40oNvF7P",
      "project": {
        "updatedAt": "2025-10-06T05:12:43.166Z",
        "createdAt": "2025-10-06T05:08:40.705Z",
        "id": "1Tt3UeBU40oNvF7P",
        "name": "EUN ed.e.lee@gmail.com <ed.e.lee@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "311513a6-4117-4a5c-89e5-28f958dbd390",
        "projectRelations": [
          {
            "updatedAt": "2025-10-06T05:08:40.705Z",
            "createdAt": "2025-10-06T05:08:40.705Z",
            "userId": "311513a6-4117-4a5c-89e5-28f958dbd390",
            "projectId": "1Tt3UeBU40oNvF7P",
            "user": {
              "updatedAt": "2026-03-11T04:00:47.117Z",
              "createdAt": "2025-10-06T05:08:32.753Z",
              "id": "311513a6-4117-4a5c-89e5-28f958dbd390",
              "email": "ed.e.lee@gmail.com",
              "firstName": "EUN",
              "lastName": "ed.e.lee@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-26T08:28:02.179Z",
                "personalization_survey_n8n_version": "2.1.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SxDwHc0lnbViX2QV",
                "userActivatedAt": 1759818413157,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767391940455
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-02-02T01:43:01.385Z",
      "createdAt": "2026-02-02T01:43:01.385Z",
      "id": "O5gBsgGfepw7ZCCU",
      "name": "AI-DEV"
    }
  ],
  "activeVersion": null
}