n8n-workflows/Data Analyzer - Cleanup Temp Tables.json
{"updatedAt":"2026-03-12T00:50:42.567Z","createdAt":"2026-03-12T00:50:40.759Z","id":"s9hJjVVjDgUoTLNt","name":"Data Analyzer - Cleanup Temp Tables","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f7dd1ad2-6480-4c46-b9a0-54cee0c976ce","name":"Manual Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT tablename, pg_size_pretty(pg_total_relation_size('n8n_data.\"' || tablename || '\"')) AS size, (now() - (SELECT reltuples::bigint FROM pg_class WHERE relname = tablename LIMIT 1)::text::interval) IS NULL AS unknown_age FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_%_step_%' ORDER BY tablename","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[224,0],"id":"24098256-97f1-4b15-80e2-5e727b9b952c","name":"Find Temp Tables","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"const tables = $input.all().map(i => i.json);\n\nif (tables.length === 0) {\n  return [{ json: { found: 0, tables: [], summary: 'No orphaned temp tables found. Nothing to clean up.' } }];\n}\n\nconst list = tables.map(t => `  - ${t.tablename} (${t.size})`).join('\\n');\nreturn [{\n  json: {\n    found: tables.length,\n    tables: tables.map(t => t.tablename),\n    summary: `Found ${tables.length} orphaned temp table(s) to drop:\\n${list}`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"2bb5de73-bd78-4b96-855e-b7acec83c106","name":"Summarize Found"},{"parameters":{"operation":"executeQuery","query":"DO $$ DECLARE r RECORD; dropped INT := 0; BEGIN FOR r IN SELECT tablename FROM pg_tables WHERE schemaname = 'n8n_data' AND tablename LIKE 'tmp_%_step_%' LOOP EXECUTE 'DROP TABLE IF EXISTS n8n_data.\"' || r.tablename || '\"'; dropped := dropped + 1; END LOOP; RAISE NOTICE 'Dropped % temp table(s)', dropped; END $$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[672,0],"id":"eb6334a7-b2c2-423a-a551-f12760c559a5","name":"Drop All Temp Tables","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const summary = $('Summarize Found').first().json;\nconst dropped = summary.found;\n\nif (dropped === 0) {\n  return [{ json: { status: 'ok', message: summary.summary } }];\n}\n\nconst tableList = summary.tables.join(', ');\nreturn [{\n  json: {\n    status: 'ok',\n    message: `Successfully dropped ${dropped} orphaned temp table(s).`,\n    dropped_tables: summary.tables\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0],"id":"1083f997-ea7f-4ea8-b201-75192142885f","name":"Done"}],"connections":{"Manual Trigger":{"main":[[{"node":"Find Temp Tables","type":"main","index":0}]]},"Find Temp Tables":{"main":[[{"node":"Summarize Found","type":"main","index":0}]]},"Summarize Found":{"main":[[{"node":"Drop All Temp Tables","type":"main","index":0}]]},"Drop All Temp Tables":{"main":[[{"node":"Done","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"782329ea-36ac-4e87-81b2-adca9a819d6b","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-12T00:50:40.759Z","createdAt":"2026-03-12T00:50:40.759Z","role":"workflow:owner","workflowId":"s9hJjVVjDgUoTLNt","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":null}