n8n-workflows/Data Analyzer - Execute Plan v2.04.json
{"updatedAt":"2026-03-19T05:54:12.730Z","createdAt":"2026-02-23T03:53:36.555Z","id":"rS9WfdjFmtsEgnxO","name":"Data Analyzer - Execute Plan v2.04","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"={{ $('Webhook').item.json.body.model || 'gpt-5-mini' }}","mode":"id"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1056,48],"id":"c412450b-9904-4ebd-99d0-4fc278d54d12","name":"Step","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"execute-plan","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[288,-1392],"id":"25e797f8-a670-45bf-93f9-143673217694","name":"Webhook","webhookId":"ep-webhook-id-001"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nlet plan;\ntry {\n  plan = typeof body.plan === 'string' ? JSON.parse(body.plan) : body.plan;\n} catch (e) {\n  throw new Error('Invalid plan JSON: ' + e.message);\n}\n\nconst report_id = body.report_id || ('rpt_' + Date.now() + '_' + Math.random().toString(36).substring(2, 8));\n\nconst items = plan.steps.map(step => ({\n  json: {\n    report_id,\n    plan_id: plan.plan_id || '',\n    email: body.email,\n    model: body.model || 'moonshotai/kimi-k2.5',\n    total_steps: plan.total_steps || plan.steps.length,\n    templateId: body.templateId || '',\n    steps_only: body.steps_only === true,\n    step: step\n  }\n}));\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-1392],"id":"b46de923-2bf9-47ac-9d49-fcd315de3f03","name":"Parse Plan & Generate Report ID"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ report_id: $input.first().json.report_id, total_steps: $input.first().json.total_steps, status: 'started' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[720,-1616],"id":"cfd5ea63-95a9-4ff4-bcd3-1787d7d6ea17","name":"Respond Immediately"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,-1392],"id":"f48f7076-e541-4d76-9a78-9bc05d178755","name":"Loop Over Steps"},{"parameters":{"operation":"executeQuery","query":"=WITH upsert AS (UPDATE n8n_data.report_step_results SET status = 'started', step_result = '', plan_id = '{{ $json.plan_id }}', purpose = '{{ $json.step.purpose.replace(/'/g, \"''\") }}', dataset_id = '{{ $json.step.dataset_id }}' WHERE report_id = '{{ $json.report_id }}' AND step_number = {{ $json.step.step_number }} RETURNING 1) INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) SELECT '{{ $json.report_id }}', '{{ $json.plan_id }}', {{ $json.step.step_number }}, '{{ $json.step.purpose.replace(/'/g, \"''\") }}', '{{ $json.step.dataset_id }}', '', 'started' WHERE NOT EXISTS (SELECT 1 FROM upsert)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1072,-1392],"id":"c03cd16a-16e0-4562-9dd7-63d0cfd1c891","name":"Mark Step Started","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Execute the following analysis step.\n\nREPORT ID: {{ $('Parse Plan & Generate Report ID').item.json.report_id }}\nSTEP: {{ $('Loop Over Steps').item.json.step.step_number }} of {{ $('Parse Plan & Generate Report ID').item.json.total_steps }}\nPURPOSE: {{ $('Loop Over Steps').item.json.step.purpose }}\nDATASET ID: {{ $('Loop Over Steps').item.json.step.dataset_id }}\n\nVIEW: {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.v_ds_' + $('Loop Over Steps').item.json.step.dataset_id.replace(/-/g, '_') : 'N/A — aggregate step' }}\n(Pre-built view with original column names — query directly, no WHERE clause needed)\nTEMP TABLE (pre-materialized for this step): {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.\"tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number + '\"' : 'N/A — aggregate step' }}\n\nDEPENDENCY TEMP TABLES: {{ $('Loop Over Steps').item.json.step.dependencies && $('Loop Over Steps').item.json.step.dependencies.length > 0 ? $('Loop Over Steps').item.json.step.dependencies.map(d => 'n8n_data.\"tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + d + '\"').join(', ') : 'None' }}\n\nDEPENDENCY TEMP TABLE COLUMNS:\n{{ $json.dep_column_info || 'None' }}\n\n\nCOLUMN TYPES:\n{{ (() => { try { const raw = $('Fetch Column Mapping For Step').item.json.column_mapping; const mapping = typeof raw === 'string' ? JSON.parse(raw) : (raw || {}); const typeMap = { real: 'numeric', string: 'text', int: 'integer', date: 'date', bool: 'boolean' }; return Object.entries(mapping).map(([name, col]) => '\"' + name + '\" (' + (typeMap[col.replace(/\\d+$/, '')] || 'text') + ')').join(', ') || '(aggregate step — no columns)'; } catch(e) { return '(types unavailable)'; } })() }}\n\nQUERY: {{ $('Loop Over Steps').item.json.step.query_strategy.logic || 'standard query' }}\n\nDEPENDENCIES: {{ $('Loop Over Steps').item.json.step.dependencies.join(', ') || 'None' }}\nEXPECTED OUTPUT: {{ $('Loop Over Steps').item.json.step.expected_output.join(', ') }}\n\nRULES:\n1. SQL SAFETY CHECK (MANDATORY): If a SQL query is found in QUERY, you MUST validate and rewrite it to enforce these safety rules before passing it to the Query Dataset Tool:\n   - Universal Numeric Cast: Any column being summed, averaged, or cast to numeric MUST use the exact format: NULLIF(TRIM(REPLACE(\"ColumnName\"::text, ',', '')), '')::numeric\n   - Universal Date Cast: Any date extraction MUST use: TO_DATE(NULLIF(TRIM(\"ColumnName\"::text), ''), 'MM/DD/YY') (Adjust format as needed).\n   - Safe Division: Every division operation MUST wrap the denominator in NULLIF(denominator, 0).\n   - String Matching: Replace all strict '=' string comparisons with TRIM(\"ColumnName\") ILIKE 'value'.\n   - Anti-Double Counting: Ensure aggregations exclude totals using: TRIM(\"levels\") NOT ILIKE '%Total%'.\n\n2. Query step (dataset_id present): call Query Step Tables with SQL against TEMP TABLE above. Use GROUP BY/SUM/COUNT when possible. If asked for a full list run SELECT *. This is your only tool call.\n\n3. Aggregate step WITH dependencies (DEPENDENCY TEMP TABLES listed above): call Query Step Tables with a multi-step CTE query. The dep tables contain RAW rows (not pre-aggregated) — you MUST aggregate within each dep table first (GROUP BY, SUM, RANK), then JOIN the results. Structure: WITH t1 AS (SELECT ... FROM dep_table_1 GROUP BY ...), t2 AS (...) SELECT ... FROM t1 FULL OUTER JOIN t2 ON ... This is your only tool call.\n\n4. Aggregate step WITHOUT dependencies: call Read Previous Step Results for text summaries. This is your only tool call.\n\n5. ERROR HANDLING: If the Query Dataset Tool returns a PostgreSQL syntax error, read the error message carefully. Identify if it was caused by dirty data (whitespace, uncast text, division by zero), apply the appropriate fix from Rule 1, and retry the tool call ONE more time.\n\n6. After the ONE tool call returns successfully, immediately write your structured output and stop. Do not include suggested next steps or explain analysis process/method. Do not call any more tools.","options":{"systemMessage":"- For query steps: use Query Step Tables (not Query Dataset) to run SQL against the pre-materialized TEMP TABLE listed in the prompt. Apply your filters and aggregations there.\n- For aggregate steps with dependencies: use Query Step Tables with JOIN SQL across DEPENDENCY TEMP TABLES. Exact column names for each dep table are listed under DEPENDENCY TEMP TABLE COLUMNS — use them precisely. You have the actual row data — do not substitute Read Previous Step Results.\n- If a temp table is unavailable or empty, fall back to Query Dataset using the VIEW name shown in the prompt.\nYou are a data analyst executing one step of a multi-step report plan.\n\n- For aggregate steps (no dataset_id): use Read Previous Step Results only — do not run SQL.\n- After the tool returns data, your NEXT response must be your final written analysis — not another tool call.\n- Return concise structured analysis with key findings and data tables.\n- Use Calculator Tool if simple calculations are required\n- PostgreSQL type rules: date columns do NOT support substr() — use EXTRACT(YEAR FROM col), DATE_PART('year', col), TO_CHAR(col, 'YYYY'), or cast first with col::text. Numeric columns cannot be compared with quoted strings — omit quotes for numbers.","maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1392,-1392],"id":"7508c057-faa3-4fe9-b5ef-16697b8171a7","name":"Step AI Agent","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Read results from previously completed steps of this report. Use this when the current step has dependencies on earlier steps.","operation":"executeQuery","query":"=SELECT step_number, purpose, step_result \nFROM n8n_data.report_step_results \nWHERE report_id = '{{ $('Parse Plan & Generate Report ID').item.json.report_id }}' \n{{ $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") ? \" AND step_number = \" + $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") : \"\" }} \nORDER BY step_number","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1808,-912],"id":"2f3cdcde-8776-40ed-a3fb-cd459049bd47","name":"Read Previous Step Results","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE n8n_data.report_step_results SET step_result = '{{ $json.output ? $json.output.replace(/'/g, \"''\") : \"No output generated by AI\" }}', status = '{{ ($json.output && $json.output.trim() && !$json.error) ? \"completed\" : \"error\" }}' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2304,-1408],"id":"1f72ad8b-2096-46f7-bcb3-6cecc75ff46e","name":"Save Step Result","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE n8n_data.report_step_results SET step_result = '{{ ($json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)) : \"Step failed\").replace(/'/g, \"''\") }}', status = 'error' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3088,-768],"id":"962199e5-a54a-442e-89a7-cce62df1a8c6","name":"Save Step Error","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1728,-1200],"id":"125f6f0a-a574-4a0d-87f9-ec69065ccbc7","name":"Calculator"},{"parameters":{"descriptionType":"manual","toolDescription":"Query the dataset view for this step. Use SQL to query the view name given in the prompt (e.g. n8n_data.v_ds_<id>). The view already has original column names and is pre-filtered — no WHERE clause needed. Use SQL aggregations (SUM, COUNT, GROUP BY) to compute totals — do not fetch raw rows for manual calculation. PostgreSQL type rules: date columns do not support substr() — use EXTRACT(YEAR FROM col) or TO_CHAR(col, 'YYYY') instead. Cast dates to text with col::text if string operations are needed.","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1520,-912],"id":"728fbc60-5f87-401c-b5fd-18792d318503","name":"Query Dataset","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT COALESCE(\n  (SELECT column_mapping::text FROM n8n_data.dataset_record_manager\n   WHERE dataset_id::text = '{{ $('Loop Over Steps').item.json.step.dataset_id }}'\n   LIMIT 1),\n  '{}'\n) AS column_mapping","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1232,-1392],"id":"4c1ffca9-31d0-4b31-9bf0-7edcb580b3fc","name":"Fetch Column Mapping For Step","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSearXng","typeVersion":1,"position":[1648,-928],"id":"1b08bee8-4cd0-4d0b-b9ef-f9afc7e350bc","name":"SearXNG","credentials":{"searXngApi":{"id":"nrFsxTvR4yG3oo5j","name":"SearXNG account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"route-cond-001","leftValue":"={{ !!$('Loop Over Steps').item.json.step.dataset_id }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Route Step Type","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1008,-1824],"id":"2c9127f9-8dcb-4306-86e5-87f5684e2754"},{"parameters":{"operation":"executeQuery","query":"=DROP TABLE IF EXISTS n8n_data.\"tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}\"","options":{}},"name":"Drop Step Table","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1744,-1840],"id":"5741ff91-2808-4345-bf39-ddc38a76df19","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=CREATE TABLE n8n_data.\"tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}\" AS SELECT * FROM {{ 'n8n_data.v_ds_' + $('Loop Over Steps').item.json.step.dataset_id.replace(/-/g, '_') }} LIMIT 50000","options":{}},"name":"Create Step Table","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1952,-1840],"id":"04886132-d25e-4566-8a0d-a751a3693e63","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"=UPDATE n8n_data.report_step_results SET raw_table_name = 'tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}","options":{}},"name":"Store raw_table_name","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2272,-1856],"id":"1df31c2d-beea-40a3-9722-5565d75625f8","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Run SQL against pre-materialized step result tables for this report. Each query step has a table named n8n_data.\"tmp_<safe_report_id>_step_<N>\". Use for filtering, aggregating, or JOINing data across steps. Standard PostgreSQL SELECT only — no DDL. Apply GROUP BY/aggregations rather than SELECT *.","operation":"executeQuery","query":"={{ $fromAI('sql_query', 'A valid PostgreSQL SELECT against n8n_data temp tables for this report') }}","options":{}},"name":"Query Step Tables","type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2048,-832],"id":"6c2db293-2074-493b-afa9-e40729e36b82","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT COALESCE(string_agg('n8n_data.\"' || table_name || '\": ' || columns, E'\\n' ORDER BY table_name), 'None') AS dep_column_info FROM (SELECT table_name, string_agg(column_name || ' (' || data_type || ')', ', ' ORDER BY ordinal_position) AS columns FROM information_schema.columns WHERE table_schema = 'n8n_data' AND table_name IN ({{ $('Loop Over Steps').item.json.step.dependencies && $('Loop Over Steps').item.json.step.dependencies.length > 0 ? \"'\" + $('Loop Over Steps').item.json.step.dependencies.map(d => 'tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + d).join(\"', '\") + \"'\" : \"'__none__'\" }}) GROUP BY table_name) t","options":{}},"name":"Fetch Dep Column Info","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1184,-1616],"id":"196210bf-6109-4248-b04e-faf48fe46bc2","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length > 0 && items[0].json && items[0].json.dep_column_info !== undefined) {\n  return [{ json: { dep_column_info: items[0].json.dep_column_info || 'None' } }];\n}\nconst rows = items.filter(item => item.json && item.json.table_name);\nconst depColumnInfo = rows.length > 0\n  ? rows.map(r => 'n8n_data.\"' + r.json.table_name + '\": ' + r.json.columns).join('\\n')\n  : 'None';\nreturn [{ json: { dep_column_info: depColumnInfo } }];"},"name":"Consolidate Dep Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-1616],"id":"4f07177e-c593-46b2-9ded-af673643b1fa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"list-cond-001","leftValue":"={{ $('Loop Over Steps').item.json.step.step_type }}","rightValue":"list","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"is-list-step-001","name":"Is List Step?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1328,-1840]},{"parameters":{"operation":"executeQuery","query":"={{ $json.resolved_sql }}","options":{}},"id":"execute-direct-sql-001","name":"Execute Direct SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1808,-2048],"credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all();\nif (!items || items.length === 0) {\n  return [{ json: { output: 'No results returned.' } }];\n}\n\nconst rows = items.map(i => i.json);\nconst headers = Object.keys(rows[0]);\n\n// Build 10-row preview as markdown table\nconst headerRow = '| ' + headers.join(' | ') + ' |';\nconst separator = '| ' + headers.map(() => '---').join(' | ') + ' |';\nconst previewRows = rows.slice(0, 10).map(row =>\n  '| ' + headers.map(h => {\n    const val = row[h];\n    return val === null || val === undefined ? '' : String(val).replace(/\\|/g, '\\\\|');\n  }).join(' | ') + ' |'\n);\nconst preview = [headerRow, separator, ...previewRows].join('\\n');\nconst previewNote = rows.length > 10\n  ? `\\n_Showing 10 of ${rows.length} rows — full data available as download_`\n  : '';\n\n// Build full CSV\nconst escapeCSV = v => {\n  const s = String(v ?? '');\n  if (s.includes(',') || s.includes('\"') || s.includes('\\n') || s.includes('\\r')) {\n    return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n  }\n  return s;\n};\nconst csvLines = [\n  headers.map(escapeCSV).join(','),\n  ...rows.map(row => headers.map(h => escapeCSV(row[h])).join(','))\n];\nconst csvData = csvLines.join('\\n');\nconst csvB64 = Buffer.from(csvData).toString('base64');\n\nconst output = `**Full List (${rows.length} rows)**\\n\\n${preview}${previewNote}\\n<!--LIST_CSV:${csvB64}-->`;\n\nreturn [{ json: { output } }];"},"id":"format-list-result-001","name":"Format List Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,-2048]},{"parameters":{"jsCode":"const step = $('Loop Over Steps').item.json.step;\nconst reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_');\n\nlet sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || 'SELECT 1';\n\n// Replace stepN references with actual temp table names\nsql = sql.replace(/\\bstep(\\d+)\\b/gi, (match, num) => {\n  return 'n8n_data.\"tmp_' + reportId + '_step_' + num + '\"';\n});\n\n// Wrap in a subquery with a row cap to prevent unbounded result sets from timing out\nconst MAX_ROWS = 50000;\nconst hasLimit = /\\bLIMIT\\s+\\d+/i.test(sql);\nif (!hasLimit) {\n  sql = 'SELECT * FROM (' + sql + ') AS _list_query LIMIT ' + MAX_ROWS;\n}\n\nreturn [{ json: { resolved_sql: sql } }];"},"id":"resolve-sql-refs-001","name":"Resolve SQL References","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,-2048]}],"connections":{"Step":{"ai_languageModel":[[{"node":"Step AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Parse Plan & Generate Report ID","type":"main","index":0}]]},"Parse Plan & Generate Report ID":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Loop Over Steps","type":"main","index":0}]]},"Loop Over Steps":{"main":[[],[{"node":"Mark Step Started","type":"main","index":0}]]},"Mark Step Started":{"main":[[{"node":"Fetch Column Mapping For Step","type":"main","index":0}]]},"Step AI Agent":{"main":[[{"node":"Save Step Result","type":"main","index":0}],[{"node":"Save Step Error","type":"main","index":0}]]},"Read Previous Step Results":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Save Step Result":{"main":[[{"node":"Loop Over Steps","type":"main","index":0}]]},"Save Step Error":{"main":[[{"node":"Loop Over Steps","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Query Dataset":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Fetch Column Mapping For Step":{"main":[[{"node":"Is List Step?","type":"main","index":0}]]},"SearXNG":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Route Step Type":{"main":[[{"node":"Drop Step Table","type":"main","index":0}],[{"node":"Fetch Dep Column Info","type":"main","index":0}]]},"Drop Step Table":{"main":[[{"node":"Create Step Table","type":"main","index":0}]]},"Create Step Table":{"main":[[{"node":"Store raw_table_name","type":"main","index":0}],[{"node":"Step AI Agent","type":"main","index":0}]]},"Store raw_table_name":{"main":[[{"node":"Step AI Agent","type":"main","index":0}]]},"Query Step Tables":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Fetch Dep Column Info":{"main":[[{"node":"Consolidate Dep Info","type":"main","index":0}]]},"Consolidate Dep Info":{"main":[[{"node":"Step AI Agent","type":"main","index":0}]]},"Is List Step?":{"main":[[{"node":"Resolve SQL References","type":"main","index":0}],[{"node":"Route Step Type","type":"main","index":0}]]},"Execute Direct SQL":{"main":[[{"node":"Format List Result","type":"main","index":0}]]},"Format List Result":{"main":[[{"node":"Save Step Result","type":"main","index":0}]]},"Resolve SQL References":{"main":[[{"node":"Execute Direct SQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3cb1b1fe-ca08-44b7-b2bb-6c6700a6f74b","activeVersionId":"3cb1b1fe-ca08-44b7-b2bb-6c6700a6f74b","versionCounter":520,"triggerCount":1,"shared":[{"updatedAt":"2026-02-23T03:53:36.555Z","createdAt":"2026-02-23T03:53:36.555Z","role":"workflow:owner","workflowId":"rS9WfdjFmtsEgnxO","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-19T04:00:37.754Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-19","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-19T05:54:12.731Z","createdAt":"2026-03-19T05:54:12.731Z","versionId":"3cb1b1fe-ca08-44b7-b2bb-6c6700a6f74b","workflowId":"rS9WfdjFmtsEgnxO","nodes":[{"parameters":{"model":{"__rl":true,"value":"={{ $('Webhook').item.json.body.model || 'gpt-5-mini' }}","mode":"id"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1056,48],"id":"c412450b-9904-4ebd-99d0-4fc278d54d12","name":"Step","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"execute-plan","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[288,-1392],"id":"25e797f8-a670-45bf-93f9-143673217694","name":"Webhook","webhookId":"ep-webhook-id-001"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nlet plan;\ntry {\n  plan = typeof body.plan === 'string' ? JSON.parse(body.plan) : body.plan;\n} catch (e) {\n  throw new Error('Invalid plan JSON: ' + e.message);\n}\n\nconst report_id = body.report_id || ('rpt_' + Date.now() + '_' + Math.random().toString(36).substring(2, 8));\n\nconst items = plan.steps.map(step => ({\n  json: {\n    report_id,\n    plan_id: plan.plan_id || '',\n    email: body.email,\n    model: body.model || 'moonshotai/kimi-k2.5',\n    total_steps: plan.total_steps || plan.steps.length,\n    templateId: body.templateId || '',\n    steps_only: body.steps_only === true,\n    step: step\n  }\n}));\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-1392],"id":"b46de923-2bf9-47ac-9d49-fcd315de3f03","name":"Parse Plan & Generate Report ID"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ report_id: $input.first().json.report_id, total_steps: $input.first().json.total_steps, status: 'started' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[720,-1616],"id":"cfd5ea63-95a9-4ff4-bcd3-1787d7d6ea17","name":"Respond Immediately"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,-1392],"id":"f48f7076-e541-4d76-9a78-9bc05d178755","name":"Loop Over Steps"},{"parameters":{"operation":"executeQuery","query":"=WITH upsert AS (UPDATE n8n_data.report_step_results SET status = 'started', step_result = '', plan_id = '{{ $json.plan_id }}', purpose = '{{ $json.step.purpose.replace(/'/g, \"''\") }}', dataset_id = '{{ $json.step.dataset_id }}' WHERE report_id = '{{ $json.report_id }}' AND step_number = {{ $json.step.step_number }} RETURNING 1) INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) SELECT '{{ $json.report_id }}', '{{ $json.plan_id }}', {{ $json.step.step_number }}, '{{ $json.step.purpose.replace(/'/g, \"''\") }}', '{{ $json.step.dataset_id }}', '', 'started' WHERE NOT EXISTS (SELECT 1 FROM upsert)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1072,-1392],"id":"c03cd16a-16e0-4562-9dd7-63d0cfd1c891","name":"Mark Step Started","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Execute the following analysis step.\n\nREPORT ID: {{ $('Parse Plan & Generate Report ID').item.json.report_id }}\nSTEP: {{ $('Loop Over Steps').item.json.step.step_number }} of {{ $('Parse Plan & Generate Report ID').item.json.total_steps }}\nPURPOSE: {{ $('Loop Over Steps').item.json.step.purpose }}\nDATASET ID: {{ $('Loop Over Steps').item.json.step.dataset_id }}\n\nVIEW: {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.v_ds_' + $('Loop Over Steps').item.json.step.dataset_id.replace(/-/g, '_') : 'N/A — aggregate step' }}\n(Pre-built view with original column names — query directly, no WHERE clause needed)\nTEMP TABLE (pre-materialized for this step): {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.\"tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number + '\"' : 'N/A — aggregate step' }}\n\nDEPENDENCY TEMP TABLES: {{ $('Loop Over Steps').item.json.step.dependencies && $('Loop Over Steps').item.json.step.dependencies.length > 0 ? $('Loop Over Steps').item.json.step.dependencies.map(d => 'n8n_data.\"tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + d + '\"').join(', ') : 'None' }}\n\nDEPENDENCY TEMP TABLE COLUMNS:\n{{ $json.dep_column_info || 'None' }}\n\n\nCOLUMN TYPES:\n{{ (() => { try { const raw = $('Fetch Column Mapping For Step').item.json.column_mapping; const mapping = typeof raw === 'string' ? JSON.parse(raw) : (raw || {}); const typeMap = { real: 'numeric', string: 'text', int: 'integer', date: 'date', bool: 'boolean' }; return Object.entries(mapping).map(([name, col]) => '\"' + name + '\" (' + (typeMap[col.replace(/\\d+$/, '')] || 'text') + ')').join(', ') || '(aggregate step — no columns)'; } catch(e) { return '(types unavailable)'; } })() }}\n\nQUERY: {{ $('Loop Over Steps').item.json.step.query_strategy.logic || 'standard query' }}\n\nDEPENDENCIES: {{ $('Loop Over Steps').item.json.step.dependencies.join(', ') || 'None' }}\nEXPECTED OUTPUT: {{ $('Loop Over Steps').item.json.step.expected_output.join(', ') }}\n\nRULES:\n1. SQL SAFETY CHECK (MANDATORY): If a SQL query is found in QUERY, you MUST validate and rewrite it to enforce these safety rules before passing it to the Query Dataset Tool:\n   - Universal Numeric Cast: Any column being summed, averaged, or cast to numeric MUST use the exact format: NULLIF(TRIM(REPLACE(\"ColumnName\"::text, ',', '')), '')::numeric\n   - Universal Date Cast: Any date extraction MUST use: TO_DATE(NULLIF(TRIM(\"ColumnName\"::text), ''), 'MM/DD/YY') (Adjust format as needed).\n   - Safe Division: Every division operation MUST wrap the denominator in NULLIF(denominator, 0).\n   - String Matching: Replace all strict '=' string comparisons with TRIM(\"ColumnName\") ILIKE 'value'.\n   - Anti-Double Counting: Ensure aggregations exclude totals using: TRIM(\"levels\") NOT ILIKE '%Total%'.\n\n2. Query step (dataset_id present): call Query Step Tables with SQL against TEMP TABLE above. Use GROUP BY/SUM/COUNT when possible. If asked for a full list run SELECT *. This is your only tool call.\n\n3. Aggregate step WITH dependencies (DEPENDENCY TEMP TABLES listed above): call Query Step Tables with a multi-step CTE query. The dep tables contain RAW rows (not pre-aggregated) — you MUST aggregate within each dep table first (GROUP BY, SUM, RANK), then JOIN the results. Structure: WITH t1 AS (SELECT ... FROM dep_table_1 GROUP BY ...), t2 AS (...) SELECT ... FROM t1 FULL OUTER JOIN t2 ON ... This is your only tool call.\n\n4. Aggregate step WITHOUT dependencies: call Read Previous Step Results for text summaries. This is your only tool call.\n\n5. ERROR HANDLING: If the Query Dataset Tool returns a PostgreSQL syntax error, read the error message carefully. Identify if it was caused by dirty data (whitespace, uncast text, division by zero), apply the appropriate fix from Rule 1, and retry the tool call ONE more time.\n\n6. After the ONE tool call returns successfully, immediately write your structured output and stop. Do not include suggested next steps or explain analysis process/method. Do not call any more tools.","options":{"systemMessage":"- For query steps: use Query Step Tables (not Query Dataset) to run SQL against the pre-materialized TEMP TABLE listed in the prompt. Apply your filters and aggregations there.\n- For aggregate steps with dependencies: use Query Step Tables with JOIN SQL across DEPENDENCY TEMP TABLES. Exact column names for each dep table are listed under DEPENDENCY TEMP TABLE COLUMNS — use them precisely. You have the actual row data — do not substitute Read Previous Step Results.\n- If a temp table is unavailable or empty, fall back to Query Dataset using the VIEW name shown in the prompt.\nYou are a data analyst executing one step of a multi-step report plan.\n\n- For aggregate steps (no dataset_id): use Read Previous Step Results only — do not run SQL.\n- After the tool returns data, your NEXT response must be your final written analysis — not another tool call.\n- Return concise structured analysis with key findings and data tables.\n- Use Calculator Tool if simple calculations are required\n- PostgreSQL type rules: date columns do NOT support substr() — use EXTRACT(YEAR FROM col), DATE_PART('year', col), TO_CHAR(col, 'YYYY'), or cast first with col::text. Numeric columns cannot be compared with quoted strings — omit quotes for numbers.","maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1392,-1392],"id":"7508c057-faa3-4fe9-b5ef-16697b8171a7","name":"Step AI Agent","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Read results from previously completed steps of this report. Use this when the current step has dependencies on earlier steps.","operation":"executeQuery","query":"=SELECT step_number, purpose, step_result \nFROM n8n_data.report_step_results \nWHERE report_id = '{{ $('Parse Plan & Generate Report ID').item.json.report_id }}' \n{{ $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") ? \" AND step_number = \" + $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") : \"\" }} \nORDER BY step_number","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1808,-912],"id":"2f3cdcde-8776-40ed-a3fb-cd459049bd47","name":"Read Previous Step Results","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE n8n_data.report_step_results SET step_result = '{{ $json.output ? $json.output.replace(/'/g, \"''\") : \"No output generated by AI\" }}', status = '{{ ($json.output && $json.output.trim() && !$json.error) ? \"completed\" : \"error\" }}' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2304,-1408],"id":"1f72ad8b-2096-46f7-bcb3-6cecc75ff46e","name":"Save Step Result","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE n8n_data.report_step_results SET step_result = '{{ ($json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)) : \"Step failed\").replace(/'/g, \"''\") }}', status = 'error' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3088,-768],"id":"962199e5-a54a-442e-89a7-cce62df1a8c6","name":"Save Step Error","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1728,-1200],"id":"125f6f0a-a574-4a0d-87f9-ec69065ccbc7","name":"Calculator"},{"parameters":{"descriptionType":"manual","toolDescription":"Query the dataset view for this step. Use SQL to query the view name given in the prompt (e.g. n8n_data.v_ds_<id>). The view already has original column names and is pre-filtered — no WHERE clause needed. Use SQL aggregations (SUM, COUNT, GROUP BY) to compute totals — do not fetch raw rows for manual calculation. PostgreSQL type rules: date columns do not support substr() — use EXTRACT(YEAR FROM col) or TO_CHAR(col, 'YYYY') instead. Cast dates to text with col::text if string operations are needed.","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1520,-912],"id":"728fbc60-5f87-401c-b5fd-18792d318503","name":"Query Dataset","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT COALESCE(\n  (SELECT column_mapping::text FROM n8n_data.dataset_record_manager\n   WHERE dataset_id::text = '{{ $('Loop Over Steps').item.json.step.dataset_id }}'\n   LIMIT 1),\n  '{}'\n) AS column_mapping","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1232,-1392],"id":"4c1ffca9-31d0-4b31-9bf0-7edcb580b3fc","name":"Fetch Column Mapping For Step","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSearXng","typeVersion":1,"position":[1648,-928],"id":"1b08bee8-4cd0-4d0b-b9ef-f9afc7e350bc","name":"SearXNG","credentials":{"searXngApi":{"id":"nrFsxTvR4yG3oo5j","name":"SearXNG account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"route-cond-001","leftValue":"={{ !!$('Loop Over Steps').item.json.step.dataset_id }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Route Step Type","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1008,-1824],"id":"2c9127f9-8dcb-4306-86e5-87f5684e2754"},{"parameters":{"operation":"executeQuery","query":"=DROP TABLE IF EXISTS n8n_data.\"tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}\"","options":{}},"name":"Drop Step Table","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1744,-1840],"id":"5741ff91-2808-4345-bf39-ddc38a76df19","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=CREATE TABLE n8n_data.\"tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}\" AS SELECT * FROM {{ 'n8n_data.v_ds_' + $('Loop Over Steps').item.json.step.dataset_id.replace(/-/g, '_') }} LIMIT 50000","options":{}},"name":"Create Step Table","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1952,-1840],"id":"04886132-d25e-4566-8a0d-a751a3693e63","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"=UPDATE n8n_data.report_step_results SET raw_table_name = 'tmp_{{ $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + $('Loop Over Steps').item.json.step.step_number }}' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}","options":{}},"name":"Store raw_table_name","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2272,-1856],"id":"1df31c2d-beea-40a3-9722-5565d75625f8","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Run SQL against pre-materialized step result tables for this report. Each query step has a table named n8n_data.\"tmp_<safe_report_id>_step_<N>\". Use for filtering, aggregating, or JOINing data across steps. Standard PostgreSQL SELECT only — no DDL. Apply GROUP BY/aggregations rather than SELECT *.","operation":"executeQuery","query":"={{ $fromAI('sql_query', 'A valid PostgreSQL SELECT against n8n_data temp tables for this report') }}","options":{}},"name":"Query Step Tables","type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2048,-832],"id":"6c2db293-2074-493b-afa9-e40729e36b82","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT COALESCE(string_agg('n8n_data.\"' || table_name || '\": ' || columns, E'\\n' ORDER BY table_name), 'None') AS dep_column_info FROM (SELECT table_name, string_agg(column_name || ' (' || data_type || ')', ', ' ORDER BY ordinal_position) AS columns FROM information_schema.columns WHERE table_schema = 'n8n_data' AND table_name IN ({{ $('Loop Over Steps').item.json.step.dependencies && $('Loop Over Steps').item.json.step.dependencies.length > 0 ? \"'\" + $('Loop Over Steps').item.json.step.dependencies.map(d => 'tmp_' + $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_') + '_step_' + d).join(\"', '\") + \"'\" : \"'__none__'\" }}) GROUP BY table_name) t","options":{}},"name":"Fetch Dep Column Info","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1184,-1616],"id":"196210bf-6109-4248-b04e-faf48fe46bc2","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length > 0 && items[0].json && items[0].json.dep_column_info !== undefined) {\n  return [{ json: { dep_column_info: items[0].json.dep_column_info || 'None' } }];\n}\nconst rows = items.filter(item => item.json && item.json.table_name);\nconst depColumnInfo = rows.length > 0\n  ? rows.map(r => 'n8n_data.\"' + r.json.table_name + '\": ' + r.json.columns).join('\\n')\n  : 'None';\nreturn [{ json: { dep_column_info: depColumnInfo } }];"},"name":"Consolidate Dep Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-1616],"id":"4f07177e-c593-46b2-9ded-af673643b1fa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"list-cond-001","leftValue":"={{ $('Loop Over Steps').item.json.step.step_type }}","rightValue":"list","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"is-list-step-001","name":"Is List Step?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1328,-1840]},{"parameters":{"operation":"executeQuery","query":"={{ $json.resolved_sql }}","options":{}},"id":"execute-direct-sql-001","name":"Execute Direct SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1808,-2048],"credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all();\nif (!items || items.length === 0) {\n  return [{ json: { output: 'No results returned.' } }];\n}\n\nconst rows = items.map(i => i.json);\nconst headers = Object.keys(rows[0]);\n\n// Build 10-row preview as markdown table\nconst headerRow = '| ' + headers.join(' | ') + ' |';\nconst separator = '| ' + headers.map(() => '---').join(' | ') + ' |';\nconst previewRows = rows.slice(0, 10).map(row =>\n  '| ' + headers.map(h => {\n    const val = row[h];\n    return val === null || val === undefined ? '' : String(val).replace(/\\|/g, '\\\\|');\n  }).join(' | ') + ' |'\n);\nconst preview = [headerRow, separator, ...previewRows].join('\\n');\nconst previewNote = rows.length > 10\n  ? `\\n_Showing 10 of ${rows.length} rows — full data available as download_`\n  : '';\n\n// Build full CSV\nconst escapeCSV = v => {\n  const s = String(v ?? '');\n  if (s.includes(',') || s.includes('\"') || s.includes('\\n') || s.includes('\\r')) {\n    return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n  }\n  return s;\n};\nconst csvLines = [\n  headers.map(escapeCSV).join(','),\n  ...rows.map(row => headers.map(h => escapeCSV(row[h])).join(','))\n];\nconst csvData = csvLines.join('\\n');\nconst csvB64 = Buffer.from(csvData).toString('base64');\n\nconst output = `**Full List (${rows.length} rows)**\\n\\n${preview}${previewNote}\\n<!--LIST_CSV:${csvB64}-->`;\n\nreturn [{ json: { output } }];"},"id":"format-list-result-001","name":"Format List Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,-2048]},{"parameters":{"jsCode":"const step = $('Loop Over Steps').item.json.step;\nconst reportId = $('Parse Plan & Generate Report ID').item.json.report_id.replace(/[^a-zA-Z0-9_]/g, '_');\n\nlet sql = (step.query_strategy && (step.query_strategy.sql || step.query_strategy.logic)) || 'SELECT 1';\n\n// Replace stepN references with actual temp table names\nsql = sql.replace(/\\bstep(\\d+)\\b/gi, (match, num) => {\n  return 'n8n_data.\"tmp_' + reportId + '_step_' + num + '\"';\n});\n\n// Wrap in a subquery with a row cap to prevent unbounded result sets from timing out\nconst MAX_ROWS = 50000;\nconst hasLimit = /\\bLIMIT\\s+\\d+/i.test(sql);\nif (!hasLimit) {\n  sql = 'SELECT * FROM (' + sql + ') AS _list_query LIMIT ' + MAX_ROWS;\n}\n\nreturn [{ json: { resolved_sql: sql } }];"},"id":"resolve-sql-refs-001","name":"Resolve SQL References","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,-2048]}],"connections":{"Step":{"ai_languageModel":[[{"node":"Step AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Parse Plan & Generate Report ID","type":"main","index":0}]]},"Parse Plan & Generate Report ID":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Loop Over Steps","type":"main","index":0}]]},"Loop Over Steps":{"main":[[],[{"node":"Mark Step Started","type":"main","index":0}]]},"Mark Step Started":{"main":[[{"node":"Fetch Column Mapping For Step","type":"main","index":0}]]},"Step AI Agent":{"main":[[{"node":"Save Step Result","type":"main","index":0}],[{"node":"Save Step Error","type":"main","index":0}]]},"Read Previous Step Results":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Save Step Result":{"main":[[{"node":"Loop Over Steps","type":"main","index":0}]]},"Save Step Error":{"main":[[{"node":"Loop Over Steps","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Query Dataset":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Fetch Column Mapping For Step":{"main":[[{"node":"Is List Step?","type":"main","index":0}]]},"SearXNG":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Route Step Type":{"main":[[{"node":"Drop Step Table","type":"main","index":0}],[{"node":"Fetch Dep Column Info","type":"main","index":0}]]},"Drop Step Table":{"main":[[{"node":"Create Step Table","type":"main","index":0}]]},"Create Step Table":{"main":[[{"node":"Store raw_table_name","type":"main","index":0}],[{"node":"Step AI Agent","type":"main","index":0}]]},"Store raw_table_name":{"main":[[{"node":"Step AI Agent","type":"main","index":0}]]},"Query Step Tables":{"ai_tool":[[{"node":"Step AI Agent","type":"ai_tool","index":0}]]},"Fetch Dep Column Info":{"main":[[{"node":"Consolidate Dep Info","type":"main","index":0}]]},"Consolidate Dep Info":{"main":[[{"node":"Step AI Agent","type":"main","index":0}]]},"Is List Step?":{"main":[[{"node":"Resolve SQL References","type":"main","index":0}],[{"node":"Route Step Type","type":"main","index":0}]]},"Execute Direct SQL":{"main":[[{"node":"Format List Result","type":"main","index":0}]]},"Format List Result":{"main":[[{"node":"Save Step Result","type":"main","index":0}]]},"Resolve SQL References":{"main":[[{"node":"Execute Direct SQL","type":"main","index":0}]]}},"authors":"Ed Lee","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-19T05:54:12.781Z","id":275,"workflowId":"rS9WfdjFmtsEgnxO","versionId":"3cb1b1fe-ca08-44b7-b2bb-6c6700a6f74b","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}