n8n-workflows/Data Analyzer - Prompt Dialog v1.01.json
{"updatedAt":"2026-03-14T16:41:00.754Z","createdAt":"2026-02-26T03:25:45.720Z","id":"O12SeKwHdOCYpJwW","name":"Data Analyzer - Prompt Dialog v1.01","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"prompt-dialog","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-96],"id":"c02d1f35-a169-4051-933c-62c626c785dd","name":"Webhook","webhookId":"pd-webhook-id-001"},{"parameters":{"operation":"executeQuery","query":"={{ (() => { const ids = $json.body.dataset_ids; if (!ids || !Array.isArray(ids) || ids.length === 0) { return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $json.body.email.replace(/'/g, \"''\") + \"' LIMIT 10\"; } return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id::text IN ('\" + ids.join(\"','\") + \"') LIMIT 10\"; })() }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-176,-96],"id":"2af5bcc4-04c7-4d9a-a1ad-60e29c12218f","name":"Fetch Dataset Context","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"const datasets = $input.all().map(item => item.json);\nconst body = $('Webhook').first().json.body;\n\nconst datasetContext = datasets.map(d => {\n  let mapping = {};\n  try {\n    mapping = typeof d.column_mapping === 'string' ? JSON.parse(d.column_mapping) : (d.column_mapping || {});\n  } catch(e) {}\n  const cols = Object.keys(mapping).join(', ');\n  return '\"' + (d.dataset_name || 'Dataset') + '\"\\nDescription: ' + (d.dataset_desc || 'N/A') + '\\nColumns: ' + (cols || 'N/A');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    user_prompt: body.prompt,\n    dataset_context: datasetContext || 'No dataset information available.'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,-96],"id":"c1daff66-cdc9-498f-82fb-191bf8bf02a2","name":"Build Prompt Context"},{"parameters":{"promptType":"define","text":"=User's report requirement:\n{{ $json.user_prompt }}\n\nAvailable datasets and their columns:\n{{ $json.dataset_context }}\n\nGenerate 3 to 5 targeted clarifying questions to help the user refine their report requirements.","hasOutputParser":true,"options":{"systemMessage":"You are a report requirements analyst. Your task is to generate up to 7 targeted clarifying questions that will enable a downstream agent to build a precise, unambiguous analysis plan from the user's prompt and the available dataset columns.\n\nInput you will receive:\n\nThe user's report prompt\nThe available dataset column names and sample values\nQUESTION RULES\nOnly ask a question if it is genuinely relevant to the prompt AND the required column exists in the dataset. Skip any rule that does not apply.\n\nPrioritize questions in this order — higher priority questions have more impact on plan accuracy:\n\nDATE RANGE: If a date/time column exists and the prompt implies a time scope, ask for the specific period to filter by.\nPRIMARY METRIC: If multiple numeric columns could serve as the main measure, ask which one to use.\nGROUPING: If the prompt implies a breakdown or \"by X\" analysis, confirm the grouping column.\nFILTERS: If categorical columns are relevant to the prompt's scope, ask what values to include or exclude.\nAGGREGATION METHOD: If the prompt implies summarizing numbers and the method is ambiguous, ask which function to apply (sum, average, count, min, max).\nRANKING: If the prompt uses words like \"top\", \"bottom\", \"best\", \"worst\", or \"most\", ask for the N count and sort direction.\nJOIN KEY: Only if multiple datasets are provided — name the most likely join columns and ask to confirm. If no obvious key exists, ask whether approximate name matching is acceptable.\nHINT FORMAT RULES\nEach question must include a hint array. The hints are the numbered answer choices the user will see and respond to by number.\n\nEach hint must be a concrete, specific option grounded in actual column names and/or realistic sample values from the dataset\nAlways make the last hint \"Other — I'll type my own answer\" to allow free-form responses\nKeep each hint to one short phrase or value — no full sentences\nIf fewer than 2 meaningful options exist for a question, do not include that question\nEDGE CASES\nIf the user's prompt is already fully specified (date range, metric, grouping, and filters are all explicit), return { \"questions\": [] }\nNever ask about a column that does not exist in the provided datasets\nNever ask redundant or overlapping questions\nOUTPUT FORMAT\nReturn ONLY valid JSON — no explanation, no preamble, no markdown fences.\n\nExample output:\n\n\n{\n  \"questions\": [\n    {\n      \"question\": \"Which time period should the report cover?\",\n      \"hint\": [\n        \"Last 30 days\",\n        \"Last 90 days\",\n        \"Year to date (Jan 1 – today)\",\n        \"Full last calendar year\",\n        \"Other — I'll type my own answer\"\n      ]\n    },\n    {\n      \"question\": \"Which metric should be used as the primary measure?\",\n      \"hint\": [\n        \"Revenue (total sale amount)\",\n        \"Units Sold (item count)\",\n        \"Gross Profit (revenue minus cost)\",\n        \"Other — I'll type my own answer\"\n      ]\n    }\n  ]\n}\nThe user will reply with a number (e.g. \"2\") to select that hint, or free text for \"Other\". Map their response positionally: reply \"1\" = first hint, \"2\" = second hint, and so on.","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[304,-96],"id":"593d1092-c06e-4fe4-a3ac-86b81c946712","name":"Dialog AI Agent","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[768,-96],"id":"d8e1980f-f709-4aaa-aafb-bb506c0b4d2d","name":"Respond to Webhook"},{"parameters":{"jsonSchemaExample":"{\n  \"questions\": [\n    {\n      \"id\": \"time_period\",\n      \"question\": \"What time period should this report cover?\",\n      \"hints\": [\n        { \"text\": \"last 12 months\" },\n        { \"text\": \"Q1 2025\" },\n        { \"text\": \"all available data\" }\n      ]\n    },\n    {\n      \"id\": \"grouping\",\n      \"question\": \"How should the results be broken down or grouped?\",\n      \"hints\": [\n        { \"text\": \"by product category\" },\n        { \"text\": \"by region\" },\n        { \"text\": \"by month\" }\n      ]\n    },\n    {\n      \"id\": \"primary_metrics\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\",\n      \"hints\": [\n        { \"text\": \"total revenue\" },\n        { \"text\": \"order count\" },\n        { \"text\": \"average order value\" }\n      ]\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[400,160],"id":"2ddf97a4-3148-43ca-a116-a9fadac0267b","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"={{ $('Webhook').first().json.body.model || 'chat-5-mini' }}","mode":"id"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-64,624],"id":"5aba9b38-42f1-46cf-a528-9c865adc34c1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-oss-20b","mode":"list","cachedResultName":"gpt-oss-20b"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[320,592],"id":"d61c4ad2-2956-4f57-adab-92eb8358eafe","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch Dataset Context","type":"main","index":0}]]},"Fetch Dataset Context":{"main":[[{"node":"Build Prompt Context","type":"main","index":0}]]},"Build Prompt Context":{"main":[[{"node":"Dialog AI Agent","type":"main","index":0}]]},"Dialog AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Dialog AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Dialog AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"05b1452c-395f-4c23-85b5-1d052fa705c2","activeVersionId":"774a9ce0-2b0b-4c1a-9d71-43ce3255a46a","versionCounter":138,"triggerCount":1,"shared":[{"updatedAt":"2026-02-26T03:25:45.720Z","createdAt":"2026-02-26T03:25:45.720Z","role":"workflow:owner","workflowId":"O12SeKwHdOCYpJwW","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-14T16:39:52.609Z","createdAt":"2026-03-14T16:39:50.941Z","versionId":"774a9ce0-2b0b-4c1a-9d71-43ce3255a46a","workflowId":"O12SeKwHdOCYpJwW","nodes":[{"parameters":{"httpMethod":"POST","path":"prompt-dialog","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-96],"id":"c02d1f35-a169-4051-933c-62c626c785dd","name":"Webhook","webhookId":"pd-webhook-id-001"},{"parameters":{"operation":"executeQuery","query":"={{ (() => { const ids = $json.body.dataset_ids; if (!ids || !Array.isArray(ids) || ids.length === 0) { return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $json.body.email.replace(/'/g, \"''\") + \"' LIMIT 10\"; } return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id::text IN ('\" + ids.join(\"','\") + \"') LIMIT 10\"; })() }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-176,-96],"id":"2af5bcc4-04c7-4d9a-a1ad-60e29c12218f","name":"Fetch Dataset Context","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"const datasets = $input.all().map(item => item.json);\nconst body = $('Webhook').first().json.body;\n\nconst datasetContext = datasets.map(d => {\n  let mapping = {};\n  try {\n    mapping = typeof d.column_mapping === 'string' ? JSON.parse(d.column_mapping) : (d.column_mapping || {});\n  } catch(e) {}\n  const cols = Object.keys(mapping).join(', ');\n  return '\"' + (d.dataset_name || 'Dataset') + '\"\\nDescription: ' + (d.dataset_desc || 'N/A') + '\\nColumns: ' + (cols || 'N/A');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    user_prompt: body.prompt,\n    dataset_context: datasetContext || 'No dataset information available.'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,-96],"id":"c1daff66-cdc9-498f-82fb-191bf8bf02a2","name":"Build Prompt Context"},{"parameters":{"promptType":"define","text":"=User's report requirement:\n{{ $json.user_prompt }}\n\nAvailable datasets and their columns:\n{{ $json.dataset_context }}\n\nGenerate 3 to 5 targeted clarifying questions to help the user refine their report requirements.","hasOutputParser":true,"options":{"systemMessage":"You are a report requirements analyst. Your task is to generate up to 7 targeted clarifying questions that will enable a downstream agent to build a precise, unambiguous analysis plan from the user's prompt and the available dataset columns.\n\nInput you will receive:\n\nThe user's report prompt\nThe available dataset column names and sample values\nQUESTION RULES\nOnly ask a question if it is genuinely relevant to the prompt AND the required column exists in the dataset. Skip any rule that does not apply.\n\nPrioritize questions in this order — higher priority questions have more impact on plan accuracy:\n\nDATE RANGE: If a date/time column exists and the prompt implies a time scope, ask for the specific period to filter by.\nPRIMARY METRIC: If multiple numeric columns could serve as the main measure, ask which one to use.\nGROUPING: If the prompt implies a breakdown or \"by X\" analysis, confirm the grouping column.\nFILTERS: If categorical columns are relevant to the prompt's scope, ask what values to include or exclude.\nAGGREGATION METHOD: If the prompt implies summarizing numbers and the method is ambiguous, ask which function to apply (sum, average, count, min, max).\nRANKING: If the prompt uses words like \"top\", \"bottom\", \"best\", \"worst\", or \"most\", ask for the N count and sort direction.\nJOIN KEY: Only if multiple datasets are provided — name the most likely join columns and ask to confirm. If no obvious key exists, ask whether approximate name matching is acceptable.\nHINT FORMAT RULES\nEach question must include a hint array. The hints are the numbered answer choices the user will see and respond to by number.\n\nEach hint must be a concrete, specific option grounded in actual column names and/or realistic sample values from the dataset\nAlways make the last hint \"Other — I'll type my own answer\" to allow free-form responses\nKeep each hint to one short phrase or value — no full sentences\nIf fewer than 2 meaningful options exist for a question, do not include that question\nEDGE CASES\nIf the user's prompt is already fully specified (date range, metric, grouping, and filters are all explicit), return { \"questions\": [] }\nNever ask about a column that does not exist in the provided datasets\nNever ask redundant or overlapping questions\nOUTPUT FORMAT\nReturn ONLY valid JSON — no explanation, no preamble, no markdown fences.\n\nExample output:\n\n\n{\n  \"questions\": [\n    {\n      \"question\": \"Which time period should the report cover?\",\n      \"hint\": [\n        \"Last 30 days\",\n        \"Last 90 days\",\n        \"Year to date (Jan 1 – today)\",\n        \"Full last calendar year\",\n        \"Other — I'll type my own answer\"\n      ]\n    },\n    {\n      \"question\": \"Which metric should be used as the primary measure?\",\n      \"hint\": [\n        \"Revenue (total sale amount)\",\n        \"Units Sold (item count)\",\n        \"Gross Profit (revenue minus cost)\",\n        \"Other — I'll type my own answer\"\n      ]\n    }\n  ]\n}\nThe user will reply with a number (e.g. \"2\") to select that hint, or free text for \"Other\". Map their response positionally: reply \"1\" = first hint, \"2\" = second hint, and so on.","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[304,-96],"id":"593d1092-c06e-4fe4-a3ac-86b81c946712","name":"Dialog AI Agent","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[768,-96],"id":"d8e1980f-f709-4aaa-aafb-bb506c0b4d2d","name":"Respond to Webhook"},{"parameters":{"jsonSchemaExample":"{\n  \"questions\": [\n    {\n      \"id\": \"time_period\",\n      \"question\": \"What time period should this report cover?\",\n      \"hints\": [\n        { \"text\": \"last 12 months\" },\n        { \"text\": \"Q1 2025\" },\n        { \"text\": \"all available data\" }\n      ]\n    },\n    {\n      \"id\": \"grouping\",\n      \"question\": \"How should the results be broken down or grouped?\",\n      \"hints\": [\n        { \"text\": \"by product category\" },\n        { \"text\": \"by region\" },\n        { \"text\": \"by month\" }\n      ]\n    },\n    {\n      \"id\": \"primary_metrics\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\",\n      \"hints\": [\n        { \"text\": \"total revenue\" },\n        { \"text\": \"order count\" },\n        { \"text\": \"average order value\" }\n      ]\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[400,160],"id":"2ddf97a4-3148-43ca-a116-a9fadac0267b","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"={{ $('Webhook').first().json.body.model || 'chat-5-mini' }}","mode":"id"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-64,624],"id":"5aba9b38-42f1-46cf-a528-9c865adc34c1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-oss-20b","mode":"list","cachedResultName":"gpt-oss-20b"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[320,592],"id":"d61c4ad2-2956-4f57-adab-92eb8358eafe","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch Dataset Context","type":"main","index":0}]]},"Fetch Dataset Context":{"main":[[{"node":"Build Prompt Context","type":"main","index":0}]]},"Build Prompt Context":{"main":[[{"node":"Dialog AI Agent","type":"main","index":0}]]},"Dialog AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Dialog AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Dialog AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"authors":"Ed Lee","name":"Version 774a9ce0","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-14T16:39:52.607Z","id":241,"workflowId":"O12SeKwHdOCYpJwW","versionId":"774a9ce0-2b0b-4c1a-9d71-43ce3255a46a","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}