n8n-workflows/Data_Analyzer_-_Plan_Report_v1.05.json
{
  "updatedAt": "2026-03-19T23:09:36.536Z",
  "createdAt": "2026-02-22T04:51:22.851Z",
  "id": "6orHC8Y3B8nFKM0KMnRuG",
  "name": "Data Analyzer - Plan Report v1.05",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        560
      ],
      "id": "2fa3370e-1385-44ed-a22f-b51ddadc0762",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        544
      ],
      "id": "7ad64241-e9d8-4a38-a9d0-84b5e5852904",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<role>\nYou are a deterministic SQL query planner and builder for a Business Intelligence tool.\nYour job is to inspect user-selected datasets, determine the exact data needed, build a safe multi-step execution plan, and produce executable PostgreSQL queries for every step in order to produce the data / analysis / answer from the user prompt.\n\nThe user may have multiple requirements that require multple queries and analysis. Make sure to divide the plan into multiple parts and steps to gather all the data required to fulfil user request in the prompt fully.\n\nAccuracy and reliability are your highest priorities. Never guess column names, values, or table structures.\n</role>\n\n<input_context>\nThe datasets to use for this report have already been selected by the user.\nYou MUST only retrieve metadata for the following dataset IDs:\n{{ $json.body.dataset_ids.join('\\n- ') !== '' ? '- ' + $json.body.dataset_ids.join('\\n- ') : '(none provided)' }}\n</input_context>\n\n<dataset_context>\nUse the dataset IDs from the <input_context> to query and retrieve dataset_desc and dataset_summary for each dataset using the Dataset Information tool.\nYou MUST only use the column names found in dataset_summary to construct a SQL query. \nIf not followed, query will result in error.\nIf JOIN operation is required across multiple datasets, make sure to use the column names found in dataset_summary in the SQL query. Double check to make sure, if needed.\n\n<absolute_rules>\nVIOLATION OF THESE RULES CAUSES SYSTEM FAILURE.\n\n1. COLUMN NAMES (STRICT)\n- Every column name MUST come directly from the `column_name` of the respective dataset.\n- Never invent, abbreviate, rename, change casing, or convert to snake_case/camelCase.\n- ALWAYS wrap column names in double quotes (e.g., \"Revenue Amount\").\n- Ensure all double quotes inside the JSON SQL string are properly escaped (e.g., \\\"Revenue Amount\\\").\n\n2. DATASET VIEW NAMES\n- Each raw dataset is exposed as a view. Never query universal_datatable or raw tables.\n- View name format: n8n_data.v_ds_<dataset_uuid_with_underscores>\n- Procedure: Copy the dataset ID exactly -> Replace all hyphens with underscores -> Prepend `n8n_data.v_ds_`.\n- Example: ID `550e8400-e29b-41d4-a716-446655440000` becomes `n8n_data.v_ds_550e8400_e29b_41d4_a716_446655440000`.\n\n3. DATA TYPE SAFETY & SAFE MATH\n- BI data is dirty and schemas can be unpredictable. To guarantee type safety when aggregating or calculating ANY metric, you MUST use this exact universal casting pattern for all numeric columns:\n  NULLIF(TRIM(REPLACE(\\\"ColumnName\\\"::text, ',', '')), '')::numeric\n- Apply this pattern to ALL columns used in SUM(), AVG(), or math, regardless of whether the dataset_summary says the column is TEXT or NUMERIC.\n- SAFE DIVISION: Prevent division by zero errors unconditionally. Whenever dividing, wrap the denominator in NULLIF(denominator, 0). Example: sum_a / NULLIF(sum_b, 0)\n- ANTI-DOUBLE COUNTING IN HIERARCHIES: When aggregating (SUM), you MUST exclude \"Total\" or \"Subtotal\" rows to prevent double-counting. Example: AND TRIM(\"column_name\") NOT ILIKE '%Total%'. However, DO NOT indiscriminately filter out words like \"Rollup\", \"Group\", or \"Node\" unless necessary, as base-level data often contains these words in their naming convention.\n- DATE PARSING: Just like numbers, text columns containing dates are often dirty. Whenever extracting or parsing dates using TO_DATE() or ::date, you MUST clean the string first using this exact pattern: TO_DATE(NULLIF(TRIM(\"DateColumn\"::text), ''), 'MM/DD/YY') (adjust the format string to match the dataset_summary).\n\n4. GROUP BY COMPLETENESS\n- Every column in a SELECT clause that is not enclosed in an aggregate function MUST appear in the GROUP BY clause.\n\n5. STRING COMPARISONS & AGGREGATIONS\n- BI text data often contains hidden whitespace or inconsistent casing. Whenever filtering or evaluating text columns in WHERE or CASE WHEN clauses, ALWAYS use TRIM() and ILIKE. \n  Example: CASE WHEN TRIM(\\\"versions\\\") ILIKE 'Actuals' THEN ...\n- In CASE WHEN statements used inside SUM() or AVG(), NEVER use 'ELSE 0'. Omit the ELSE clause entirely so non-matching rows default to NULL and are safely ignored by the aggregator.\n\n6. PIPELINE & DEPENDENCY REFERENCING\n- Never aggregate after joining raw rows (anti-double counting). Always aggregate datasets individually in separate steps BEFORE joining them.\n- When a step needs to query the results of a previous step, use the step name as the table name (e.g., `FROM step1`, `FROM step2`). Do NOT use quotes around step names.\n\n7. LIMIT ENFORCEMENT\n- Intermediate steps feeding aggregation: LIMIT 5000\n- Final output step (step_type \"query\" or \"aggregate\"): LIMIT 500\n- Full list steps (step_type \"list\"): NO LIMIT — omit the LIMIT clause entirely from the SQL\n\n8. CROSS-STEP COLUMN CONSISTENCY\n- Every column alias produced in a step's SQL SELECT clause MUST appear exactly in that step's `expected_output` array (e.g., if SQL has `SUM(...) AS revenue_2024`, then `expected_output` must include `\"revenue_2024\"`).\n- When any step references `FROM stepN`, use only column names listed in stepN's `expected_output`. These will exist in the step's temp table exactly as named.\n- ALIAS ORDER: In any JOIN, assign aliases in ascending step number order — s1 = the lowest-numbered dependency, s2 = the next, etc. NEVER reverse the order (e.g., `FROM step3 s1 JOIN step2 s2` is wrong; correct is `FROM step2 s1 JOIN step3 s2`). This ensures s1.col always maps to the lower-numbered step's expected_output.\n- SELF-CHECK: For every downstream step referencing stepN columns:\n  a. Map each alias to its step: \"s1 = step1 (expected_output: [...])\", \"s2 = step2 (expected_output: [...])\"\n  b. For each column reference `sX.col` in the SQL, verify `col` appears in stepX's `expected_output` — NOT another step's.\n  c. NEVER assume a step's content from its position (e.g., do not assume s1=2024 and s2=2025 just because you named them that way). Always check the actual `expected_output` list.\n  d. If `col` is in stepY's `expected_output` but you wrote `sX.col`, fix it to `sY.col`.\n\n9. SQL TYPE SAFETY (CRITICAL — violations cause silent table creation failures)\n- NEVER use `= ''` or `!= ''` or `<> ''` (empty-string comparisons) on integer, bigint, numeric, float, or date columns. This causes PostgreSQL runtime errors like \"invalid input syntax for type bigint\".\n- NEVER apply TRIM(), LTRIM(), RTRIM(), UPPER(), LOWER(), ILIKE, or any string function/operator to integer, bigint, numeric, float, or date columns. PostgreSQL will throw \"function does not exist\" errors.\n- For integer/bigint/numeric columns: use ONLY `IS NOT NULL`, `> 0`, `= value`, `IS DISTINCT FROM 0`, etc. NEVER use `!= ''` or `<> ''`.\n- For text/varchar columns: `IS NOT NULL`, `!= ''`, `TRIM(...) != ''`, `ILIKE`, etc. are all valid.\n- MANDATORY: Check the `column_mapping` type for EVERY column in your WHERE/HAVING clauses before writing a condition.\n  - column_mapping type `int1`, `int2`, `int4`, `int8`, `bigint`, `real`, `float`, `numeric` → integer/numeric: use `IS NOT NULL` not `<> ''`\n  - column_mapping type `string`, `text`, `varchar` → text: `IS NOT NULL` and `!= ''` are both valid\n\nCONCRETE EXAMPLE — customer_id is mapped as int1 (integer):\n  WRONG: WHERE \"customer_id\" IS NOT NULL AND \"customer_id\" <> ''   ← causes \"invalid input syntax for type bigint: ''\"\n  RIGHT: WHERE \"customer_id\" IS NOT NULL                            ← use only IS NOT NULL for integers\n</absolute_rules>\n\n<workflow>\nExecute your task following this exact logical sequence:\n\nSTEP 1: METADATA RETRIEVAL\nFor each dataset ID provided, use the Dataset Information tool to retrieve: `dataset_name`, `dataset_desc`, `dataset_summary`, and `column_mapping`. Study these carefully. `column_mapping` is your ONLY source for column names.\n\nSTEP 2: PLAN THE QUERY PIPELINE\nBreak the work into simple logical steps. Prefer multiple smaller SQL queries over one complex query. Determine the best join keys if multiple datasets are used.\n- If the user requests a \"full list\", \"all records\", \"complete list\", or \"every record\", set step_type to \"list\" for that step and omit LIMIT from the SQL entirely.\n\nSTEP 3: SELF-VALIDATION\nBefore generating the output, verify:\n- Are all columns explicitly in the `column_mapping`?\n- Are double quotes escaped?\n- Is math safe from division by zero?\n- Do view names have hyphens replaced by underscores?\n- Are previous steps referenced correctly (e.g., FROM step1)?\n- For steps with dependencies: does every column referenced from stepN appear in stepN's `expected_output`? Trace each reference. Fix any mismatch by correcting the upstream SQL alias or the downstream column reference.\n- For every WHERE clause condition and function call: is the operation valid for the column's data type? No `!= ''` on integers, no TRIM()/ILIKE on non-text columns, no string-quoting numbers. Fix any type mismatch.\n\nSTEP 4: ALIAS-TABLE CROSS-CHECK (required for any step with dependencies)\nFor each step that JOINs or references prior steps:\n  a. Verify alias order: s1 must map to the LOWEST-numbered dependency step, s2 to the next.\n     If your FROM clause is `FROM step3 s1 JOIN step2 s2`, SWAP to `FROM step2 s1 JOIN step3 s2`.\n  b. Build an explicit lookup table:\n     s1 = step2 → expected_output: [col_a, col_b, ...]\n     s2 = step3 → expected_output: [col_c, col_d, ...]\n  c. For every `sX.col_name` in the SQL, confirm col_name is in stepX's expected_output.\n  d. If col_name is in stepY (not stepX), rewrite `sX.col_name` → `sY.col_name`.\n  e. Do NOT skip this step. Alias-column mismatches cause runtime errors that cannot be recovered.\n</workflow>\n\n<output_format>\nReturn EXACTLY ONE valid JSON object. Do not include markdown formatting (like ```json), conversational text, or explanations outside the JSON. \n\nIf a required column or filter value is completely missing and the query cannot be built, set \"status\" to \"error\" and explain in \"error_message\". Otherwise, \"status\" is \"success\".\n\nThe \"step_type\" field accepts three values: \"query\" (standard query with LIMIT 500), \"list\" (full result set, NO LIMIT), or \"aggregate\" (uses previous step results).\n\nExpected Schema:\n{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Noticed 'Revenue' is text, will cast using NULLIF...\",\n    \"Step 3: Planning step1 for aggregation, step2 for final output...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"<short description>\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\"\n      \"dataset_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n      \"purpose\": \"Retrieve base metrics grouped by region\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", SUM(NULLIF(\\\"Revenue\\\", '')::numeric) AS total_revenue FROM n8n_data.v_ds_550e8400-e29b-41d4-a716-446655440000 WHERE \\\"Region\\\" IS NOT NULL GROUP BY \\\"Region\\\" ORDER BY total_revenue DESC LIMIT 5000\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Compute final report metrics\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", total_revenue FROM step1 ORDER BY total_revenue DESC LIMIT 500\"\n      },\n      \"dependencies\": [1],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    },\n    {\n      \"step_number\": 3,\n      \"step_type\": \"list\",\n      \"dataset_id\": null,\n      \"purpose\": \"Full list of customers with 2024 and 2025 revenue, joined from step 1 and step 2.\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT COALESCE(s1.\\\"customer_id\\\", s2.\\\"customer_id\\\") AS customer_id, COALESCE(s1.customer_name, s2.customer_name) AS customer_name, COALESCE(s1.revenue_2024, 0) AS revenue_2024, COALESCE(s2.revenue_2025, 0) AS revenue_2025 FROM step1 s1 FULL OUTER JOIN step2 s2 ON s1.\\\"customer_id\\\" = s2.\\\"customer_id\\\" ORDER BY customer_name\"\n      },\n      \"dependencies\": [1, 2],\n      \"expected_output\": [\"customer_id\", \"customer_name\", \"revenue_2024\", \"revenue_2025\"]\n    }\n  ]\n}\n</output_format>",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        512,
        -320
      ],
      "id": "b294dd0f-fa36-46af-8ed1-b4f0f0e2a81a",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        752,
        -96
      ],
      "id": "a9b73e80-4285-4207-a979-c2880d5d44e7",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table for datasets available to the user.",
        "operation": "executeQuery",
        "query": "={{ (() => { const ids = $('Webhook').first().json.body.dataset_ids; if (ids && Array.isArray(ids) && ids.length > 0) { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping, row_count FROM n8n_data.dataset_record_manager WHERE dataset_id IN ('\" + ids.join(\"','\") + \"') LIMIT 20\"; } else { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping, row_count FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $('Webhook').first().json.body.email.replace(/'/g, \"''\") + \"' LIMIT 20\"; } })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        896,
        -96
      ],
      "id": "228c4b53-681a-44e4-a2e9-a1992f6a0918",
      "name": "Dataset Information",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plan-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        -320
      ],
      "id": "28174b31-c431-4f59-9a27-b89e7aaf972a",
      "name": "Webhook",
      "webhookId": "b8fb9511-fc84-4c0a-b47a-cc401748df88"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        864,
        -320
      ],
      "id": "dc38b514-b7bc-45eb-9ca9-64bb526467e1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Planned query pipeline with fuzzy match join...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"example_analysis\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Retrieve filtered records from dataset A.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"column_name\": \"value\",\n          \"other_column\": [\n            \"value1\",\n            \"value2\"\n          ]\n        },\n        \"columns\": [\n          \"col_1\",\n          \"col_2\",\n          \"col_3\"\n        ],\n        \"logic\": \"Filter rows and aggregate by column.\",\n        \"join_on\": \"\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\n        \"step1_result\"\n      ]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Combine results from prior steps and compute final metrics.\",\n      \"query_strategy\": {\n        \"filters\": {},\n        \"columns\": [],\n        \"logic\": \"Join Step 1 and Step 2 results; calculate derived metrics.\",\n        \"join_on\": \"common_column\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [\n        1\n      ],\n      \"expected_output\": [\n        \"final_metric_1\",\n        \"final_metric_2\"\n      ]\n    },\n    {\n      \"step_number\": 3,\n      \"step_type\": \"list\",\n      \"dataset_id\": null,\n      \"purpose\": \"Full list of customers with 2024 and 2025 revenue, joined from step 1 and step 2.\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT COALESCE(s1.\\\"customer_id\\\", s2.\\\"customer_id\\\") AS customer_id, COALESCE(s1.customer_name, s2.customer_name) AS customer_name, COALESCE(s1.revenue_2024, 0) AS revenue_2024, COALESCE(s2.revenue_2025, 0) AS revenue_2025 FROM step1 s1 FULL OUTER JOIN step2 s2 ON s1.\\\"customer_id\\\" = s2.\\\"customer_id\\\" ORDER BY customer_name\"\n      },\n      \"dependencies\": [\n        1,\n        2\n      ],\n      \"expected_output\": [\n        \"customer_id\",\n        \"customer_name\",\n        \"revenue_2024\",\n        \"revenue_2025\"\n      ]\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        80
      ],
      "id": "da2c3eb8-212a-4910-8e0c-498913a4081c",
      "name": "Structured Output Parser",
      "retryOnFail": true
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dataset Information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "00711ccb-efe7-4e32-8327-54fbad5a97bb",
  "activeVersionId": "00711ccb-efe7-4e32-8327-54fbad5a97bb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T04:51:22.851Z",
      "createdAt": "2026-02-22T04:51:22.851Z",
      "role": "workflow:owner",
      "workflowId": "6orHC8Y3B8nFKM0KMnRuG",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-19T23:09:38.925Z",
    "createdAt": "2026-03-19T23:09:36.537Z",
    "versionId": "00711ccb-efe7-4e32-8327-54fbad5a97bb",
    "workflowId": "6orHC8Y3B8nFKM0KMnRuG",
    "nodes": [
      {
        "parameters": {
          "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          320,
          560
        ],
        "id": "2fa3370e-1385-44ed-a22f-b51ddadc0762",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "SScyp7rqdYRmN9lx",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          512,
          544
        ],
        "id": "7ad64241-e9d8-4a38-a9d0-84b5e5852904",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "SScyp7rqdYRmN9lx",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.prompt }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=<role>\nYou are a deterministic SQL query planner and builder for a Business Intelligence tool.\nYour job is to inspect user-selected datasets, determine the exact data needed, build a safe multi-step execution plan, and produce executable PostgreSQL queries for every step in order to produce the data / analysis / answer from the user prompt.\n\nThe user may have multiple requirements that require multple queries and analysis. Make sure to divide the plan into multiple parts and steps to gather all the data required to fulfil user request in the prompt fully.\n\nAccuracy and reliability are your highest priorities. Never guess column names, values, or table structures.\n</role>\n\n<input_context>\nThe datasets to use for this report have already been selected by the user.\nYou MUST only retrieve metadata for the following dataset IDs:\n{{ $json.body.dataset_ids.join('\\n- ') !== '' ? '- ' + $json.body.dataset_ids.join('\\n- ') : '(none provided)' }}\n</input_context>\n\n<dataset_context>\nUse the dataset IDs from the <input_context> to query and retrieve dataset_desc and dataset_summary for each dataset using the Dataset Information tool.\nYou MUST only use the column names found in dataset_summary to construct a SQL query. \nIf not followed, query will result in error.\nIf JOIN operation is required across multiple datasets, make sure to use the column names found in dataset_summary in the SQL query. Double check to make sure, if needed.\n\n<absolute_rules>\nVIOLATION OF THESE RULES CAUSES SYSTEM FAILURE.\n\n1. COLUMN NAMES (STRICT)\n- Every column name MUST come directly from the `column_name` of the respective dataset.\n- Never invent, abbreviate, rename, change casing, or convert to snake_case/camelCase.\n- ALWAYS wrap column names in double quotes (e.g., \"Revenue Amount\").\n- Ensure all double quotes inside the JSON SQL string are properly escaped (e.g., \\\"Revenue Amount\\\").\n\n2. DATASET VIEW NAMES\n- Each raw dataset is exposed as a view. Never query universal_datatable or raw tables.\n- View name format: n8n_data.v_ds_<dataset_uuid_with_underscores>\n- Procedure: Copy the dataset ID exactly -> Replace all hyphens with underscores -> Prepend `n8n_data.v_ds_`.\n- Example: ID `550e8400-e29b-41d4-a716-446655440000` becomes `n8n_data.v_ds_550e8400_e29b_41d4_a716_446655440000`.\n\n3. DATA TYPE SAFETY & SAFE MATH\n- BI data is dirty and schemas can be unpredictable. To guarantee type safety when aggregating or calculating ANY metric, you MUST use this exact universal casting pattern for all numeric columns:\n  NULLIF(TRIM(REPLACE(\\\"ColumnName\\\"::text, ',', '')), '')::numeric\n- Apply this pattern to ALL columns used in SUM(), AVG(), or math, regardless of whether the dataset_summary says the column is TEXT or NUMERIC.\n- SAFE DIVISION: Prevent division by zero errors unconditionally. Whenever dividing, wrap the denominator in NULLIF(denominator, 0). Example: sum_a / NULLIF(sum_b, 0)\n- ANTI-DOUBLE COUNTING IN HIERARCHIES: When aggregating (SUM), you MUST exclude \"Total\" or \"Subtotal\" rows to prevent double-counting. Example: AND TRIM(\"column_name\") NOT ILIKE '%Total%'. However, DO NOT indiscriminately filter out words like \"Rollup\", \"Group\", or \"Node\" unless necessary, as base-level data often contains these words in their naming convention.\n- DATE PARSING: Just like numbers, text columns containing dates are often dirty. Whenever extracting or parsing dates using TO_DATE() or ::date, you MUST clean the string first using this exact pattern: TO_DATE(NULLIF(TRIM(\"DateColumn\"::text), ''), 'MM/DD/YY') (adjust the format string to match the dataset_summary).\n\n4. GROUP BY COMPLETENESS\n- Every column in a SELECT clause that is not enclosed in an aggregate function MUST appear in the GROUP BY clause.\n\n5. STRING COMPARISONS & AGGREGATIONS\n- BI text data often contains hidden whitespace or inconsistent casing. Whenever filtering or evaluating text columns in WHERE or CASE WHEN clauses, ALWAYS use TRIM() and ILIKE. \n  Example: CASE WHEN TRIM(\\\"versions\\\") ILIKE 'Actuals' THEN ...\n- In CASE WHEN statements used inside SUM() or AVG(), NEVER use 'ELSE 0'. Omit the ELSE clause entirely so non-matching rows default to NULL and are safely ignored by the aggregator.\n\n6. PIPELINE & DEPENDENCY REFERENCING\n- Never aggregate after joining raw rows (anti-double counting). Always aggregate datasets individually in separate steps BEFORE joining them.\n- When a step needs to query the results of a previous step, use the step name as the table name (e.g., `FROM step1`, `FROM step2`). Do NOT use quotes around step names.\n\n7. LIMIT ENFORCEMENT\n- Intermediate steps feeding aggregation: LIMIT 5000\n- Final output step (step_type \"query\" or \"aggregate\"): LIMIT 500\n- Full list steps (step_type \"list\"): NO LIMIT — omit the LIMIT clause entirely from the SQL\n\n8. CROSS-STEP COLUMN CONSISTENCY\n- Every column alias produced in a step's SQL SELECT clause MUST appear exactly in that step's `expected_output` array (e.g., if SQL has `SUM(...) AS revenue_2024`, then `expected_output` must include `\"revenue_2024\"`).\n- When any step references `FROM stepN`, use only column names listed in stepN's `expected_output`. These will exist in the step's temp table exactly as named.\n- ALIAS ORDER: In any JOIN, assign aliases in ascending step number order — s1 = the lowest-numbered dependency, s2 = the next, etc. NEVER reverse the order (e.g., `FROM step3 s1 JOIN step2 s2` is wrong; correct is `FROM step2 s1 JOIN step3 s2`). This ensures s1.col always maps to the lower-numbered step's expected_output.\n- SELF-CHECK: For every downstream step referencing stepN columns:\n  a. Map each alias to its step: \"s1 = step1 (expected_output: [...])\", \"s2 = step2 (expected_output: [...])\"\n  b. For each column reference `sX.col` in the SQL, verify `col` appears in stepX's `expected_output` — NOT another step's.\n  c. NEVER assume a step's content from its position (e.g., do not assume s1=2024 and s2=2025 just because you named them that way). Always check the actual `expected_output` list.\n  d. If `col` is in stepY's `expected_output` but you wrote `sX.col`, fix it to `sY.col`.\n\n9. SQL TYPE SAFETY (CRITICAL — violations cause silent table creation failures)\n- NEVER use `= ''` or `!= ''` or `<> ''` (empty-string comparisons) on integer, bigint, numeric, float, or date columns. This causes PostgreSQL runtime errors like \"invalid input syntax for type bigint\".\n- NEVER apply TRIM(), LTRIM(), RTRIM(), UPPER(), LOWER(), ILIKE, or any string function/operator to integer, bigint, numeric, float, or date columns. PostgreSQL will throw \"function does not exist\" errors.\n- For integer/bigint/numeric columns: use ONLY `IS NOT NULL`, `> 0`, `= value`, `IS DISTINCT FROM 0`, etc. NEVER use `!= ''` or `<> ''`.\n- For text/varchar columns: `IS NOT NULL`, `!= ''`, `TRIM(...) != ''`, `ILIKE`, etc. are all valid.\n- MANDATORY: Check the `column_mapping` type for EVERY column in your WHERE/HAVING clauses before writing a condition.\n  - column_mapping type `int1`, `int2`, `int4`, `int8`, `bigint`, `real`, `float`, `numeric` → integer/numeric: use `IS NOT NULL` not `<> ''`\n  - column_mapping type `string`, `text`, `varchar` → text: `IS NOT NULL` and `!= ''` are both valid\n\nCONCRETE EXAMPLE — customer_id is mapped as int1 (integer):\n  WRONG: WHERE \"customer_id\" IS NOT NULL AND \"customer_id\" <> ''   ← causes \"invalid input syntax for type bigint: ''\"\n  RIGHT: WHERE \"customer_id\" IS NOT NULL                            ← use only IS NOT NULL for integers\n</absolute_rules>\n\n<workflow>\nExecute your task following this exact logical sequence:\n\nSTEP 1: METADATA RETRIEVAL\nFor each dataset ID provided, use the Dataset Information tool to retrieve: `dataset_name`, `dataset_desc`, `dataset_summary`, and `column_mapping`. Study these carefully. `column_mapping` is your ONLY source for column names.\n\nSTEP 2: PLAN THE QUERY PIPELINE\nBreak the work into simple logical steps. Prefer multiple smaller SQL queries over one complex query. Determine the best join keys if multiple datasets are used.\n- If the user requests a \"full list\", \"all records\", \"complete list\", or \"every record\", set step_type to \"list\" for that step and omit LIMIT from the SQL entirely.\n\nSTEP 3: SELF-VALIDATION\nBefore generating the output, verify:\n- Are all columns explicitly in the `column_mapping`?\n- Are double quotes escaped?\n- Is math safe from division by zero?\n- Do view names have hyphens replaced by underscores?\n- Are previous steps referenced correctly (e.g., FROM step1)?\n- For steps with dependencies: does every column referenced from stepN appear in stepN's `expected_output`? Trace each reference. Fix any mismatch by correcting the upstream SQL alias or the downstream column reference.\n- For every WHERE clause condition and function call: is the operation valid for the column's data type? No `!= ''` on integers, no TRIM()/ILIKE on non-text columns, no string-quoting numbers. Fix any type mismatch.\n\nSTEP 4: ALIAS-TABLE CROSS-CHECK (required for any step with dependencies)\nFor each step that JOINs or references prior steps:\n  a. Verify alias order: s1 must map to the LOWEST-numbered dependency step, s2 to the next.\n     If your FROM clause is `FROM step3 s1 JOIN step2 s2`, SWAP to `FROM step2 s1 JOIN step3 s2`.\n  b. Build an explicit lookup table:\n     s1 = step2 → expected_output: [col_a, col_b, ...]\n     s2 = step3 → expected_output: [col_c, col_d, ...]\n  c. For every `sX.col_name` in the SQL, confirm col_name is in stepX's expected_output.\n  d. If col_name is in stepY (not stepX), rewrite `sX.col_name` → `sY.col_name`.\n  e. Do NOT skip this step. Alias-column mismatches cause runtime errors that cannot be recovered.\n</workflow>\n\n<output_format>\nReturn EXACTLY ONE valid JSON object. Do not include markdown formatting (like ```json), conversational text, or explanations outside the JSON. \n\nIf a required column or filter value is completely missing and the query cannot be built, set \"status\" to \"error\" and explain in \"error_message\". Otherwise, \"status\" is \"success\".\n\nThe \"step_type\" field accepts three values: \"query\" (standard query with LIMIT 500), \"list\" (full result set, NO LIMIT), or \"aggregate\" (uses previous step results).\n\nExpected Schema:\n{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Noticed 'Revenue' is text, will cast using NULLIF...\",\n    \"Step 3: Planning step1 for aggregation, step2 for final output...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"<short description>\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\"\n      \"dataset_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n      \"purpose\": \"Retrieve base metrics grouped by region\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", SUM(NULLIF(\\\"Revenue\\\", '')::numeric) AS total_revenue FROM n8n_data.v_ds_550e8400-e29b-41d4-a716-446655440000 WHERE \\\"Region\\\" IS NOT NULL GROUP BY \\\"Region\\\" ORDER BY total_revenue DESC LIMIT 5000\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Compute final report metrics\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT \\\"Region\\\", total_revenue FROM step1 ORDER BY total_revenue DESC LIMIT 500\"\n      },\n      \"dependencies\": [1],\n      \"expected_output\": [\"Region\", \"total_revenue\"]\n    },\n    {\n      \"step_number\": 3,\n      \"step_type\": \"list\",\n      \"dataset_id\": null,\n      \"purpose\": \"Full list of customers with 2024 and 2025 revenue, joined from step 1 and step 2.\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT COALESCE(s1.\\\"customer_id\\\", s2.\\\"customer_id\\\") AS customer_id, COALESCE(s1.customer_name, s2.customer_name) AS customer_name, COALESCE(s1.revenue_2024, 0) AS revenue_2024, COALESCE(s2.revenue_2025, 0) AS revenue_2025 FROM step1 s1 FULL OUTER JOIN step2 s2 ON s1.\\\"customer_id\\\" = s2.\\\"customer_id\\\" ORDER BY customer_name\"\n      },\n      \"dependencies\": [1, 2],\n      \"expected_output\": [\"customer_id\", \"customer_name\", \"revenue_2024\", \"revenue_2025\"]\n    }\n  ]\n}\n</output_format>",
            "maxIterations": 10
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          512,
          -320
        ],
        "id": "b294dd0f-fa36-46af-8ed1-b4f0f0e2a81a",
        "name": "AI Agent",
        "alwaysOutputData": true
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          752,
          -96
        ],
        "id": "a9b73e80-4285-4207-a979-c2880d5d44e7",
        "name": "Calculator"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table for datasets available to the user.",
          "operation": "executeQuery",
          "query": "={{ (() => { const ids = $('Webhook').first().json.body.dataset_ids; if (ids && Array.isArray(ids) && ids.length > 0) { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping, row_count FROM n8n_data.dataset_record_manager WHERE dataset_id IN ('\" + ids.join(\"','\") + \"') LIMIT 20\"; } else { return \"SELECT dataset_id, dataset_name, dataset_desc, dataset_summary, column_mapping, row_count FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $('Webhook').first().json.body.email.replace(/'/g, \"''\") + \"' LIMIT 20\"; } })() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          896,
          -96
        ],
        "id": "228c4b53-681a-44e4-a2e9-a1992f6a0918",
        "name": "Dataset Information",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "plan-report",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          272,
          -320
        ],
        "id": "28174b31-c431-4f59-9a27-b89e7aaf972a",
        "name": "Webhook",
        "webhookId": "b8fb9511-fc84-4c0a-b47a-cc401748df88"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          864,
          -320
        ],
        "id": "dc38b514-b7bc-45eb-9ca9-64bb526467e1",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"thought_process\": [\n    \"Step 1: Analyzed datasets and identified required columns...\",\n    \"Step 2: Planned query pipeline with fuzzy match join...\"\n  ],\n  \"status\": \"success\",\n  \"error_message\": null,\n  \"plan_id\": \"example_analysis\",\n  \"total_steps\": 3,\n  \"steps\": [\n    {\n      \"step_number\": 1,\n      \"step_type\": \"query\",\n      \"dataset_id\": \"uuid-from-tool\",\n      \"purpose\": \"Retrieve filtered records from dataset A.\",\n      \"query_strategy\": {\n        \"filters\": {\n          \"column_name\": \"value\",\n          \"other_column\": [\n            \"value1\",\n            \"value2\"\n          ]\n        },\n        \"columns\": [\n          \"col_1\",\n          \"col_2\",\n          \"col_3\"\n        ],\n        \"logic\": \"Filter rows and aggregate by column.\",\n        \"join_on\": \"\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [],\n      \"expected_output\": [\n        \"step1_result\"\n      ]\n    },\n    {\n      \"step_number\": 2,\n      \"step_type\": \"aggregate\",\n      \"dataset_id\": null,\n      \"purpose\": \"Combine results from prior steps and compute final metrics.\",\n      \"query_strategy\": {\n        \"filters\": {},\n        \"columns\": [],\n        \"logic\": \"Join Step 1 and Step 2 results; calculate derived metrics.\",\n        \"join_on\": \"common_column\",\n        \"sql\": \"\"\n      },\n      \"dependencies\": [\n        1\n      ],\n      \"expected_output\": [\n        \"final_metric_1\",\n        \"final_metric_2\"\n      ]\n    },\n    {\n      \"step_number\": 3,\n      \"step_type\": \"list\",\n      \"dataset_id\": null,\n      \"purpose\": \"Full list of customers with 2024 and 2025 revenue, joined from step 1 and step 2.\",\n      \"query_strategy\": {\n        \"sql\": \"SELECT COALESCE(s1.\\\"customer_id\\\", s2.\\\"customer_id\\\") AS customer_id, COALESCE(s1.customer_name, s2.customer_name) AS customer_name, COALESCE(s1.revenue_2024, 0) AS revenue_2024, COALESCE(s2.revenue_2025, 0) AS revenue_2025 FROM step1 s1 FULL OUTER JOIN step2 s2 ON s1.\\\"customer_id\\\" = s2.\\\"customer_id\\\" ORDER BY customer_name\"\n      },\n      \"dependencies\": [\n        1,\n        2\n      ],\n      \"expected_output\": [\n        \"customer_id\",\n        \"customer_name\",\n        \"revenue_2024\",\n        \"revenue_2025\"\n      ]\n    }\n  ]\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          576,
          80
        ],
        "id": "da2c3eb8-212a-4910-8e0c-498913a4081c",
        "name": "Structured Output Parser",
        "retryOnFail": true
      }
    ],
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Dataset Information": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version 00711ccb",
    "description": "",
    "autosaved": true
  },
  "tags": []
}