n8n-workflows/Data Analyzer - Select Dataset.json
{"updatedAt":"2026-03-04T05:50:52.319Z","createdAt":"2026-03-04T04:51:30.368Z","id":"ZuDF58bpqy4GLXAs","name":"Data Analyzer - Select Dataset","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,576],"id":"e3bd5716-4c01-440e-8cee-946dea75e150","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,576],"id":"68c4e89a-2622-4e07-b15b-04011b819796","name":"Select rows from a table","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"// Loop through all items passed to the Code node\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  // Extract the target fields with fallbacks\n  const name = data.dataset_name || \"Unknown Dataset\";\n  const desc = data.dataset_desc || \"No description provided.\";\n  const summary = data.dataset_summary || \"\";\n\n  // 1. Construct the optimal embedding string\n  // Using clear labels helps the embedding model understand the context of the text\n  const textToEmbed = `Dataset Name: ${name}\\nDescription: ${desc}\\nSchema and Business Logic:\\n${summary}`.trim();\n\n  // 2. Return the structured payload\n  return {\n    json: {\n      // This is the string you will map to your embedding node\n      embedding_text: textToEmbed,\n      \n      // Preserve essential fields as metadata to attach to the vector \n      // This allows your AI agent to retrieve the ID and exact routing info later\n      metadata: {\n        dataset_id: data.dataset_id,\n        dataset_name: name,\n        dataset_desc: desc,\n        owner_email: data.owner_email\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,576],"id":"8ed91715-c93f-4282-907a-e1e2e799e2e9","name":"Code in JavaScript"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"data-analyzer-datasets","mode":"list","cachedResultName":"data-analyzer-datasets"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[864,576],"id":"86d06874-42ac-4218-9468-d177dd5ea406","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"5Yi0a6A147diDIkA","name":"QdrantApi account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"dataset_id","value":"={{ $json.metadata.dataset_id }}"},{"name":"=dataset_name","value":"={{ $json.metadata.dataset_name }}"},{"name":"owner_email","value":"={{ $json.metadata.owner_email }}"},{"name":"dataset_uploaded","value":"={{ $json.metadata.updated_at }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1008,816],"id":"12908ef9-591c-445e-a97a-5c3993fc3c31","name":"Default Data Loader"},{"parameters":{"httpMethod":"POST","path":"select-dataset","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,0],"id":"feb99dc5-2687-41bb-93a7-87fa97f28a41","name":"Webhook","webhookId":"crp-webhook-id-001"},{"parameters":{"promptType":"define","text":"=User's inquiry:\n{{ $('Webhook').first().json.body.user_prompt }}\n\nDataset information:\n{{ JSON.stringify($json.data) }}","hasOutputParser":true,"options":{"systemMessage":"=You are a report requirement analyst. Given a user's prompt for data analysis, search the dataset information to identify the top 3 datasets that will potentially answer user's inquiry by following the below instructions:\n\nReturn JSON with the selection in the order of the best choice. If a very obvious choice is available, just present the choice. There is no need to force select three.\nAlso calculate in % the level of confidence in the selection made based on how good the fit of the dataset is with user requirement / prompt.\nReturn the following information.\nUser Prompt: {{ $('Webhook').item.body.user_prompt }}\nDataset ID: dataset_id from the Dataset Vector tool\nConfidence Level: Confidence level in % of the dataset selection fit with user prompt\n","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[448,0],"id":"42d33477-db6d-46ac-a9ef-31c87d01152b","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n  \"user_prompt\": \"Which companies in the retail sector had the highest revenue in 2025?\",\n  \"dataset_ids\": [\n    \"709b6fe3-17c7-499f-8cf0-a0bd19beb1b0\",\n    \"294a4f74-ec19-4467-a596-ae28900a6ec4\",\n    \"294a4f74-ec19-4467-8cf0-a0bd19beb1b0\"\n  ],\n  \"confidence_level\": \"70%\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[608,208],"id":"8127c67e-93a4-4dce-8245-21423d910d92","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[848,0],"id":"3e6ca712-2714-41d1-9915-c7818f8eec8b","name":"Respond to Webhook"},{"parameters":{"model":{"__rl":true,"value":"minimax-m2.5","mode":"list","cachedResultName":"minimax-m2.5"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[384,208],"id":"458b1d8a-1a05-4fb1-95e9-a1eb9f0e310c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[544,416],"id":"f94921ce-5996-4ea2-9466-cb60be47bc80","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[800,816],"id":"533d57b2-d4c7-4ae8-bc47-9dfaf22e90cc","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM n8n_data.dataset_record_manager \nWHERE dataset_id IN ('{{ $json.body.user_datasets.join(\"','\") }}') ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,0],"id":"6e47a3f1-d12f-4767-b3f2-d581af4b1e05","name":"Execute a SQL query","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"// This takes every \"item\" (row) from Postgres and keeps only the fields you need\nreturn items.map(item => {\n  return {\n    json: {\n      dataset_id: item.json.dataset_id,\n      dataset_name: item.json.dataset_name,\n      dataset_description: item.json.dataset_desc || \"No description available\",\n      dataset_summary: item.json.dataset_summary\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,0],"id":"4f72a7f0-b703-4061-b5ed-d85817c7a5e0","name":"Code in JavaScript1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[224,0],"id":"f0a448d7-d850-43bd-845e-68af960c53f1","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"991f110f-d3e7-401f-a6ce-c44a258e2b45","activeVersionId":"991f110f-d3e7-401f-a6ce-c44a258e2b45","versionCounter":104,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T04:51:30.368Z","createdAt":"2026-03-04T04:51:30.368Z","role":"workflow:owner","workflowId":"ZuDF58bpqy4GLXAs","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T05:50:56.970Z","createdAt":"2026-03-04T05:50:52.321Z","versionId":"991f110f-d3e7-401f-a6ce-c44a258e2b45","workflowId":"ZuDF58bpqy4GLXAs","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,576],"id":"e3bd5716-4c01-440e-8cee-946dea75e150","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list","cachedResultName":"n8n_data"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list","cachedResultName":"dataset_record_manager"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,576],"id":"68c4e89a-2622-4e07-b15b-04011b819796","name":"Select rows from a table","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"// Loop through all items passed to the Code node\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  // Extract the target fields with fallbacks\n  const name = data.dataset_name || \"Unknown Dataset\";\n  const desc = data.dataset_desc || \"No description provided.\";\n  const summary = data.dataset_summary || \"\";\n\n  // 1. Construct the optimal embedding string\n  // Using clear labels helps the embedding model understand the context of the text\n  const textToEmbed = `Dataset Name: ${name}\\nDescription: ${desc}\\nSchema and Business Logic:\\n${summary}`.trim();\n\n  // 2. Return the structured payload\n  return {\n    json: {\n      // This is the string you will map to your embedding node\n      embedding_text: textToEmbed,\n      \n      // Preserve essential fields as metadata to attach to the vector \n      // This allows your AI agent to retrieve the ID and exact routing info later\n      metadata: {\n        dataset_id: data.dataset_id,\n        dataset_name: name,\n        dataset_desc: desc,\n        owner_email: data.owner_email\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,576],"id":"8ed91715-c93f-4282-907a-e1e2e799e2e9","name":"Code in JavaScript"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"data-analyzer-datasets","mode":"list","cachedResultName":"data-analyzer-datasets"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[864,576],"id":"86d06874-42ac-4218-9468-d177dd5ea406","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"5Yi0a6A147diDIkA","name":"QdrantApi account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"dataset_id","value":"={{ $json.metadata.dataset_id }}"},{"name":"=dataset_name","value":"={{ $json.metadata.dataset_name }}"},{"name":"owner_email","value":"={{ $json.metadata.owner_email }}"},{"name":"dataset_uploaded","value":"={{ $json.metadata.updated_at }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1008,816],"id":"12908ef9-591c-445e-a97a-5c3993fc3c31","name":"Default Data Loader"},{"parameters":{"httpMethod":"POST","path":"select-dataset","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,0],"id":"feb99dc5-2687-41bb-93a7-87fa97f28a41","name":"Webhook","webhookId":"crp-webhook-id-001"},{"parameters":{"promptType":"define","text":"=User's inquiry:\n{{ $('Webhook').first().json.body.user_prompt }}\n\nDataset information:\n{{ JSON.stringify($json.data) }}","hasOutputParser":true,"options":{"systemMessage":"=You are a report requirement analyst. Given a user's prompt for data analysis, search the dataset information to identify the top 3 datasets that will potentially answer user's inquiry by following the below instructions:\n\nReturn JSON with the selection in the order of the best choice. If a very obvious choice is available, just present the choice. There is no need to force select three.\nAlso calculate in % the level of confidence in the selection made based on how good the fit of the dataset is with user requirement / prompt.\nReturn the following information.\nUser Prompt: {{ $('Webhook').item.body.user_prompt }}\nDataset ID: dataset_id from the Dataset Vector tool\nConfidence Level: Confidence level in % of the dataset selection fit with user prompt\n","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[448,0],"id":"42d33477-db6d-46ac-a9ef-31c87d01152b","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n  \"user_prompt\": \"Which companies in the retail sector had the highest revenue in 2025?\",\n  \"dataset_ids\": [\n    \"709b6fe3-17c7-499f-8cf0-a0bd19beb1b0\",\n    \"294a4f74-ec19-4467-a596-ae28900a6ec4\",\n    \"294a4f74-ec19-4467-8cf0-a0bd19beb1b0\"\n  ],\n  \"confidence_level\": \"70%\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[608,208],"id":"8127c67e-93a4-4dce-8245-21423d910d92","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[848,0],"id":"3e6ca712-2714-41d1-9915-c7818f8eec8b","name":"Respond to Webhook"},{"parameters":{"model":{"__rl":true,"value":"minimax-m2.5","mode":"list","cachedResultName":"minimax-m2.5"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[384,208],"id":"458b1d8a-1a05-4fb1-95e9-a1eb9f0e310c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[544,416],"id":"f94921ce-5996-4ea2-9466-cb60be47bc80","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[800,816],"id":"533d57b2-d4c7-4ae8-bc47-9dfaf22e90cc","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"ayhC2xZ3iWv4ZkDW","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM n8n_data.dataset_record_manager \nWHERE dataset_id IN ('{{ $json.body.user_datasets.join(\"','\") }}') ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,0],"id":"6e47a3f1-d12f-4767-b3f2-d581af4b1e05","name":"Execute a SQL query","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"// This takes every \"item\" (row) from Postgres and keeps only the fields you need\nreturn items.map(item => {\n  return {\n    json: {\n      dataset_id: item.json.dataset_id,\n      dataset_name: item.json.dataset_name,\n      dataset_description: item.json.dataset_desc || \"No description available\",\n      dataset_summary: item.json.dataset_summary\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,0],"id":"4f72a7f0-b703-4061-b5ed-d85817c7a5e0","name":"Code in JavaScript1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[224,0],"id":"f0a448d7-d850-43bd-845e-68af960c53f1","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version 991f110f","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-04T05:50:56.969Z","id":151,"workflowId":"ZuDF58bpqy4GLXAs","versionId":"991f110f-d3e7-401f-a6ce-c44a258e2b45","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}