n8n-workflows/Data Analyzer - Update Dataset API.json
{"updatedAt":"2026-02-19T04:49:37.994Z","createdAt":"2026-02-14T05:52:05.082Z","id":"9ZkiGwNSzLCK6PUk","name":"Data Analyzer - Update Dataset API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"update-dataset","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b703919f-e67a-4517-9376-42a4fd26a346","name":"Webhook","webhookId":"update-dataset"},{"parameters":{"jsCode":"var webhookData = $input.first().json.body;\nvar base64Data = webhookData.csvData;\nif (!base64Data) {\n  throw new Error(\"No csvData found in request\");\n}\n\nvar datasetName = webhookData.datasetName || \"Unnamed Dataset\";\nvar description = webhookData.description || \"\";\nvar email = webhookData.email || \"\";\n\nvar csvText = Buffer.from(base64Data, \"base64\").toString(\"utf-8\");\n\n// Strip BOM if present\nif (csvText.charCodeAt(0) === 0xFEFF) {\n  csvText = csvText.slice(1);\n}\n\n// --- MULTILINE-AWARE CSV PARSER ---\nfunction parseCSV(text) {\n  const rows = [];\n  let row = [];\n  let cell = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n    const next = text[i + 1];\n\n    if (char === '\"') {\n      if (inQuotes && next === '\"') {\n        cell += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      row.push(cell.trim());\n      cell = '';\n    } else if (!inQuotes && (char === '\\n' || char === '\\r')) {\n      if (char === '\\r' && next === '\\n') i++;\n      row.push(cell.trim());\n      if (row.some(v => v !== '')) {\n        rows.push(row);\n      }\n      row = [];\n      cell = '';\n    } else {\n      cell += char;\n    }\n  }\n\n  // Flush final row\n  if (cell || row.length) {\n    row.push(cell.trim());\n    if (row.some(v => v !== '')) {\n      rows.push(row);\n    }\n  }\n\n  return rows;\n}\n// ----------------------------------\n\nvar allRows = parseCSV(csvText);\n\nif (allRows.length < 2) {\n  throw new Error(\"CSV must have header and data rows\");\n}\n\nvar headers = allRows[0];\nvar rows = [];\n\nfor (var i = 1; i < allRows.length; i++) {\n  var values = allRows[i];\n  var row = {};\n  for (var j = 0; j < headers.length; j++) {\n    row[headers[j]] = values[j] !== undefined ? values[j] : \"\";\n  }\n  rows.push({ json: row });\n}\n\nif (rows.length === 0) {\n  throw new Error(\"No data rows found\");\n}\n\n$execution.customData.set(\"datasetName\", datasetName);\n$execution.customData.set(\"description\", description);\n$execution.customData.set(\"email\", email);\n\nreturn rows;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,0],"id":"4d4c8381-4fcc-426f-aea8-211bc8fda91c","name":"Parse CSV"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list"},"where":{"values":[{"column":"dataset_id","value":"={{ $('Webhook').first().json.body.datasetId }}"},{"column":"owner_email","value":"={{ $('Webhook').first().json.body.email }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,0],"id":"5ef12e67-d5d7-4a7a-b2f9-84783c4b6046","name":"Get Dataset Record","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"n8n_data","mode":"list"},"table":{"__rl":true,"value":"universal_datatable","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"dataset_id","value":"={{ $('Webhook').first().json.body.datasetId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,0],"id":"f2383462-35cc-41b3-9c0b-bfdbb895da1f","name":"Delete Existing Data","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"// 1. Fetch data safely\nconst datasetRecord = $('Get Dataset Record').first().json;\nif (!datasetRecord || !datasetRecord.column_mapping) {\n  throw new Error('Dataset not found or missing column_mapping');\n}\n\nconst mapping = datasetRecord.column_mapping;\nconst webhookNode = $('Webhook').first();\nconst datasetId = webhookNode?.json?.body?.datasetId || 'default_id';\nconst allRows = $('Parse CSV').all();\n\n// Safety: If no rows found, return empty array immediately to prevent n8n error\nif (!allRows || allRows.length === 0) {\n  return [];\n}\n\nconst results = [];\nconst batchSize = 200;\nconst mapEntries = Object.entries(mapping);\nconst dbColumnNames = mapEntries.map(entry => entry[1]);\n\n// 2. Helper Functions (No changes needed here)\nfunction isDateColumn(colName) {\n  const lower = colName.toLowerCase();\n  const datePatterns = ['date', 'time', 'created', 'updated', 'timestamp', 'modified', 'expires', 'born', 'started', 'ended', 'due', 'scheduled', '_at', '_on'];\n  return datePatterns.some(pattern => lower.indexOf(pattern) !== -1);\n}\n\nfunction isValidDateValue(val) {\n  const stringVal = String(val).trim();\n  const cleanNum = stringVal.replace(/,/g, '');\n  if (/^\\d+$/.test(cleanNum) && parseInt(cleanNum) > 9999) return false;\n  return (stringVal.indexOf('/') !== -1 || stringVal.indexOf('-') !== -1);\n}\n\nfunction formatDateValue(val) {\n  const stringVal = String(val).trim();\n  const dateMatch = stringVal.match(/^(\\d{1,4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,4})(.*)$/);\n  if (!dateMatch) return null;\n  let year, month, day;\n  const part1 = dateMatch[1], part2 = dateMatch[2], part3 = dateMatch[3], timePart = dateMatch[4] || '';\n\n  if (part1.length === 4) { [year, month, day] = [part1, part2, part3]; }\n  else if (part3.length === 4) {\n    year = part3;\n    if (parseInt(part1) > 12) { [day, month] = [part1, part2]; }\n    else { [month, day] = [part1, part2]; }\n  } else {\n    year = parseInt(part3) > 50 ? '19' + part3 : '20' + part3;\n    [month, day] = [part1, part2];\n  }\n  return `${year}-${('0' + month).slice(-2)}-${('0' + day).slice(-2)}${timePart}`;\n}\n\nfunction prepareValue(val, dbColumn) {\n  if (val === null || val === undefined || String(val).trim() === '') return 'NULL';\n  const stringVal = String(val).trim();\n  const cleanNumericVal = stringVal.replace(/,/g, '');\n\n  if (isDateColumn(dbColumn)) {\n    if (!isValidDateValue(stringVal)) return 'NULL';\n    const formatted = formatDateValue(stringVal);\n    return formatted ? `'${formatted.replace(/'/g, \"''\")}'` : 'NULL';\n  }\n\n  if (/^-?[\\d,]+(\\.\\d+)?$/.test(stringVal)) return cleanNumericVal;\n  return `'${stringVal.replace(/'/g, \"''\")}'`;\n}\n\n// 3. Construct Batch SQL\nconst columns = ['\"dataset_id\"', '\"row_index\"'].concat(dbColumnNames.map(c => `\"${c}\"`));\n\nfor (let i = 0; i < allRows.length; i += batchSize) {\n  const chunk = allRows.slice(i, i + batchSize);\n  const valuesList = chunk.map((item, idx) => {\n    const row = item.json;\n    const rowValues = [`'${datasetId}'`, i + idx + 1];\n    mapEntries.forEach(entry => {\n      rowValues.push(prepareValue(row[entry[0]], entry[1]));\n    });\n    return `(${rowValues.join(',')})`;\n  });\n\n  // CRITICAL: Ensure the object strictly follows the { json: { ... } } pattern\n  results.push({ \n    json: { \n      sql: `INSERT INTO n8n_data.universal_datatable (${columns.join(',')}) VALUES ${valuesList.join(',')};` \n    } \n  });\n}\n\n// 4. Return results (always returns an array)\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"d1e9ff56-d307-45a1-8988-d3528ed3dfb0","name":"Transform Data"},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1248,0],"id":"09e0c615-9799-43bd-af30-1cf05b75fc6f","name":"Insert Data","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Dataset updated successfully', rowsInserted: $('Parse CSV').all().length } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1504,0],"id":"e4a80319-e896-44c4-931f-94275ef2fd6a","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Parse CSV","type":"main","index":0}]]},"Parse CSV":{"main":[[{"node":"Get Dataset Record","type":"main","index":0}]]},"Get Dataset Record":{"main":[[{"node":"Delete Existing Data","type":"main","index":0}]]},"Delete Existing Data":{"main":[[{"node":"Transform Data","type":"main","index":0}]]},"Transform Data":{"main":[[{"node":"Insert Data","type":"main","index":0}]]},"Insert Data":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c48c340-9b01-4d29-ab72-05d46963912f","activeVersionId":"8c48c340-9b01-4d29-ab72-05d46963912f","versionCounter":28,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T05:52:05.082Z","createdAt":"2026-02-14T05:52:05.082Z","role":"workflow:owner","workflowId":"9ZkiGwNSzLCK6PUk","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-19T04:49:39.822Z","createdAt":"2026-02-19T04:49:37.995Z","versionId":"8c48c340-9b01-4d29-ab72-05d46963912f","workflowId":"9ZkiGwNSzLCK6PUk","nodes":[{"parameters":{"httpMethod":"POST","path":"update-dataset","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b703919f-e67a-4517-9376-42a4fd26a346","name":"Webhook","webhookId":"update-dataset"},{"parameters":{"jsCode":"var webhookData = $input.first().json.body;\nvar base64Data = webhookData.csvData;\nif (!base64Data) {\n  throw new Error(\"No csvData found in request\");\n}\n\nvar datasetName = webhookData.datasetName || \"Unnamed Dataset\";\nvar description = webhookData.description || \"\";\nvar email = webhookData.email || \"\";\n\nvar csvText = Buffer.from(base64Data, \"base64\").toString(\"utf-8\");\n\n// Strip BOM if present\nif (csvText.charCodeAt(0) === 0xFEFF) {\n  csvText = csvText.slice(1);\n}\n\n// --- MULTILINE-AWARE CSV PARSER ---\nfunction parseCSV(text) {\n  const rows = [];\n  let row = [];\n  let cell = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n    const next = text[i + 1];\n\n    if (char === '\"') {\n      if (inQuotes && next === '\"') {\n        cell += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      row.push(cell.trim());\n      cell = '';\n    } else if (!inQuotes && (char === '\\n' || char === '\\r')) {\n      if (char === '\\r' && next === '\\n') i++;\n      row.push(cell.trim());\n      if (row.some(v => v !== '')) {\n        rows.push(row);\n      }\n      row = [];\n      cell = '';\n    } else {\n      cell += char;\n    }\n  }\n\n  // Flush final row\n  if (cell || row.length) {\n    row.push(cell.trim());\n    if (row.some(v => v !== '')) {\n      rows.push(row);\n    }\n  }\n\n  return rows;\n}\n// ----------------------------------\n\nvar allRows = parseCSV(csvText);\n\nif (allRows.length < 2) {\n  throw new Error(\"CSV must have header and data rows\");\n}\n\nvar headers = allRows[0];\nvar rows = [];\n\nfor (var i = 1; i < allRows.length; i++) {\n  var values = allRows[i];\n  var row = {};\n  for (var j = 0; j < headers.length; j++) {\n    row[headers[j]] = values[j] !== undefined ? values[j] : \"\";\n  }\n  rows.push({ json: row });\n}\n\nif (rows.length === 0) {\n  throw new Error(\"No data rows found\");\n}\n\n$execution.customData.set(\"datasetName\", datasetName);\n$execution.customData.set(\"description\", description);\n$execution.customData.set(\"email\", email);\n\nreturn rows;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,0],"id":"4d4c8381-4fcc-426f-aea8-211bc8fda91c","name":"Parse CSV"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list"},"where":{"values":[{"column":"dataset_id","value":"={{ $('Webhook').first().json.body.datasetId }}"},{"column":"owner_email","value":"={{ $('Webhook').first().json.body.email }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,0],"id":"5ef12e67-d5d7-4a7a-b2f9-84783c4b6046","name":"Get Dataset Record","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"n8n_data","mode":"list"},"table":{"__rl":true,"value":"universal_datatable","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"dataset_id","value":"={{ $('Webhook').first().json.body.datasetId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,0],"id":"f2383462-35cc-41b3-9c0b-bfdbb895da1f","name":"Delete Existing Data","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"// 1. Fetch data safely\nconst datasetRecord = $('Get Dataset Record').first().json;\nif (!datasetRecord || !datasetRecord.column_mapping) {\n  throw new Error('Dataset not found or missing column_mapping');\n}\n\nconst mapping = datasetRecord.column_mapping;\nconst webhookNode = $('Webhook').first();\nconst datasetId = webhookNode?.json?.body?.datasetId || 'default_id';\nconst allRows = $('Parse CSV').all();\n\n// Safety: If no rows found, return empty array immediately to prevent n8n error\nif (!allRows || allRows.length === 0) {\n  return [];\n}\n\nconst results = [];\nconst batchSize = 200;\nconst mapEntries = Object.entries(mapping);\nconst dbColumnNames = mapEntries.map(entry => entry[1]);\n\n// 2. Helper Functions (No changes needed here)\nfunction isDateColumn(colName) {\n  const lower = colName.toLowerCase();\n  const datePatterns = ['date', 'time', 'created', 'updated', 'timestamp', 'modified', 'expires', 'born', 'started', 'ended', 'due', 'scheduled', '_at', '_on'];\n  return datePatterns.some(pattern => lower.indexOf(pattern) !== -1);\n}\n\nfunction isValidDateValue(val) {\n  const stringVal = String(val).trim();\n  const cleanNum = stringVal.replace(/,/g, '');\n  if (/^\\d+$/.test(cleanNum) && parseInt(cleanNum) > 9999) return false;\n  return (stringVal.indexOf('/') !== -1 || stringVal.indexOf('-') !== -1);\n}\n\nfunction formatDateValue(val) {\n  const stringVal = String(val).trim();\n  const dateMatch = stringVal.match(/^(\\d{1,4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,4})(.*)$/);\n  if (!dateMatch) return null;\n  let year, month, day;\n  const part1 = dateMatch[1], part2 = dateMatch[2], part3 = dateMatch[3], timePart = dateMatch[4] || '';\n\n  if (part1.length === 4) { [year, month, day] = [part1, part2, part3]; }\n  else if (part3.length === 4) {\n    year = part3;\n    if (parseInt(part1) > 12) { [day, month] = [part1, part2]; }\n    else { [month, day] = [part1, part2]; }\n  } else {\n    year = parseInt(part3) > 50 ? '19' + part3 : '20' + part3;\n    [month, day] = [part1, part2];\n  }\n  return `${year}-${('0' + month).slice(-2)}-${('0' + day).slice(-2)}${timePart}`;\n}\n\nfunction prepareValue(val, dbColumn) {\n  if (val === null || val === undefined || String(val).trim() === '') return 'NULL';\n  const stringVal = String(val).trim();\n  const cleanNumericVal = stringVal.replace(/,/g, '');\n\n  if (isDateColumn(dbColumn)) {\n    if (!isValidDateValue(stringVal)) return 'NULL';\n    const formatted = formatDateValue(stringVal);\n    return formatted ? `'${formatted.replace(/'/g, \"''\")}'` : 'NULL';\n  }\n\n  if (/^-?[\\d,]+(\\.\\d+)?$/.test(stringVal)) return cleanNumericVal;\n  return `'${stringVal.replace(/'/g, \"''\")}'`;\n}\n\n// 3. Construct Batch SQL\nconst columns = ['\"dataset_id\"', '\"row_index\"'].concat(dbColumnNames.map(c => `\"${c}\"`));\n\nfor (let i = 0; i < allRows.length; i += batchSize) {\n  const chunk = allRows.slice(i, i + batchSize);\n  const valuesList = chunk.map((item, idx) => {\n    const row = item.json;\n    const rowValues = [`'${datasetId}'`, i + idx + 1];\n    mapEntries.forEach(entry => {\n      rowValues.push(prepareValue(row[entry[0]], entry[1]));\n    });\n    return `(${rowValues.join(',')})`;\n  });\n\n  // CRITICAL: Ensure the object strictly follows the { json: { ... } } pattern\n  results.push({ \n    json: { \n      sql: `INSERT INTO n8n_data.universal_datatable (${columns.join(',')}) VALUES ${valuesList.join(',')};` \n    } \n  });\n}\n\n// 4. Return results (always returns an array)\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"d1e9ff56-d307-45a1-8988-d3528ed3dfb0","name":"Transform Data"},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1248,0],"id":"09e0c615-9799-43bd-af30-1cf05b75fc6f","name":"Insert Data","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'ok', message: 'Dataset updated successfully', rowsInserted: $('Parse CSV').all().length } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1504,0],"id":"e4a80319-e896-44c4-931f-94275ef2fd6a","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Parse CSV","type":"main","index":0}]]},"Parse CSV":{"main":[[{"node":"Get Dataset Record","type":"main","index":0}]]},"Get Dataset Record":{"main":[[{"node":"Delete Existing Data","type":"main","index":0}]]},"Delete Existing Data":{"main":[[{"node":"Transform Data","type":"main","index":0}]]},"Transform Data":{"main":[[{"node":"Insert Data","type":"main","index":0}]]},"Insert Data":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version 8c48c340","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-19T04:49:39.820Z","id":45,"workflowId":"9ZkiGwNSzLCK6PUk","versionId":"8c48c340-9b01-4d29-ab72-05d46963912f","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}