n8n-workflows/Data Analyzer - Get Dataset Detail.json
{"updatedAt":"2026-03-07T05:50:52.984Z","createdAt":"2026-02-14T06:12:37.463Z","id":"pVDycMR88hBGMp01","name":"Data Analyzer - Get Dataset Detail","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"get-dataset-detail","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"885f82c6-def2-4ee0-a418-db41c9c1fc40","name":"Webhook","webhookId":"get-dataset-detail"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list"},"where":{"values":[{"column":"dataset_id","value":"={{ $json.body.datasetId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,0],"id":"db35d78f-9f29-460b-9e28-d7b78473f9ca","name":"Get Dataset","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst mappingEntries = Object.entries(input.column_mapping || {});\nmappingEntries.sort((a, b) => a[0].localeCompare(b[0]));\nconst readableMapping = {};\nmappingEntries.forEach(([header, dbCol]) => {\n  readableMapping[header] = dbCol;\n});\nreturn {\n  id: input.dataset_id,\n  name: input.dataset_name,\n  summary: input.dataset_summary || '',\n  column_mapping: readableMapping,\n  dataset_desc: input.dataset_desc,\n  sample_questions: input.sample_questions,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"134ef508-ee85-4988-8da1-d58841ca8157","name":"Transform Data"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[752,0],"id":"923dc9bf-91f9-4edd-941e-442189daf3df","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Get Dataset","type":"main","index":0}]]},"Get Dataset":{"main":[[{"node":"Transform Data","type":"main","index":0}]]},"Transform Data":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"18c5b423-7153-4485-af83-3801838d8d77","activeVersionId":"18c5b423-7153-4485-af83-3801838d8d77","versionCounter":24,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T06:12:37.463Z","createdAt":"2026-02-14T06:12:37.463Z","role":"workflow:owner","workflowId":"pVDycMR88hBGMp01","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-07T05:50:55.163Z","createdAt":"2026-03-07T05:50:52.987Z","versionId":"18c5b423-7153-4485-af83-3801838d8d77","workflowId":"pVDycMR88hBGMp01","nodes":[{"parameters":{"httpMethod":"POST","path":"get-dataset-detail","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"885f82c6-def2-4ee0-a418-db41c9c1fc40","name":"Webhook","webhookId":"get-dataset-detail"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"n8n_data","mode":"list"},"table":{"__rl":true,"value":"dataset_record_manager","mode":"list"},"where":{"values":[{"column":"dataset_id","value":"={{ $json.body.datasetId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,0],"id":"db35d78f-9f29-460b-9e28-d7b78473f9ca","name":"Get Dataset","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst mappingEntries = Object.entries(input.column_mapping || {});\nmappingEntries.sort((a, b) => a[0].localeCompare(b[0]));\nconst readableMapping = {};\nmappingEntries.forEach(([header, dbCol]) => {\n  readableMapping[header] = dbCol;\n});\nreturn {\n  id: input.dataset_id,\n  name: input.dataset_name,\n  summary: input.dataset_summary || '',\n  column_mapping: readableMapping,\n  dataset_desc: input.dataset_desc,\n  sample_questions: input.sample_questions,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"134ef508-ee85-4988-8da1-d58841ca8157","name":"Transform Data"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[752,0],"id":"923dc9bf-91f9-4edd-941e-442189daf3df","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Get Dataset","type":"main","index":0}]]},"Get Dataset":{"main":[[{"node":"Transform Data","type":"main","index":0}]]},"Transform Data":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version 18c5b423","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-07T05:50:55.162Z","id":154,"workflowId":"pVDycMR88hBGMp01","versionId":"18c5b423-7153-4485-af83-3801838d8d77","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}