n8n-workflows/Data_Analyzer_-_Get_Dataset_Preview.json
{
  "updatedAt": "2026-02-24T03:28:56.069Z",
  "createdAt": "2026-02-21T08:01:11.509Z",
  "id": "zfqh9mX9tfs1WCdhwXJht",
  "name": "Data Analyzer - Get Dataset Preview",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-dataset-preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        -112
      ],
      "id": "1d1cf2ca-e034-46c0-b402-cf1a2238a304",
      "name": "Webhook - Get Dataset Preview",
      "webhookId": "get-dataset-preview-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM n8n_data.universal_datatable WHERE dataset_id = '{{ $json.body.datasetId }}' ORDER BY RANDOM() LIMIT {{ $json.body.limit || 20 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        320,
        -112
      ],
      "id": "c61c3fb2-c893-4968-a73f-8ad78f96d047",
      "name": "Get Preview Rows",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const rows = $input.all().map(item => item.json); const columns = rows.length > 0 ? Object.keys(rows[0]).filter(k => k !== 'dataset_id' && k !== 'id') : []; return { status: 'ok', columns, rows: rows.map(r => { const filtered = {}; columns.forEach(c => filtered[c] = r[c]); return filtered; }) }; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        512,
        -112
      ],
      "id": "dd687f26-06fe-40e0-a1f8-feeba557dd06",
      "name": "Respond with Preview"
    }
  ],
  "connections": {
    "Webhook - Get Dataset Preview": {
      "main": [
        [
          {
            "node": "Get Preview Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Preview Rows": {
      "main": [
        [
          {
            "node": "Respond with Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "583c7ce9-05d1-41ca-a6d4-3eab537ba5e1",
  "activeVersionId": "583c7ce9-05d1-41ca-a6d4-3eab537ba5e1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-21T08:01:11.509Z",
      "createdAt": "2026-02-21T08:01:11.509Z",
      "role": "workflow:owner",
      "workflowId": "zfqh9mX9tfs1WCdhwXJht",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-24T03:29:00.445Z",
    "createdAt": "2026-02-24T03:28:56.071Z",
    "versionId": "583c7ce9-05d1-41ca-a6d4-3eab537ba5e1",
    "workflowId": "zfqh9mX9tfs1WCdhwXJht",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "get-dataset-preview",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          112,
          -112
        ],
        "id": "1d1cf2ca-e034-46c0-b402-cf1a2238a304",
        "name": "Webhook - Get Dataset Preview",
        "webhookId": "get-dataset-preview-webhook"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT * FROM n8n_data.universal_datatable WHERE dataset_id = '{{ $json.body.datasetId }}' ORDER BY RANDOM() LIMIT {{ $json.body.limit || 20 }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          320,
          -112
        ],
        "id": "c61c3fb2-c893-4968-a73f-8ad78f96d047",
        "name": "Get Preview Rows",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ (() => { const rows = $input.all().map(item => item.json); const columns = rows.length > 0 ? Object.keys(rows[0]).filter(k => k !== 'dataset_id' && k !== 'id') : []; return { status: 'ok', columns, rows: rows.map(r => { const filtered = {}; columns.forEach(c => filtered[c] = r[c]); return filtered; }) }; })() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          512,
          -112
        ],
        "id": "dd687f26-06fe-40e0-a1f8-feeba557dd06",
        "name": "Respond with Preview"
      }
    ],
    "connections": {
      "Webhook - Get Dataset Preview": {
        "main": [
          [
            {
              "node": "Get Preview Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Preview Rows": {
        "main": [
          [
            {
              "node": "Respond with Preview",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version 583c7ce9",
    "description": "",
    "autosaved": true
  },
  "tags": []
}