n8n-workflows/Data_Analyzer_-_Update_Dataset_API.json
{
  "updatedAt": "2026-02-19T04:48:18.202Z",
  "createdAt": "2026-02-06T03:42:58.069Z",
  "id": "X2NeFCDFU3ZNqFz8",
  "name": "Data Analyzer - Update Dataset API",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-dataset",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "id": "webhook-update-dataset",
      "name": "Webhook",
      "webhookId": "update-dataset"
    },
    {
      "parameters": {
        "jsCode": "var webhookData = $input.first().json.body;\nvar base64Data = webhookData.csvData;\nif (!base64Data) {\n  throw new Error(\"No csvData found in request\");\n}\n\nvar datasetName = webhookData.datasetName || \"Unnamed Dataset\";\nvar description = webhookData.description || \"\";\nvar email = webhookData.email || \"\";\n\nvar csvText = Buffer.from(base64Data, \"base64\").toString(\"utf-8\");\n\n// Strip BOM if present\nif (csvText.charCodeAt(0) === 0xFEFF) {\n  csvText = csvText.slice(1);\n}\n\n// --- MULTILINE-AWARE CSV PARSER ---\nfunction parseCSV(text) {\n  const rows = [];\n  let row = [];\n  let cell = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n    const next = text[i + 1];\n\n    if (char === '\"') {\n      if (inQuotes && next === '\"') {\n        cell += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      row.push(cell.trim());\n      cell = '';\n    } else if (!inQuotes && (char === '\\n' || char === '\\r')) {\n      if (char === '\\r' && next === '\\n') i++;\n      row.push(cell.trim());\n      if (row.some(v => v !== '')) {\n        rows.push(row);\n      }\n      row = [];\n      cell = '';\n    } else {\n      cell += char;\n    }\n  }\n\n  // Flush final row\n  if (cell || row.length) {\n    row.push(cell.trim());\n    if (row.some(v => v !== '')) {\n      rows.push(row);\n    }\n  }\n\n  return rows;\n}\n// ----------------------------------\n\nvar allRows = parseCSV(csvText);\n\nif (allRows.length < 2) {\n  throw new Error(\"CSV must have header and data rows\");\n}\n\nvar headers = allRows[0];\nvar rows = [];\n\nfor (var i = 1; i < allRows.length; i++) {\n  var values = allRows[i];\n  var row = {};\n  for (var j = 0; j < headers.length; j++) {\n    row[headers[j]] = values[j] !== undefined ? values[j] : \"\";\n  }\n  rows.push({ json: row });\n}\n\nif (rows.length === 0) {\n  throw new Error(\"No data rows found\");\n}\n\n$execution.customData.set(\"datasetName\", datasetName);\n$execution.customData.set(\"description\", description);\n$execution.customData.set(\"email\", email);\n\nreturn rows;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        304
      ],
      "id": "parse-csv",
      "name": "Parse CSV"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list"
        },
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Webhook').first().json.body.datasetId }}"
            },
            {
              "column": "owner_email",
              "value": "={{ $('Webhook').first().json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        304
      ],
      "id": "get-dataset-record",
      "name": "Get Dataset Record",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "universal_datatable",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Webhook').first().json.body.datasetId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        304
      ],
      "id": "delete-existing-data",
      "name": "Delete Existing Data",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var datasetRecord = $('Get Dataset Record').first().json;\nif (!datasetRecord || !datasetRecord.column_mapping) {\n  throw new Error('Dataset not found or missing column_mapping');\n}\nvar mapping = datasetRecord.column_mapping;\nvar datasetId = $('Webhook').first().json.body.datasetId;\nvar allRows = $('Parse CSV').all();\nvar results = [];\nvar batchSize = 200;\nvar mapEntries = Object.entries(mapping);\nvar dbColumnNames = mapEntries.map(function(entry) { return entry[1]; });\n\nfunction isDateColumn(colName) {\n  var lower = colName.toLowerCase();\n  var datePatterns = ['date', 'time', 'created', 'updated', 'timestamp', 'modified', 'expires', 'born', 'started', 'ended', 'due', 'scheduled', '_at', '_on'];\n  for (var i = 0; i < datePatterns.length; i++) {\n    if (lower.indexOf(datePatterns[i]) !== -1) {\n      return true;\n    }\n  }\n  return false;\n}\n\nfunction isValidDateValue(val) {\n  var stringVal = String(val).trim();\n  // Pure numbers > 9999 are not valid dates (except Unix timestamps which we won't support here)\n  if (/^\\d+$/.test(stringVal) && parseInt(stringVal) > 9999) {\n    return false;\n  }\n  // Must contain at least one separator for date formats\n  if (stringVal.indexOf('/') !== -1 || stringVal.indexOf('-') !== -1) {\n    return true;\n  }\n  // 4-digit number could be a year, but alone it's not a complete date\n  if (/^\\d{1,4}$/.test(stringVal)) {\n    return false;\n  }\n  return false;\n}\n\nfunction formatDateValue(val) {\n  var stringVal = String(val).trim();\n  var dateMatch = stringVal.match(/^(\\d{1,4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,4})(.*)$/);\n  if (!dateMatch) return null;\n  \n  var part1 = dateMatch[1];\n  var part2 = dateMatch[2];\n  var part3 = dateMatch[3];\n  var timePart = dateMatch[4] || '';\n  \n  var year, month, day;\n  if (part1.length === 4) {\n    year = part1; month = part2; day = part3;\n  } else if (part3.length === 4) {\n    year = part3;\n    if (parseInt(part1) > 12) { day = part1; month = part2; }\n    else { month = part1; day = part2; }\n  } else {\n    year = parseInt(part3) > 50 ? '19' + part3 : '20' + part3;\n    month = part1; day = part2;\n  }\n  \n  month = ('0' + month).slice(-2);\n  day = ('0' + day).slice(-2);\n  return year + '-' + month + '-' + day + timePart;\n}\n\nfunction prepareValue(val, dbColumn) {\n  if (val === null || val === undefined || String(val).trim() === '') {\n    return 'NULL';\n  }\n  var stringVal = String(val).trim();\n  \n  if (isDateColumn(dbColumn)) {\n    if (!isValidDateValue(stringVal)) {\n      return 'NULL';\n    }\n    var formatted = formatDateValue(stringVal);\n    if (formatted) {\n      return \"'\" + formatted.replace(/'/g, \"''\") + \"'\";\n    }\n    return 'NULL';\n  }\n  \n  return \"'\" + stringVal.replace(/'/g, \"''\") + \"'\";\n}\n\nvar columns = ['\"dataset_id\"', '\"row_index\"'].concat(dbColumnNames.map(function(c) { return '\"' + c + '\"'; }));\n\nfor (var i = 0; i < allRows.length; i += batchSize) {\n  var chunk = allRows.slice(i, i + batchSize);\n  var valuesList = chunk.map(function(item, idx) {\n    var row = item.json;\n    var rowValues = [\"'\" + datasetId + \"'\", i + idx + 1];\n    mapEntries.forEach(function(entry) {\n      rowValues.push(prepareValue(row[entry[0]], entry[1]));\n    });\n    return '(' + rowValues.join(',') + ')';\n  });\n  results.push({ json: { sql: 'INSERT INTO n8n_data.universal_datatable (' + columns.join(',') + ') VALUES ' + valuesList.join(',') + ';' } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        304
      ],
      "id": "transform-data",
      "name": "Transform Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        304
      ],
      "id": "insert-data",
      "name": "Insert Data",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', message: 'Dataset updated successfully', rowsInserted: $('Parse CSV').all().length } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        304
      ],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Get Dataset Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dataset Record": {
      "main": [
        [
          {
            "node": "Delete Existing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing Data": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "de22de48-e423-4fa5-8e6e-5ea03ace7974",
  "activeVersionId": "de22de48-e423-4fa5-8e6e-5ea03ace7974",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-06T03:42:58.069Z",
      "createdAt": "2026-02-06T03:42:58.069Z",
      "role": "workflow:owner",
      "workflowId": "X2NeFCDFU3ZNqFz8",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-19T04:48:20.567Z",
    "createdAt": "2026-02-19T04:48:18.203Z",
    "versionId": "de22de48-e423-4fa5-8e6e-5ea03ace7974",
    "workflowId": "X2NeFCDFU3ZNqFz8",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "update-dataset",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          256,
          304
        ],
        "id": "webhook-update-dataset",
        "name": "Webhook",
        "webhookId": "update-dataset"
      },
      {
        "parameters": {
          "jsCode": "var webhookData = $input.first().json.body;\nvar base64Data = webhookData.csvData;\nif (!base64Data) {\n  throw new Error(\"No csvData found in request\");\n}\n\nvar datasetName = webhookData.datasetName || \"Unnamed Dataset\";\nvar description = webhookData.description || \"\";\nvar email = webhookData.email || \"\";\n\nvar csvText = Buffer.from(base64Data, \"base64\").toString(\"utf-8\");\n\n// Strip BOM if present\nif (csvText.charCodeAt(0) === 0xFEFF) {\n  csvText = csvText.slice(1);\n}\n\n// --- MULTILINE-AWARE CSV PARSER ---\nfunction parseCSV(text) {\n  const rows = [];\n  let row = [];\n  let cell = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n    const next = text[i + 1];\n\n    if (char === '\"') {\n      if (inQuotes && next === '\"') {\n        cell += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      row.push(cell.trim());\n      cell = '';\n    } else if (!inQuotes && (char === '\\n' || char === '\\r')) {\n      if (char === '\\r' && next === '\\n') i++;\n      row.push(cell.trim());\n      if (row.some(v => v !== '')) {\n        rows.push(row);\n      }\n      row = [];\n      cell = '';\n    } else {\n      cell += char;\n    }\n  }\n\n  // Flush final row\n  if (cell || row.length) {\n    row.push(cell.trim());\n    if (row.some(v => v !== '')) {\n      rows.push(row);\n    }\n  }\n\n  return rows;\n}\n// ----------------------------------\n\nvar allRows = parseCSV(csvText);\n\nif (allRows.length < 2) {\n  throw new Error(\"CSV must have header and data rows\");\n}\n\nvar headers = allRows[0];\nvar rows = [];\n\nfor (var i = 1; i < allRows.length; i++) {\n  var values = allRows[i];\n  var row = {};\n  for (var j = 0; j < headers.length; j++) {\n    row[headers[j]] = values[j] !== undefined ? values[j] : \"\";\n  }\n  rows.push({ json: row });\n}\n\nif (rows.length === 0) {\n  throw new Error(\"No data rows found\");\n}\n\n$execution.customData.set(\"datasetName\", datasetName);\n$execution.customData.set(\"description\", description);\n$execution.customData.set(\"email\", email);\n\nreturn rows;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          304
        ],
        "id": "parse-csv",
        "name": "Parse CSV"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "value": "n8n_data",
            "mode": "list"
          },
          "table": {
            "__rl": true,
            "value": "dataset_record_manager",
            "mode": "list"
          },
          "where": {
            "values": [
              {
                "column": "dataset_id",
                "value": "={{ $('Webhook').first().json.body.datasetId }}"
              },
              {
                "column": "owner_email",
                "value": "={{ $('Webhook').first().json.body.email }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          752,
          304
        ],
        "id": "get-dataset-record",
        "name": "Get Dataset Record",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteTable",
          "schema": {
            "__rl": true,
            "value": "n8n_data",
            "mode": "list"
          },
          "table": {
            "__rl": true,
            "value": "universal_datatable",
            "mode": "list"
          },
          "deleteCommand": "delete",
          "where": {
            "values": [
              {
                "column": "dataset_id",
                "value": "={{ $('Webhook').first().json.body.datasetId }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1008,
          304
        ],
        "id": "delete-existing-data",
        "name": "Delete Existing Data",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "var datasetRecord = $('Get Dataset Record').first().json;\nif (!datasetRecord || !datasetRecord.column_mapping) {\n  throw new Error('Dataset not found or missing column_mapping');\n}\nvar mapping = datasetRecord.column_mapping;\nvar datasetId = $('Webhook').first().json.body.datasetId;\nvar allRows = $('Parse CSV').all();\nvar results = [];\nvar batchSize = 200;\nvar mapEntries = Object.entries(mapping);\nvar dbColumnNames = mapEntries.map(function(entry) { return entry[1]; });\n\nfunction isDateColumn(colName) {\n  var lower = colName.toLowerCase();\n  var datePatterns = ['date', 'time', 'created', 'updated', 'timestamp', 'modified', 'expires', 'born', 'started', 'ended', 'due', 'scheduled', '_at', '_on'];\n  for (var i = 0; i < datePatterns.length; i++) {\n    if (lower.indexOf(datePatterns[i]) !== -1) {\n      return true;\n    }\n  }\n  return false;\n}\n\nfunction isValidDateValue(val) {\n  var stringVal = String(val).trim();\n  // Pure numbers > 9999 are not valid dates (except Unix timestamps which we won't support here)\n  if (/^\\d+$/.test(stringVal) && parseInt(stringVal) > 9999) {\n    return false;\n  }\n  // Must contain at least one separator for date formats\n  if (stringVal.indexOf('/') !== -1 || stringVal.indexOf('-') !== -1) {\n    return true;\n  }\n  // 4-digit number could be a year, but alone it's not a complete date\n  if (/^\\d{1,4}$/.test(stringVal)) {\n    return false;\n  }\n  return false;\n}\n\nfunction formatDateValue(val) {\n  var stringVal = String(val).trim();\n  var dateMatch = stringVal.match(/^(\\d{1,4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,4})(.*)$/);\n  if (!dateMatch) return null;\n  \n  var part1 = dateMatch[1];\n  var part2 = dateMatch[2];\n  var part3 = dateMatch[3];\n  var timePart = dateMatch[4] || '';\n  \n  var year, month, day;\n  if (part1.length === 4) {\n    year = part1; month = part2; day = part3;\n  } else if (part3.length === 4) {\n    year = part3;\n    if (parseInt(part1) > 12) { day = part1; month = part2; }\n    else { month = part1; day = part2; }\n  } else {\n    year = parseInt(part3) > 50 ? '19' + part3 : '20' + part3;\n    month = part1; day = part2;\n  }\n  \n  month = ('0' + month).slice(-2);\n  day = ('0' + day).slice(-2);\n  return year + '-' + month + '-' + day + timePart;\n}\n\nfunction prepareValue(val, dbColumn) {\n  if (val === null || val === undefined || String(val).trim() === '') {\n    return 'NULL';\n  }\n  var stringVal = String(val).trim();\n  \n  if (isDateColumn(dbColumn)) {\n    if (!isValidDateValue(stringVal)) {\n      return 'NULL';\n    }\n    var formatted = formatDateValue(stringVal);\n    if (formatted) {\n      return \"'\" + formatted.replace(/'/g, \"''\") + \"'\";\n    }\n    return 'NULL';\n  }\n  \n  return \"'\" + stringVal.replace(/'/g, \"''\") + \"'\";\n}\n\nvar columns = ['\"dataset_id\"', '\"row_index\"'].concat(dbColumnNames.map(function(c) { return '\"' + c + '\"'; }));\n\nfor (var i = 0; i < allRows.length; i += batchSize) {\n  var chunk = allRows.slice(i, i + batchSize);\n  var valuesList = chunk.map(function(item, idx) {\n    var row = item.json;\n    var rowValues = [\"'\" + datasetId + \"'\", i + idx + 1];\n    mapEntries.forEach(function(entry) {\n      rowValues.push(prepareValue(row[entry[0]], entry[1]));\n    });\n    return '(' + rowValues.join(',') + ')';\n  });\n  results.push({ json: { sql: 'INSERT INTO n8n_data.universal_datatable (' + columns.join(',') + ') VALUES ' + valuesList.join(',') + ';' } });\n}\n\nreturn results;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          304
        ],
        "id": "transform-data",
        "name": "Transform Data"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $json.sql }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1504,
          304
        ],
        "id": "insert-data",
        "name": "Insert Data",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { status: 'ok', message: 'Dataset updated successfully', rowsInserted: $('Parse CSV').all().length } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1760,
          304
        ],
        "id": "respond-webhook",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse CSV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse CSV": {
        "main": [
          [
            {
              "node": "Get Dataset Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Dataset Record": {
        "main": [
          [
            {
              "node": "Delete Existing Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Existing Data": {
        "main": [
          [
            {
              "node": "Transform Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transform Data": {
        "main": [
          [
            {
              "node": "Insert Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Data": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version de22de48",
    "description": "",
    "autosaved": true
  },
  "tags": []
}