n8n-workflows/Data Analyzer - Get Dataset Preview.json
{"updatedAt":"2026-02-24T03:29:37.072Z","createdAt":"2026-02-21T08:22:43.542Z","id":"Q80vTOMfyUTsuDYu","name":"Data Analyzer - Get Dataset Preview","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"get-dataset-preview","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[608,272],"id":"09e278cf-34df-4634-916c-786cd4ed6ac8","name":"Webhook - Get Dataset Preview","webhookId":"get-dataset-preview-webhook"},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM n8n_data.universal_datatable WHERE dataset_id = '{{ $json.body.datasetId }}' ORDER BY RANDOM() LIMIT {{ $json.body.limit || 20 }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[816,272],"id":"59d0c213-a04f-4276-be7d-7dce3fdce420","name":"Get Preview Rows","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ (() => { const rows = $input.all().map(item => item.json); const columns = rows.length > 0 ? Object.keys(rows[0]).filter(k => k !== 'dataset_id' && k !== 'id') : []; return { status: 'ok', columns, rows: rows.map(r => { const filtered = {}; columns.forEach(c => filtered[c] = r[c]); return filtered; }) }; })() }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1008,272],"id":"ee3bb6c7-3258-455e-a168-262e41d6a6c9","name":"Respond with Preview"}],"connections":{"Webhook - Get Dataset Preview":{"main":[[{"node":"Get Preview Rows","type":"main","index":0}]]},"Get Preview Rows":{"main":[[{"node":"Respond with Preview","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d3e0584f-09bd-4514-a2d1-cc45baa35f20","activeVersionId":"d3e0584f-09bd-4514-a2d1-cc45baa35f20","versionCounter":14,"triggerCount":1,"shared":[{"updatedAt":"2026-02-21T08:22:43.542Z","createdAt":"2026-02-21T08:22:43.542Z","role":"workflow:owner","workflowId":"Q80vTOMfyUTsuDYu","projectId":"lEyuIAFtVcDPu5Ul","project":{"updatedAt":"2026-02-13T05:12:31.304Z","createdAt":"2026-02-13T05:04:45.101Z","id":"lEyuIAFtVcDPu5Ul","name":"Ed Lee <ed.e.lee@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"565e7321-1777-4096-87d7-1379bc7abb04","projectRelations":[{"updatedAt":"2026-02-13T05:04:45.101Z","createdAt":"2026-02-13T05:04:45.101Z","userId":"565e7321-1777-4096-87d7-1379bc7abb04","projectId":"lEyuIAFtVcDPu5Ul","user":{"updatedAt":"2026-03-18T04:23:49.783Z","createdAt":"2026-02-13T05:04:44.713Z","id":"565e7321-1777-4096-87d7-1379bc7abb04","email":"ed.e.lee@gmail.com","firstName":"Ed","lastName":"Lee","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-13T05:12:34.636Z","personalization_survey_n8n_version":"2.7.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rjbgy73deGsgpaXn","userActivatedAt":1771053281944,"npsSurvey":{"responded":true,"lastShownAt":1772675456397}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T03:29:39.871Z","createdAt":"2026-02-24T03:29:37.074Z","versionId":"d3e0584f-09bd-4514-a2d1-cc45baa35f20","workflowId":"Q80vTOMfyUTsuDYu","nodes":[{"parameters":{"httpMethod":"POST","path":"get-dataset-preview","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[608,272],"id":"09e278cf-34df-4634-916c-786cd4ed6ac8","name":"Webhook - Get Dataset Preview","webhookId":"get-dataset-preview-webhook"},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM n8n_data.universal_datatable WHERE dataset_id = '{{ $json.body.datasetId }}' ORDER BY RANDOM() LIMIT {{ $json.body.limit || 20 }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[816,272],"id":"59d0c213-a04f-4276-be7d-7dce3fdce420","name":"Get Preview Rows","credentials":{"postgres":{"id":"A7zRb9obSaMEyNKs","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ (() => { const rows = $input.all().map(item => item.json); const columns = rows.length > 0 ? Object.keys(rows[0]).filter(k => k !== 'dataset_id' && k !== 'id') : []; return { status: 'ok', columns, rows: rows.map(r => { const filtered = {}; columns.forEach(c => filtered[c] = r[c]); return filtered; }) }; })() }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1008,272],"id":"ee3bb6c7-3258-455e-a168-262e41d6a6c9","name":"Respond with Preview"}],"connections":{"Webhook - Get Dataset Preview":{"main":[[{"node":"Get Preview Rows","type":"main","index":0}]]},"Get Preview Rows":{"main":[[{"node":"Respond with Preview","type":"main","index":0}]]}},"authors":"Ed Lee","name":"Version d3e0584f","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-24T03:29:39.870Z","id":70,"workflowId":"Q80vTOMfyUTsuDYu","versionId":"d3e0584f-09bd-4514-a2d1-cc45baa35f20","event":"activated","userId":"565e7321-1777-4096-87d7-1379bc7abb04"}]}}