n8n-workflows/Data_Analyzer_-_Select_Dataset.json
{
  "updatedAt": "2026-03-04T05:53:06.157Z",
  "createdAt": "2026-03-04T02:34:28.985Z",
  "id": "PvtobeE9-yzTeMqZM06D6",
  "name": "Data Analyzer - Select Dataset",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1712,
        256
      ],
      "id": "08e371a0-17a3-4cc5-8b2f-26a884a2ce45",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        256
      ],
      "id": "2668ac4d-fd86-45e8-b326-f184c9afd7a9",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop through all items passed to the Code node\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  // Extract the target fields with fallbacks\n  const name = data.dataset_name || \"Unknown Dataset\";\n  const desc = data.dataset_desc || \"No description provided.\";\n  const summary = data.dataset_summary || \"\";\n\n  // 1. Construct the optimal embedding string\n  // Using clear labels helps the embedding model understand the context of the text\n  const textToEmbed = `Dataset Name: ${name}\\nDescription: ${desc}\\nSchema and Business Logic:\\n${summary}`.trim();\n\n  // 2. Return the structured payload\n  return {\n    json: {\n      // This is the string you will map to your embedding node\n      embedding_text: textToEmbed,\n      \n      // Preserve essential fields as metadata to attach to the vector \n      // This allows your AI agent to retrieve the ID and exact routing info later\n      metadata: {\n        dataset_id: data.dataset_id,\n        dataset_name: name,\n        dataset_desc: desc,\n        owner_email: data.owner_email\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        256
      ],
      "id": "e45cc95a-b930-4b3e-ade7-7ac4b3b95bf6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "data-analyzer-datasets",
          "mode": "list",
          "cachedResultName": "data-analyzer-datasets"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2336,
        256
      ],
      "id": "baf727f0-df2e-4f1a-bdeb-a476915cbaf2",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "zObCvzTEf6kFbsLP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "dataset_id",
                "value": "={{ $json.metadata.dataset_id }}"
              },
              {
                "name": "=dataset_name",
                "value": "={{ $json.metadata.dataset_name }}"
              },
              {
                "name": "owner_email",
                "value": "={{ $json.metadata.owner_email }}"
              },
              {
                "name": "dataset_uploaded",
                "value": "={{ $json.metadata.updated_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2480,
        496
      ],
      "id": "4ef1bddc-0ed8-4ddc-8285-86057a7c5490",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "select-dataset",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1088,
        -320
      ],
      "id": "40e8cdb4-cc00-462a-9aef-5e0db9e1480f",
      "name": "Webhook",
      "webhookId": "crp-webhook-id-001"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User's inquiry:\n{{ $('Webhook').first().json.body.user_prompt }}\n\nDataset information:\n{{ JSON.stringify($json.data) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a report requirement analyst. Given a user's prompt for data analysis, search the dataset information to identify the top 3 datasets that will potentially answer user's inquiry by following the below instructions:\n\nReturn JSON with the selection in the order of the best choice. If a very obvious choice is available, just present the choice. There is no need to force select three.\nAlso calculate in % the level of confidence in the selection made based on how good the fit of the dataset is with user requirement / prompt.\nReturn the following information.\nUser Prompt: {{ $('Webhook').item.body.user_prompt }}\nDataset ID: dataset_id from the Dataset Vector tool\nConfidence Level: Confidence level in % of the dataset selection fit with user prompt\n",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1920,
        -320
      ],
      "id": "3a7be785-f13a-4186-bd7f-aafa68af557f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"user_prompt\": \"Which companies in the retail sector had the highest revenue in 2025?\",\n  \"dataset_ids\": [\n    \"709b6fe3-17c7-499f-8cf0-a0bd19beb1b0\",\n    \"294a4f74-ec19-4467-a596-ae28900a6ec4\",\n    \"294a4f74-ec19-4467-8cf0-a0bd19beb1b0\"\n  ],\n  \"confidence_level\": \"70%\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2080,
        -112
      ],
      "id": "cad0ff28-a5f2-4cfc-b677-bea197cfc5d4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2320,
        -320
      ],
      "id": "45cb8293-b494-44b6-8bea-d160e020b411",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM n8n_data.dataset_record_manager \nWHERE dataset_id IN ('{{ $json.body.user_datasets.join(\"','\") }}') ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        -320
      ],
      "id": "824de741-79a0-46e5-bc64-304ac4bd2479",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This takes every \"item\" (row) from Postgres and keeps only the fields you need\nreturn items.map(item => {\n  return {\n    json: {\n      dataset_id: item.json.dataset_id,\n      dataset_name: item.json.dataset_name,\n      dataset_description: item.json.dataset_desc || \"No description available\",\n      dataset_summary: item.json.dataset_summary\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -320
      ],
      "id": "055a7a3b-b44c-4d1d-bed5-cd39f2d83b2d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1696,
        -320
      ],
      "id": "1bde58ad-33ea-4973-98a3-03ac96438323",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1856,
        -96
      ],
      "id": "c916726d-4eda-43e0-8f97-e2f96576cb9b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2048,
        64
      ],
      "id": "d1c9c7ff-2e31-4431-a4c9-9ec458aa939e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SScyp7rqdYRmN9lx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2288,
        496
      ],
      "id": "324347ae-03d2-4536-bca1-029c21a24b94",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "5LaIovQtdd5x4fjU",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "716a9577-580a-4eb7-a6eb-19874d950cbb",
  "activeVersionId": "716a9577-580a-4eb7-a6eb-19874d950cbb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-04T02:34:28.985Z",
      "createdAt": "2026-03-04T02:34:28.985Z",
      "role": "workflow:owner",
      "workflowId": "PvtobeE9-yzTeMqZM06D6",
      "projectId": "1Tt3UeBU40oNvF7P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-04T05:53:07.792Z",
    "createdAt": "2026-03-04T05:53:06.159Z",
    "versionId": "716a9577-580a-4eb7-a6eb-19874d950cbb",
    "workflowId": "PvtobeE9-yzTeMqZM06D6",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          1712,
          256
        ],
        "id": "08e371a0-17a3-4cc5-8b2f-26a884a2ce45",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "value": "n8n_data",
            "mode": "list",
            "cachedResultName": "n8n_data"
          },
          "table": {
            "__rl": true,
            "value": "dataset_record_manager",
            "mode": "list",
            "cachedResultName": "dataset_record_manager"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1920,
          256
        ],
        "id": "2668ac4d-fd86-45e8-b326-f184c9afd7a9",
        "name": "Select rows from a table",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop through all items passed to the Code node\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  // Extract the target fields with fallbacks\n  const name = data.dataset_name || \"Unknown Dataset\";\n  const desc = data.dataset_desc || \"No description provided.\";\n  const summary = data.dataset_summary || \"\";\n\n  // 1. Construct the optimal embedding string\n  // Using clear labels helps the embedding model understand the context of the text\n  const textToEmbed = `Dataset Name: ${name}\\nDescription: ${desc}\\nSchema and Business Logic:\\n${summary}`.trim();\n\n  // 2. Return the structured payload\n  return {\n    json: {\n      // This is the string you will map to your embedding node\n      embedding_text: textToEmbed,\n      \n      // Preserve essential fields as metadata to attach to the vector \n      // This allows your AI agent to retrieve the ID and exact routing info later\n      metadata: {\n        dataset_id: data.dataset_id,\n        dataset_name: name,\n        dataset_desc: desc,\n        owner_email: data.owner_email\n      }\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          256
        ],
        "id": "e45cc95a-b930-4b3e-ade7-7ac4b3b95bf6",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "mode": "insert",
          "qdrantCollection": {
            "__rl": true,
            "value": "data-analyzer-datasets",
            "mode": "list",
            "cachedResultName": "data-analyzer-datasets"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          2336,
          256
        ],
        "id": "baf727f0-df2e-4f1a-bdeb-a476915cbaf2",
        "name": "Qdrant Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "zObCvzTEf6kFbsLP",
            "name": "QdrantApi account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "dataset_id",
                  "value": "={{ $json.metadata.dataset_id }}"
                },
                {
                  "name": "=dataset_name",
                  "value": "={{ $json.metadata.dataset_name }}"
                },
                {
                  "name": "owner_email",
                  "value": "={{ $json.metadata.owner_email }}"
                },
                {
                  "name": "dataset_uploaded",
                  "value": "={{ $json.metadata.updated_at }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          2480,
          496
        ],
        "id": "4ef1bddc-0ed8-4ddc-8285-86057a7c5490",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "select-dataset",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1088,
          -320
        ],
        "id": "40e8cdb4-cc00-462a-9aef-5e0db9e1480f",
        "name": "Webhook",
        "webhookId": "crp-webhook-id-001"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User's inquiry:\n{{ $('Webhook').first().json.body.user_prompt }}\n\nDataset information:\n{{ JSON.stringify($json.data) }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a report requirement analyst. Given a user's prompt for data analysis, search the dataset information to identify the top 3 datasets that will potentially answer user's inquiry by following the below instructions:\n\nReturn JSON with the selection in the order of the best choice. If a very obvious choice is available, just present the choice. There is no need to force select three.\nAlso calculate in % the level of confidence in the selection made based on how good the fit of the dataset is with user requirement / prompt.\nReturn the following information.\nUser Prompt: {{ $('Webhook').item.body.user_prompt }}\nDataset ID: dataset_id from the Dataset Vector tool\nConfidence Level: Confidence level in % of the dataset selection fit with user prompt\n",
            "maxIterations": 15
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1920,
          -320
        ],
        "id": "3a7be785-f13a-4186-bd7f-aafa68af557f",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"user_prompt\": \"Which companies in the retail sector had the highest revenue in 2025?\",\n  \"dataset_ids\": [\n    \"709b6fe3-17c7-499f-8cf0-a0bd19beb1b0\",\n    \"294a4f74-ec19-4467-a596-ae28900a6ec4\",\n    \"294a4f74-ec19-4467-8cf0-a0bd19beb1b0\"\n  ],\n  \"confidence_level\": \"70%\"\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          2080,
          -112
        ],
        "id": "cad0ff28-a5f2-4cfc-b677-bea197cfc5d4",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          2320,
          -320
        ],
        "id": "45cb8293-b494-44b6-8bea-d160e020b411",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM n8n_data.dataset_record_manager \nWHERE dataset_id IN ('{{ $json.body.user_datasets.join(\"','\") }}') ",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1280,
          -320
        ],
        "id": "824de741-79a0-46e5-bc64-304ac4bd2479",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "5JhwTls4nSPISJqU",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// This takes every \"item\" (row) from Postgres and keeps only the fields you need\nreturn items.map(item => {\n  return {\n    json: {\n      dataset_id: item.json.dataset_id,\n      dataset_name: item.json.dataset_name,\n      dataset_description: item.json.dataset_desc || \"No description available\",\n      dataset_summary: item.json.dataset_summary\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1488,
          -320
        ],
        "id": "055a7a3b-b44c-4d1d-bed5-cd39f2d83b2d",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1696,
          -320
        ],
        "id": "1bde58ad-33ea-4973-98a3-03ac96438323",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "model": "minimax/minimax-m2.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1856,
          -96
        ],
        "id": "c916726d-4eda-43e0-8f97-e2f96576cb9b",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "SScyp7rqdYRmN9lx",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-20b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2048,
          64
        ],
        "id": "d1c9c7ff-2e31-4431-a4c9-9ec458aa939e",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "SScyp7rqdYRmN9lx",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "mxbai-embed-large:latest"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
        "typeVersion": 1,
        "position": [
          2288,
          496
        ],
        "id": "324347ae-03d2-4536-bca1-029c21a24b94",
        "name": "Embeddings Ollama",
        "credentials": {
          "ollamaApi": {
            "id": "5LaIovQtdd5x4fjU",
            "name": "Ollama account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Ollama": {
        "ai_embedding": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "EUN ed.e.lee@gmail.com",
    "name": "Version 716a9577",
    "description": "",
    "autosaved": false
  },
  "tags": []
}