n8n-workflows/workflow-prompt-dialog.json
{"name":"Data Analyzer - Prompt Dialog","nodes":[{"parameters":{"httpMethod":"POST","path":"prompt-dialog","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-800,0],"id":"dialog-webhook-001","name":"Webhook","webhookId":"pd-webhook-id-001"},{"parameters":{"operation":"executeQuery","query":"={{ (() => { const ids = $json.body.dataset_ids; if (!ids || !Array.isArray(ids) || ids.length === 0) { return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE owner_email = '\" + $json.body.email.replace(/'/g, \"''\") + \"' LIMIT 10\"; } return \"SELECT dataset_name, dataset_desc, column_mapping FROM n8n_data.dataset_record_manager WHERE dataset_id::text IN ('\" + ids.join(\"','\") + \"') LIMIT 10\"; })() }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-560,0],"id":"dialog-pg-fetch-001","name":"Fetch Dataset Context","credentials":{"postgres":{"id":"5JhwTls4nSPISJqU","name":"Postgres account"}}},{"parameters":{"jsCode":"const datasets = $input.all().map(item => item.json);\nconst body = $('Webhook').first().json.body;\n\nconst datasetContext = datasets.map(d => {\n  let mapping = {};\n  try {\n    mapping = typeof d.column_mapping === 'string' ? JSON.parse(d.column_mapping) : (d.column_mapping || {});\n  } catch(e) {}\n  const cols = Object.keys(mapping).join(', ');\n  return '\"' + (d.dataset_name || 'Dataset') + '\"\\nDescription: ' + (d.dataset_desc || 'N/A') + '\\nColumns: ' + (cols || 'N/A');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    user_prompt: body.prompt,\n    dataset_context: datasetContext || 'No dataset information available.'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,0],"id":"dialog-code-context-001","name":"Build Prompt Context"},{"parameters":{"promptType":"define","text":"=User's report requirement:\n{{ $json.user_prompt }}\n\nAvailable datasets and their columns:\n{{ $json.dataset_context }}\n\nGenerate 3 to 5 targeted clarifying questions to help the user refine their report requirements.","hasOutputParser":true,"options":{"systemMessage":"You are a report requirements analyst. Given a user's report prompt and available dataset columns, generate 3–5 targeted clarifying questions that will help build a more precise, actionable analysis plan.\n\nRules:\n- Ask only about dimensions relevant to the available dataset columns\n- Focus on: time period/date range, primary metrics or KPIs, grouping/breakdown dimensions, filters or scope restrictions\n- Each question must be specific to what the data can actually answer\n- Every question must include a practical hint field with 2–3 example answers\n- Do NOT ask about columns that do not exist in the datasets\n- Keep questions concise — one sentence each\n- Minimum 3 questions, maximum 5\n\nReturn ONLY the structured JSON. No explanation, no preamble.","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-80,0],"id":"dialog-agent-001","name":"Dialog AI Agent","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[160,0],"id":"dialog-respond-001","name":"Respond to Webhook"},{"parameters":{"model":"={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-160,200],"id":"dialog-llm-001","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"questions\": [\n    {\n      \"id\": \"time_period\",\n      \"question\": \"What time period should this report cover?\",\n      \"hint\": \"e.g., last 12 months, Q1 2025, all available data\"\n    },\n    {\n      \"id\": \"grouping\",\n      \"question\": \"How should the results be broken down or grouped?\",\n      \"hint\": \"e.g., by product category, by region, by month\"\n    },\n    {\n      \"id\": \"primary_metrics\",\n      \"question\": \"Which key metrics or KPIs are most important for this report?\",\n      \"hint\": \"e.g., total revenue, order count, average order value\"\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-80,200],"id":"dialog-parser-001","name":"Structured Output Parser"},{"parameters":{"model":"={{ $('Webhook').item.json.body.model || 'moonshotai/kimi-k2.5' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-80,400],"id":"dialog-llm-parser-001","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"SScyp7rqdYRmN9lx","name":"OpenRouter account"}}}],"pinData":{},"connections":{"Webhook":{"main":[[{"node":"Fetch Dataset Context","type":"main","index":0}]]},"Fetch Dataset Context":{"main":[[{"node":"Build Prompt Context","type":"main","index":0}]]},"Build Prompt Context":{"main":[[{"node":"Dialog AI Agent","type":"main","index":0}]]},"Dialog AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Dialog AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Dialog AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"active":true,"settings":{"executionOrder":"v1","availableInMCP":false},"versionId":"dialog-v1-001","meta":{"templateCredsSetupCompleted":true,"instanceId":"558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"},"id":"dialog-workflow-001","tags":[]}
