n8n-workflows/workflow-execute-plan.json
{
  "name": "Data Analyzer - Execute Plan",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.model || 'gpt-5-mini' }}",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1840,
        944
      ],
      "id": "32b19c3e-f20b-4e6a-a5c2-a4d31bcc84d4",
      "name": "Step",
      "credentials": {
        "openAiApi": {
          "id": "ayhC2xZ3iWv4ZkDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execute-plan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2512,
        -352
      ],
      "id": "86ab965a-c1db-4325-bad9-43549f7cf827",
      "name": "Webhook",
      "webhookId": "ep-webhook-id-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nlet plan;\ntry {\n  plan = typeof body.plan === 'string' ? JSON.parse(body.plan) : body.plan;\n} catch (e) {\n  throw new Error('Invalid plan JSON: ' + e.message);\n}\n\nconst report_id = body.report_id || ('rpt_' + Date.now() + '_' + Math.random().toString(36).substring(2, 8));\n\nconst items = plan.steps.map(step => ({\n  json: {\n    report_id,\n    plan_id: plan.plan_id || '',\n    email: body.email,\n    model: body.model || 'moonshotai/kimi-k2.5',\n    total_steps: plan.total_steps || plan.steps.length,\n    templateId: body.templateId || '',\n    steps_only: body.steps_only === true,\n    step: step\n  }\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        -352
      ],
      "id": "ab3b8753-1464-4bd9-98d9-3f9189c98f37",
      "name": "Parse Plan & Generate Report ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ report_id: $input.first().json.report_id, total_steps: $input.first().json.total_steps, status: 'started' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2080,
        -576
      ],
      "id": "d2c20201-6d93-47c4-96eb-8c1c71bab78c",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2080,
        -352
      ],
      "id": "35813094-767d-4d22-aab1-5ab083c21c78",
      "name": "Loop Over Steps"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $json.report_id }}', '{{ $json.plan_id }}', {{ $json.step.step_number }}, '{{ $json.step.purpose.replace(/'/g, \"''\") }}', '{{ $json.step.dataset_id }}', '', 'started')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1728,
        -352
      ],
      "id": "8c2c6d04-9220-48c7-96d6-607bb04e7d7a",
      "name": "Mark Step Started",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Execute the following analysis step.\n\nREPORT ID: {{ $('Parse Plan & Generate Report ID').item.json.report_id }}\nSTEP: {{ $('Loop Over Steps').item.json.step.step_number }} of {{ $('Parse Plan & Generate Report ID').item.json.total_steps }}\nPURPOSE: {{ $('Loop Over Steps').item.json.step.purpose }}\nDATASET ID: {{ $('Loop Over Steps').item.json.step.dataset_id }}\n\nVIEW: {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.v_ds_' + $('Loop Over Steps').item.json.step.dataset_id.replace(/-/g, '_') : 'N/A — aggregate step' }}\n(Pre-built view with original column names — query directly, no WHERE clause needed)\n\nCOLUMN TYPES:\n{{ (() => { try { const raw = $('Fetch Column Mapping For Step').item.json.column_mapping; const mapping = typeof raw === 'string' ? JSON.parse(raw) : (raw || {}); const typeMap = { real: 'numeric', string: 'text', int: 'integer', date: 'date', bool: 'boolean' }; return Object.entries(mapping).map(([name, col]) => '\"' + name + '\" (' + (typeMap[col.replace(/\\d+$/, '')] || 'text') + ')').join(', ') || '(aggregate step — no columns)'; } catch(e) { return '(types unavailable)'; } })() }}\n\nQUERY STRATEGY:\n- Columns: {{ $('Loop Over Steps').item.json.step.query_strategy.columns ? $('Loop Over Steps').item.json.step.query_strategy.columns.join(', ') : 'all relevant columns' }}\n- Filters: {{ $('Loop Over Steps').item.json.step.query_strategy.filters ? JSON.stringify($('Loop Over Steps').item.json.step.query_strategy.filters) : 'none' }}\n- Logic: {{ $('Loop Over Steps').item.json.step.query_strategy.logic || 'standard query' }}\n\nDEPENDENCIES: {{ $('Loop Over Steps').item.json.step.dependencies.join(', ') || 'None' }}\nEXPECTED OUTPUT: {{ $('Loop Over Steps').item.json.step.expected_output.join(', ') }}\n\nRULES:\n1. Call ONE tool only, then immediately write your final analysis — do NOT call a second tool unless DEPENDENCIES are listed above.\n2. Query step (dataset_id present): call Query Dataset with one aggregating SQL query. Use SUM/COUNT/GROUP BY — never SELECT * without LIMIT 200.\n3. Dependency read: if DEPENDENCIES are listed (not 'None'), call Read Previous Step Results FIRST, then write your analysis — still no SQL needed.\n4. Aggregate step (no dataset_id): call Read Previous Step Results ONLY — no SQL.\n5. After the ONE tool call returns, immediately write your structured analysis and stop. Do not call any more tools.",
        "options": {
          "systemMessage": "You are a data analyst executing one step of a multi-step report plan.\n- Make exactly ONE tool call, then write your final analysis immediately. Do not loop.\n- For query steps: use aggregating SQL (SUM, COUNT, AVG, GROUP BY). Never SELECT * without LIMIT 200.\n- For aggregate steps (no dataset_id): use Read Previous Step Results only — do not run SQL.\n- After the tool returns data, your NEXT response must be your final written analysis — not another tool call.\n- Return concise structured analysis with key findings and data tables.\n- PostgreSQL type rules: date columns do NOT support substr() — use EXTRACT(YEAR FROM col), DATE_PART('year', col), TO_CHAR(col, 'YYYY'), or cast first with col::text. Numeric columns cannot be compared with quoted strings — omit quotes for numbers.",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1408,
        -352
      ],
      "id": "91bbff22-2380-49c6-80d9-5a01ed7a5e07",
      "name": "Step AI Agent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read results from previously completed steps of this report. Use this when the current step has dependencies on earlier steps.",
        "operation": "executeQuery",
        "query": "=SELECT step_number, purpose, step_result \nFROM n8n_data.report_step_results \nWHERE report_id = '{{ $('Parse Plan & Generate Report ID').item.json.report_id }}' \n{{ $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") ? \" AND step_number = \" + $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") : \"\" }} \nORDER BY step_number",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -992,
        128
      ],
      "id": "589af35b-9576-419c-a696-d4cc4bf8a887",
      "name": "Read Previous Step Results",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE n8n_data.report_step_results SET step_result = '{{ $json.output ? $json.output.replace(/'/g, \"''\") : \"No output generated by AI\" }}', status = '{{ ($json.output && $json.output.trim() && !$json.error) ? \"completed\" : \"error\" }}' WHERE report_id = '{{ $('Loop Over Steps').first().json.report_id }}' AND step_number = {{ $('Loop Over Steps').first().json.step.step_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -528,
        144
      ],
      "id": "7c90f931-9047-4cbe-b65a-ec5aaedc56c6",
      "name": "Save Step Result",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE n8n_data.report_step_results SET step_result = '{{ ($json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)) : \"Step failed\").replace(/'/g, \"''\") }}', status = 'error' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        288,
        272
      ],
      "id": "93d5985d-4625-40d8-843e-a16f2cb89a79",
      "name": "Save Step Error",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1072,
        -160
      ],
      "id": "9bb9a6c5-8270-4bbf-9090-c04e5aeb8ca9",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $fromAI(\"dataset_id\", \"The dataset_id to query\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1424,
        -112
      ],
      "id": "261d82b4-2a2d-4ddc-9d94-66c651f82c5b",
      "name": "Dataset Information",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query the dataset view for this step. Use SQL to query the view name given in the prompt (e.g. n8n_data.v_ds_<id>). The view already has original column names and is pre-filtered — no WHERE clause needed. Use SQL aggregations (SUM, COUNT, GROUP BY) to compute totals — do not fetch raw rows for manual calculation. PostgreSQL type rules: date columns do not support substr() — use EXTRACT(YEAR FROM col) or TO_CHAR(col, 'YYYY') instead. Cast dates to text with col::text if string operations are needed.",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1280,
        128
      ],
      "id": "81d83920-9729-4c20-b710-3651867a822f",
      "name": "Query Dataset",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT COALESCE(\n  (SELECT column_mapping::text FROM n8n_data.dataset_record_manager\n   WHERE dataset_id::text = '{{ $('Loop Over Steps').item.json.step.dataset_id }}'\n   LIMIT 1),\n  '{}'\n) AS column_mapping",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1568,
        -352
      ],
      "id": "fetch-col-mapping-step-001",
      "name": "Fetch Column Mapping For Step",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Step": {
      "ai_languageModel": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Plan & Generate Report ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan & Generate Report ID": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Steps": {
      "main": [
        [],
        [
          {
            "node": "Mark Step Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step Started": {
      "main": [
        [
          {
            "node": "Fetch Column Mapping For Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step AI Agent": {
      "main": [
        [
          {
            "node": "Save Step Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Step Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Previous Step Results": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Step Result": {
      "main": [
        [
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Step Error": {
      "main": [
        [
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Dataset": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Column Mapping For Step": {
      "main": [
        [
          {
            "node": "Step AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b171d2eb-1b66-4758-a3fd-2459872000b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "rS9WfdjFmtsEgnxO",
  "tags": []
}