n8n-workflows/workflow-run-formatter.json
{
  "name": "Data Analyzer - Run Formatter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-formatter",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        0
      ],
      "id": "rf-webhook-001",
      "name": "Webhook",
      "webhookId": "rf-webhook-id-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\",\"report_id\":\"{{ $json.body.report_id }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -560,
        -192
      ],
      "id": "rf-respond-001",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT step_number, purpose, dataset_id, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $json.body.report_id }}' AND step_number > 0 ORDER BY step_number",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -560,
        0
      ],
      "id": "rf-load-steps-001",
      "name": "Load All Step Results",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const steps = $input.all().map(item => item.json);\nconst body = $('Webhook').first().json.body;\n\nlet stepsText = '';\nfor (const s of steps) {\n  stepsText += `\n=== STEP ${s.step_number}: ${s.purpose} ===\nDataset: ${s.dataset_id}\n\n${s.step_result}\n\n`;\n}\n\nreturn [{\n  json: {\n    report_id: body.report_id,\n    plan_id: '',\n    email: body.email || '',\n    model: body.model || 'moonshotai/kimi-k2.5',\n    templateId: body.templateId || '',\n    all_step_results: stepsText,\n    step_count: steps.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ],
      "id": "rf-combine-001",
      "name": "Combine Step Results"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Consolidate the following {{ $json.step_count }} step results into a single coherent, professional report and format it as styled HTML.\n\nREPORT ID: {{ $json.report_id }}\nPLAN ID: {{ $json.plan_id }}\n\nSTEP RESULTS:\n{{ $json.all_step_results }}",
        "options": {
          "systemMessage": "=Role: You are an expert report writer and HTML formatter.\n\nYour job has TWO parts:\n\nPART 1 - CONSOLIDATE: Take the individual analysis step results and consolidate them into a single, professional, well-structured report with:\n- Executive Summary - Key findings and highlights\n- Detailed Analysis - One section per step, incorporating the data and findings\n- Conclusions & Recommendations\nUse clear headings, bullet points, data tables where appropriate, and professional language. Present numbers with appropriate formatting. If any step had errors or missing data, note it but don't let it derail the overall report.\n\nPART 2 - FORMAT AS HTML: {{ $json.templateId ? 'Query the Report Template tool with template_id: ' + $json.templateId + ' to fetch reference HTML. Use its CSS and structure as the master template, prioritizing its styles (colors, fonts, borders) above all else.' : 'No template ID provided — skip the Report Template tool entirely. Format the report as clean, professional HTML with tasteful inline styles.' }}\n\nMake sure to eliminate any unnecessary tags or symbols that will get in the way of clean report such as \" \\n\"\n\nIMPORTANT: DO NOT OUTPUT THE PLAN, COMMENT OR EXPLANATION OF THE ACTION. JUST OUTPUT HTML."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        0
      ],
      "id": "rf-formatter-001",
      "name": "Formatter",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Webhook').first().json.body.model || 'moonshotai/kimi-k2.5' }}",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -64,
        192
      ],
      "id": "rf-openai-001",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ayhC2xZ3iWv4ZkDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches the HTML template for the report. Pass the template_id as a string argument.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "data-analyzer-report-templates",
          "mode": "list",
          "cachedResultName": "data-analyzer-report-templates"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "template_id",
              "value": "={{ $fromAI('template_id', 'The ID of the report template to fetch', 'string') }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "html"
          ]
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        192,
        192
      ],
      "id": "rf-report-template-001",
      "name": "Report Template",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML content from the Formatter agent output\n// n8n agent nodes may use 'output', 'text', or 'response' depending on typeVersion\nconst item = $input.first().json;\nlet html = item.output || item.text || item.response || item.message || \"\";\n\nif (typeof html !== 'string') {\n  // If structured (e.g. { subject, content }), extract the HTML content\n  html = html.content || html.html || JSON.stringify(html);\n}\n\n// 1. Remove newlines and carriage returns\nhtml = html.replace(/[\\n\\r]/g, '');\n\n// 2. Remove tabs and sequences of multiple spaces\nhtml = html.replace(/\\t/g, '');\nhtml = html.replace(/\\s{2,}/g, ' ');\n\n// 3. Remove meaningless empty tags\nhtml = html.replace(/<(span|p|div|section)>\\s*<\\/\\1>/gi, '');\n\n// 4. Strip stray markdown code fences\nhtml = html.replace(/^```html|```$/g, '');\n\n// 5. Trim\nhtml = html.trim();\n\nreturn [{\n  json: {\n    ...item,\n    cleaned_html: html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "rf-cleanup-001",
      "name": "Clean Up"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $('Combine Step Results').first().json.report_id }}', '', 0, 'Final Consolidated Report', '', '{{ $json.cleaned_html ? String($json.cleaned_html).replace(/'/g, \"''\") : $('Combine Step Results').first().json.all_step_results }}', 'final_report')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        0
      ],
      "id": "rf-save-final-001",
      "name": "Save Final Report",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $('Combine Step Results').first().json.report_id }}', '', 0, 'Formatter Error', '', '{{ $json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)).replace(/'/g, \"''\") : \"Formatter failed\" }}', 'error')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        192
      ],
      "id": "rf-save-error-001",
      "name": "Save Formatter Error",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load All Step Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load All Step Results": {
      "main": [
        [
          {
            "node": "Combine Step Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Step Results": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Clean Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Formatter Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up": {
      "main": [
        [
          {
            "node": "Save Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Report Template": {
      "ai_tool": [
        [
          {
            "node": "Formatter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "run-formatter-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "run-formatter-wf-001",
  "tags": []
}