n8n-workflows/workflow-execute-plan.json
{
  "name": "Data Analyzer - Execute Plan",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -416,
        896
      ],
      "id": "7f37706f-6f2d-4331-ad7a-ab73a256cd8f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ayhC2xZ3iWv4ZkDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        816
      ],
      "id": "44c804bb-7021-4bfd-8d78-b59f3828d304",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ayhC2xZ3iWv4ZkDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.model || 'gpt-5-mini' }}",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1840,
        944
      ],
      "id": "32b19c3e-f20b-4e6a-a5c2-a4d31bcc84d4",
      "name": "Step",
      "credentials": {
        "openAiApi": {
          "id": "ayhC2xZ3iWv4ZkDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execute-plan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2512,
        -352
      ],
      "id": "86ab965a-c1db-4325-bad9-43549f7cf827",
      "name": "Webhook",
      "webhookId": "ep-webhook-id-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nlet plan;\ntry {\n  plan = typeof body.plan === 'string' ? JSON.parse(body.plan) : body.plan;\n} catch (e) {\n  throw new Error('Invalid plan JSON: ' + e.message);\n}\n\nconst report_id = body.report_id || ('rpt_' + Date.now() + '_' + Math.random().toString(36).substring(2, 8));\n\nconst items = plan.steps.map(step => ({\n  json: {\n    report_id,\n    plan_id: plan.plan_id || '',\n    email: body.email,\n    model: body.model || 'moonshotai/kimi-k2.5',\n    total_steps: plan.total_steps || plan.steps.length,\n    templateId: body.templateId || '',\n    steps_only: body.steps_only === true,\n    step: step\n  }\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        -352
      ],
      "id": "ab3b8753-1464-4bd9-98d9-3f9189c98f37",
      "name": "Parse Plan & Generate Report ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ report_id: $input.first().json.report_id, total_steps: $input.first().json.total_steps, status: 'started' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2080,
        -576
      ],
      "id": "d2c20201-6d93-47c4-96eb-8c1c71bab78c",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2080,
        -352
      ],
      "id": "35813094-767d-4d22-aab1-5ab083c21c78",
      "name": "Loop Over Steps"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $json.report_id }}', '{{ $json.plan_id }}', {{ $json.step.step_number }}, '{{ $json.step.purpose.replace(/'/g, \"''\") }}', '{{ $json.step.dataset_id }}', '', 'started')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1728,
        -352
      ],
      "id": "8c2c6d04-9220-48c7-96d6-607bb04e7d7a",
      "name": "Mark Step Started",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Execute the following analysis step.\n\nREPORT ID: {{ $('Parse Plan & Generate Report ID').item.json.report_id }}\nSTEP: {{ $('Loop Over Steps').item.json.step.step_number }} of {{ $('Parse Plan & Generate Report ID').item.json.total_steps }}\nPURPOSE: {{ $('Loop Over Steps').item.json.step.purpose }}\nDATASET ID: {{ $('Loop Over Steps').item.json.step.dataset_id }}\n\nVIEW: {{ $('Loop Over Steps').item.json.step.dataset_id ? 'n8n_data.v_ds_' + $('Loop Over Steps').item.json.step.dataset_id.replace(/-/g, '_') : 'N/A — aggregate step' }}\n(Pre-built view with original column names — query directly, no WHERE clause needed)\n\nCOLUMN TYPES:\n{{ (() => { try { const raw = $('Fetch Column Mapping For Step').item.json.column_mapping; const mapping = typeof raw === 'string' ? JSON.parse(raw) : (raw || {}); const typeMap = { real: 'numeric', string: 'text', int: 'integer', date: 'date', bool: 'boolean' }; return Object.entries(mapping).map(([name, col]) => '\"' + name + '\" (' + (typeMap[col.replace(/\\d+$/, '')] || 'text') + ')').join(', ') || '(aggregate step — no columns)'; } catch(e) { return '(types unavailable)'; } })() }}\n\nQUERY STRATEGY:\n- Columns: {{ $('Loop Over Steps').item.json.step.query_strategy.columns ? $('Loop Over Steps').item.json.step.query_strategy.columns.join(', ') : 'all relevant columns' }}\n- Filters: {{ $('Loop Over Steps').item.json.step.query_strategy.filters ? JSON.stringify($('Loop Over Steps').item.json.step.query_strategy.filters) : 'none' }}\n- Logic: {{ $('Loop Over Steps').item.json.step.query_strategy.logic || 'standard query' }}\n\nDEPENDENCIES: {{ $('Loop Over Steps').item.json.step.dependencies.join(', ') || 'None' }}\nEXPECTED OUTPUT: {{ $('Loop Over Steps').item.json.step.expected_output.join(', ') }}\n\nRULES:\n1. Call ONE tool only, then immediately write your final analysis — do NOT call a second tool unless DEPENDENCIES are listed above.\n2. Query step (dataset_id present): call Query Dataset with one aggregating SQL query. Use SUM/COUNT/GROUP BY — never SELECT * without LIMIT 200.\n3. Dependency read: if DEPENDENCIES are listed (not 'None'), call Read Previous Step Results FIRST, then write your analysis — still no SQL needed.\n4. Aggregate step (no dataset_id): call Read Previous Step Results ONLY — no SQL.\n5. After the ONE tool call returns, immediately write your structured analysis and stop. Do not call any more tools.",
        "options": {
          "systemMessage": "You are a data analyst executing one step of a multi-step report plan.\n- Make exactly ONE tool call, then write your final analysis immediately. Do not loop.\n- For query steps: use aggregating SQL (SUM, COUNT, AVG, GROUP BY). Never SELECT * without LIMIT 200.\n- For aggregate steps (no dataset_id): use Read Previous Step Results only — do not run SQL.\n- After the tool returns data, your NEXT response must be your final written analysis — not another tool call.\n- Return concise structured analysis with key findings and data tables.\n- PostgreSQL type rules: date columns do NOT support substr() — use EXTRACT(YEAR FROM col), DATE_PART('year', col), TO_CHAR(col, 'YYYY'), or cast first with col::text. Numeric columns cannot be compared with quoted strings — omit quotes for numbers.",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1408,
        -352
      ],
      "id": "91bbff22-2380-49c6-80d9-5a01ed7a5e07",
      "name": "Step AI Agent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read results from previously completed steps of this report. Use this when the current step has dependencies on earlier steps.",
        "operation": "executeQuery",
        "query": "=SELECT step_number, purpose, step_result \nFROM n8n_data.report_step_results \nWHERE report_id = '{{ $('Parse Plan & Generate Report ID').item.json.report_id }}' \n{{ $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") ? \" AND step_number = \" + $fromAI(\"step_number\", \"Optional: Enter ONLY the step number (e.g. 1) to get a specific step. Leave completely empty for all steps.\") : \"\" }} \nORDER BY step_number",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -992,
        128
      ],
      "id": "589af35b-9576-419c-a696-d4cc4bf8a887",
      "name": "Read Previous Step Results",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE n8n_data.report_step_results SET step_result = '{{ $json.output ? $json.output.replace(/'/g, \"''\") : \"No output generated by AI\" }}', status = '{{ ($json.output && $json.output.trim() && !$json.error) ? \"completed\" : \"error\" }}' WHERE report_id = '{{ $('Loop Over Steps').first().json.report_id }}' AND step_number = {{ $('Loop Over Steps').first().json.step.step_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -528,
        144
      ],
      "id": "7c90f931-9047-4cbe-b65a-ec5aaedc56c6",
      "name": "Save Step Result",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT step_number, purpose, dataset_id, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $('Parse Plan & Generate Report ID').first().json.report_id }}' AND step_number > 0 ORDER BY step_number",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1376,
        -576
      ],
      "id": "91b053bf-b8e0-46fe-835b-f6d37704628a",
      "name": "Load All Step Results",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const steps = $input.all().map(item => item.json);\nconst src = $('Parse Plan & Generate Report ID').first().json;\n\nlet stepsText = '';\nfor (const s of steps) {\n  stepsText += `\\n=== STEP ${s.step_number}: ${s.purpose} ===\\nDataset: ${s.dataset_id}\\n\\n${s.step_result}\\n\\n`;\n}\n\nreturn [{\n  json: {\n    report_id: src.report_id,\n    plan_id: src.plan_id,\n    email: src.email,\n    model: src.model,\n    templateId: src.templateId || '',\n    all_step_results: stepsText,\n    step_count: steps.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -576
      ],
      "id": "1ba8dff2-65e1-4997-b10d-bcc9687178ef",
      "name": "Combine Step Results"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE n8n_data.report_step_results SET step_result = '{{ ($json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)) : \"Step failed\").replace(/'/g, \"''\") }}', status = 'error' WHERE report_id = '{{ $('Loop Over Steps').item.json.report_id }}' AND step_number = {{ $('Loop Over Steps').item.json.step.step_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        288,
        272
      ],
      "id": "93d5985d-4625-40d8-843e-a16f2cb89a79",
      "name": "Save Step Error",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1072,
        -160
      ],
      "id": "9bb9a6c5-8270-4bbf-9090-c04e5aeb8ca9",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up dataset metadata including column_mapping and dataset_summary. Query the n8n_data.dataset_record_manager table.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "dataset_record_manager",
          "mode": "list",
          "cachedResultName": "dataset_record_manager"
        },
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $fromAI(\"dataset_id\", \"The dataset_id to query\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1424,
        -112
      ],
      "id": "261d82b4-2a2d-4ddc-9d94-66c651f82c5b",
      "name": "Dataset Information",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query the dataset view for this step. Use SQL to query the view name given in the prompt (e.g. n8n_data.v_ds_<id>). The view already has original column names and is pre-filtered — no WHERE clause needed. Use SQL aggregations (SUM, COUNT, GROUP BY) to compute totals — do not fetch raw rows for manual calculation. PostgreSQL type rules: date columns do not support substr() — use EXTRACT(YEAR FROM col) or TO_CHAR(col, 'YYYY') instead. Cast dates to text with col::text if string operations are needed.",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1280,
        128
      ],
      "id": "81d83920-9729-4c20-b710-3651867a822f",
      "name": "Query Dataset",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $('Combine Step Results').first().json.report_id }}', '', 0, 'Final Consolidated Report', '', '{{ $json.cleaned_html ? String($json.cleaned_html).replace(/'/g, \"''\") : $('Combine Step Results').item.json.all_step_results }}', 'final_report')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        160,
        -800
      ],
      "id": "562fde44-489f-4ef8-8ff8-a5f74bad24a1",
      "name": "Save Final Report",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO n8n_data.report_step_results (report_id, plan_id, step_number, purpose, dataset_id, step_result, status) VALUES ('{{ $('Combine Step Results').first().json.report_id }}', '', 0, 'Formatter Error', '', '{{ $json.error ? (typeof $json.error === \"object\" ? JSON.stringify($json.error) : String($json.error)).replace(/'/g, \"''\") : \"Formatter failed\" }}', 'error')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        144,
        -160
      ],
      "id": "4027f9d9-c373-4b52-945a-f46153353bff",
      "name": "Save Formatter Error",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"Technical Analysis\",\n  \"content\": \"Multiple short positions were initiated based on technical patterns indicating overextended moves and impending pullbacks.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -256,
        -480
      ],
      "id": "6206b943-20e1-4403-bc7e-b141cbc4a694",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches the HTML template for the report. Pass the template_id as a string argument.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n_data",
          "mode": "list",
          "cachedResultName": "n8n_data"
        },
        "table": {
          "__rl": true,
          "value": "data-analyzer-report-templates",
          "mode": "list",
          "cachedResultName": "data-analyzer-report-templates"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "template_id",
              "value": "={{ $fromAI('template_id', 'The ID of the report template to fetch', 'string') }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "html"
          ]
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -432,
        -352
      ],
      "id": "e84fcb57-4282-4825-8158-51b369949739",
      "name": "Report Template",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Consolidate the following {{ $json.step_count }} step results into a single coherent, professional report and format it as styled HTML.\n\nREPORT ID: {{ $json.report_id }}\nPLAN ID: {{ $json.plan_id }}\n\nSTEP RESULTS:\n{{ $json.all_step_results }}",
        "options": {
          "systemMessage": "=Role: You are an expert report writer and HTML formatter.\n\nYour job has TWO parts:\n\nPART 1 - CONSOLIDATE: Take the individual analysis step results and consolidate them into a single, professional, well-structured report with:\n- Executive Summary - Key findings and highlights\n- Detailed Analysis - One section per step, incorporating the data and findings\n- Conclusions & Recommendations\nUse clear headings, bullet points, data tables where appropriate, and professional language. Present numbers with appropriate formatting. If any step had errors or missing data, note it but don't let it derail the overall report.\n\nPART 2 - FORMAT AS HTML: {{ $json.templateId ? 'Query the Report Template tool with template_id: ' + $json.templateId + ' to fetch reference HTML. Use its CSS and structure as the master template, prioritizing its styles (colors, fonts, borders) above all else.' : 'No template ID provided — skip the Report Template tool entirely. Format the report as clean, professional HTML with tasteful inline styles.' }}\n\nMake sure to eliminate any unnecessary tags or symbols that will get in the way of clean report such as \" \\n\"\n\nIMPORTANT: DO NOT OUTPUT THE PLAN, COMMENT OR EXPLANATION OF THE ACTION. JUST OUTPUT HTML."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        -784
      ],
      "id": "6b96dea4-a6d3-4f95-93c5-385bb0a163b3",
      "name": "Formatter",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML content from the Formatter agent output\n// n8n agent nodes may use 'output', 'text', or 'response' depending on typeVersion\nconst item = $input.first().json;\nlet html = item.output || item.text || item.response || item.message || \"\";\n\nif (typeof html !== 'string') {\n  // If structured (e.g. { subject, content }), extract the HTML content\n  html = html.content || html.html || JSON.stringify(html);\n}\n\n// 1. Remove newlines and carriage returns\nhtml = html.replace(/[\\n\\r]/g, '');\n\n// 2. Remove tabs and sequences of multiple spaces\nhtml = html.replace(/\\t/g, '');\nhtml = html.replace(/\\s{2,}/g, ' ');\n\n// 3. Remove meaningless empty tags\nhtml = html.replace(/<(span|p|div|section)>\\s*<\\/\\1>/gi, '');\n\n// 4. Strip stray markdown code fences\nhtml = html.replace(/^```html|```$/g, '');\n\n// 5. Trim\nhtml = html.trim();\n\nreturn [{\n  json: {\n    ...item,\n    cleaned_html: html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -800
      ],
      "id": "4c71ce0a-aaa3-4d4d-bae7-4a7f7a2968b3",
      "name": "Clean Up"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT COALESCE(\n  (SELECT column_mapping::text FROM n8n_data.dataset_record_manager\n   WHERE dataset_id::text = '{{ $('Loop Over Steps').item.json.step.dataset_id }}'\n   LIMIT 1),\n  '{}'\n) AS column_mapping",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1568,
        -352
      ],
      "id": "fetch-col-mapping-step-001",
      "name": "Fetch Column Mapping For Step",
      "credentials": {
        "postgres": {
          "id": "A7zRb9obSaMEyNKs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stepsOnly = $('Webhook').first().json.body.steps_only === true;\nreturn stepsOnly ? [] : $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        -800
      ],
      "id": "skip-formatter-if-001",
      "name": "Skip Formatter?"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Step": {
      "ai_languageModel": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Plan & Generate Report ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan & Generate Report ID": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Steps": {
      "main": [
        [
          {
            "node": "Skip Formatter?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Step Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step Started": {
      "main": [
        [
          {
            "node": "Fetch Column Mapping For Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step AI Agent": {
      "main": [
        [
          {
            "node": "Save Step Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Step Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Previous Step Results": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Step Result": {
      "main": [
        [
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load All Step Results": {
      "main": [
        [
          {
            "node": "Combine Step Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Step Results": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Step Error": {
      "main": [
        [
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Dataset": {
      "ai_tool": [
        [
          {
            "node": "Step AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report Template": {
      "ai_tool": [
        [
          {
            "node": "Formatter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Clean Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Formatter Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up": {
      "main": [
        [
          {
            "node": "Save Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Column Mapping For Step": {
      "main": [
        [
          {
            "node": "Step AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Formatter?": {
      "main": [
        [
          {
            "node": "Load All Step Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b171d2eb-1b66-4758-a3fd-2459872000b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "rS9WfdjFmtsEgnxO",
  "tags": []
}