n8n-workflows/workflow-check-report-progress.json
{
  "name": "Data Analyzer - Check Report Progress",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-report-progress",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "crp-webhook-0001",
      "name": "Webhook",
      "webhookId": "crp-webhook-id-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT step_number, purpose, dataset_id, status, step_result FROM n8n_data.report_step_results WHERE report_id = '{{ $json.body.report_id }}' ORDER BY step_number",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "id": "crp-query-0001",
      "name": "Query Step Results",
      "credentials": {
        "postgres": {
          "id": "5JhwTls4nSPISJqU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nconst reportId = $('Webhook').first().json.body.report_id;\n\n// Handle empty results\nif (rows.length === 0 || (rows.length === 1 && !rows[0].step_number && !rows[0].status)) {\n  return [{ json: { report_id: reportId, steps: [], final_report: null, status: 'starting' } }];\n}\n\n// step_number=0 rows are special: final_report or formatter error\nconst finalRow = rows.find(r => r.step_number === 0 && r.status === 'final_report');\nconst formatterErrorRow = rows.find(r => r.step_number === 0 && r.status === 'error');\nconst stepRows = rows.filter(r => r.step_number > 0).sort((a, b) => a.step_number - b.step_number);\n\nconst steps = stepRows.map(r => ({\n  step_number: r.step_number,\n  purpose: r.purpose || '',\n  dataset_id: r.dataset_id || '',\n  status: r.status || 'pending',\n  step_result: r.status === 'error' ? (r.step_result || 'Unknown error') : undefined\n}));\n\n// Determine overall status.\n// Priority: final_report > formatter_error > in_progress\n// Individual step errors do NOT stop the overall execution — the workflow\n// continues processing remaining steps and then runs the formatter.\n// Only a final_report or a formatter error row is a terminal state.\nlet status = 'in_progress';\nlet errorMessage = null;\nif (finalRow) {\n  status = 'completed';\n} else if (formatterErrorRow) {\n  status = 'error';\n  errorMessage = formatterErrorRow.step_result || 'Formatter failed';\n  // Also mention any step-level errors\n  const errorSteps = stepRows.filter(r => r.status === 'error');\n  if (errorSteps.length > 0) {\n    errorMessage += '\\n\\nStep errors: ' + errorSteps.map(r => 'Step ' + r.step_number + ': ' + (r.step_result || 'failed')).join('; ');\n  }\n}\n\nreturn [{\n  json: {\n    report_id: reportId,\n    steps,\n    final_report: finalRow ? finalRow.step_result : null,\n    status,\n    error_message: errorMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "crp-format-0001",
      "name": "Format Progress",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [660, 0],
      "id": "crp-respond-0001",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Query Step Results", "type": "main", "index": 0 }]]
    },
    "Query Step Results": {
      "main": [[{ "node": "Format Progress", "type": "main", "index": 0 }]]
    },
    "Format Progress": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "crp-v1-001",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "checkReportProgressWf001",
  "tags": []
}
